<div class="wrap">
  <app-header title="주소검색"></app-header>
  <section class="container">
    <article class="contents">
      <div class="frame-large">
        <div class="search-address">
          <input placeholder="예) 올림픽로 300, 신천동 29, 시그니엘" type="search" id="addressSearchInput" />
          <a class="btn-kakao-search" id="addressSearchButton"><span is="c-span">검색</span></a>
        </div>

        <div class="list-address-container" id="itemListContainer" style="display: none">
          <ul class="list-address-detail" id="itemList"></ul>
        </div>

        <dl class="tip" id="tip-dl">
          <dt>tip</dt>
          <dd>아래와 같은 조합으로 검색을 하시면 더욱 정확한 결과가 검색 됩니다</dd>
        </dl>
        <ul class="list-small-address" id="tip-ul">
          <li>
            <div class="ex-title text" is="c-span">도로명 + 건물번호</div>
            <div class="ex-copy text" is="c-span">예) 올림픽로 300</div>
          </li>
          <li>
            <div class="ex-title text" is="c-span">지역명(동/리) + 번지</div>
            <div class="ex-copy text" is="c-span">예) 신천동 29</div>
          </li>
          <li>
            <div class="ex-title text" is="c-span">사서함명 + 번호</div>
            <div class="ex-copy text" is="c-span">예) 분당우체국사서함 1~100</div>
          </li>
        </ul>
      </div>

      <!-- <footer class="kakao">
        <span class="copy">
          <span class="text">Powered by | </span><img class="kakao-logo" src="images/KakaoTalk_image.png" />
          <a href="http://postcode.map.daum.net/guide" class="btn-text-address">
            <span class="text" is="c-span">우편번호 서비스 안내</span>
          </a>
        </span>
      </footer> -->
    </article>
  </section>
  <div class="bg-dim"></div>
</div>

<script>
  function renderItem(item) {
    const address = {
      address: `(${item.zipNo}) ${item.jibunAddr}`,
      addressDiv1: item.siNm,
      addressDiv2: item.sggNm,
      addressDiv3: item.emdNm,
      zipNo: item.zipNo,
    };
    const li = $("<li>");
    const a = $("<a>").click(() => {
      navigateToBack(undefined, { address });
    });
    const zipNoDiv = $("<div>").addClass("address-line");
    const zipNo = $("<span>").addClass("num").text(item.zipNo);
    const roadDiv = $("<div>").addClass("address-line");
    const roadLabel = $("<span>").addClass("label-load-name").text("도로명");
    const road = $("<span>").addClass("copy").text(item.roadAddr);
    const jibunDiv = $("<div>").addClass("address-line");
    const jibunLabel = $("<span>").addClass("label-load-name").text("지번");
    const jibun = $("<span>").addClass("copy").text(item.jibunAddr);
    zipNoDiv.append(zipNo);
    roadDiv.append(roadLabel).append(road);
    jibunDiv.append(jibunLabel).append(jibun);
    a.append(zipNoDiv).append(roadDiv).append(jibunDiv);

    li.append(a);
    return li;
  }

  function addressSearch() {
    const keyword = $("#addressSearchInput").val();
    let data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
      "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
    )}&keyword=${encodeURI(keyword)}`;

    jQuery.ajax({
      url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
      type: "post",
      data: data,
      dataType: "jsonp",
      crossDomain: true,
      success: function (response) {
        if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
          $("#itemList").html("");
          response.results.juso.forEach((item) => {
            $("#itemList").append(renderItem(item));
          });
          $("#itemListContainer").show();
          $("#tip-dl").hide();
          $("#tip-ul").hide();
        } else {
          $("#tip-dl").show();
          $("#tip-ul").show();
          $("#itemListContainer").hide();
        }
      },
      error: function (xhr, status, error) {
        alert("에러발생");
      },
    });
  }
  (function () {
    $("#addressSearchInput").on("search", addressSearch);
    $("#addressSearchButton").on("click", addressSearch);
    setTimeout(() => {
      $("#addressSearchInput").focus();
    }, 1000);
  })();
</script>
