<div class="wrap gray">
  <app-header title="알림"></app-header>
  <section class="container">
    <article class="contents">
      <div class="bar5">
        <a id="sort_selector" class="btn-sort"><span is="c-span" class="text">전체</span></a>
      </div>
      <ul class="list-card-round" id="container"></ul>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<app-bottom-sheet></app-bottom-sheet>
<script>
  let filterTypeValue = 1;
  const ALL = 1;
  const RESPONSE_SELL = 2;
  const RESPONSE_BUY = 3;
  const REQUEST_SELL = 4;
  const REQUEST_BUY = 5;

  function initSelector() {
    if (member.memKind === "P") {
      $("#sort_selector").click(() => {
        $("app-bottom-sheet")[0].open(
          [
            { value: ALL, text: "전체" },
            { value: RESPONSE_SELL, text: "판매요청답변" },
            { value: RESPONSE_BUY, text: "구매요청답변" },
            { value: REQUEST_SELL, text: "판매" },
            { value: REQUEST_BUY, text: "구매" },
          ],
          filterTypeValue
        );
      });
    } else {
      $("#sort_selector").click(() => {
        $("app-bottom-sheet")[0].open(
          [
            { value: ALL, text: "전체" },
            { value: RESPONSE_SELL, text: "판매요청답변" },
            { value: RESPONSE_BUY, text: "구매요청답변" },
          ],
          filterTypeValue
        );
      });
    }
    $("app-bottom-sheet").on("select", (e) => {
      filterTypeValue = e.detail.data.value;
      $("#sort_selector span").text(e.detail.data.text);
      getAlarm();
    });
  }

  function getAlarm() {
    const container = $("#container");
    container.html("");
    if (list !== null) {
      list.reload();
    }
  }

  /**
   * List Class 적용
   * 아래 항목은 반드시 선언되어야 한다.
   *
   * li : List Class Instance
   * renderList: List Container Dom 을 반환
   * renderItem: List Item Dom 을 추가
   * onRequest: 데이터를 가져오는 함수
   * getPageCount: 한 번에 가져올 데이터 수
   */
  let list = null;

  function renderList() {
    const container = $("#container");
    return container[0];
  }

  function renderItem(item) {
    if (filterTypeValue === RESPONSE_SELL) {
      if (!(item.resSeq > 0) || item.reqType !== "S") {
        return;
      }
    }
    if (filterTypeValue === RESPONSE_BUY) {
      if (!(item.resSeq > 0) || item.reqType !== "B") {
        return;
      }
    }
    if (filterTypeValue === REQUEST_SELL) {
      if (item.resSeq > 0 || item.reqType !== "S") {
        return;
      }
    }
    if (filterTypeValue === REQUEST_BUY) {
      if (item.resSeq > 0 || item.reqType !== "B") {
        return;
      }
    }
    /*
      "reqSeq": 91,
      "resSeq": 61,
      "prodSeq": 107,
      "memSeq": 17,
      "reqType": "S",
      "memKind": "P",
      "reqTypeName": "판매요청답변",
      "memKindName": "딜러",
      "memNickname": "전국구딜러",
      "profileImage": "https://view01.wemep.co.kr/wmp-product/6/785/163057856/pm_c2ychouklha8.jpg?1559616228",
      "prodName": "사진",
      "prodNameTitle": "사진에 대한 판매요청답변",
      "regDate": "2020-03-19 17:00:10"
    */
    const li = $("<li>").addClass("list-item");
    const a = $("<a>").addClass("btn-link");
    const thumbContainer = $("<span>").addClass("thumb-smaller-rect");
    const profileImage = $("<app-img>")
      .attr("src", item.prodImage)
      .attr("alt-src", item.prodImageOrg)
      .attr("default-src", "./images/icon/default-s.png");
    const userInfoContainer = $("<div>").addClass("user-info");
    const labelsContainer = $("<div>").addClass("labels");
    const memNickname = $("<span>").addClass("name text").text(item.memNickname);
    const prodNameContainer = $("<div>").addClass("middle-ellipsis");
    const prodName = $("<span>").addClass("copy text").text(item.prodName);
    const prefix = $("<span>").addClass("text prefix").text("에 대한");
    const message = $("<span>").addClass("message text").text(`${item.reqTypeName} 도착`);

    const timeCheck = $("<span>").addClass("time-check").text(item.regDateStr);

    li.append(a);

    a.append(thumbContainer);
    a.append(userInfoContainer);
    a.append(timeCheck);

    thumbContainer.append(profileImage);

    userInfoContainer.append(labelsContainer);
    userInfoContainer.append(memNickname);
    userInfoContainer.append(prodNameContainer);
    userInfoContainer.append(message);

    if (item.resSeq > 0) {
      const reqType = $("<span>")
        .addClass("label-line")
        .addClass(item.reqType === "S" ? "sale" : "purchase");
      const typeText = $("<span>")
        .addClass("text")
        .text(item.reqType === "S" ? "판매요청답변" : "구매요청답변");

      labelsContainer.append(reqType);
      reqType.append(typeText);
    } else {
      const reqType = $("<span>")
        .addClass("label")
        .addClass(item.reqType === "S" ? "sale" : "purchase");
      const typeText = $("<span>")
        .addClass("text")
        .text(item.reqType === "S" ? "판매" : "구매");

      const memKind = $("<span>")
        .addClass("label")
        .addClass(item.memKind === "P" ? "dealer" : "user");
      const memKindName = $("<span>")
        .addClass("text")
        .text(item.memKindName == "딜러" ? "중고전문가" : item.memKindName);

      labelsContainer.append(reqType);
      labelsContainer.append(memKind);

      reqType.append(typeText);
      memKind.append(memKindName);
    }

    prodNameContainer.append(prodName);
    prodNameContainer.append(prefix);

    if (item.resSeq > 0) {
      a.click(() => {
        let page = "request_send_response_item";
        if (item.parentType === "GMIDAS") {
          page += "_g";
        }
        navigate(page, { reqSeq: item.reqSeq, resSeq: item.resSeq });
      });
    } else {
      a.click(() => {
        let page = "request_recieve_item";
        if (item.parentType === "GMIDAS") {
          page += "_g";
        }
        navigate(page, { reqSeq: item.reqSeq });
      });
    }

    const container = $("#container");
    container.append(li);
  }

  function onRequest(page, pageCount) {
    const { seq, memKind } = window.member;
    return api.get(`request/alarm/${page}/${pageCount}`, { memSeq: seq, memKind });
  }

  function getPageCount() {
    return 50;
  }

  /**
   * 페이지가 처음 화면에 표시 될 때, 실행되는 함수
   * 초기 화면 생성 및 [이벤트 바인딩]을 수행한다.
   */
  (function () {
    initSelector();
  })();

  /**
   * PAGE CYCLE FUNCTION
   * 자신이 호출한 페이지가 사라져, 다시 화면에 표시 될 때 실행
   */
  RELOAD((_parameter) => {
    //getAlarm();
  });
</script>
