<!-- DOM -->
<div class="wrap">
  <header class="header-top">
    <a class="btn-prev-large"><span is="c-span">뒤로가기</span></a>
    <div class="search-request">
      <input type="text" class="shape-1" name="search" id="ap_search" />
      <a class="btn-search-primary">검색</a>
    </div>
  </header>
  <section class="container">
    <article class="contents">
      <div class="prdt-sel-wrap">
        <div class="product-select top-category" id="ap_top_category"></div>
        <a class="btn-prdt-all">전체물품보기</a>
        <div class="category-wrap category-toggle" style="display: none">
          <div class="title-bar">
            <span class="copy">카테고리 전체보기</span>
            <a class="btn-close-large"><span is="c-span">닫기</span></a>
          </div>
          <ul class="category-set category-all"></ul>
        </div>
      </div>
      <div class="product-filter">
        <a class="copy">전체 &middot; 전체</a>
        <a class="btn-prdt-filter">필터</a>
        <div class="filter-wrap" style="display: none">
          <div class="distribution">
            <h2>정렬순서</h2>
            <ul class="category-set order">
              <li>
                <label for="ck111" class="category-check order-check checked">
                  <input type="radio" id="ck111" checkvalue="regDate" name="orderBy" value="regDate" />
                  <span class="form-txt text" is="c-span">최신순</span>
                </label>
              </li>
              <li>
                <label for="ck222" class="category-check order-check">
                  <input type="radio" id="ck222" checkvalue="lowPrice" name="orderBy" value="lowPrice" />
                  <span class="form-txt text" is="c-span">낮은가격순</span>
                </label>
              </li>
              <li>
                <label for="ck333" class="category-check order-check">
                  <input type="radio" id="ck333" checkvalue="highPrice" name="orderBy" value="highPrice" />
                  <span class="form-txt text" is="c-span">높은가격순</span>
                </label>
              </li>
            </ul>
          </div>
          <div class="distribution">
            <h2>거래형태</h2>
            <ul class="category-set trade">
              <li>
                <label for="ck444" class="category-check state-check checked">
                  <input type="radio" name="tradeType" checkvalue="" value="" id="ck444" checked />
                  <span class="form-txt text" is="c-span">전체</span>
                </label>
              </li>
              <li>
                <label for="ck555" class="category-check state-check">
                  <input type="radio" name="tradeType" checkvalue="S" value="S" id="ck555" />
                  <span class="form-txt text" is="c-span">판매</span>
                </label>
              </li>
              <li>
                <label for="ck666" class="category-check state-check">
                  <input type="radio" name="tradeType" checkvalue="B" value="B" id="ck666" />
                  <span class="form-txt text" is="c-span">구매</span>
                </label>
              </li>
            </ul>
          </div>
          <div class="distribution">
            <h2>정렬순서</h2>
            <ul class="category-set kind" id="kindt">
              <li>
                <label for="ck777" class="category-check kind-check checked">
                  <input type="radio" name="memKind" checkvalue="" value="" id="ck777" checked />
                  <span class="form-txt text" is="c-span">전체</span>
                </label>
              </li>
              <li>
                <label for="ck888" class="category-check kind-check">
                  <input type="radio" name="memKind" checkvalue="P" value="P" id="ck888" />
                  <span class="form-txt text" is="c-span">중고전문가</span>
                </label>
              </li>
              <li>
                <label for="ck999" class="category-check kind-check">
                  <input type="radio" name="memKind" checkvalue="G" value="G" id="ck999" />
                  <span class="form-txt text" is="c-span">유져</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="list-column" id="prdLst"></ul>
    </article>
  </section>
  <div class="bg-dim"></div>
  <!--  <a onclick="navigate('category_search')" class="btn-fixed sale"><span is="c-span" class="text">요청하기</span></a>-->
</div>
<!-- DOM-->

<script>
  //검색 조건 전역 변수로 선언
  let category = "all";
  let orderBy = "regDate";
  let memKind = "";
  let tradeType = "";

  function drawTopCategory() {
    let cateList = window.localStorage.getItem("1dpCategory");
    let category1DPList = JSON.parse(cateList);

    //상단 카테고리중 '전체'에 대한 처리
    let cateliTop = $("<a>")
      .addClass("btn-prdt-sel on")
      .addClass("ck000")
      .html("전체")
      .click((e) => {
        $(".btn-prdt-sel").each((i, obj) => {
          $(obj).removeClass("on");
        });
        $(e.currentTarget).addClass("on");
        category = "all";
        //카테고리 선택 시 해당 물품 리스트 출력
        setProductLst();
      });
    $("#ap_top_category").append(cateliTop);

    //상단 카테고리중 '전체' 이외에 대한 처리
    category1DPList.content.forEach((item) => {
      let cateli = $("<a>")
        .addClass("btn-prdt-sel")
        .addClass("ck" + item.seq)
        .html(item.cateName)
        .click((e) => {
          $(".btn-prdt-sel").each((i, obj) => {
            $(obj).removeClass("on");
          });
          $(e.currentTarget).addClass("on");
          category = item.seq;

          $(".category-check").each((i, obj) => {
            $(obj).removeClass("checked");
            $(".category-check input").removeAttr("checked");
            // $(obj).children().find("input").removeAttr("checked");
          });

          $(".category-check").removeClass("checked");

          $("label#ck" + item.seq).addClass("checked");
          $("input#ck" + item.seq).attr("checked", "checked");

          setProductLst();
        });

      $("#ap_top_category").append(cateli);
    });
  }
  let list = null;

  function renderList() {
    const container = $("#prdLst");
    return container[0];
  }

  function renderItem(element) {
    //상품 리스트 div
    const totArea = $("#prdLst");
    //전체보기 클릭 시 보이는 카테고리 전체목록

    const list = element;

    let fileList = element.requestProductAtfilResponse != null ? element.requestProductAtfilResponse : [];
    let asSpan = "";
    let fileUrl = "";

    if (fileList.length != 0) {
      fileUrl = fileList[0].fileUrl;
    }
    if (element.memKind === "P") {
      asSpan = $("<span>")
        .addClass("label as")
        .append($("<span>").addClass("text").attr("is", "c-span").html("AS 가능"));
    }

    let pli = $("<li>")
      .addClass("list-item")
      .append(
        $("<a>")
          .addClass("s-thumb-l")
          .click(() => navigate("prod_item", { seq: element.seq, memSeq: element.memSeq, memKind: element.memKind }))
          .append(
            $("<div>")
              .addClass("thumb-wrap")
              .append(
                $("<div>")
                  .addClass("crop")
                  .append(
                    $("<app-img>")
                      .attr("src", fileUrl)
                      .attr("alt-src", fileUrl)
                      .attr("default-src", "./images/icon/default-s.png")
                  )
              )
          )
          .append(
            $("<dl>")
              .append($("<dt>").append($("<span>").addClass("text").attr("is", "c-span").html(element.prodName)))
              .append(
                $("<dd>")
                  .addClass("price")
                  .append(
                    $("<sup>").append(
                      $("<span>")
                        .addClass("text")
                        .addClass(element.tradeType === "S" ? "sale" : "purchase")
                        .attr("is", "c-span")
                        .html(element.tradeType === "B" ? "구매희망가" : "판매희망가")
                    )
                  )
                  .append($("<em>").html(element.price))
                  .append($("<span>").addClass("text").attr("is", "c-span").html("원"))
              )
              .append(
                $("<div>")
                  .addClass("labels")
                  .append(
                    $("<span>")
                      .addClass("label")
                      .addClass(element.tradeType === "S" ? "sale" : "purchase")
                      .append(
                        $("<span>")
                          .addClass("text")
                          .attr("is", "c-span")
                          .html(element.tradeType === "S" ? "판매" : "구매")
                      ) //판매 구매 구분
                  )
                  .append(
                    asSpan //판매 구매 구분
                  )
              )
          )
          .append(
            $("<dd>")
              .addClass("time-check")
              .append($("<span>").addClass("text").attr("is", "c-span").html(element.regDateT))
          )
      );
    const cloned = pli.clone();
    cloned
      .find("a")
      .click(() => navigate("prod_item", { seq: element.seq, memSeq: element.memSeq, memKind: element.memKind }));
    totArea.append(cloned);

    $(".crop img").on("load", (e) => {
      if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
        $(e.target).addClass("landscape");
      }
    });
  }

  function setProductLst() {
    const prodUl = $("#prdLst");
    prodUl.html("");
    if (list !== null) {
      list.reload();
    }
  }

  function onRequest(page, pageCount) {
    let search = $("#ap_search").val();
    let memSeq = window.member.seq;
    let pageNo = page;

    return new Promise((resolve, reject) => {
      api
        .get(`/products/all/${pageNo}/${pageCount}`, { search, orderBy, memKind, tradeType, memSeq, category })
        .then((res) => {
          console.log(res);
          if (res.size > 0) {
            resolve(res);
          } else {
            Alert("검색 결과 없음", "입력하신 물품에 대한 검색 결과가 없습니다.");
          }
        })
        .catch((e) => {
          reject(e);
        });
    });
  }

  function drawSideCategory() {
    let cateList = window.localStorage.getItem("1dpCategory");
    let category1DPList = JSON.parse(cateList);
    let cateFirst = category1DPList.content.forEach((item) => {
      //전체 카테고리
      let radioForm = "";
      let classChecked = "";
      if (item.seq === category) {
        radioForm = $("<input>").attr("type", "radio").attr("checked", "checked").addClass("top-ct-radio");
        classChecked = "checked";
        category = cate;
      } else {
        radioForm = $("<input>").attr("type", "radio");
      }

      let cateli = $("<li>").append(
        $("<label>")
          .attr("for", "ck" + item.seq)
          .attr("id", "ck" + item.seq)
          .addClass("category-check")
          .addClass(classChecked)
          .append(radioForm.attr("id", "ck" + item.seq))
          .append(
            $("<span>")
              .addClass("ck" + item.seq)
              .addClass("form-txt")
              .addClass("text")
              .attr("is", "c-span")
              .html(item.cateName)
          )
          .click((e) => {
            $(".category-check").each((i, obj) => {
              $(obj).removeClass("checked");
              $(obj).find("input").removeAttr("checked");
            });

            category = item.seq;

            $(e.currentTarget).addClass("checked");
            $(e.currentTarget).find("input").attr("checked", "checked");

            $(".btn-prdt-sel").each((i, obj) => {
              $(obj).removeClass("on");
            });

            $(".top-category .ck" + item.seq).addClass("on");
            $(".top-category").animate({ scrollTop: 0, scrollLeft: 0 }, 0);
            let xy = $(".top-category .ck" + item.seq).offset();

            $(".top-category").animate({ scrollTop: xy.top, scrollLeft: xy.left }, 0);

            setProductLst();
          })
      );
      $(".category-all").append(cateli);
    });
  }

  function getPageCount() {
    return 50;
  }

  (function () {
    drawTopCategory();
    drawSideCategory();

    //상단 뒤로가기 버튼
    $(".btn-prev-large").click((e) => {
      navigateToBack();
    });

    //사이드 카테고리 div 닫기
    $(".btn-close-large").click(() => {
      $(".category-toggle").css("display", "none");
    });

    //검색 버튼
    $(".btn-search-primary").click(() => {
      setProductLst();
    });

    //사이트 카테고리 div 열기
    $(".btn-prdt-all").click(() => {
      $(".category-toggle").toggle();
      $(".filter-wrap").hide();
    });

    // 검색 필터
    $(".btn-prdt-filter").click(() => {
      $(".filter-wrap").toggle();

      //해당 필터 버튼선택 초기화

      let orderEl = $(".order-check");
      let orderCheckedEl = $(".order-check input[checkvalue='" + orderBy + "']");
      $(orderEl).removeClass("checked");
      $(orderCheckedEl).attr("checked", "checked");
      $(orderCheckedEl).parent().addClass("checked");

      let tradeTypeEl = $(".state-check");
      let tradeTypeCheckedEl = $(".state-check input[checkvalue='" + tradeType + "']");
      $(tradeTypeEl).removeClass("checked");
      $(tradeTypeCheckedEl).attr("checked", "checked");
      $(tradeTypeCheckedEl).parent().addClass("checked");

      let memKindEl = $(".kind-check");
      let memKindCheckedEl = $(".kind-check input[checkvalue='" + memKind + "']");
      $(memKindEl).removeClass("checked");
      $(memKindCheckedEl).attr("checked", "checked");
      $(memKindCheckedEl).parent().addClass("checked");
    });

    $(".order-check").click((e) => {
      $(".order-check").each(function (i, obj) {
        $(obj).removeClass("checked");
        $(obj).closest("input[name='orderBy']").removeAttr("checked");
      });

      $(e.currentTarget).addClass("checked");
      $(e.currentTarget).find("input").attr("checked", "checked");
      orderBy = $(e.currentTarget).find("input").val();

      setProductLst();
    });
    //중고전문가=유저
    $(".kind-check").click((e) => {
      $(".kind-check").each(function (i, obj) {
        $(obj).removeClass("checked");
        $(obj).closest("input[name='memKind']").removeAttr("checked");
      });

      $(e.currentTarget).addClass("checked");
      $(e.currentTarget).find("input").attr("checked", "checked");
      let text = $(".product-filter > a.copy").text().split(" ");
      text[0] = $(e.currentTarget).text().trim();
      $(".product-filter > a.copy").text(text[0] + " " + text[1] + " " + text[2]);
      memKind = $(e.currentTarget).find("input").val();
      setProductLst();
    });

    //판매-구매
    $(".state-check").click((e) => {
      $(".state-check").each(function (i, obj) {
        $(obj).removeClass("checked");
        $(obj).closest("input[name='tradeType']").removeAttr("checked");
      });
      $(e.currentTarget).addClass("checked");
      $(e.currentTarget).find("input").attr("checked", "checked");
      let text = $(".product-filter > a.copy").text().split(" ");
      text[2] = $(e.currentTarget).text().trim();
      $(".product-filter > a.copy").text(text[0] + " " + text[1] + " " + text[2]);
      tradeType = $(e.currentTarget).find("input").val();
      setProductLst();
    });
  })();

  RELOAD(() => {
    setProductLst();
    drawTopCategory();
    drawSideCategory();
  });
</script>
