<div class="wrap">
  <app-header></app-header>
  <section class="container" id="section_list" style="display: none;">
    <article class="contents">
      <ul class="list-smaller" id="container"></ul>
    </article>
  </section>
  <section class="container" id="section_nodata" style="display: none;">
    <article class="contents">
      <div class="empty">
        <img class="ico-warning" src="images/icon/warning.png" />
        <span class="text copy" is="c-span">입력하신 물품에 대한 카테고리가 없습니다.</span>
        <a class="btn-category" id="category">카테고리 직접 선택하기 &gt;</a>
      </div>
    </article>
  </section>
  <section class="container" id="section_link" style="display: none;">
    <article class="contents">
      <div class="deal-container">
        <h2><span class="text" is="c-span">입력한 이 물품을</span></h2>
        <div class="deal-btn-wrap">
          <a id="request_sell" class="btn-deal sale"><span class="btn-title text" is="s-span">팔고싶어요</span></a>
          <a id="request_buy" class="btn-deal purchase"><span class="btn-title text" is="s-span">사고싶어요</span></a>
        </div>
      </div>
    </article>
  </section>

  <div class="bg-dim"></div>
</div>
<script>
  let search = "";

  function formatCategory(text) {
    let formatted = "";
    if (search.length > 0 && text.indexOf(search) > -1) {
      let postion = 0;
      let lastPostion = 0;
      while (text.indexOf(search, postion) > -1) {
        const currentPosition = text.indexOf(search, postion);
        formatted += text.substring(postion, currentPosition);
        formatted += `<em>${text.substr(currentPosition, search.length)}</em>`;
        lastPostion = currentPosition + search.length;
        postion = lastPostion;
      }
      formatted += text.substring(lastPostion);

      return formatted;
    } else {
      return text;
    }
  }

  let selected = null;
  function renderItem(item) {
    const { cateFullName } = item;
    const li = $("<li>").addClass("list-item");
    const a = $("<a>")
      .addClass("item-text")
      .click(function () {
        const parameter = GET_PARAMETER() || {};
        const { reference } = parameter;
        selected = { ...item, title: cateFullName };
        if (reference === undefined) {
          $("#section_list").hide();
          $("#section_nodata").hide();
          $("#section_link").show();
          $("app-header")[0].setSearch(cateFullName);
        } else {
          navigateToBack(reference, { category: { ...selected }, prodName: search });
          const THIS = GET_THIS();
          THIS.releasePage();
        }
      });
    const span = $("<span>")
      .addClass("text")
      .html(
        `${formatCategory(item.cateSeq1dpName)} > ${formatCategory(item.cateSeq2dpName)} > ${formatCategory(
          item.cateSeq3dpName
        )}`
      );
    a.append(span);
    li.append(a);
    li;
    const container = $("#container");
    container.append(li);
  }
  function renderList(response) {
    const container = $("#container");
    container.html("");
    if (response.size === 0) {
      $("#section_link").hide();
      $("#section_list").hide();
      $("#section_nodata").show();
    } else {
      let data = Array.from(response.content);
      if(data.length > 30){
        data.splice(30);
        Alert('카테고리', '검색 결과는 최대 30건만 표시됩니다.');
      }
      data.forEach(renderItem);
      $("#section_link").hide();
      $("#section_list").show();
      $("#section_nodata").hide();
    }
  }
  function searchCategory(e) {
    search = e.target.value;
    api.get("base/category", { parentSeq: search }).then(renderList);
  }
  (function () {
    $("app-header")[0].onSearch(searchCategory);
    $("#request_sell").click(() => {
      navigate("request_sell", { category: { ...selected }, prodName: search });
      const THIS = GET_THIS();
      THIS.releasePage();
    });
    $("#request_buy").click(() => {
      navigate("request_buy", { category: { ...selected }, prodName: search });
      const THIS = GET_THIS();
      THIS.releasePage();
    });
    $("#category").click(() => navigate("category", { reference: "category_search" }));
  })();

  RELOAD((_parameter = {}) => {
    const parameter = GET_PARAMETER() || {};
    const { reference } = parameter;
    const { category } = _parameter;
    if (category !== undefined) {
      selected = { ...category };
      if (reference === undefined) {
        $("#section_list").hide();
        $("#section_nodata").hide();
        $("#section_link").show();
        $("app-header")[0].setSearch(selected.title);
      } else {
        navigateToBack(reference, { category: { ...selected }, prodName: search });
        const THIS = GET_THIS();
        THIS.releasePage();
      }
    }
  });
</script>
