<div class="wrap gray">
  <app-header></app-header>
  <section class="container">
    <article class="contents">
      <ul class="list-small-category" id="container"></ul>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<script>
  function renderItem(item) {
    const parameter = GET_PARAMETER() || {};
    const { reference } = parameter;
    const { title } = item;
    const li = $("<li>").addClass("list-item");
    const a = $("<a>")
      .addClass("item-text")
      .click(function () {
        if (item.cateSeq3dp === undefined) {
          navigate("category", { ...item, reference });
        } else {
          if (reference === undefined) {
            const page = item.reqType === "B" ? "request_buy" : "request_sell";
            navigateToBack(page, { category: item });
          } else {
            navigateToBack(reference, { category: item });
          }
        }
      });

    const cateSeq1dp = parameter && parameter.cateSeq1dp;

    if (cateSeq1dp === undefined) {
      const src = `${item.cateSeq1dp}-blue.png`;
      const img = $(`<img src="images/icon/${item.cateSeq1dpIconFile}" alt="" class="ico-category">`);
      a.append(img);
    }

    const span = $("<span>").addClass("text mgl10").text(title);
    a.append(span);
    li.append(a);
    return li;
  }

  const parameter = GET_PARAMETER();
  const reqType = parameter && parameter.reqType;
  const title = (parameter && parameter.title && decodeURI(parameter.title)) || "카테고리 선택";
  $("app-header").attr("title", title);
  const allCategory = JSON.parse(window.localStorage.getItem("allCategory"));
  const cateSeq1dp = parameter && parameter.cateSeq1dp;
  const cateSeq2dp = parameter && parameter.cateSeq2dp;
  const cateSeq3dp = parameter && parameter.cateSeq3dp;
  let items = [];
  if (cateSeq1dp === undefined) {
    Array.from(allCategory.content).forEach((item) => {
      if (items.findIndex((c) => c.cateSeq1dp === item.cateSeq1dp) === -1) {
        items.push({
          reqType,
          cateSeq1dp: item.cateSeq1dp,
          title: item.cateSeq1dpName,
          cateSeq1dpIconFile: item.cateSeq1dpIconFile,
        });
      }
    });
  } else if (cateSeq2dp === undefined) {
    Array.from(allCategory.content)
      .filter((c) => c.cateSeq1dp === parseInt(cateSeq1dp))
      .forEach((item) => {
        if (items.findIndex((c) => c.cateSeq2dp === item.cateSeq2dp) === -1) {
          items.push({
            reqType,
            cateSeq1dp: item.cateSeq1dp,
            cateSeq2dp: item.cateSeq2dp,
            title: `${item.cateSeq1dpName} > ${item.cateSeq2dpName}`,
          });
        }
      });
  } else if (cateSeq3dp === undefined) {
    Array.from(allCategory.content)
      .filter((c) => c.cateSeq1dp === parseInt(cateSeq1dp) && c.cateSeq2dp === parseInt(cateSeq2dp))
      .forEach((item) => {
        items.push({
          reqType,
          cateSeq1dp: item.cateSeq1dp,
          cateSeq2dp: item.cateSeq2dp,
          cateSeq3dp: item.cateSeq3dp,
          title: `${item.cateSeq1dpName} > ${item.cateSeq2dpName} > ${item.cateSeq3dpName}`,
        });
      });
  }
  const container = $("#container");
  items.forEach((item) => {
    container.append(renderItem(item));
  });

  (function () {
    const parameter = GET_PARAMETER() || {};
    const { reference } = parameter;
    if (reference === "category_search" && cateSeq1dp === undefined) {
      $("app-header")[0].back(() => {
        navigateToBack("category_search");
        // const THIS = GET_THIS();
        // THIS.releasePage();
      });
    }
  })();
</script>
