<div class="wrap">
  <app-header title="채팅"></app-header>
  <section class="container">
    <article class="contents">
      <ul class="list-large" id="container"></ul>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>

<script>
  function renderItem(item) {
    const { prodSeq, memSeq: recvMemSeq, resSeq } = item;
    const li = $("<li>").addClass("list-item");

    const a = $("<a>")
      .addClass("btn-link")
      .click(function () {
        let navigateName = "chat_item";
        if (prodSeq && prodSeq > 0) {
          navigateName = "chat_product_item";
        }
        navigate(navigateName, { ...item, recvMemSeq, sendMemSeq: window.member.seq, resSeq: resSeq });
        // new 삭제
        $(this).find(".n-badge").remove();
      });

    const thumb_container = $("<span>").addClass("thumb-large");
    const thumb = $("<img>");
    if (item.profileImage !== null) {
      thumb.attr("src", item.profileImage);
    } else {
      thumb.attr("src", "images/no_profile.png");
    }
    thumb_container.append(thumb);

    const user_info_container = $("<div>").addClass("user-info");
    // sdealer

    // img 태그 포함 되었을 경우 사진으로 문자열 치환
    let chat = item.chat;
    if (chat.indexOf("<img src") != -1) {
      chat = "사진";
    }
    const memKind_container = $("<span>")
      .addClass("label")
      .addClass(item.memKind === "P" ? "dealer" : "user");
    const memKind = $("<span>")
      .addClass("text")
      .text(item.memKind === "P" ? "중고전문가" : "유저");
    const memName = $("<span>").addClass("name").text(item.mergeName);
    const copy = $("<span>").addClass("body-copy").text(chat);
    user_info_container.append(memKind_container);
    memKind_container.append(memKind);
    user_info_container.append(memName);
    user_info_container.append(copy);

    const util_more_container = $("<div>").addClass("util-more");
    const time_check = $("<span>").addClass("time-check").text(item.regdate.substr(0, 10).replace(/-/gi, "."));
    const more = $("<a>").addClass("btn-more").css("visibility", "hidden");
    const more_text = $("<span>").text("더보기");
    util_more_container.append(time_check);
    util_more_container.append(more);

    const answerContainer = $("<div>").addClass("answer");
    if (item.unreadCnt > 0) {
      answerContainer.append($("<img>").addClass("n-badge").attr("src", "images/icon/n-badge.png"));
    } else {
      answerContainer.append($("<div>").addClass("n-badge"));
    }

    more.append(more_text);

    li.append(a);
    li.append(util_more_container);
    a.append(thumb_container);
    a.append(user_info_container);
    a.append(answerContainer);

    const container = $("#container");
    container.append(li);
  }

  function renderList(response) {
    const nextList = Array.from(response.content).sort((a, b) => b.roomSeq - a.roomSeq);
    nextList.forEach(renderItem);
  }

  function getChatRooms() {
    const container = $("#container");
    container.html("");
    api.get(`chat/rooms/${window.member.seq}`).then(renderList);
  }

  (function () {
    getChatRooms();
  })();

  RELOAD(() => {
    getChatRooms();
  });
</script>
