<div class="wrap gray">
  <app-header title="채팅"></app-header>
  <section class="container">
    <article class="contents">
      <div class="user-profile chat">
        <a id="store">
          <span class="thumb-medium"><img id="recvProfileImage" src="images/no_profile.png" alt="" /></span>
        </a>
        <div class="user-info">
          <span class="label" id="recvMemkind"><span class="text" is="c-span" id="recvMemkindName"></span></span>
          <span class="name" is="c-span" id="recvName"></span>
        </div>
        <div class="util-chat">
          <a class="btn-store-wh" id="store-wh">상점</a>
          <a id="tel" class="btn-phone-wh">전화하기</a>
          <a id="more" class="btn-more-wh mgl6 mgr4">더보기</a>
        </div>
      </div>

      <div class="dialog-container" id="container">
        <div class="dialog product" id="product">
          <div class="inner">
            <div class="body">
              <div class="chat-product-info">
                <span class="label purchase" id="reqType"><span class="text" is="c-span"></span></span>
                <span is="c-span" class="name" id="reqProdName"></span>
                <span is="c-span" class="price" id="resProdPrice"></span>
              </div>
              <span id="resProdFileUrlWrap" class="thumb-smaller-rect"><!--<img id="resProdFileUrl" alt="" />--></span>
            </div>
            <a class="btn-chat-detail" id="show_request"><span is="c-span" class="text">자세히보기 &gt;</span></a>
          </div>
          <span is="c-span" class="time-check">오후 4:57</span>
        </div>
      </div>
    </article>
  </section>
  <div class="bar-chat-fixed">
    <a id="sendPicture">
      <label class="btn-plus"> </label>
    </a>
    <textarea type="text" class="shape-6 js-auto-chat" placeholder="메세지 입력" id="input"></textarea>
    <a id="send" class="btn-send">보내기</a>
  </div>

  <div class="bg-dim"></div>
</div>
<app-bottom-sheet></app-bottom-sheet>
<script>
  let roomSeq;
  let _recvMemSeq;
  let recvOutYn;
  let isGmidusRequest = false;
  let prodInfo = {};

  function renderScreen(response) {
    const parameter = GET_PARAMETER() || {};
    const { prodSeq, recvMemSeq } = parameter;

    console.log("response", response);
    const { roomSeq: _roomSeq = 0, chatReadInterval: _chatReadInterval = 3000, recvOutYn: _recvOutYn = "N" } =
      response || {};
    roomSeq = _roomSeq;
    recvOutYn = _recvOutYn;

    // 물품정보
    api.get(`products/${prodSeq}`).then((item) => {
      prodInfo = item;
      const { seq, memSeq, tradeType, prodName, price, attachFileList } = item;
      if (memSeq === member.memSeq) {
        $("#product").addClass("l");
      } else {
        $("#product").addClass("r");
      }

      if (tradeType === "S") {
        $("#reqType").addClass("sale");
        $("#reqType .text").text("판매");
      } else if (tradeType === "B") {
        $("#reqType").addClass("purchase");
        $("#reqType .text").text("구매");
      }

      $("#reqProdName").text(prodName);
      $("#resProdPrice").text(`${formatNumber(price)}원`);

      const resProdFileUrlWrap = $("#resProdFileUrlWrap");
      const thumb = $("<app-img>");

      if (attachFileList) {
        if (Array.isArray(attachFileList) && attachFileList[0]) {
          const { file } = attachFileList[0];
          $("#resProdFileUrl").attr("src", file.fileUrl);
          thumb.attr("src", file.fileUrl);
          thumb.attr("alt-src", file.fileUrl);
        }
      }
      console.warn(1);
      thumb.attr("default-src", "./images/icon/default-s.png");
      resProdFileUrlWrap.append(thumb);

      $("#show_request").click(() => {
        let page = "prod_item";
        navigate(page, { seq, showExtra: false });
      });

      // 상대방 나간 경우 메세지 disable 처리
      if (recvOutYn === "Y") {
        $("#input").attr("disabled", "disabled");
        $("#sendPicture").unbind("click");
      }
    });

    // 상대 정보
    api.get(`mypage/profile/${recvMemSeq}/`).then((recvMem) => {
      console.warn("recvMem >> ", recvMem);
      const { memName, profileImage, memHp, memKind, shopInfoResponse } = recvMem;
      if (profileImage) {
        $("#recvProfileImage").attr("src", profileImage);
      }
      $("#recvMemkind").addClass(memKind === "P" ? "dealer" : "user");
      $("#recvMemkindName").text(memKind === "P" ? "중고전문가" : "사용자");
      $("#recvName").text(shopInfoResponse && shopInfoResponse.shopName ? shopInfoResponse.shopName : memName);
      $("#tel").attr("href", `tel:${memHp}`);

      $("#store").click(() => navigate("nextStore", { memSeq: recvMemSeq, memKind: memKind }));
      $("#store-wh").click(() => navigate("nextStore", { memSeq: recvMemSeq, memKind: memKind }));
    });

    chatReadInterval = _chatReadInterval || 10 * 1000;
  }

  function getScreen() {
    const parameter = GET_PARAMETER() || {};
    const { prodSeq, recvMemSEq } = parameter;

    const body = { prodSeq, memSeq: window.member.seq };
    return api.get("screen/v2/chat", body).then(renderScreen);
  }

  function renderItem(item) {
    console.log(item);
    const dialogClass = item.sendMemSeq === window.member.seq ? "r" : "l";
    const div = $("<div>").addClass("dialog").addClass(dialogClass).addClass("chat").attr("chatseq", item.chatSeq);
    const inner = $("<div>").addClass("inner").html(item.chat);
    const time = $("<span>").addClass("time-check").text(item.regDateStr);
    div.append(inner);
    div.append(time);
    return div;
  }
  function prependChatList(response) {
    const container = $("#container")[0];
    const product = $("#product")[0];

    Array.from(response.content.sort((a, b) => b.chatSeq - a.chatSeq))
      .map(renderItem)
      .forEach((dialog) => {
        container.insertBefore(dialog[0], product.nextSibling);
      });
    $("#container").animate({ scrollTop: "1000000" }, 1000);
  }
  function appendChatList(content) {
    const container = $("#container");

    Array.from(content)
      .map(renderItem)
      .forEach((dialog) => container.append(dialog));
  }

  function tryGetMessage() {
    if (roomSeq > 0) {
      api.get("chat/messages", { memSeq: window.member.seq, roomSeq }).then(prependChatList).then(tryGetStatus);
    }
  }

  function lockInput() {
    $("#input").prop("disabled", true);
  }

  function unlockInput() {
    $("#input").val("").prop("disabled", false);
    $("#container").animate({ scrollTop: "1000000" }, 1000);
  }

  let chatReadInterval = 10 * 1000;

  function trySend() {
    const chat = $("#input").val();
    if (chat.length > 0) {
      const parameter = GET_PARAMETER() || {};
      const { prodSeq, sendMemSeq, recvMemSeq } = parameter;
      const body = { chat, prodSeq, sendMemSeq, recvMemSeq };
      // TODO : 임시처리 삭제
      if (body.sendMemSeq === body.recvMemSeq) {
        body.recvMemSeq = _recvMemSeq || body.recvMemSeq;
      }
      if (body.recvMemSeq === undefined) {
        body.recvMemSeq = _recvMemSeq;
      }
      lockInput();
      if (roomSeq > 0) {
        return api.post(`chat/message/${roomSeq}`, body).then(tryGetStatus).then(unlockInput);
      } else {
        return tryFirstSend(body);
      }
    }
  }
  function tryFirstSend(body) {
    return api
      .post("chat", body)
      .then((item) => {
        roomSeq = item.roomSeq;
        tryGetStatus(item);
      })
      .then(unlockInput);
  }

  let timeOutHandle = null;
  let closed = false;
  function tryGetStatus(newItem) {
    if (timeOutHandle !== null) {
      clearTimeout(timeOutHandle);
    }
    if (closed) {
      return;
    }
    return api.get("chat/messages/status", { memSeq: window.member.seq, roomSeq }).then(({ unreadCnt, recvOutYn }) => {
      if (recvOutYn === "Y") {
        const container = $("#container");
        const dialogClass = "l";
        const div = $("<div>").addClass("dialog").addClass(dialogClass).addClass("chat").attr("chatseq", 9999999);
        const inner = $("<div>").addClass("inner").html("대화방에서 나갔습니다.");
        const time = $("<span>").addClass("time-check").text("");
        div.append(inner);
        div.append(time);
        container.append(div);
      } else {
        tryGetNew(
          unreadCnt,
          newItem === undefined ? undefined : { ...newItem, chatSeq: newItem.seq, regDateStr: newItem.regDateStr }
        );
      }
    });
  }

  function tryGetNew(messageCnt, newItem) {
    if (messageCnt > 0) {
      return api.get("chat/messages/new", { memSeq: window.member.seq, roomSeq, messageCnt }).then((response) => {
        if (newItem !== undefined) {
          appendChatList([...response.content, newItem].sort((a, b) => a.chatSeq - b.chatSeq));
        } else {
          appendChatList(response.content.sort((a, b) => a.chatSeq - b.chatSeq));
        }
        timeOutHandle = setTimeout(tryGetStatus, chatReadInterval);
      });
    } else {
      if (newItem !== undefined) {
        appendChatList([newItem]);
      }
      timeOutHandle = setTimeout(tryGetStatus, chatReadInterval);
    }
  }

  function tryGetOld() {
    const chatItems = $(".chat");
    if (chatItems.length > 0) {
      const chatSeq = chatItems[0].getAttribute("chatseq");
    }
  }

  function getPicture() {
    if (typeof window.picture === "function") {
      window.picture();
    }
  }

  function uploadImage({ detail: { file, fileName } }) {
    const formData = new FormData();
    formData.append("file", file, fileName);
    api.postForm("base/uploadS3/product", formData).then(({ fileUrl }) => {
      const parameter = GET_PARAMETER() || {};
      const { reqSeq, sendMemSeq, recvMemSeq } = parameter;
      const chat = `<img src="${fileUrl}" />`;
      const body = { chat, reqSeq, sendMemSeq, recvMemSeq };
      // TODO : 임시처리 삭제
      if (body.sendMemSeq === body.recvMemSeq) {
        body.recvMemSeq = _recvMemSeq || body.recvMemSeq;
      }
      if (body.recvMemSeq === undefined) {
        body.recvMemSeq = _recvMemSeq;
      }
      lockInput();
      if (roomSeq > 0) {
        return api.post(`chat/message/${roomSeq}`, body).then(tryGetStatus).then(unlockInput);
      } else {
        return tryFirstSend(body);
      }
    });
  }

  const SHOW_REQUEST = 1;
  const DELETE_CHAT = 2;

  (function () {
    // 황세준 수정 - getScreen 이후에 처리 되도록 변경 : roomSeq 를 더이상 parameter에서 받지 않기 때문
    getScreen().then(() => {
      const parameter = GET_PARAMETER() || {};
      const { prodSeq, resvMemSeq } = parameter;
      tryGetMessage();
      $("#send").click(trySend);
      $("#sendPicture").click(getPicture);
      const chatArea = $("textarea.js-auto-chat");
      chatArea
        .on("focus", function () {
          autosize($(".js-auto-chat"));
        })
        .on("blur", function () {
          autosize.destroy($(this));
        });

      $("#more").click(() => {
        $("app-bottom-sheet")[0].open(
          [
            {
              value: SHOW_REQUEST,
              text: "물품 보기",
            },
            { value: DELETE_CHAT, text: "채팅방 나가기" },
          ],
          null
        );
      });
      $("app-bottom-sheet").on("select", (e) => {
        const action = e.detail.data.value;
        const parameter = GET_PARAMETER() || {};
        const { prodSeq } = parameter;
        switch (action) {
          case SHOW_REQUEST:
            navigate("prod_item", { seq: prodSeq, showExtra: false });
            return;
          case DELETE_CHAT:
            if (roomSeq > 0) {
              Alert("정보", "채팅방에서 나가시겠습니까?").then((e) => {
                const cause = e.cause;
                if (cause === "done") {
                  const body = { roomSeq: roomSeq, memSeq: window.member.seq, cstatus: "O" };
                  api.put(`chat/chatRoom/${roomSeq}`, body).then(() => navigateToBack());
                }
              });
            } else {
              navigateToBack();
            }
            return;
        }
      });
    });
    window.addEventListener("picture", uploadImage);
  })();
  UNLOAD(() => {
    window.removeEventListener("picture", uploadImage);
    if (timeOutHandle !== null) {
      clearTimeout(timeOutHandle);
    }
    closed = true;
  });
</script>
<style>
  .chat .inner {
    white-space: pre-line;
  }
</style>
