<div class="wrap gray">
  <app-header title="채팅"></app-header>
  <section class="container">
    <article class="contents">
      <div class="user-profile chat">
        <a id="store">
          <span class="thumb-medium"><img id="recvProfileImage" src="images/no_profile.png" alt="" /></span>
        </a>
        <div class="user-info">
          <span class="label" id="recvMemkind"><span class="text" is="c-span" id="recvMemkindName"></span></span>
          <span class="name" is="c-span" id="recvName"></span>
        </div>
        <div class="util-chat">
          <a class="btn-store-wh" id="store-wh">상점</a>
          <a id="tel" class="btn-phone-wh">전화하기</a>
          <a id="more" class="btn-more-wh mgl6 mgr4">더보기</a>
        </div>
      </div>

      <div class="dialog-container" id="container">
        <div class="dialog product" id="product">
          <div class="inner">
            <div class="body">
              <div class="chat-product-info">
                <span class="label purchase" id="reqType"><span class="text" is="c-span"></span></span>
                <span is="c-span" class="name" id="reqProdName"></span>
                <span is="c-span" class="price" id="resProdPrice"></span>
              </div>
              <span id="resProdFileUrlWrap" class="thumb-smaller-rect"><!--<img id="resProdFileUrl" alt="" />--></span>
            </div>
            <a class="btn-chat-detail" id="show_request"><span is="c-span" class="text">자세히보기 &gt;</span></a>
          </div>
          <span is="c-span" class="time-check">오후 4:57</span>
        </div>
      </div>
    </article>
  </section>
  <div class="bar-chat-fixed">
    <a id="sendPicture">
      <label class="btn-plus"> </label>
    </a>
    <textarea type="text" class="shape-6 js-auto-chat" placeholder="메세지 입력" id="input"></textarea>
    <a id="send" class="btn-send">보내기</a>
  </div>

  <div class="bg-dim"></div>
</div>
<app-bottom-sheet></app-bottom-sheet>
<script>
  // TODO : 삭제
  let _recvMemSeq;
  let isGmidusRequest = false;

  function renderScreen(response) {
    console.log("response", response);
    // 황세준 임시 처리. 목록에서 상대방정보를 잘못가져와서 sendMemSeq 본인 한테로 나가는 현상 임시 수정
    _recvMemSeq = response.recvMemSeq;
    // roomSeq는 Screen정보를 통해 가져는 값을 사용하도록 변경
    roomSeq = response.roomSeq;
    const resMemSeq = response.resMemSeq;

    if (resMemSeq === member.seq) {
      $("#product").addClass("l");
    } else {
      $("#product").addClass("r");
    }

    if (response.recvProfileImage !== null) {
      $("#recvProfileImage").attr("src", response.recvProfileImage);
    }
    // t
    $("#recvMemkind").addClass(response.recvMemkind === "P" ? "dealer" : "user");
    $("#recvMemkindName").text(response.recvMemkindName);
    $("#recvName").text(response.recvName);
    $("#tel").attr("href", `tel:${response.recvShopPhone}`);

    if (response.reqType === "S") {
      $("#reqType").addClass("sale");
      $("#reqType .text").text("판매");
    } else if (response.reqType === "B") {
      $("#reqType").addClass("purchase");
      $("#reqType .text").text("구매");
    }
    $("#reqProdName").text(response.reqProdName);
    $("#resProdPrice").text(`${formatNumber(response.resProdPrice)}원`);

    //$("#resProdFileUrl").attr("src", response.resProdFileUrl);

    const resProdFileUrlWrap = $("#resProdFileUrlWrap");
    const thumb = $("<app-img>");

    console.warn("response.resProdFileUrl ", response.resProdFileUrl);
    if (response.resProdFileUrl) {
      thumb.attr("src", response.resProdFileUrl);
      thumb.attr("alt-src", response.resProdFileUrl);
    }
    thumb.attr("default-src", "./images/icon/default-s.png");
    resProdFileUrlWrap.append(thumb);

    // 지마이다스 예외처리
    if (response.parentType === "GMIDAS") {
      $("#resProdPrice").text(`${formatNumber(response.resBuyPoint)}P`);
      isGmidusRequest = true;
    }

    chatReadInterval = response.chatReadInterval || 10 * 1000;

    $("#store").click(() => navigate("nextStore", { memSeq: response.recvMemSeq, memKind: response.recvMemkind }));
    $("#store-wh").click(() => navigate("nextStore", { memSeq: response.recvMemSeq, memKind: response.recvMemkind }));
  }

  function getScreen() {
    const parameter = GET_PARAMETER() || {};
    const { resSeq } = parameter;

    const body = { resSeq, memSeq: window.member.seq };
    return api.get("screen/chat", body).then(renderScreen);
  }

  function renderItem(item) {
    console.log(item);
    const dialogClass = item.sendMemSeq === window.member.seq ? "r" : "l";
    const div = $("<div>").addClass("dialog").addClass(dialogClass).addClass("chat").attr("chatseq", item.chatSeq);
    const inner = $("<div>").addClass("inner").html(item.chat);
    const time = $("<span>").addClass("time-check").text(item.regDateStr);
    div.append(inner);
    div.append(time);
    return div;
  }
  function prependChatList(response) {
    const container = $("#container")[0];
    const product = $("#product")[0];

    Array.from(response.content.sort((a, b) => b.chatSeq - a.chatSeq))
      .map(renderItem)
      .forEach((dialog) => {
        container.insertBefore(dialog[0], product.nextSibling);
      });
    $("#container").animate({ scrollTop: "1000000" }, 1000);
  }
  function appendChatList(content) {
    const container = $("#container");

    Array.from(content)
      .map(renderItem)
      .forEach((dialog) => container.append(dialog));
  }
  let roomSeq;
  function tryGetMessage() {
    if (roomSeq > 0) {
      api.get("chat/messages", { memSeq: window.member.seq, roomSeq }).then(prependChatList).then(tryGetStatus);
    }
  }

  function lockInput() {
    $("#input").prop("disabled", true);
  }

  function unlockInput() {
    $("#input").val("").prop("disabled", false);
    $("#container").animate({ scrollTop: "1000000" }, 1000);
  }

  let chatReadInterval = 10 * 1000;

  function trySend() {
    const chat = $("#input").val();
    if (chat.length > 0) {
      const parameter = GET_PARAMETER() || {};
      const { reqSeq, sendMemSeq, recvMemSeq } = parameter;
      const body = { chat, reqSeq, sendMemSeq, recvMemSeq };
      // TODO : 임시처리 삭제
      if (body.sendMemSeq === body.recvMemSeq) {
        body.recvMemSeq = _recvMemSeq || body.recvMemSeq;
      }
      if (body.recvMemSeq === undefined) {
        body.recvMemSeq = _recvMemSeq;
      }
      lockInput();
      if (roomSeq > 0) {
        return api.post(`chat/message/${roomSeq}`, body).then(tryGetStatus).then(unlockInput);
      } else {
        return tryFirstSend(body);
      }
    }
  }
  function tryFirstSend(body) {
    return api
      .post("chat", body)
      .then((item) => {
        roomSeq = item.roomSeq;
        tryGetStatus(item);
      })
      .then(unlockInput);
  }

  let timeOutHandle = null;
  let closed = false;
  function tryGetStatus(newItem) {
    if (timeOutHandle !== null) {
      clearTimeout(timeOutHandle);
    }
    if (closed) {
      return;
    }
    return api.get("chat/messages/status", { memSeq: window.member.seq, roomSeq }).then(({ unreadCnt }) => {
      tryGetNew(
        unreadCnt,
        newItem === undefined ? undefined : { ...newItem, chatSeq: newItem.seq, regDateStr: newItem.regDateStr }
      );
    });
  }

  function tryGetNew(messageCnt, newItem) {
    if (messageCnt > 0) {
      return api.get("chat/messages/new", { memSeq: window.member.seq, roomSeq, messageCnt }).then((response) => {
        if (newItem !== undefined) {
          appendChatList([...response.content, newItem].sort((a, b) => a.chatSeq - b.chatSeq));
        } else {
          appendChatList(response.content.sort((a, b) => a.chatSeq - b.chatSeq));
        }
        timeOutHandle = setTimeout(tryGetStatus, chatReadInterval);
      });
    } else {
      if (newItem !== undefined) {
        appendChatList([newItem]);
      }
      timeOutHandle = setTimeout(tryGetStatus, chatReadInterval);
    }
  }

  function tryGetOld() {
    const chatItems = $(".chat");
    if (chatItems.length > 0) {
      const chatSeq = chatItems[0].getAttribute("chatseq");
    }
  }

  function getPicture() {
    if (typeof window.picture === "function") {
      window.picture();
    }
  }

  function uploadImage({ detail: { file, fileName } }) {
    const formData = new FormData();
    formData.append("file", file, fileName);
    api.postForm("base/uploadS3/product", formData).then(({ fileUrl }) => {
      const parameter = GET_PARAMETER() || {};
      const { reqSeq, sendMemSeq, recvMemSeq } = parameter;
      const chat = `<img src="${fileUrl}" />`;
      const body = { chat, reqSeq, sendMemSeq, recvMemSeq };
      // TODO : 임시처리 삭제
      if (body.sendMemSeq === body.recvMemSeq) {
        body.recvMemSeq = _recvMemSeq || body.recvMemSeq;
      }
      if (body.recvMemSeq === undefined) {
        body.recvMemSeq = _recvMemSeq;
      }
      lockInput();
      if (roomSeq > 0) {
        return api.post(`chat/message/${roomSeq}`, body).then(tryGetStatus).then(unlockInput);
      } else {
        return tryFirstSend(body);
      }
    });
  }

  const SHOW_REQUEST = 1;
  const DELETE_CHAT = 2;

  (function () {
    // 황세준 수정 - getScreen 이후에 처리 되도록 변경 : roomSeq 를 더이상 parameter에서 받지 않기 때문
    getScreen().then(() => {
      const parameter = GET_PARAMETER() || {};
      const reqSeq = parameter.reqSeq;
      const resSeq = parameter.resSeq;
      tryGetMessage();
      $("#send").click(trySend);
      $("#sendPicture").click(getPicture);
      const chatArea = $("textarea.js-auto-chat");
      chatArea
        .on("focus", function () {
          autosize($(".js-auto-chat"));
        })
        .on("blur", function () {
          autosize.destroy($(this));
        });

      $("#more").click(() => {
        $("app-bottom-sheet")[0].open(
          [
            {
              value: SHOW_REQUEST,
              text: "요청서 보기",
            },
            { value: DELETE_CHAT, text: "채팅방 나가기" },
          ],
          null
        );
      });
      $("app-bottom-sheet").on("select", (e) => {
        const action = e.detail.data.value;
        switch (action) {
          case SHOW_REQUEST:
            const page = "request_send_item";
            navigate(page, { reqSeq });
            return;
          case DELETE_CHAT:
            return;
        }
      });
      $("#show_request").click(() => {
        let page = "response_item";
        if (isGmidusRequest) {
          page = "request_send_response_item_g";
        }
        navigate(page, { reqSeq, resSeq });
      });
    });
    window.addEventListener("picture", uploadImage);
  })();
  UNLOAD(() => {
    window.removeEventListener("picture", uploadImage);
    if (timeOutHandle !== null) {
      clearTimeout(timeOutHandle);
    }
    closed = true;
  });
</script>
<style>
  .chat .inner {
    white-space: pre-line;
  }
</style>
