<div class="wrap">
  <app-header title="카테고리 등록"></app-header>
  <section class="container">
    <article class="contents">
      <div class="comment-warp">
        <span class="title text" is="c-span">카테고리를 입력해주세요.</span>
        <span class="copy text" is="c-span">*지역과 카테고리는 푸시알림을 위한 설정입니다.</span>
      </div>

      <div class="register-form-wrap">
        <h2>
          <span is="c-span" class="text"
            >카테고리<em class="required">*</em><small class="sub-text mgl10">(복수 선택 가능)</small></span
          >
        </h2>
        <ul class="category-set" id="category_container"></ul>
      </div>
    </article>
  </section>
  <a id="next" class="btn-fixed disable"><span is="c-span" class="text">확인</span></a>
  <!--option-->
  <!--<a  class="btn-fixed primary"><span is="c-span" class="text">다음</span></a>-->
  <div class="bg-dim"></div>
</div>
<script>
  function validate() {
    if (selectedCategories.length === 0) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }

    $("#next").removeClass("disable").addClass("primary");
  }

  let selectedCategories = [];
  function renderItem(item) {
    const id = `category_${item.cateSeq1dp}`;
    const input = $("<input>").addClass("category-input").attr("type", "checkbox").attr("id", id).val(item.cateSeq1dp);
    const label = $("<label>").addClass("category-check").attr("for", id);
    const span = $("<span>").addClass("form-txt text").text(item.cateSeq1dpName);
    label.append(input);
    label.append(span);
    const li = $("<li>");

    li.append(label);
    const container = $("#category_container").append(li);

    label.click(() => {
      const checked = input.prop("checked");
      if (checked) {
        label.addClass("checked");
        selectedCategories.push(item.cateSeq1dp);
      } else {
        label.removeClass("checked");
        selectedCategories = selectedCategories.filter((c) => c !== item.cateSeq1dp);
      }
      validate();
    });
  }

  function getCategories() {
    const allCategory = JSON.parse(window.localStorage.getItem("allCategory"));
    return Array.from(allCategory.content)
      .reduce((r, item) => {
        if (r.every((c) => c.cateSeq1dp !== item.cateSeq1dp)) {
          r.push(item);
        }
        return r;
      }, [])
      .sort((a, b) => {
        if (Math.abs(a.cateSeq1dp) > Math.abs(b.cateSeq1dp)) {
          return 1;
        } else if (Math.abs(a.cateSeq1dp) < Math.abs(b.cateSeq1dp)) {
          return -1;
        }
        return 0;
      });
  }

  function renderCategories() {
    Array.from(getCategories()).forEach(renderItem);
  }

  function renderParamter() {
    const parameter = GET_PARAMETER() || {};
    const { shopCategoryList = [] } = parameter;
    const testBizRegNum = localStorage.getItem("testBizRegNum");
    Array.from($(".category-input")).forEach((input) => {
      if (shopCategoryList.includes(parseInt($(input).val()))) {
        $(input).parent().addClass("checked");
        $(input).prop("checked", true);

        selectedCategories.push(parseInt($(input).val()));
      }

      if (testBizRegNum === "Y") {
        // 테스트 카테고리(-99)만 자동 선택
        if (parseInt($(input).val()) < 0) {
          $(input).parent().addClass("checked");
          $(input).prop("checked", true);
        }
      }
    });
  }

  function back() {
    const parameter = GET_PARAMETER() || {};
    parameter.shopCategoryList = Array.from($(".category-input"))
      .filter((c) => $(c).prop("checked"))
      .map((c) => parseInt($(c).val()));
    navigateToBack(undefined, { ...parameter, ...nextParamter });
  }

  function next() {
    const parameter = GET_PARAMETER() || {};
    const shopAreaList = parameter.shopAreaList;
    const shopCategoryList = Array.from($(".category-input"))
      .filter((c) => $(c).prop("checked"))
      .map((c) => parseInt($(c).val()));

    let shopSeq = window.member.shopInfoResponse.seq;

    const packageBody = {
      shopCategoryList: shopCategoryList.map((cateSeq) => ({
        cateSeq,
        shopSeq,
      })),
      shopSeq,
    };

    if (shopAreaList.length === allShopAreaList.length) {
      packageBody.shopAreaList = [
        {
          areaGroupSeq: 1,
          shopSeq,
        },
      ];
    } else {
      packageBody.shopAreaList = shopAreaList.map((c) => ({ areaGroupSeq: c.seq, shopSeq }));
    }

    api.put("payment/package", packageBody).then(() => {
      if (parameter.reference === "myStore") {
        Alert("패키지 등록", "패키지 정보가 변경되었습니다.").then((c) => {
          api.get(`mypage/profile/${window.member.seq}`).then((response) => {
            window.member = { ...response };
            navigateToBack("myStore");
          });
        });
      } else {
        Alert("중고전문가 등록 완료", "받은 요청 알림을 위한 등록이 완료되었습니다.").then((c) => {
          api.get(`mypage/profile/${window.member.seq}`).then((response) => {
            window.member = { ...response };
            localStorage.removeItem("testBizRegNum");
            navigateToRoot();
          });
        });
      }
    });
  }

  (function () {
    getAllCategory().then(renderCategories).then(renderParamter).then(validate);

    $("app-header")[0].back(back);
    $("#next").click(next);
  })();

  let nextParamter = {};
  RELOAD((_parameter = {}) => {
    nextParamter = _parameter;
  });

  const allShopAreaList = [
    {
      region: "seoul",
      name: "서울A",
      seq: 2,
    },
    {
      region: "seoul",
      name: "서울B",
      seq: 3,
    },
    {
      region: "seoul",
      name: "서울C",
      seq: 4,
    },
    {
      region: "seoul",
      name: "서울D",
      seq: 5,
    },
    {
      region: "seoul",
      name: "서울E",
      seq: 6,
    },
    {
      region: "seoul",
      name: "서울F",
      seq: 7,
    },
    {
      region: "seoul",
      name: "서울G",
      seq: 8,
    },
    {
      region: "seoul",
      name: "서울H",
      seq: 9,
    },
    {
      region: "gyeonggi-do",
      name: "경기A",
      seq: 10,
    },
    {
      region: "gyeonggi-do",
      name: "경기B",
      seq: 11,
    },
    {
      region: "gyeonggi-do",
      name: "경기C",
      seq: 12,
    },
    {
      region: "gyeonggi-do",
      name: "경기D",
      seq: 13,
    },
    {
      region: "gyeonggi-do",
      name: "경기E",
      seq: 14,
    },
    {
      region: "gyeonggi-do",
      name: "경기F",
      seq: 15,
    },
    {
      region: "gyeonggi-do",
      name: "경기G",
      seq: 16,
    },
    {
      region: "gyeonggi-do",
      name: "경기H",
      seq: 17,
    },
    {
      region: "gyeonggi-do",
      name: "경기I",
      seq: 18,
    },
    {
      region: "gyeonggi-do",
      name: "경기J",
      seq: 19,
    },
    {
      region: "busan",
      name: "부산A",
      seq: 20,
    },
    {
      region: "busan",
      name: "부산B",
      seq: 21,
    },
    {
      region: "busan",
      name: "부산C",
      seq: 22,
    },
    {
      region: "incheon",
      name: "인천A",
      seq: 23,
    },
    {
      region: "incheon",
      name: "인천B",
      seq: 24,
    },
    {
      region: "daejeon",
      name: "대전A",
      seq: 25,
    },
    {
      region: "daejeon",
      name: "대전B",
      seq: 26,
    },
    {
      region: "daegu",
      name: "대구A",
      seq: 27,
    },
    {
      region: "daegu",
      name: "대구B",
      seq: 28,
    },
    {
      region: "gwangju",
      name: "광주A",
      seq: 29,
    },
    {
      region: "gwangju",
      name: "광주B",
      seq: 30,
    },
    {
      region: "ulsan",
      name: "울산A",
      seq: 31,
    },
    {
      region: "ulsan",
      name: "울산B",
      seq: 32,
    },
    {
      region: "chungcheongnam-do",
      name: "충청남도A",
      seq: 33,
    },
    {
      region: "chungcheongnam-do",
      name: "충청남도B",
      seq: 34,
    },
    {
      region: "chungcheongbuk-do",
      name: "충청북도A",
      seq: 35,
    },
    {
      region: "chungcheongbuk-do",
      name: "충청북도B",
      seq: 36,
    },
    {
      region: "gyeongsangnam-do",
      name: "경상남도A",
      seq: 37,
    },
    {
      region: "gyeongsangnam-do",
      name: "경상남도B",
      seq: 38,
    },
    {
      region: "gyeongsangnam-do",
      name: "경상남도C",
      seq: 39,
    },
    {
      region: "gyeongsangbuk-do",
      name: "경상북도A",
      seq: 40,
    },
    {
      region: "gyeongsangbuk-do",
      name: "경상북도B",
      seq: 41,
    },
    {
      region: "jeollabuk-do",
      name: "전라북도A",
      seq: 42,
    },
    {
      region: "jeollabuk-do",
      name: "전라북도B",
      seq: 43,
    },
    {
      region: "jeollanam-do",
      name: "전라남도A",
      seq: 44,
    },
    {
      region: "jeollanam-do",
      name: "전라남도B",
      seq: 45,
    },
    {
      region: "gangwon-do",
      name: "강원도A",
      seq: 46,
    },
    {
      region: "gangwon-do",
      name: "강원도B",
      seq: 47,
    },
    {
      region: "jeju-do",
      name: "제주도",
      seq: 48,
    },
  ];
</script>
<style>
  .category-check {
    background-color: white;
  }
</style>
