<div class="wrap">
  <app-header title="패키지 등록"></app-header>
  <section class="container">
    <article class="contents">
      <div class="comment-warp">
        <span class="title text" is="c-span">지역을 선택해주세요.</span>
        <span class="copy text" is="c-span">*지역과 카테고리는 푸시알림을 위한 설정입니다.</span>
      </div>

      <div class="map-wrap sub">
        <!-- seoul -->
        <div class="map-center" id="seoul" style="display: none;">
          <!--배경-->
          <img src="images/map/seoul-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/seoul-2.png" alt="" class="sub-map" role="map" seq="2" />
          <img src="images/map/seoul-3.png" alt="" class="sub-map" role="map" seq="3" />
          <img src="images/map/seoul-4.png" alt="" class="sub-map" role="map" seq="4" />
          <img src="images/map/seoul-5.png" alt="" class="sub-map" role="map" seq="5" />
          <img src="images/map/seoul-6.png" alt="" class="sub-map" role="map" seq="6" />
          <img src="images/map/seoul-7.png" alt="" class="sub-map" role="map" seq="7" />
          <img src="images/map/seoul-8.png" alt="" class="sub-map" role="map" seq="8" />
          <img src="images/map/seoul-9.png" alt="" class="sub-map" role="map" seq="9" />
          <!--버튼-->
          <a role="all" class="map-check all-seoul"><span is="c-span" class="form-txt text">서울전체</span></a>
          <a role="region" seq="2" class="map-check seoul-a"><span is="c-span" class="form-txt text">서울A</span></a>
          <a role="region" seq="3" class="map-check seoul-b"><span is="c-span" class="form-txt text">서울B</span></a>
          <a role="region" seq="4" class="map-check seoul-c"><span is="c-span" class="form-txt text">서울C</span></a>
          <a role="region" seq="5" class="map-check seoul-d"><span is="c-span" class="form-txt text">서울D</span></a>
          <a role="region" seq="6" class="map-check seoul-e"><span is="c-span" class="form-txt text">서울E</span></a>
          <a role="region" seq="7" class="map-check seoul-f"><span is="c-span" class="form-txt text">서울F</span></a>
          <a role="region" seq="8" class="map-check seoul-g"><span is="c-span" class="form-txt text">서울G</span></a>
          <a role="region" seq="9" class="map-check seoul-h"><span is="c-span" class="form-txt text">서울H</span></a>
        </div>
        <!-- busan -->
        <div class="map-center" id="busan" style="display: none;">
          <!--배경-->
          <img src="images/map/busan-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/busan-2.png" alt="" class="sub-map" role="map" seq="20" />
          <img src="images/map/busan-3.png" alt="" class="sub-map" role="map" seq="21" />
          <img src="images/map/busan-4.png" alt="" class="sub-map" role="map" seq="22" />
          <!--버튼-->
          <a role="all" class="map-check all-busan"><span is="c-span" class="form-txt text">부산전체</span></a>
          <a role="region" seq="20" class="map-check busan-a"><span is="c-span" class="form-txt text">부산A</span></a>
          <a role="region" seq="21" class="map-check busan-b"><span is="c-span" class="form-txt text">부산B</span></a>
          <a role="region" seq="22" class="map-check busan-c"><span is="c-span" class="form-txt text">부산C</span></a>
        </div>
        <!-- daegu -->
        <div class="map-center" id="daegu" style="display: none;">
          <!--배경-->
          <img src="images/map/daegu-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/daegu-2.png" alt="" class="sub-map" role="map" seq="27" />
          <img src="images/map/daegu-3.png" alt="" class="sub-map" role="map" seq="28" />
          <!--버튼-->
          <a role="all" class="map-check all-daegu"><span is="c-span" class="form-txt text">대구전체</span></a>
          <a role="region" seq="27" class="map-check daegu-a"><span is="c-span" class="form-txt text">대구A</span></a>
          <a role="region" seq="28" class="map-check daegu-b"><span is="c-span" class="form-txt text">대구B</span></a>
        </div>
        <!-- gwangju -->
        <div class="map-center" id="gwangju" style="display: none;">
          <!--배경-->
          <img src="images/map/gwangju-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/gwangju-2.png" alt="" class="sub-map" role="map" seq="29" />
          <img src="images/map/gwangju-3.png" alt="" class="sub-map" role="map" seq="30" />
          <!--버튼-->
          <a role="all" class="map-check all-gwangju"><span is="c-span" class="form-txt text">광주전체</span></a>
          <a role="region" seq="29" class="map-check gwangju-a"><span is="c-span" class="form-txt text">광주A</span></a>
          <a role="region" seq="30" class="map-check gwangju-b"><span is="c-span" class="form-txt text">광주B</span></a>
        </div>
        <!-- incheon -->
        <div class="map-center" id="incheon" style="display: none;">
          <!--배경-->
          <img src="images/map/incheon-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/incheon-2.png" alt="" class="sub-map" role="map" seq="23" />
          <img src="images/map/incheon-3.png" alt="" class="sub-map" role="map" seq="24" />
          <!--버튼-->
          <a role="all" class="map-check all-incheon"><span is="c-span" class="form-txt text">인천전체</span></a>
          <a role="region" seq="23" class="map-check incheon-a"><span is="c-span" class="form-txt text">인천A</span></a>
          <a role="region" seq="24" class="map-check incheon-b"><span is="c-span" class="form-txt text">인천B</span></a>
        </div>
        <!-- daejeon -->
        <div class="map-center" id="daejeon" style="display: none;">
          <!--배경-->
          <img src="images/map/daejeon-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/daejeon-2.png" alt="" class="sub-map" role="map" seq="25" />
          <img src="images/map/daejeon-3.png" alt="" class="sub-map" role="map" seq="26" />
          <!--버튼-->
          <a role="all" class="map-check all-daejeon"><span is="c-span" class="form-txt text">대전전체</span></a>
          <a role="region" seq="25" class="map-check daejeon-a"><span is="c-span" class="form-txt text">대전A</span></a>
          <a role="region" seq="26" class="map-check daejeon-b"><span is="c-span" class="form-txt text">대전B</span></a>
        </div>
        <!-- ulsan -->
        <div class="map-center" id="ulsan" style="display: none;">
          <!--배경-->
          <img src="images/map/ulsan-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/ulsan-2.png" alt="" class="sub-map" role="map" seq="31" />
          <img src="images/map/ulsan-3.png" alt="" class="sub-map" role="map" seq="32" />
          <!--버튼-->
          <a role="all" class="map-check all-ulsan"><span is="c-span" class="form-txt text">울산전체</span></a>
          <a role="region" seq="31" class="map-check ulsan-a"><span is="c-span" class="form-txt text">울산A</span></a>
          <a role="region" seq="32" class="map-check ulsan-b"><span is="c-span" class="form-txt text">울산B</span></a>
        </div>
        <!-- gyeonggi-do -->
        <div class="map-center" id="gyeonggi-do" style="display: none;">
          <!--배경-->
          <img src="images/map/gyeonggi-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/gyeonggi-2.png" alt="" class="sub-map" role="map" seq="10" />
          <img src="images/map/gyeonggi-3.png" alt="" class="sub-map" role="map" seq="11" />
          <img src="images/map/gyeonggi-4.png" alt="" class="sub-map" role="map" seq="12" />
          <img src="images/map/gyeonggi-5.png" alt="" class="sub-map" role="map" seq="13" />
          <img src="images/map/gyeonggi-6.png" alt="" class="sub-map" role="map" seq="14" />
          <img src="images/map/gyeonggi-7.png" alt="" class="sub-map" role="map" seq="15" />
          <img src="images/map/gyeonggi-8.png" alt="" class="sub-map" role="map" seq="16" />
          <img src="images/map/gyeonggi-9.png" alt="" class="sub-map" role="map" seq="17" />
          <img src="images/map/gyeonggi-10.png" alt="" class="sub-map" role="map" seq="18" />
          <img src="images/map/gyeonggi-11.png" alt="" class="sub-map" role="map" seq="19" />
          <!--버튼-->
          <a role="all" class="map-check all-gyeonggi"><span is="c-span" class="form-txt text">경기전체</span></a>
          <a role="region" seq="10" class="map-check gyeonggi-a"
            ><span is="c-span" class="form-txt text">경기A</span></a
          >
          <a role="region" seq="11" class="map-check gyeonggi-b"
            ><span is="c-span" class="form-txt text">경기B</span></a
          >
          <a role="region" seq="12" class="map-check gyeonggi-c"
            ><span is="c-span" class="form-txt text">경기C</span></a
          >
          <a role="region" seq="13" class="map-check gyeonggi-d"
            ><span is="c-span" class="form-txt text">경기D</span></a
          >
          <a role="region" seq="14" class="map-check gyeonggi-e"
            ><span is="c-span" class="form-txt text">경기E</span></a
          >
          <a role="region" seq="15" class="map-check gyeonggi-f"
            ><span is="c-span" class="form-txt text">경기F</span></a
          >
          <a role="region" seq="16" class="map-check gyeonggi-g"
            ><span is="c-span" class="form-txt text">경기G</span></a
          >
          <a role="region" seq="17" class="map-check gyeonggi-h"
            ><span is="c-span" class="form-txt text">경기H</span></a
          >
          <a role="region" seq="18" class="map-check gyeonggi-i"
            ><span is="c-span" class="form-txt text">경기I</span></a
          >
          <a role="region" seq="19" class="map-check gyeonggi-j"
            ><span is="c-span" class="form-txt text">경기J</span></a
          >
        </div>
        <!-- gangwon-do -->
        <div class="map-center" id="gangwon-do" style="display: none;">
          <!--배경-->
          <img src="images/map/gangwon-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/gangwon-2.png" alt="" class="sub-map" role="map" seq="46" />
          <img src="images/map/gangwon-3.png" alt="" class="sub-map" role="map" seq="47" />
          <!--버튼-->
          <a role="all" class="map-check all-gangwon"><span is="c-span" class="form-txt text">강원도전체</span></a>
          <a role="region" seq="46" class="map-check gangwon-a"
            ><span is="c-span" class="form-txt text">강원도A</span></a
          >
          <a role="region" seq="47" class="map-check gangwon-b"
            ><span is="c-span" class="form-txt text">강원도B</span></a
          >
        </div>
        <!-- chungcheongbuk-do -->
        <div class="map-center" id="chungcheongbuk-do" style="display: none;">
          <!--배경-->
          <img src="images/map/chungbuk-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/chungbuk-2.png" alt="" class="sub-map" role="map" seq="35" />
          <img src="images/map/chungbuk-3.png" alt="" class="sub-map" role="map" seq="36" />
          <!--버튼-->
          <a role="all" class="map-check all-chungbuk"><span is="c-span" class="form-txt text">충청북도전체</span></a>
          <a role="region" seq="35" class="map-check chungbuk-a"
            ><span is="c-span" class="form-txt text">충청북도A</span></a
          >
          <a role="region" seq="36" class="map-check chungbuk-b"
            ><span is="c-span" class="form-txt text">충청북도B</span></a
          >
        </div>
        <!-- chungcheongnam-do -->
        <div class="map-center" id="chungcheongnam-do" style="display: none;">
          <!--배경-->
          <img src="images/map/chungnam-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/chungnam-2.png" alt="" class="sub-map" role="map" seq="33" />
          <img src="images/map/chungnam-3.png" alt="" class="sub-map" role="map" seq="34" />
          <!--버튼-->
          <a role="all" class="map-check all-chungnam"><span is="c-span" class="form-txt text">충청남도전체</span></a>
          <a role="region" seq="33" class="map-check chungnam-a"
            ><span is="c-span" class="form-txt text">충청남도A</span></a
          >
          <a role="region" seq="34" class="map-check chungnam-b"
            ><span is="c-span" class="form-txt text">충청남도B</span></a
          >
        </div>
        <!-- jeollabuk-do -->
        <div class="map-center" id="jeollabuk-do" style="display: none;">
          <!--배경-->
          <img src="images/map/jeonbuk-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/jeonbuk-2.png" alt="" class="sub-map" role="map" seq="42" />
          <img src="images/map/jeonbuk-3.png" alt="" class="sub-map" role="map" seq="43" />
          <!--버튼-->
          <a role="all" class="map-check all-jeonbuk"><span is="c-span" class="form-txt text">전라북도전체</span></a>
          <a role="region" seq="42" class="map-check jeonbuk-a"
            ><span is="c-span" class="form-txt text">전라북도A</span></a
          >
          <a role="region" seq="43" class="map-check jeonbuk-b"
            ><span is="c-span" class="form-txt text">전라북도B</span></a
          >
        </div>
        <!-- jeollanam-do -->
        <div class="map-center" id="jeollanam-do" style="display: none;">
          <!--배경-->
          <img src="images/map/jeonnam-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/jeonnam-2.png" alt="" class="sub-map" role="map" seq="44" />
          <img src="images/map/jeonnam-3.png" alt="" class="sub-map" role="map" seq="45" />
          <!--버튼-->
          <a role="all" class="map-check all-jeonnam"><span is="c-span" class="form-txt text">전라남도전체</span></a>
          <a role="region" seq="44" class="map-check jeonnam-a"
            ><span is="c-span" class="form-txt text">전라남도A</span></a
          >
          <a role="region" seq="45" class="map-check jeonnam-b"
            ><span is="c-span" class="form-txt text">전라남도B</span></a
          >
        </div>
        <!-- gyeongsangbuk-do -->
        <div class="map-center" id="gyeongsangbuk-do" style="display: none;">
          <!--배경-->
          <img src="images/map/gyeongbuk-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/gyeongbuk-2.png" alt="" class="sub-map" role="map" seq="40" />
          <img src="images/map/gyeongbuk-3.png" alt="" class="sub-map" role="map" seq="41" />
          <!--버튼-->
          <a role="all" class="map-check all-gyeongbuk"><span is="c-span" class="form-txt text">경상북도전체</span></a>
          <a role="region" seq="40" class="map-check gyeongbuk-a"
            ><span is="c-span" class="form-txt text">경상북도A</span></a
          >
          <a role="region" seq="41" class="map-check gyeongbuk-b"
            ><span is="c-span" class="form-txt text">경상북도B</span></a
          >
        </div>
        <!-- gyeongsangnam-do -->
        <div class="map-center" id="gyeongsangnam-do" style="display: none;">
          <!--배경-->
          <img src="images/map/gyeongnam-1.png" alt="" class="sub-map back" />
          <!--지역-->
          <img src="images/map/gyeongnam-2.png" alt="" class="sub-map" role="map" seq="37" />
          <img src="images/map/gyeongnam-3.png" alt="" class="sub-map" role="map" seq="38" />
          <img src="images/map/gyeongnam-4.png" alt="" class="sub-map" role="map" seq="39" />
          <!--버튼-->
          <a role="all" class="map-check all-gyeongnam"><span is="c-span" class="form-txt text">경상남도전체</span></a>
          <a role="region" seq="37" class="map-check gyeongnam-a"
            ><span is="c-span" class="form-txt text">경상남도A</span></a
          >
          <a role="region" seq="38" class="map-check gyeongnam-b"
            ><span is="c-span" class="form-txt text">경상남도B</span></a
          >
          <a role="region" seq="39" class="map-check gyeongnam-c"
            ><span is="c-span" class="form-txt text">경상남도C</span></a
          >
        </div>
        <ul class="local-info-sub mgbt30" id="info">
          <!-- <li>
            <div class="name-set">
              <span is="c-span" class="name gangwon-a text">강원도A</span>
            </div>
            <div class="local-detail">
              <span is="c-span" class="text"
                >(강릉시, 철원군, 화천군, 양구군, 고성군, 춘천시, 인제군, 속초시, 양양군)</span
              >
            </div>
          </li>
          <li>
            <div class="name-set">
              <span is="c-span" class="name text">강원도B</span>
            </div>
            <div class="local-detail">
              <span is="c-span" class="text"
                >(원주시, 동해시, 태백시, 삼척시, 횡성군, 평창군, 홍천군, 영월군, 정선군)</span
              >
            </div>
          </li> -->
        </ul>
        <ul class="local-info mgbt8" id="product" style="display: none;">
          <li>
            <div class="name-set">
              <span is="c-span" class="name text">강원도</span>
              <a class="btn-thumb-close">삭제</a>
            </div>
            <div class="price">
              <span class="text" is="c-span"><em>200,000</em>원</span>
            </div>
          </li>
        </ul>
      </div>
    </article>
  </section>
  <a id="next" class="btn-fixed primary"><span is="c-span" class="text">확인</span></a>
  <div class="bg-dim"></div>
</div>
<script>
  let region = null;
  let shopAreaList = null;
  let infoList = null;
  function bootUp() {
    const parameter = GET_PARAMETER() || {};
    region = parameter.region;
    shopAreaList = [...parameter.shopAreaList];
    infoList = [...parameter.infoList];
    $(`#${region}`).show();
    $(`#${region} [role=region]`).click(toggleRegion);
    $(`#${region} [role=all]`).click(toggleAll);
    $("#next").click(next);

    renderMap();
    renderInfo();
    renderProduct();
  }

  function getAreaPrice(_count) {
    const filteredShopAreaList = shopAreaList.filter((c) => c.region === region);
    if (region === "seoul" || region === "gyeonggi-do") {
      if ($(`#${region} [role=all]`).hasClass("checked")) {
        return formatNumber(800000);
      }
      if (_count === 1) {
        return formatNumber(300000);
      }
      if (_count === 2) {
        return formatNumber(200000);
      }
      if (_count === 3) {
        return formatNumber(100000);
      }
      if (_count === 4) {
        return formatNumber(200000);
      }
      return formatNumber(0);
    } else {
      if ($(`#${region} [role=all]`).hasClass("checked")) {
        return formatNumber(500000);
      }
      if (_count === 1) {
        return formatNumber(300000);
      }
      if (_count === 2) {
        return formatNumber(200000);
      }
      return formatNumber(0);
    }
  }

  function renderMap() {
    const mapArray = $(`#${region} [role=map]`);
    const mapCheckArray = $(`#${region} [role=region]`);
    Array.from(mapArray).forEach((el) => $(el).removeClass("on"));
    Array.from(mapCheckArray).forEach((el) => $(el).removeClass("checked"));
    const filteredShopAreaList = shopAreaList.filter((c) => c.region === region);
    filteredShopAreaList.forEach(({ region, seq }) => {
      Array.from(mapArray).forEach((el) => {
        if (parseInt($(el).attr("seq")) === seq) {
          $(el).addClass("on");
        }
      });
      Array.from(mapCheckArray).forEach((el) => {
        if (parseInt($(el).attr("seq")) === seq) {
          $(el).addClass("checked");
        }
      });
    });
    if (filteredShopAreaList.length === Array.from(mapArray).length) {
      $(`#${region} [role=all]`).addClass("checked");
    } else {
      $(`#${region} [role=all]`).removeClass("checked");
    }
  }

  function renderInfo() {
    const mapCheckArray = Array.from($(`#${region} [role=region].checked`)).map((el) => {
      return {
        seq: parseInt($(el).attr("seq")),
        className: el.className.replace("map-check", "").replace("checked", "").trim(),
      };
    });

    const container = $("#info");
    container.html("");
    Array.from(infoList).forEach((info) => {
      const li = $("<li>");
      const nameContainer = $("<div>").addClass("name-set");
      const nameTag = $("<span>").addClass("name text").text(info.name);

      const areaListContainer = $("<div>").addClass("local-detail");
      const areaList = $("<span>")
        .addClass("text")
        .text(`(${(info.areaList || []).map((c) => c.areaName).join(", ")})`);

      li.append(nameContainer);
      li.append(areaListContainer);
      nameContainer.append(nameTag);
      areaListContainer.append(areaList);

      container.append(li);

      const mapCheck = mapCheckArray.find((c) => c.seq === info.seq);
      if (mapCheck !== undefined) {
        nameTag.addClass(mapCheck.className);
      }
    });
  }

  function renderProduct() {
    const container = $("#product");
    container.html("");

    const filteredShopAreaList = shopAreaList.filter((c) => c.region === region);
    if (filteredShopAreaList.length > 0) {
      container.show();
    } else {
      container.hide();
      return;
    }

    if ($(`#${region} [role=all]`).hasClass("checked")) {
      const li = $("<li>");
      const nameContainer = $("<div>").addClass("name-set");
      const nameTag = $("<span>")
        .addClass("name text")
        .text($(`#${region} [role=all]`).text());

      const deleteButton = $("<a>").addClass("btn-thumb-close").html("삭제").click(toggleAll);

      const priceContainer = $("<div>").addClass("price");
      const price = $("<span>").addClass("text").html(`<em>${getAreaPrice()}</em>원`);

      li.append(nameContainer);
      li.append(priceContainer);
      nameContainer.append(nameTag);
      nameContainer.append(deleteButton);
      priceContainer.append(price);

      container.append(li);
    } else {
      const mapCheckArray = Array.from($(`#${region} [role=region].checked`)).map((el) => {
        return {
          seq: parseInt($(el).attr("seq")),
          name: $(el).text(),
        };
      });
      let _count = 1;
      mapCheckArray.forEach((area) => {
        const li = $("<li>");
        const nameContainer = $("<div>").addClass("name-set");
        const nameTag = $("<span>").addClass("name text").text(area.name);

        const deleteButton = $("<a>")
          .addClass("btn-thumb-close")
          .html("삭제")
          .click(() => _toggleRegion(area.seq));

        const priceContainer = $("<div>").addClass("price");
        const price = $("<span>")
          .addClass("text")
          .html(`<em>${getAreaPrice(_count)}</em>원`);

        li.append(nameContainer);
        li.append(priceContainer);
        nameContainer.append(nameTag);
        nameContainer.append(deleteButton);
        priceContainer.append(price);

        container.append(li);

        _count++;
      });
    }
  }

  function toggleRegion(e) {
    const seq = parseInt($(e.currentTarget).attr("seq"));
    _toggleRegion(seq);
  }

  function _toggleRegion(seq) {
    if (Array.from(shopAreaList).some((c) => c.seq === seq)) {
      shopAreaList = shopAreaList.filter((c) => c.seq !== seq);
    } else {
      shopAreaList.push({ region, seq });
    }
    renderMap();
    renderInfo();
    renderProduct();
  }

  function toggleAll() {
    const filteredShopAreaList = shopAreaList.filter((c) => c.region === region);
    const mapArray = $(`#${region} [role=map]`);
    if (filteredShopAreaList.length === Array.from(mapArray).length) {
      shopAreaList = shopAreaList.filter((c) => c.region !== region);
    } else {
      const mapArray = $(`#${region} [role=map]`);
      const mapCheckArray = $(`#${region} [role=region]`);
      Array.from(mapArray).forEach((el) => {
        const seq = parseInt($(el).attr("seq"));
        if (!filteredShopAreaList.some((c) => c.seq === seq)) {
          shopAreaList.push({ region, seq });
        }
      });
    }

    renderMap();
    renderInfo();
    renderProduct();
  }

  function next() {
    const parameter = { shopAreaList };
    navigateToBack(undefined, parameter);
  }

  (function () {
    bootUp();
  })();
</script>
