<div class="wrap">
  <app-header title="사업자 정보 등록"></app-header>
  <section class="container">
    <article class="contents">
      <div class="comment-warp">
        <span class="title text" is="c-span">중고전문가님의 기본정보를 입력해주세요.</span>
        <span class="copy text" is="c-span">*중고전문가 심사를 위해 아래 정보를 입력하고 약관에 동의해주세요.</span>
      </div>

      <div class="register-form-wrap">
        <h2>
          <span is="c-span" class="text">사업자 실명 확인<em class="required">*</em></span>
        </h2>
        <div class="form-thin-wrap">
          <input id="shopName" type="text" class="shape-5" placeholder="상호명" maxlength="100" />
        </div>
        <div class="form-thin-wrap">
          <input id="ownerName" type="text" class="shape-5" placeholder="이름" maxlength="45" />
        </div>
        <div class="form-thin-wrap pdbt0">
          <input
            type="number"
            class="shape-5"
            maxlength="10"
            placeholder="사업자 번호(-없이 입력)"
            id="compRegNum_input"
          />
          <input type="hidden" id="compRegNum" />
          <a id="bizNum_check" class="btn-fit-large mgl10"><span is="c-span" class="text">중복확인</span></a>
          <span id="bizNum_validated" style="display: none" class="fit-indicator mgl10"
            ><span is="c-span" class="text">인증완료</span></span
          >
        </div>

        <h2>
          <span is="c-span" class="text">사업자 등록증</span>
        </h2>
        <div class="form-thin-wrap">
          <input type="text" class="shape-5" placeholder="PDF, jpeg, jpg, png 첨부가능" disabled id="fileName" />
          <label class="btn-fit-large mgl10" for="file" id="fileTrigger">
            <span is="c-span" class="text">첨부하기</span>
            <input type="file" style="display: none" id="file" />
            <input type="hidden" id="fileSeq" />
          </label>
          <span id="file_validated" style="display: none" class="fit-indicator mgl10"
            ><span is="c-span" class="text">첨부완료</span></span
          >
        </div>
        <a id="clear_file" style="display: none" class="btn-fit-back refresh pdbt0"
          ><span is="c-span" class="text">다시 첨부하기</span></a
        >
      </div>
    </article>
  </section>
  <a id="next" class="btn-fixed disable"><span is="c-span" class="text">등록</span></a>
  <!--option-->
  <!--<a  class="btn-fixed primary"><span is="c-span" class="text">다음</span></a>-->
  <div class="bg-dim"></div>
</div>
<script>
  function validate() {
    if ($("#ownerName").val().length === 0) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }
    if ($("#shopName").val().length === 0) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }

    if ($("#compRegNum").val().length === 0) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }
    if ($("#compRegNum").val() !== $("#compRegNum_input").val()) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }
    // if ($("#fileSeq").val().length === 0) {
    //   $("#next")
    //     .addClass("disable")
    //     .removeClass("primary");
    //   return;
    // }

    $("#next").removeClass("disable").addClass("primary");
  }

  function validateCompRegNum_input() {
    if ($("#compRegNum_input").val().length === 10) {
      $("#bizNum_check").removeClass("disable");
    } else {
      $("#bizNum_check").addClass("disable");
    }
  }

  function renderParamter() {
    const parameter = GET_PARAMETER() || {};
    const {
      shopName = "",
      ownerName = "",
      compRegNum = "",
      compRegNum_input = "",
      fileSeq = "",
      fileName = "",
    } = parameter;
    $("#shopName").val(shopName);
    $("#ownerName").val(ownerName);
    $("#compRegNum").val(compRegNum);
    $("#compRegNum_input").val(compRegNum_input);
    $("#fileSeq").val(fileSeq);
    $("#fileName").val(fileName);
    validateCompRegNum_input();
    validate();
    if (compRegNum.length > 0) {
      $("#bizNum_check").hide();
      $("#bizNum_validated").show();
      $("#compRegNum_input").prop("type", "text");
      $("#compRegNum_input").val(compRegNum_input);
    }
    if (fileSeq.length > 0) {
      $("#fileTrigger").hide();
      $("#file_validated").show();
      $("#clear_file").show();
    }
  }

  function back() {
    const parameter = GET_PARAMETER() || {};
    parameter.shopName = $("#shopName").val();
    parameter.ownerName = $("#ownerName").val();
    parameter.compRegNum = $("#compRegNum").val();
    parameter.compRegNum_input = $("#compRegNum_input").val();
    parameter.fileSeq = $("#fileSeq").val();
    parameter.fileName = $("#fileName").val();
    navigateToBack(undefined, parameter);
  }

  function next() {
    const parameter = GET_PARAMETER() || {};

    const mystoreBody = {
      compRegNum: $("#compRegNum").val(),
      fileSeq: $("#fileSeq").val(),
      memSeq: window.member.seq,
      ownerName: $("#ownerName").val(),
      shopAddr1: parameter.shopAddr1,
      shopAddr2: parameter.shopAddr2,
      shopName: $("#shopName").val(),
      shopPhone: parameter.shopPhone,
      zipCode: parameter.zipCode,
    };

    api.post("mystore", mystoreBody).then(({ seq }) => {
      navigate("dealer_package", { testBizRegNum });
    });
  }

  let compRegNumConfrimed = false;
  let testBizRegNum = "N";
  function tryConfrimCompRegNum() {
    let compRegNum = $("#compRegNum_input").val();
    // 테스트 사업자 번호 예외 처리
    if (compRegNum === ENV.TEST_BIZ_REG_NUM) {
      localStorage.setItem("testBizRegNum", "Y");
    }
    compRegNum = `${compRegNum.substr(0, 3)}-${compRegNum.substr(3, 2)}-${compRegNum.substr(5, 5)}`;
    api.get("mystore/bizNum/check", { compRegNum }).then(({ resultCode, resultMessage }) => {
      if (resultCode === "Y") {
        $("#compRegNum").val(compRegNum);
        $("#bizNum_check").hide();
        $("#bizNum_validated").show();
        $("#compRegNum_input").prop("type", "text");
        $("#compRegNum_input").val(compRegNum);
        compRegNumConfrimed = true;
      } else {
        $("#compRegNum").val("");
        Alert("사업자번호", resultMessage);
      }
      validate();
    });
  }

  function releaseCompRegNum() {
    if (compRegNumConfrimed) {
      compRegNumConfrimed = false;
      $("#compRegNum").val("");
      $("#bizNum_check").show();
      $("#bizNum_validated").hide();
      $("#compRegNum_input").val($("#compRegNum_input").val().replace(/-/gi, ""));
      $("#compRegNum_input").prop("type", "number");
      validate();
    }
  }

  function uploadImage(e) {
    if (e.target.files.length === 0) {
      return;
    }
    const fileName = $("#file")[0].files[0].name.toLowerCase();
    if (
      !(fileName.endsWith("pdf") || fileName.endsWith("jpeg") || fileName.endsWith("jpg") || fileName.endsWith("png"))
    ) {
      Alert("지원하지 않는 파일형식", "파일형식이 다릅니다. PDf, jpeg, jpg, png 형식의 파일을 첨부해주세요.");
      return;
    }

    const formData = new FormData();
    formData.append("file", $("#file")[0].files[0]);
    api.postForm("base/uploadS3/product", formData).then((attachFile) => {
      $("#file").val("");
      $("#fileSeq").val(attachFile.seq);
      $("#fileName").val(attachFile.fileName);
      $("#fileTrigger").hide();
      $("#file_validated").show();
      $("#clear_file").show();
      validate();
    });
  }

  function tryClearFile() {
    $("#file").val("");
    $("#fileSeq").val("");
    $("#fileName").val("");
    $("#fileTrigger").show();
    $("#file_validated").hide();
    $("#clear_file").hide();
  }

  (function () {
    renderParamter();
    validate();
    $("#shopName").keyup(validate);

    $("#ownerName").keyup(validate);
    $("#compRegNum_input").keyup(function () {
      validate();
      validateCompRegNum_input();
    });
    $("#compRegNum_input").focus(releaseCompRegNum);
    $("#file").change(uploadImage);

    $("#bizNum_check").click(tryConfrimCompRegNum);
    $("#clear_file").click(tryClearFile);

    $("app-header")[0].back(back);
    $("#next").click(next);
  })();
</script>
