<div class="wrap">
  <app-header title="기본정보입력"></app-header>
  <section class="container">
    <article class="contents">
      <div class="comment-warp">
        <span class="title text" is="c-span">중고전문가님의 기본정보를 입력해주세요.</span>
        <span class="copy text" is="c-span">*중고전문가 심사를 위해 아래 정보를 입력하고 약관에 동의해주세요.</span>
      </div>

      <div class="register-form-wrap">
        <h2><span is="c-span" class="text">기본정보</span></h2>
        <div class="form-thin-wrap">
          <input type="text" class="shape-5" disabled id="ownerName" />
        </div>
        <div class="form-thin-wrap pdbt0">
          <input type="tel" class="shape-5" id="shopPhone" placeholder="휴대폰 번호(-없이 입력)" maxlength="15" />
        </div>
        <h2>
          <span is="c-span" class="text"
            >지역<em class="required">*</em><small class="sub-text mgl10">(상점 주소 입력 란입니다)</small></span
          >
        </h2>
        <div class="form-thin-wrap">
          <input type="text" class="shape-5" id="shopAddr1" disabled />
          <input type="hidden" id="zipCode" />
          <a id="search_address" class="btn-fit-large mgl10"><span is="c-span" class="text">주소검색</span></a>
        </div>
        <div class="form-thin-wrap pdbt0">
          <input type="text" class="shape-5" id="shopAddr2" maxlength="100" />
        </div>
        <h2>
          <span is="c-span" class="text">이용약관<em class="required">*</em></span>
        </h2>
        <ul class="list-small-check">
          <li class="list-item">
            <label for="ckAll" class="chk-box">
              <input type="checkbox" name="terms" id="ckAll" />
              <span class="form-txt text" is="c-span">전체동의</span>
            </label>
          </li>
          <li class="list-item">
            <label for="ck1" class="chk-box">
              <input type="checkbox" name="terms" id="ck1" />
              <span class="form-txt text" is="c-span">개인정보 수집/이용 (필수)</span>
            </label>
          </li>
          <li class="list-item">
            <label for="ck2" class="chk-box">
              <input type="checkbox" name="terms" id="ck2" />
              <span class="form-txt text" is="c-span">고유식별정보처리 (필수)</span>
            </label>
          </li>
          <li class="list-item">
            <label for="ck3" class="chk-box">
              <input type="checkbox" name="terms" id="ck3" />
              <span class="form-txt text" is="c-span">통신사 이용약관 (필수)</span>
            </label>
          </li>
          <li class="list-item">
            <label for="ck4" class="chk-box">
              <input type="checkbox" name="terms" id="ck4" />
              <span class="form-txt text" is="c-span">서비스 이용약관 (필수)</span>
            </label>
          </li>
        </ul>
      </div>
    </article>
  </section>
  <a id="next" class="btn-fixed disable"><span is="c-span" class="text">다음</span></a>
  <!--option-->
  <!--<a  class="btn-fixed primary"><span is="c-span" class="text">다음</span></a>-->
  <div class="bg-dim"></div>
</div>
<script>
  let nextParamter = {};

  function validate() {
    if ($("#shopPhone").val().length > 0) {
      let _test = $("#shopPhone").val();
      _test = _formatHp(_parseHp(_test));
      // if (!RegExp(/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/g).test($("#shopPhone").val())) {
      if (!RegExp(/^\d{3}-\d{3,4}-\d{4}$/).test(_test)) {
        $("#next").addClass("disable").removeClass("primary");
        return;
      }
    } else {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }

    if ($("#shopAddr1").val().length === 0) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }
    if ($("#shopAddr2").val().length === 0) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }

    const checkedAll = $("#ckAll").prop("checked");
    if (!checkedAll) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }

    $("#next").removeClass("disable").addClass("primary");
  }

  function changeCkAll() {
    const checkedAll =
      $("#ck1").prop("checked") && $("#ck2").prop("checked") && $("#ck3").prop("checked") && $("#ck4").prop("checked");
    $("#ckAll").prop("checked", checkedAll);
    validate();
  }

  function next() {
    const parameter = GET_PARAMETER() || {};
    parameter.ownerName = $("#ownerName").val();
    parameter.shopPhone = $("#shopPhone").val();
    // 화면 표시용 우편번호 삭제
    parameter.shopAddr1 = $("#shopAddr1")
      .val()
      .replace(/\([0-9]+\)\s?/gi, "");
    parameter.shopAddr2 = $("#shopAddr2").val();
    parameter.zipCode = $("#zipCode").val();

    navigate("dealer_business", { ...parameter, ...nextParamter });
  }

  function formatHp() {
    const value = $("#shopPhone").val();
    $("#shopPhone").val(_formatHp(value));
    validate();
  }

  function _formatHp(value) {
    let nextValue = value;
    if (nextValue.length === 10) {
      nextValue = `${nextValue.substr(0, 3)}-${nextValue.substr(3, 3)}-${nextValue.substr(6, 4)}`;
    } else if (nextValue.length === 11) {
      nextValue = `${nextValue.substr(0, 3)}-${nextValue.substr(3, 4)}-${nextValue.substr(7, 4)}`;
    }
    return nextValue;
  }

  function parseHp() {
    let value = $("#shopPhone").val();
    $("#shopPhone").val(_parseHp(value));
  }

  function _parseHp(value) {
    let nextValue = value;
    nextValue = nextValue.replace(/[^0-9]/gi, "");
    return nextValue;
  }

  function readAddress(_address) {
    if (_address !== undefined) {
      console.log(_address);
      $("#shopAddr1").val(_address.address);
      $("#zipCode").val(_address.zipNo);
      validate();
    }
  }

  function resetMemKind() {
    api
      .put(`mypage/profile/${window.member.seq}`, { memKind: "T", proRequestYn: "N", memAuthYn: "Y" })
      .then(function () {
        api.get(`mypage/profile/${window.member.seq}`).then((response) => {
          window.member = { ...response };
          navigateAndReplace("start");
        });
      });
  }

  (function () {
    $("#ownerName").val(window.member.memName);
    $("#shopPhone").val(window.member.memHp || "");

    $("#shopPhone").keyup(validate);

    $("#shopPhone").focus(parseHp);
    $("#shopPhone").blur(formatHp);

    $("#search_address").click(() => navigate("address"));
    $("#shopAddr2").keyup(validate);

    $("#ckAll").click((e) => {
      const checkedAll = $(e.target).prop("checked");
      $("#ck1").prop("checked", checkedAll);
      $("#ck2").prop("checked", checkedAll);
      $("#ck3").prop("checked", checkedAll);
      $("#ck4").prop("checked", checkedAll);
      validate();
    });

    $("#ck1").click(changeCkAll);
    $("#ck2").click(changeCkAll);
    $("#ck3").click(changeCkAll);
    $("#ck4").click(changeCkAll);

    $("#next").click(next);
    $("app-header")[0].back(resetMemKind);

    formatHp();
  })();

  RELOAD((_parameter = {}) => {
    // nextParamter = _parameter;
    // if (_parameter.address !== undefined) {
    //   readAddress(_parameter.address);
    // } else {
    //   nextParamter = _parameter;
    // }
    readAddress(_parameter.address);
  });
  console.log(window.member);
</script>
