<div class="wrap">
  <app-header title="패키지 등록"></app-header>
  <section class="container">
    <article class="contents">
      <div class="comment-warp">
        <span class="title text" is="c-span">지역을 선택해주세요.</span>
        <span class="copy text" is="c-span">*지역과 카테고리는 푸시알림을 위한 설정입니다.</span>
      </div>

      <div class="map-wrap">
        <div class="map-center">
          <!--배경-->
          <img class="map back" src="images/map/all-2.png" />
          <!--지역-->
          <img class="map" src="images/map/all-3.png" region="chungcheongbuk-do" />
          <img class="map" src="images/map/all-4.png" region="gyeongsangbuk-do" />
          <img class="map" src="images/map/all-5.png" region="daejeon" />
          <img class="map" src="images/map/all-6.png" region="seoul" />
          <img class="map" src="images/map/all-7.png" region="jeju-do" />
          <img class="map" src="images/map/all-8.png" region="incheon" />
          <img class="map" src="images/map/all-9.png" region="jeollanam-do" />
          <img class="map" src="images/map/all-10.png" region="gangwon-do" />
          <img class="map" src="images/map/all-11.png" region="gyeonggi-do" />
          <img class="map" src="images/map/all-12.png" region="gwangju" />
          <img class="map" src="images/map/all-13.png" region="busan" />
          <img class="map" src="images/map/all-14.png" region="chungcheongnam-do" />
          <img class="map" src="images/map/all-15.png" region="daegu" />
          <img class="map" src="images/map/all-16.png" region="jeollabuk-do" />
          <img class="map" src="images/map/all-17.png" region="ulsan" />
          <img class="map" src="images/map/all-18.png" region="gyeongsangnam-do" />
          <!--버튼-->
          <a id="all" class="map-check all-do">
            <span class="form-txt text" is="c-span">전국</span>
          </a>
          <a class="map-check seoul" region="seoul" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">서울(8)</span>
          </a>
          <a class="map-check busan" region="busan" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">부산(3)</span>
          </a>
          <a class="map-check daegu" region="daegu" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">대구(2)</span>
          </a>
          <a class="map-check gwangju" region="gwangju" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">광주(2)</span>
          </a>
          <a class="map-check incheon" region="incheon" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">인천(2)</span>
          </a>
          <a class="map-check daejeon" region="daejeon" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">대전(2)</span>
          </a>
          <a class="map-check ulsan" region="ulsan" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">울산(2)</span>
          </a>
          <a class="map-check gyeonggi-do" region="gyeonggi-do" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">경기도(10)</span>
          </a>
          <a class="map-check gangwon-do" region="gangwon-do" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">강원도(2)</span>
          </a>
          <a class="map-check chungcheongbuk-do" region="chungcheongbuk-do" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">충청북도(2)</span>
          </a>
          <a class="map-check chungcheongnam-do" region="chungcheongnam-do" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">충청남도(2)</span>
          </a>
          <a class="map-check jeollabuk-do" region="jeollabuk-do" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">전라북도(2)</span>
          </a>
          <a class="map-check jeollanam-do" region="jeollanam-do" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">전라남도(2)</span>
          </a>
          <a class="map-check gyeongsangbuk-do" region="gyeongsangbuk-do" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">경상북도(2)</span>
          </a>
          <a class="map-check gyeongsangnam-do" region="gyeongsangnam-do" action="navigateTo2ndMap" role="region">
            <span class="form-txt text" is="c-span">경상남도(3)</span>
          </a>
          <a id="jeju-do" class="map-check jeju-do" region="jeju-do" areaGroupSeq="48" role="region">
            <span class="form-txt text" is="c-span">제주도</span>
          </a>
        </div>
        <ul class="local-info mgbt8" id="price" style="display: none;"></ul>
        <div class="sum-info" id="total" style="display: none;">
          <span is="c-span" class="text copy">총합금액</span>
          <span is="c-span" class="text price">무료</span>
        </div>
      </div>
    </article>
  </section>
  <a id="next" class="btn-fixed disable"><span is="c-span" class="text">다음</span></a>
  <div class="bg-dim"></div>
</div>

<script>
  const regionList = [
    "seoul",
    "busan",
    "daegu",
    "gwangju",
    "incheon",
    "daejeon",
    "ulsan",
    "gyeonggi-do",
    "gangwon-do",
    "chungcheongbuk-do",
    "chungcheongnam-do",
    "jeollabuk-do",
    "jeollanam-do",
    "gyeongsangbuk-do",
    "gyeongsangnam-do",
    "jeju-do",
  ];

  const allShopAreaList = [
    {
      region: "seoul",
      name: "서울A",
      seq: 2,
    },
    {
      region: "seoul",
      name: "서울B",
      seq: 3,
    },
    {
      region: "seoul",
      name: "서울C",
      seq: 4,
    },
    {
      region: "seoul",
      name: "서울D",
      seq: 5,
    },
    {
      region: "seoul",
      name: "서울E",
      seq: 6,
    },
    {
      region: "seoul",
      name: "서울F",
      seq: 7,
    },
    {
      region: "seoul",
      name: "서울G",
      seq: 8,
    },
    {
      region: "seoul",
      name: "서울H",
      seq: 9,
    },
    {
      region: "gyeonggi-do",
      name: "경기A",
      seq: 10,
    },
    {
      region: "gyeonggi-do",
      name: "경기B",
      seq: 11,
    },
    {
      region: "gyeonggi-do",
      name: "경기C",
      seq: 12,
    },
    {
      region: "gyeonggi-do",
      name: "경기D",
      seq: 13,
    },
    {
      region: "gyeonggi-do",
      name: "경기E",
      seq: 14,
    },
    {
      region: "gyeonggi-do",
      name: "경기F",
      seq: 15,
    },
    {
      region: "gyeonggi-do",
      name: "경기G",
      seq: 16,
    },
    {
      region: "gyeonggi-do",
      name: "경기H",
      seq: 17,
    },
    {
      region: "gyeonggi-do",
      name: "경기I",
      seq: 18,
    },
    {
      region: "gyeonggi-do",
      name: "경기J",
      seq: 19,
    },
    {
      region: "busan",
      name: "부산A",
      seq: 20,
    },
    {
      region: "busan",
      name: "부산B",
      seq: 21,
    },
    {
      region: "busan",
      name: "부산C",
      seq: 22,
    },
    {
      region: "incheon",
      name: "인천A",
      seq: 23,
    },
    {
      region: "incheon",
      name: "인천B",
      seq: 24,
    },
    {
      region: "daejeon",
      name: "대전A",
      seq: 25,
    },
    {
      region: "daejeon",
      name: "대전B",
      seq: 26,
    },
    {
      region: "daegu",
      name: "대구A",
      seq: 27,
    },
    {
      region: "daegu",
      name: "대구B",
      seq: 28,
    },
    {
      region: "gwangju",
      name: "광주A",
      seq: 29,
    },
    {
      region: "gwangju",
      name: "광주B",
      seq: 30,
    },
    {
      region: "ulsan",
      name: "울산A",
      seq: 31,
    },
    {
      region: "ulsan",
      name: "울산B",
      seq: 32,
    },
    {
      region: "chungcheongnam-do",
      name: "충청남도A",
      seq: 33,
    },
    {
      region: "chungcheongnam-do",
      name: "충청남도B",
      seq: 34,
    },
    {
      region: "chungcheongbuk-do",
      name: "충청북도A",
      seq: 35,
    },
    {
      region: "chungcheongbuk-do",
      name: "충청북도B",
      seq: 36,
    },
    {
      region: "gyeongsangnam-do",
      name: "경상남도A",
      seq: 37,
    },
    {
      region: "gyeongsangnam-do",
      name: "경상남도B",
      seq: 38,
    },
    {
      region: "gyeongsangnam-do",
      name: "경상남도C",
      seq: 39,
    },
    {
      region: "gyeongsangbuk-do",
      name: "경상북도A",
      seq: 40,
    },
    {
      region: "gyeongsangbuk-do",
      name: "경상북도B",
      seq: 41,
    },
    {
      region: "jeollabuk-do",
      name: "전라북도A",
      seq: 42,
    },
    {
      region: "jeollabuk-do",
      name: "전라북도B",
      seq: 43,
    },
    {
      region: "jeollanam-do",
      name: "전라남도A",
      seq: 44,
    },
    {
      region: "jeollanam-do",
      name: "전라남도B",
      seq: 45,
    },
    {
      region: "gangwon-do",
      name: "강원도A",
      seq: 46,
    },
    {
      region: "gangwon-do",
      name: "강원도B",
      seq: 47,
    },
    {
      region: "jeju-do",
      name: "제주도",
      seq: 48,
    },
  ];

  let shopAreaList = [];
  let selectedRegionList = [];
  let nextParamter = {};

  function toggleJeju() {
    if (selectedRegionList.includes("jeju-do")) {
      selectedRegionList = selectedRegionList.filter((c) => c !== "jeju-do");
      shopAreaList = shopAreaList.filter((c) => c.region !== "jeju-do");
    } else {
      selectedRegionList.push("jeju-do");
      shopAreaList.push({
        region: "jeju-do",
        seq: 48,
      });
    }
    renderMap();
    renderPrice();
    renderTotal();
    validate();
  }

  function toggleAll() {
    if (shopAreaList.length === allShopAreaList.length) {
      selectedRegionList = [];
      shopAreaList = [];
    } else {
      selectedRegionList = [...regionList];
      shopAreaList = [...allShopAreaList];
    }
    renderMap();
    renderPrice();
    renderTotal();
    validate();
  }

  function renderMap() {
    regionList.forEach((region) => {
      if (selectedRegionList.includes(region)) {
        $(`.map-check[region=${region}]`).addClass("checked");
        $(`.map[region=${region}]`).addClass("on");
      } else {
        $(`.map-check[region=${region}]`).removeClass("checked");
        $(`.map[region=${region}]`).removeClass("on");
      }
    });
    if (shopAreaList.length === allShopAreaList.length) {
      $("#all").addClass("checked");
    } else {
      $("#all").removeClass("checked");
    }
  }

  function getAllAreaPrice() {
    return formatNumber(1000000);
  }

  function getRegionPrice(_region) {
    const regionShopAreaList = shopAreaList.filter((c) => c.region === _region.region);
    if (_region.region === "seoul" || _region.region === "gyeonggi-do") {
      if (regionShopAreaList.length === 1) {
        return formatNumber(300000);
      }
      if (regionShopAreaList.length === 2) {
        return formatNumber(500000);
      }
      if (regionShopAreaList.length === 3) {
        return formatNumber(600000);
      }
      return formatNumber(800000);
    } else {
      if (regionShopAreaList.length === 1) {
        return formatNumber(300000);
      }
      return formatNumber(500000);
    }
  }

  function renderPrice() {
    const container = $("#price");
    container.html("");

    if (shopAreaList.length > 0) {
      container.show();
    } else {
      container.hide();
      return;
    }

    if (shopAreaList.length === allShopAreaList.length) {
      const li = $("<li>");
      const nameContainer = $("<div>").addClass("name-set");
      const nameTag = $("<span>").addClass("name text").text("전국");

      const deleteButton = $("<a>").addClass("btn-thumb-close").html("삭제").click(toggleAll);

      const priceContainer = $("<div>").addClass("price");
      const price = $("<span>").addClass("text").html(`<em>${getAllAreaPrice()}</em>원`);

      li.append(nameContainer);
      li.append(priceContainer);
      nameContainer.append(nameTag);
      nameContainer.append(deleteButton);
      priceContainer.append(price);

      container.append(li);
    } else {
      const mapCheckArray = Array.from($("[role=region].checked")).map((el) => {
        return {
          region: $(el).attr("region"),
          name: $(el).text(),
        };
      });

      mapCheckArray.forEach((_region) => {
        const regionAllShopAreaList = allShopAreaList.filter((c) => c.region === _region.region);
        const regionShopAreaList = shopAreaList.filter((c) => c.region === _region.region);
        if (regionAllShopAreaList.length === regionShopAreaList.length) {
          const li = $("<li>");
          const nameContainer = $("<div>").addClass("name-set");
          const nameTag = $("<span>").addClass("name text").text(_region.name);

          const deleteButton = $("<a>")
            .addClass("btn-thumb-close")
            .html("삭제")
            .click(() => {
              shopAreaList = shopAreaList.filter((c) => c.region !== _region.region);
              selectedRegionList = selectedRegionList.filter((c) => c !== _region.region);
              renderMap();
              renderPrice();
              renderTotal();
              validate();
            });

          const priceContainer = $("<div>").addClass("price");
          const price = $("<span>")
            .addClass("text")
            .html(`<em>${getRegionPrice(_region)}</em>원`);

          li.append(nameContainer);
          li.append(priceContainer);
          nameContainer.append(nameTag);
          nameContainer.append(deleteButton);
          priceContainer.append(price);

          container.append(li);
        } else {
          const li = $("<li>");
          const nameContainer = $("<div>").addClass("name-set");
          let areaList = [];
          regionShopAreaList.forEach((regionShopArea) => {
            const mapping = regionAllShopAreaList.find((c) => c.seq === regionShopArea.seq);
            if (mapping !== undefined) {
              nameContainer.append($("<span>").addClass("name text").text(mapping.name));
              areaList = [...areaList, ...(mapping.areaList || []).map((c) => c.areaName)];
            }
          });

          const deleteButton = $("<a>")
            .addClass("btn-thumb-close")
            .html("삭제")
            .click(() => {
              shopAreaList = shopAreaList.filter((c) => c.region !== _region.region);
              selectedRegionList = selectedRegionList.filter((c) => c !== _region.region);
              renderMap();
              renderPrice();
              renderTotal();
              validate();
            });

          const priceContainer = $("<div>").addClass("price");
          const price = $("<span>")
            .addClass("text")
            .html(`<em>${getRegionPrice(_region)}</em>원`);

          li.append(nameContainer);
          if (areaList.length > 0) {
            const areaListContainer = $("<div>").addClass("local-detail");
            const areaListText = $("<span>")
              .addClass("text")
              .text(`(${areaList.join(", ")})`);
            areaListContainer.append(areaListText);
            li.append(areaListContainer);
          }
          li.append(priceContainer);
          nameContainer.append(deleteButton);
          priceContainer.append(price);

          container.append(li);
        }
      });
    }
  }

  function renderTotal() {
    if (shopAreaList.length > 0) {
      $("#total").show();
    } else {
      $("#total").hide();
    }
  }

  function validate() {
    if (shopAreaList.length === 0) {
      $("#next").addClass("disable").removeClass("primary");
      return;
    }

    $("#next").removeClass("disable").addClass("primary");
  }

  function navigateTo2ndMap(e) {
    const region = $(e.currentTarget).attr("region");
    const infoList = allShopAreaList.filter((c) => c.region === region);
    navigate("dealer_package_2nd", { region, shopAreaList, infoList });
  }

  function next() {
    const parameter = GET_PARAMETER() || {};
    navigate("dealer_category", { ...parameter, ...nextParamter, shopAreaList });
  }

  function bootUpFromMyStore() {
    api.get(`/mystore/${window.member.seq}`).then((storeInfo) => {
      if (Array.isArray(storeInfo.shopAreaResponse)) {
        if (storeInfo.shopAreaResponse.some((c) => c.areaGroupSeq === 1)) {
          selectedRegionList = [...regionList];
          shopAreaList = [...allShopAreaList];
        } else {
          storeInfo.shopAreaResponse.forEach((c) => {
            const regionRef = allShopAreaList.find((d) => c.areaGroupSeq === d.seq);
            if (regionRef !== undefined) {
              const region = regionRef.region;
              if (!selectedRegionList.includes(region)) {
                selectedRegionList.push(region);
              }
              shopAreaList.push({
                region,
                seq: c.areaGroupSeq,
              });
            }
          });
        }
        renderMap();
        renderPrice();
        renderTotal();
        validate();
      }
      if (Array.isArray(storeInfo.shopCategoryResponse)) {
        nextParamter.shopCategoryList = storeInfo.shopCategoryResponse.map((c) => c.cateSeq);
      }
    });
  }

  function getCategories() {
    const allCategory = JSON.parse(window.localStorage.getItem("allCategory"));
    return Array.from(allCategory.content).reduce((r, item) => {
      if (r.every((c) => c !== item.cateSeq1dp)) {
        r.push(item.cateSeq1dp);
      }
      return r;
    }, []);
  }

  function bootUp() {
    const parameter = GET_PARAMETER() || {};
    const { reference } = parameter;
    if (reference === "myStore") {
      bootUpFromMyStore();
    } else {
      selectedRegionList = [...regionList];
      shopAreaList = [...allShopAreaList];
      nextParamter.shopCategoryList = getCategories().filter((item) => item !== -99);

      renderMap();
      renderPrice();
      renderTotal();
      validate();

      $("app-header")[0].back(false);
    }

    const getMappingArray = allShopAreaList.map(({ seq }) => {
      return api.get("areas/groups/mapping", { areaGroupSeq: seq, includeChild: "N" });
    });

    api.get(`mypage/profile/${window.member.seq}`).then((response) => {
      window.member = { ...response };
      Promise.all(getMappingArray).then((mappingResponseArray) => {
        Array.from(mappingResponseArray).forEach(({ content }) => {
          Array.from(content).forEach((mapping) => {
            const areaGroup = allShopAreaList.find((c) => c.seq === mapping.areaGroupSeq);
            if (areaGroup !== undefined) {
              if (areaGroup.areaList === undefined) {
                areaGroup.areaList = [mapping];
              } else {
                areaGroup.areaList.push(mapping);
              }
            }
          });
        });

        $("#all").click(toggleAll);
        $("#jeju-do").click(toggleJeju);
        $("[action=navigateTo2ndMap]").click(navigateTo2ndMap);
        $("#next").click(next);
      });
    });
  }

  (function () {
    bootUp();
  })();

  RELOAD((_parameter = {}) => {
    if (_parameter.shopAreaList !== undefined) {
      shopAreaList = _parameter.shopAreaList;
      selectedRegionList = shopAreaList.reduce((r, { region }) => {
        if (!r.some((c) => c === region)) {
          r.push(region);
        }
        return r;
      }, []);
      renderMap();
      renderPrice();
      renderTotal();
      validate();
    }

    if (_parameter.shopCategoryList !== undefined) {
      nextParamter.shopCategoryList = _parameter.shopCategoryList;
    }
  });
</script>
