<div class="wrap">
  <app-header></app-header>
  <section class="container" id="section_list" style="display: none;">
    <article class="contents">
      <ul class="list-smaller" id="container"></ul>
    </article>
  </section>
  <section class="container" id="section_no_request" style="display: none;">
    <article class="contents">
      <div class="empty">
        <img class="ico-warning" src="images/icon/warning.png" />
        <span class="text copy" is="c-span" style="text-align: center;"
          >긴급요청은 적용하신 카테고리에 한해서 신청할 수 있습니다.</span
        >
        <a class="btn-category" id="root">홈으로 돌아가기</a>
      </div>
    </article>
  </section>
  <section class="container" id="section_admin" style="display: none;">
    <article class="contents">
      <div class="empty">
        <span class="text copy" is="c-span" style="text-align: center;"
          >입력하신 물품과 일치하는 키워드가 없어 관리자에게 키워드 등록을 요청합니다</span
        >
        <a class="btn-category" id="admin_category">확인</a>
      </div>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<script>
  let search = "";

  /**
   * 카테고리 검색 결과 중 '검색어' 와 일치하는 단어를 '활성화' 된 색상으로 표시
   */
  function formatCategory(text) {
    let formatted = "";
    if (text.indexOf(search) > -1) {
      let postion = 0;
      let lastPostion = 0;
      while (text.indexOf(search, postion) > -1) {
        const currentPosition = text.indexOf(search, postion);
        formatted += text.substring(postion, currentPosition);
        formatted += `<em>${text.substr(currentPosition, search.length)}</em>`;
        lastPostion = currentPosition + search.length;
        postion = lastPostion;
      }
      formatted += text.substring(lastPostion);

      return formatted;
    } else {
      return text;
    }
  }

  /**
   * 카테고리 검색 아이템을 화면에 그린다
   */
  function renderItem(item) {
    const { cateSeq1dp, cateSeq1dpName } = item;
    const li = $("<li>").addClass("list-item");
    const a = $("<a>")
      .addClass("item-text")
      .click(function () {
        const parameter = GET_PARAMETER() || {};
        const { reference, back } = parameter;
        if (back) {
          navigateToBack(reference, {
            category: { cateSeq1dp, cateSeq1dpName },
            productName: search,
            validCateYn: "Y",
          });
        } else {
          navigate(reference, { category: { cateSeq1dp, cateSeq1dpName }, productName: search, validCateYn: "Y" });
          const THIS = GET_THIS();
          THIS.releasePage();
        }
      });
    const span = $("<span>")
      .addClass("text")
      .html(
        `${formatCategory(item.cateSeq1dpName)} > ${formatCategory(item.cateSeq2dpName)} > ${formatCategory(
          item.cateSeq3dpName
        )}`
      );
    a.append(span);
    li.append(a);
    li;
    const container = $("#container");
    container.append(li);
  }

  /**
   * 카테고리가, 적용된 카테고리 인지 여부 반환
   */
  function filterCategory({ cateSeq1dp }) {
    const filterReference = Array.from(
      (window.member && window.member.shopInfoResponse && window.member.shopInfoResponse.shopCategoryResponse) || []
    );
    return filterReference.some(({ cateSeq }) => cateSeq === cateSeq1dp);
  }

  /**
   * 카테고리 검색 값에 따라서, 화면을 변경
   * 1. 카테고리 검색 값이 완전히 없는 경우 - 관리자 안내
   * 2. 카테고리 검색 값이 있으나, 적용되지 않은 카테고리 - 홈으로 이동 안내
   * 3. 카테고리 검색 값이 있고, 적용된 카테고리에 속한 경우 - 정상 출력
   */
  function renderList(response) {
    const container = $("#container");
    container.html("");
    const parameter = GET_PARAMETER() || {};
    const { reference } = parameter;

    // if (reference === "request_emergency_buy") {
    //   Array.from(response.content).forEach(renderItem);
    //   $("#section_list").show();
    //   return;
    // }

    if (response.size === 0) {
      $("#section_admin").show();
    } else {
      const filtered = Array.from(response.content).filter(filterCategory);
      if (filtered.length === 0) {
        $("#section_no_request").show();
      } else {
        filtered.forEach(renderItem);
        $("#section_list").show();
      }
    }
  }

  /**
   * Header의 Search 컴포넌트가 '검색' 되었을 때, 동작
   */
  function searchCategory(e) {
    $("#section_list").hide();
    $("#section_no_request").hide();
    $("#section_admin").hide();

    if (e.target.value.length === 0) {
      return;
    }
    search = e.target.value;
    api.get("base/category", { parentSeq: search }).then(renderList);
  }

  /**
   * 관리자 안내를 통한 요청서 이동
   * 카테고리 정보는 없이, 검색어만 이동함.
   */
  function onClickAdminCategory() {
    const parameter = GET_PARAMETER() || {};
    const { reference, back } = parameter;
    if (back) {
      navigateToBack(reference, { productName: search, validCateYn: "N" });
    } else {
      navigate(reference, { productName: search, validCateYn: "N" });
      const THIS = GET_THIS();
      THIS.releasePage();
    }
  }

  /**
   * 페이지가 처음 화면에 표시 될 때, 실행되는 함수
   * 초기 화면 생성 및 [이벤트 바인딩]을 수행한다.
   */
  (function () {
    $("app-header")[0].onSearch(searchCategory);
    $("#root").click(() => navigateToBack("root"));
    $("#admin_category").click(onClickAdminCategory);
  })();
</script>
