<div class="wrap">
  <section class="container">
    <article class="contents">
      <!--      <span style="position: absolute; left: 30px; top: 50px; color: white; font-size: 12px; line-height: 1.5"-->
      <!--        >테스트 버전입니다<br />-->
      <!--        *테스트는 지정 아이디로만 작동이 가능합니다.</span-->
      <!--      >-->
      <img src="images/finish.gif" />
    </article>
  </section>
</div>
<script>
  (function () {
    setTimeout(() => {
      window.gk337.finishApp();
    }, 2300);
  })();
</script>
