<div class="wrap gray">
  <app-header title="내정보"></app-header>
  <section class="container">
    <article class="contents">
      <div class="form-wide-wrap mgt10">
        <textarea id="myInfoText" class="shape-4 js-auto" placeholder="원하시는 내용을 입력해주세요(300자)"></textarea>
      </div>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<script>
  function changeInfo() {
    api.put(`mystore/${window.member.shopInfoResponse.seq}`, { shopDesc: $("#myInfoText").val() }).then(function () {
      navigateToBack();
    });
  }
  function renderEditor() {
    /*    if (window.member.memKind === "P") {
      $("app-header")[0].rightText(changeInfo, "확인");
      return;
    }*/
    $("app-header")[0].rightText(changeInfo, "확인");
    return; /**/
  }
  (function () {
    renderEditor();
    $("#confirmInfo").click(changeInfo);
  })();
</script>
