<div class="wrap">
  <nav class="gnb">
    <div class="user">
      <div class="user-profile">
        <span class="thumb-medium" id="user-selector"
          ><img id="profileImage" src="images/no_profile.png" alt=""
        /></span>
        <div class="user-info">
          <span class="label" id="memKind"><span class="text" is="c-span" id="memKindName"></span></span>
          <span class="name" is="c-span" id="memName"></span>
        </div>
        <a class="btn-close-large" onclick="navigateToBack()"><span is="c-span">닫기</span></a>
      </div>
      <ul class="activity-count" id="userCount" style="display: none">
        <li>
          <a class="btn-my-link rss">
            <em id="sellCnt">0</em>
            <span is="c-span" class="title text">판매요청서</span>
          </a>
        </li>
        <li>
          <a class="btn-my-link rsb">
            <em id="buyCnt">0<img class="n-badge" src="images/icon/n-badge.png" /></em>
            <span is="c-span" class="title text">구매요청서</span>
          </a>
        </li>
        <li>
          <a class="btn-my-link" onclick="navigate('myProdList')">
            <em class="prodCnt">0<img class="n-badge" src="images/icon/n-badge.png" /></em>
            <span is="c-span" class="title text">내 물품</span>
          </a>
        </li>
      </ul>
      <ul class="activity-count" id="delaerCount" style="display: none">
        <li>
          <a class="btn-my-link" onclick="navigate('request_send_list')">
            <em id="sendCnt">0</em>
            <span is="c-span" class="title text">보낸요청서</span>
          </a>
        </li>
        <li>
          <a class="btn-my-link" onclick="navigate('request_recieve_list')">
            <em id="reciveCnt">0<img class="n-badge" src="images/icon/n-badge.png" /></em>
            <span is="c-span" class="title text">받은요청서</span>
          </a>
        </li>
        <li>
          <a class="btn-my-link" onclick="navigate('request_recieve_list',{type:'DEALER'})">
            <em id="delCnt">0<img class="n-badge" src="images/icon/n-badge.png" /></em>
            <span is="c-span" class="title text">전문가요청서</span>
          </a>
        </li>
        <li>
          <a class="btn-my-link" onclick="navigate('myProdList')">
            <em class="prodCnt">0<img class="n-badge" src="images/icon/n-badge.png" /></em>
            <span is="c-span" class="title text">내물품</span>
          </a>
        </li>
      </ul>
      <div class="btn-wrap-mystore">
        <a class="btn-rect-small" onclick="navigate('myStore')"
          ><span is="c-span" class="text">내 상점 가기 &gt;</span></a
        >
      </div>
    </div>
    <div class="home-menu">
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text list only-1st" onclick="navigate('allProdList')">
            <span is="c-span" class="text">전체물품 둘러보기</span>
          </a>
          <a class="item-text chat only-1st" onclick="navigate('chat_list')">
            <span is="c-span" class="text"
              >채팅<img id="chatCnt" style="display: none" class="n-badge" src="images/icon/n-badge.png"
            /></span>
          </a>
        </li>
      </ul>
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text settings only-1st" onclick="navigate('settings')">
            <span is="c-span" class="text">설정</span>
          </a>
        </li>
      </ul>
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text help toggle on">
            <span is="c-span" class="text">고객센터</span>
          </a>
          <ul class="list-small-2th">
            <li class="list-item">
              <a class="item-text" onclick="navigate('oppolicy')">
                <span is="c-span" class="text">운영정책</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text" onclick="navigate('policy')">
                <span is="c-span" class="text">약관내용</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text" id="logout">
                <span is="c-span" class="text">로그아웃</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="banner">
      <a id="banner">
        <img src="images/gnb-banner.png" />
      </a>
    </div>
  </nav>
  <div class="bg-dim"></div>
</div>
<app-bottom-sheet></app-bottom-sheet>
<style>
  .hidden {
    display: none;
  }

  li.unused,
  a.unused {
    background-color: #dddddd;
  }
</style>
<script>
  function renderActivityCount() {
    if (member.memKind === "P") {
      $("#userCount").hide();
      $("#delaerCount").show();
    } else if (member.memKind === "G") {
      $("#userCount").show();
      $("#delaerCount").hide();
    }
    const { chatCnt = 0 } = root || {};
    if (chatCnt > 0) {
      $("#chatCnt").show();
    }
  }

  function setMyInfo() {
    if (window.member.profileImage !== null) {
      $("#profileImage").attr("src", window.member.profileImage);
    }

    if (window.member.memKind === "P" && window.member.shopInfoResponse) {
      $("#memName").text(window.member.shopInfoResponse.shopName);
    } else {
      $("#memName").text(window.member.memName);
    }

    if (window.member.memKind === "G") {
      $("#memKind").addClass("user");
      $("#memKindName").text("유저");
    }
    if (window.member.memKind === "P") {
      $("#memKind").addClass("dealer");
      $("#memKindName").text("중고전문가");
    }
  }

  function setMystoreInfo() {
    return api
      .get(`/mystore/info/${window.member.seq}`, { memSeq: window.member.seq, memKind: window.member.memKind })
      .then((data) => {
        data.content.forEach((element) => {
          if (element.type === "보낸요청서") $("#sendCnt").html(element.cnt);
          if (element.type === "받은요청서") $("#reciveCnt").html(element.cnt);
          if (element.type === "딜러요청서") $("#delCnt").html(element.cnt);
          if (element.type === "내물품") $(".prodCnt").html(element.cnt);

          if (element.type === "판매요청서") $("#sellCnt").html(element.cnt);
          if (element.type === "구매요청서") $("#buyCnt").html(element.cnt);
        });
      });
  }

  $("a.toggle").click((e) => {
    const self = $(e.target);
    self.toggleClass("on");
  });
  (function () {
    $(".rss").click(() => navigate("request_send_list", { type: "S" }));
    $(".rsb").click(() => navigate("request_send_list", { type: "B" }));
    $("#logout").click((e) => {
      localStorage.removeItem("login");
      localStorage.removeItem("loginid");

      if (ENV.KNOX_YN == "Y") {
        //KNOX일 경우
        window.gk337.connectJGW();
      } else {
        window.location.href = window.location.href.split("www")[0] + "www/html/main.html";
      }
    });
    $("#banner").click(() => {
      if (window.JgwUtil) {
        window.JgwUtil.returnBox337();
      } else {
        returnBox337();
      }
    });
    // $("#user-selector").click(() => {
    //   $("app-bottom-sheet")[0].open(
    //     [
    //       {
    //         value: 17,
    //         text: "전국구딜러(전체카테고리)",
    //         member: { seq: 17, memName: "전국구딜러", memKind: "P" }
    //       },
    //       {
    //         value: 1,
    //         text: "딜러(생활/가전 , 기계류)",
    //         member: { seq: 1, memName: "생활가전기계전문가", memKind: "P" }
    //       },
    //       { value: 8, text: "딜러(업소/의료)", member: { seq: 8, memName: "업소용품전문가", memKind: "P" } },
    //       {
    //         value: 3,
    //         text: "딜러경쟁자(생활/가전 , 기계류)",
    //         member: { seq: 3, memName: "중고전문가신청", memKind: "P" }
    //       },
    //       { value: 17, text: "딜러경쟁자2(생활/가전)", member: { seq: 17, memName: "다나와", memKind: "P" } },
    //       { value: 18, text: "중고왕유저1", member: { seq: 18, memName: "중고왕유저1", memKind: "G" } },
    //       { value: 7, text: "개발팀사용자1", member: { seq: 7, memName: "유저", memKind: "G" } },
    //       { value: 10, text: "개발팀사용자2", member: { seq: 10, memName: "유저", memKind: "G" } }
    //     ],
    //     member.seq
    //   );
    // });
    $("app-bottom-sheet").on("select", (e) => {
      api.get(`mypage/profile/${e.detail.data.member.seq}`).then((response) => {
        window.member = { ...response };
        renderActivityCount();
        setMyInfo();
        setMystoreInfo();
      });
    });
    renderActivityCount();
    setMyInfo();
    setMystoreInfo();
  })();
</script>
