<div class="wrap">
  <app-header title="카테고리"></app-header>
  <section class="container">
    <article class="contents">
      <div class="register-form-wrap">
        <ul class="category-set" id="category_container"></ul>
      </div>
    </article>
  </section>
  <a id="next" class="btn-fixed disable"><span is="c-span" class="text">확인</span></a>
  <!--option-->
  <!--<a  class="btn-fixed primary"><span is="c-span" class="text">다음</span></a>-->
  <div class="bg-dim"></div>
</div>
<script>

  let categoryReference = [];
  function renderItem(item) {
    const id = `category_${item.cateSeq}`;
    const input = $("<input>").addClass("category-input").attr("type", "checkbox").prop('disabled', true).prop('checked', true).val(item.cateSeq);
    const label = $("<label>").addClass("category-check checked")
    const span = $("<span>").addClass("form-txt text").text(item.cateName);
    label.append(input);
    label.append(span);
    const li = $("<li>");

    li.append(label);
    const container = $("#category_container").append(li);

    label.click(() => {
      const message = Array.from(categoryReference).filter(c=> c.cateSeq1dp === item.cateSeq).map(c => c.cateSeq2dpName).join('\r\n')
      Alert(item.cateName, message, { pre: true })
    });
  }

  function renderCategories() {
    Array.from(window.member.shopInfoResponse.shopCategoryResponse).forEach(renderItem);
  }

  function getCategories() {
    const allCategory = JSON.parse(window.localStorage.getItem("allCategory"));
    return Array.from(allCategory.content).reduce((r, item) => {
      if (r.every((c) => c.cateSeq2dp !== item.cateSeq2dp)) {
        r.push(item);
      }
      return r;
    }, []);
  }

  (function () {
    categoryReference = getCategories();
    renderCategories();
  })();

</script>
<style>
  .category-check {
    background-color: white;
  }
</style>
