<div class="wrap gray">
  <app-header></app-header>
  <section class="container">
    <article class="contents">
      <div class="slide-wide">
        <ul class="swiper-wrapper" id="requestProductAtfilResponse"></ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="bar2">
        <span class="prdt-name" id="prodName"></span>
        <div class="inner">
          <span class="time-check"><span is="c-span" class="text" id="regDate">2020.01.19</span></span>
          <span class="price">
            <sup id="reqTypeContainer"><span is="c-span" class="text" id="reqType"></span></sup>
            <em id="price"></em>
            <span is="c-span" class="text">원</span>
          </span>
        </div>
      </div>
      <div class="prdt-info">
        <p id="asYn"></p>
        <p id="comments"></p>
      </div>
      <div class="user">
        <div class="user-profile">
          <span class="thumb-medium edit">
            <img src="images/no_profile.png" alt="" id="profileImage" />
          </span>
          <div class="user-info">
            <span class="label" id="memKind"><span class="text" is="c-span" id="memKindName"></span></span>
            <span class="name" is="c-span" id="memName"></span>
          </div>
        </div>
      </div>
      <ul class="list-small-input">
        <li class="list-item">
          <div class="item-text pin">
            <input type="text" class="shape-1" disabled id="address" />
          </div>
        </li>
      </ul>
      <ul class="list-small-incomplete">
        <li class="list-item">
          <a class="item-text">
            <span is="c-span" class="text" id="prdTitle">내물품</span>
            <span is="c-span" class="text more" onclick="navigate('myProdList')">더보기</span>
          </a>
        </li>
      </ul>
      <input type="hidden" id="showYn" />
      <div class="frame-large">
        <ul class="list-large-store" id="prdLst"></ul>
      </div>
    </article>
  </section>
  <div class="bg-dim"></div>
  <div class="prod_item">
    <a id="trade" href="#" class="btn-prod trade"><span is="c-span" class="text">거래중</span></a>
    <a id="public" href="#" class="btn-prod public"><span is="c-span" class="text">공개</span></a>
    <a id="modify" href="#" class="btn-prod modify"><span is="c-span" class="text">수정</span></a>
    <a id="del" href="#" class="btn-prod del"><span is="c-span" class="text">삭제</span></a>
  </div>
</div>

<script>
  function renderFile(file) {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const { fileUrl } = file.file;
    const li = $("<li>").addClass("swiper-slide");
    let a = $("<a>")
      .addClass(`thumb ${completeYn === "Y" && "disable"}`)
      .attr("data-fancybox", "")
      .attr("data-src", fileUrl);

    const img = $("<app-img>");
    img.attr("default-src", "./images/icon/default-s.png");
    if (fileUrl) {
      if (
        fileUrl.includes(".mp4") ||
        fileUrl.includes(".avi") ||
        fileUrl.includes(".mpeg") ||
        fileUrl.includes(".mpg") ||
        fileUrl.includes(".mkv")
      ) {
        // TODO : 퍼블 필요 ( height 값 고정 임시처리 )
        const video = $('<video controls style="width:100%; height:312px;"><source src="" type="video/mp4" /></video>');
        video.find("source").attr("src", fileUrl);
        a = $("<a>").addClass("thumb");
        a.css("transform", "translate(0,0)");
        a.append(video);
      } else {
        img.attr("src", fileUrl);
        img.attr("alt-src", fileUrl);
        a.append(img);
      }
    }

    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  function renderDefaultImage() {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const li = $("<li>").addClass("swiper-slide");
    const a = $("<a>").addClass(`thumb ${completeYn === "Y" && "disable"}`);
    const img = $("<img>")
      .attr("src", "./images/icon/default-l.png")
      .on("load", (e) => {
        if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
          $(e.target).addClass("landscape");
        }
      });
    a.append(img);
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  let roomSeq;
  let sendMemSeq;
  let completeYn;

  let now = new Date();
  let nowYear = now.getFullYear();

  function renderProduct(request) {
    console.log("product", request);

    $("#showYn").val(request.showYn);
    if (request.memSeq === window.member.seq) {
      if (window.member.memKind === "P" && window.member.shopInfoResponse) {
        $("app-header").attr("title", window.member.shopInfoResponse.shopName);
      } else {
        $("app-header").attr("title", request.member.memName);
      }
    } else {
      $("app-header").attr("title", request.member.memName);
    }
    // $("#comments").html(request.prodDesc);
    if (request.asYn === "Y" && request.member.memKind === "P") {
      $("#asYn").html("A/S는 3개월 가능합니다.").css("color", "#415ec4");
    }

    $("#comments").html(request.prodDesc && request.prodDesc.replace(/\n/gim, "<br/>"));

    // 거래상태에 따른 처리
    completeYn = request.completeYn;
    if (completeYn === "Y") {
      $("#trade").text("거래완료");
    } else {
      $("#trade").click(updateReqStatus);
      $("#trade").text("거래중");
      $("#modify").click((e) => {
        modify();
      });
    }

    // 공개에 따른 처리
    showYn = request.showYn;
    if (showYn === "Y") {
      $("#public").text("공개");
      $("#public").removeClass("off");
    } else {
      $("#public").text("비공개");
      $("#public").addClass("off");
    }

    if (Array.from(request.attachFileList).length === 0) {
      renderDefaultImage();
    } else {
      // 기존 로직
      Array.from(request.attachFileList).forEach(renderFile);
    }

    const tradeType = request.tradeType;
    if (tradeType === "S") {
      $("#reqTypeContainer").addClass("sale");
      $("#reqType").text("판매희망가");
    } else if (tradeType === "B") {
      $("#reqTypeContainer").addClass("purchase");
      $("#reqType").text("구매희망가");
    }

    if (request.member.memKind === "P") {
      $("#memKind").addClass("dealer");
      $("#memKindName").text("중고전문가");
    } else if (request.member.memKind === "G") {
      $("#memKind").addClass("user");
      $("#memKindName").text("유저");
    }

    $("#prodName").text(request.prodName);
    $("#price").text(formatNumber(request.price));

    let getYear = parseInt(request.regDateR.substr(0, 4));
    if (getYear === nowYear) {
      $("#regDate").text(request.regDateR.substr(5, 5).replace(/-/gi, "."));
    } else {
      $("#regDate").text(request.regDateR.substr(0, 10).replace(/-/gi, "."));
    }

    if (request.memSeq === window.member.seq) {
      if (window.member.memKind === "P" && window.member.shopInfoResponse) {
        $("#memName").text(window.member.shopInfoResponse.shopName);
      } else {
        $("#memName").text(request.member.memName);
      }
    } else {
      $("#memName").text(request.member.memName);
    }

    $("#memHp").val(request.member.memHp);
    if (request.profileImage !== null) {
      $("#profileImage").attr("src", request.shopInfo.file.fileUrl);
    }
    $("#shopAddr1").val(request.shopAddr1);
    $("#shopAddr2").val(request.shopAddr2);
    $("#address").val(request.address);
    $("#tel").attr("href", `tel:${request.memHp}`);

    roomSeq = request.roomSeq;
    sendMemSeq = request.sendMemSeq;

    window.initFancyBox($);
  }

  function getProduct() {
    const parameter = GET_PARAMETER() || {};
    const { prodSeq } = parameter;
    return api.get(`products/${prodSeq}`).then(renderProduct);
  }

  function setProductLst() {
    var param = {};
    param.memSeq = window.member.seq;
    param.memKind = window.member.memKind;
    return api.get(`/mystore/product/1/10`, param).then((productInfo) => {
      $("#prdTitle").append(`(${productInfo.total})`);
      $("#myProd").html(productInfo.total);

      const prodUl = $("#prdLst");
      prodUl.html("");

      productInfo.list.forEach((element) => {
        const prodLi = $("<li>")
          .addClass("list-item")
          .append(
            $("<a>")
              .addClass("btn-link")
              .click(() =>
                navigateAndReplace("my_prod_item", {
                  prodSeq: element.prodSeq,
                })
              )
              .append(
                $("<span>")
                  .addClass(element.completeYn === "Y" ? "thumb-small-rect disable" : "thumb-small-rect")
                  .append(
                    $("<app-img>")
                      .attr("src", element.requestProductAtfilResponse[0].fileUrl)
                      .attr("alt-src", element.requestProductAtfilResponse[0].fileUrl)
                      .attr("default-src", "./images/icon/default-s.png")
                  )
              )
              .append(
                $("<dl>")
                  .append($("<dt>").append($("<span>").addClass("text").attr("is", "c-span").html(element.prodName)))
                  .append(
                    $("<dd>")
                      .addClass("price")
                      .append(
                        $("<span>")
                          .addClass("time-check")
                          .attr("is", "c-span")
                          .html(
                            parseInt(element.regDate.substr(0, 4)) === nowYear
                              ? element.regDate.substr(5, 5).replace(/-/gi, ".")
                              : element.regDate.substr(0, 10).replace(/-/gi, ".")
                          )
                      )
                      .append(
                        $("<div>")
                          .append(
                            $("<sup>").append(
                              $("<span>")
                                .addClass("text")
                                .attr("is", "c-span")
                                .html(element.reqType === "B" ? "구매희망가" : "판매희망가")
                            )
                          )
                          .append($("<em>").html(formatNumber(element.price)))
                          .append($("<span>").addClass("text").attr("is", "c-span").html("원"))
                      )
                  )
                  .append($("<dd>"))
              )
          );

        const prodUl = $("#prdLst");

        prodUl.append(prodLi);
      });
    });
  }

  function updateReqStatus() {
    Alert("거래완료 확인", "거래완료하신 물품은 복구할 수 없습니다.\n이대로 진행 하시겠습니까?").then((e) => {
      const cause = e.cause;
      if (cause === "done") {
        const parameter = GET_PARAMETER() || {};
        const prodSeq = parameter.prodSeq;
        api.put(`products/status/complete/${prodSeq}`).then(() => {
          navigateToBack();
        });
      }
    });
  }

  function trashProd() {
    Alert("삭제", "삭제한 물품은 복구할 수 없습니다.\n정말 삭제 하시겠습니까?").then((e) => {
      const cause = e.cause;
      if (cause === "done") {
        const parameter = GET_PARAMETER() || {};
        const { prodSeq } = parameter;
        api.delete(`products/${prodSeq}`).then(() => navigateToBack());
      }
    });
  }

  function updatePublicYn() {
    Alert("물품공개여부", "물품공개여부를 변경 하시겠습니까?").then((e) => {
      const cause = e.cause;
      if (cause === "done") {
        const parameter = GET_PARAMETER() || {};
        const prodSeq = parameter.prodSeq;

        api.put(`products/status/show/${prodSeq}`).then(() => {
          navigateToBack();
        });
      }
    });
  }

  function modify() {
    const parameter = GET_PARAMETER() || {};
    const prodSeq = parameter.prodSeq;
    navigate("product_modify", { prodSeq });
  }

  let sortType = "prodSeq";
  (function () {
    getProduct();
    setProductLst();
    $("#public").click(updatePublicYn);
    $("#del").click(trashProd);
  })();

  RELOAD(() => {
    $("#modify")
      .off()
      .on("click", function () {});

    $("#requestProductAtfilResponse").empty();

    const parameter = GET_PARAMETER() || {};
    const { prodSeq } = parameter;
    return api.get(`products/${prodSeq}`).then(renderProduct);
  });
</script>
