<div class="wrap gray">
  <app-header title="내정보"></app-header>
  <section class="container">
    <article class="contents">
      <div class="user information">
        <div class="user-profile">
          <span class="thumb-larger edit">
            <img id="fileUrl" src="images/no_profile.png" alt="" />
            <label for="file" class="btn-up-small"
              ><input id="file" type="file" style="display: none" /><span is="c-span">upload</span></label
            >
          </span>
          <div class="user-info">
            <span is="c-span" class="text copy" id="infoText"></span>
          </div>
          <a class="btn-write" onclick="navigate('infoEdit')"><span>글쓰기</span></a>
        </div>
      </div>

      <ul class="list-small-complete">
        <!--<li class="list-item">
          <span class="item-text">
            <span is="c-span" class="text">상점이름</span>
            <span is="c-span" class="text indicator" id="memName">가구사랑센터</span>
          </span>
        </li>-->
        <li class="list-item">
          <span class="item-text">
            <span is="c-span" class="text">연락처</span>
            <span is="c-span" class="text indicator" id="shopPhone"></span>
          </span>
        </li>
        <li class="list-item">
          <span class="item-text">
            <span is="c-span" class="text">주소</span>
            <span is="c-span" class="text indicator" id="shopAddr1"></span>
          </span>
        </li>
      </ul>
      <ul class="list-small-incomplete">
        <!--<li class="list-item" id="business-container">
          <a class="item-text">
            <span is="c-span" class="text">사업자등록</span>
          </a>
        </li>-->
        <li class="list-item" id="dealer_package" style="display: none">
          <a class="item-text" onclick="navigate('dealer_package', { reference: 'myStore' })">
            <span is="c-span" class="text">패키지</span>
          </a>
        </li>
        <li class="list-item">
          <a class="item-text" onclick="navigate('my_category')" style="display: none">
            <span is="c-span" class="text">카테고리</span>
          </a>
        </li>
      </ul>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<script>
  var param = {};
  param.memSeq = window.member.seq;
  param.memKind = window.member.memKind;

  let existStore = false;
  let shopSeq = 0;

  function setMyInfo() {
    return api.get(`/mystore/${param.memSeq}`).then((storeInfo) => {
      if (storeInfo.error !== undefined && storeInfo.error.code !== "00") {
        return;
      }
      existStore = true;
      shopSeq = storeInfo.seq;
      $("#shopName").val(storeInfo.shopName);
      $("#shopNameInput").val(storeInfo.shopName);

      if (param.memKind === "P") {
        $("[name=uTyp]").html("중고전문가");
        $("#uTypClass").addClass("dealer");
      } else {
        $("[name=uTyp]").html("유저");
        $("#uTypClass").addClass("user");
      }

      if (
        storeInfo.fileUrl !== undefined &&
        storeInfo.fileUrl !== null &&
        storeInfo.fileUrl !== "null" &&
        storeInfo.fileUrl.length > 0
      ) {
        $("#fileUrl").attr("src", storeInfo.fileUrl);
      }

      $("#shopAddr1").text(storeInfo.shopAddr1);
      $("#shopAddr2").val(storeInfo.shopAddr2);
      $("#shopPhone").text(storeInfo.shopPhone);

      if (storeInfo.compRegNum != "") {
        $("#bizTyp").text("결제완료");
      } else {
        $("#bizTyp").text("결제대기");
        $("#bizTyp").removeClass("indicator");
      }

      if (storeInfo.shopCategoryResponse.length > 0) {
        const ul = $("#cateLst");
        ul.html("");

        storeInfo.shopCategoryResponse.forEach((element, idx) => {
          if (idx < 3) {
            const li = $("<li>").append($("<span>").addClass("text").attr("is", "c-span").html(element.cateName));

            ul.append(li);
          }
        });
        ul.find("li span")
          .eq(2)
          .text(ul.find("li span").eq(2).text() + " 외 " + (storeInfo.shopCategoryResponse.length - 3) + " 개");
      }
    });
  }

  function setProductLst() {
    return api.get(`/mystore/product/1/10`, param).then((productInfo) => {
      $("#prdTitle").text(`(${productInfo.total})`);
      $("#myProd").html(productInfo.total);

      const prodUl = $("#prdLst");
      prodUl.html("");

      productInfo.list.forEach((element) => {
        const prodLi = $("<li>")
          .addClass("list-item")
          .append(
            $("<a>")
              // .addClass(element.reqStatus === "Y" ? "s-thumb-m disable" : "s-thumb-m")
              .addClass("btn-link")
              .click(() =>
                navigate("my_prod_item", {
                  reqSeq: element.reqSeq,
                })
              )
              .append(
                $("<span>")
                  .addClass(element.reqStatus === "Y" ? "thumb-small-rect disable" : "thumb-small-rect")

                  .append(
                    $("<span>")
                      .addClass(element.reqType === "S" ? "label-v sale" : "label-v purchase")
                      .append($("<span>").addClass("text").attr("is", "c-span").html(element.reqTypeName))
                  )
                  .append($("<img>").attr("src", element.requestProductAtfilResponse[0].fileUrl))
              )

              .append(
                $("<dl>")
                  .append($("<dt>").append($("<span>").addClass("text").attr("is", "c-span").html(element.prodName)))
                  .append(
                    $("<dd>")
                      .addClass("price")
                      .append(
                        $("<span>")
                          .addClass("time-check")
                          .attr("is", "c-span")
                          .html(element.regDate.substr(0, 10).replace(/-/gi, "."))
                      )
                      .append(
                        $("<div>")
                          .append(
                            $("<sup>").append(
                              $("<span>")
                                .addClass("text")
                                .attr("is", "c-span")
                                .html(element.reqType === "B" ? "구매희망가" : "판매희망가")
                            )
                          )
                          .append($("<em>").html(formatNumber(element.price)))
                          .append($("<span>").addClass("text").attr("is", "c-span").html("원"))
                      )
                  )
                  .append($("<dd>"))
              )
          );

        prodUl.append(prodLi);
      });
    });
  }

  function setMystoreInfo() {
    if (member.memKind === "P") {
      $("#delaer-count").show();
      $("#business-container").show();
      $("#dealer_package").show();
      $("#my_category").show();
    } else if (member.memKind === "G") {
      $("#delaer-count").hide();
      $("#business-container").hide();
      $("#dealer_package").hide();
      $("#my_category").hide();
    }

    return api.get(`/mystore/info/${param.memSeq}`, param).then((data) => {
      data.content.forEach((element) => {
        if (element.type === "보낸요청서") $(".sendCnt").html(element.cnt);
        if (element.type === "받은요청서") $(".reciveCnt").html(element.cnt);
        if (element.type === "딜러요청서") $(".delCnt").html(element.cnt);
        if (element.type === "내물품") $(".prodCnt").html(element.cnt);

        if (element.type === "판매요청서") $(".sellCnt").html(element.cnt);
        if (element.type === "구매요청서") $(".buyCnt").html(element.cnt);
      });
    });
  }

  let editing = false;
  let fileSeq = 0;
  let zipCode = "";

  function uploadImage(e) {
    if (e.target.files.length === 0) {
      return;
    }

    const formData = new FormData();
    formData.append("file", $("#file")[0].files[0]);
    api.postForm("base/uploadS3/product", formData).then((attachFile) => {
      fileSeq = attachFile.seq;
      $("#fileUrl").attr("src", attachFile.fileUrl);
      const body = {
        memSeq: param.memSeq,
        fileSeq,
      };

      if (existStore) {
        api.put(`/mystore/${shopSeq}`, body).then((response) => {
          // 상점정보 프로필 변경 시 회원정보의 profile_image 도 같이 업로드 됨. 회원정보 전역객체에 업데이트 추가
          if (response.fileUrl) {
            window.member.profileImage = response.fileUrl;
          }
        });
      } else {
        api.post(`/mystore`, body).then((response) => {
          // 상점정보 프로필 변경 시 회원정보의 profile_image 도 같이 업로드 됨. 회원정보 전역객체에 업데이트 추가
          if (response.fileUrl) {
            window.member.profileImage = response.fileUrl;
          }
        });
      }
    });
  }

  function readAddress(_address) {
    if (_address !== undefined) {
      $("#shopAddr1").val(_address.address);
      zipCode = _address.zipNo;
    }
  }

  function startEdit() {
    fileSeq = 0;
    zipCode = "";
    editing = true;
    renderEditor();
  }

  function setInfoText() {
    return api.get(`/mystore/${param.memSeq}`).then((storeInfo) => {
      $("#infoText").text(storeInfo.shopDesc);
    });
  }
  (function () {
    // event bind
    setMyInfo();
    setMystoreInfo();
    setProductLst();
    setInfoText();

    $("#file").change(uploadImage);
  })();

  RELOAD((_parameter = {}) => {
    setInfoText();
    if (_parameter.address !== undefined) {
      readAddress(_parameter.address);
    } else {
      setMyInfo();
      setMystoreInfo();
      setProductLst();
    }
  });
</script>
