<!-- DOM -->
<div class="wrap">
  <app-header title="내물품"></app-header>
  <section class="container">
    <article class="contents">
      <ul class="tab js-tab">
        <li>
          <a class="on" id="totBtn"><span is="c-span" class="text">전체</span></a>
        </li>
        <li>
          <a id="selBtn"><span is="c-span" class="text">판매</span></a>
        </li>
        <li>
          <a id="buyBtn"><span is="c-span" class="text">구매</span></a>
        </li>
        <li>
          <a id="keepBtn"><span is="c-span" class="text">보관</span></a>
        </li>
      </ul>
      <div class="tab-con-wrap js-tab-con">
        <ul class="list-column js-tab-item on" id="totArea"></ul>
        <ul class="list-column js-tab-item" id="selArea"></ul>
        <ul class="list-column js-tab-item" id="buyArea"></ul>
        <ul class="list-column js-tab-item" id="keepArea"></ul>
      </div>
    </article>
  </section>
  <!--      <div class="fixed-hide-holder on"> -->
  <!--펼침-->
  <div class="fixed-hide-holder" id="tttt">
    <a class="btn-reg">
      <img src="images/icon/registration.png" />
    </a>
    <a class="btn-reg-prdt">
      <img src="images/icon/product-registration.png" />
    </a>
  </div>
  <div class="bg-dim"></div>
</div>
<!-- DOM-->

<script>
  var pageNo = 1;
  var pageList = 30;

  var param = {};
  param.memSeq = window.member.seq;
  param.memKind = window.member.memKind;

  var totalLst = [];
  var buyLst = [];
  var selLst = [];
  var toggleVal = "totBtn";

  let now = new Date();
  let nowYear = now.getFullYear();

  function getProdList() {
    if (toggleVal == "totBtn") getProduct("A");
    else if (toggleVal == "selBtn") getProduct("S");
    else if (toggleVal == "buyBtn") getProduct("B");
    else getProduct("K");

    return api.get(`/mystore/product/${pageNo}/${pageList}`, param).then((product) => {
      console.log(product);

      const totArea = $("#totArea");
      const selArea = $("#selArea");
      const buyArea = $("#buyArea");
      const keepArea = $("#keepArea");
      totArea.html("");
      selArea.html("");
      buyArea.html("");
      keepArea.html("");

      product.list.forEach((element) => {
        console.log(element.reqType);
        let pli = $("<li>")
          .addClass("list-item")
          .append(
            $("<a>")
              .addClass(element.completeYn === "Y" ? "s-thumb-l disable" : "s-thumb-l")
              .click(() => navigate("my_prod_item", { prodSeq: element.prodSeq }))
              .append(
                $("<div>")
                  .addClass("thumb-wrap")
                  .append(
                    $("<div>")
                      .addClass("crop")
                      .append(
                        $("<app-img>")
                          .attr("src", element.requestProductAtfilResponse[0].fileUrl)
                          .attr("alt-src", element.requestProductAtfilResponse[0].fileUrl)
                          .attr("default-src", "./images/icon/default-s.png")
                      )
                  )
              )
              .append(
                $("<dl>")
                  .append(
                    $("<dt>").append(
                      $("<span>")
                        .addClass("text")
                        .attr("is", "c-span")
                        .html(element.prodName || "&nbsp;") //공백 퍼플 깨짐 방지
                    )
                  )
                  .append(
                    $("<dd>")
                      .addClass("price")
                      .append(
                        $("<sup>").append(
                          $("<span>")
                            .addClass("text")
                            .attr("is", "c-span")
                            .html(element.reqType === "B" ? "구매희망가" : "판매희망가")
                        )
                      )
                      .append($("<em>").html(element.price))
                      .append($("<span>").addClass("text").attr("is", "c-span").html("원"))
                  )
                  .append(
                    $("<div>")
                      .addClass("labels")
                      .append(
                        $("<span>")
                          .addClass(element.reqType === "B" ? "label purchase" : "label sale")
                          .append(
                            $("<span>")
                              .addClass("text")
                              .attr("is", "c-span")
                              .html(element.reqType === "B" ? "구매" : "판매")
                          )
                      )
                      /* .append(
                        element.asYn === "Y"
                          ? $("<span>")
                              .addClass("label as")
                              .append($("<span>").addClass("text").attr("is", "c-span").html("A/S가능"))
                          : ""
                      ) */
                  )
                  .append(
                    $("<dd>")
                      .addClass("time-check")
                      .append(
                        $("<span>")
                          .addClass("text")
                          .attr("is", "c-span")
                          .html(
                            parseInt(element.regDate.substr(0, 4)) === nowYear
                              ? element.regDate.substr(5, 5).replace(/-/gi, ".")
                              : element.regDate.substr(0, 10).replace(/-/gi, ".")
                          )
                      )
                  )
                  .append(
                    $("<dd>")
                      .addClass(element.showYn === "Y" ? "btn-unlock" : "btn-lock")
                      .append(
                        $("<span>")
                          .addClass("text")
                          .attr("is", "c-span")
                          .html(element.showYn === "Y" ? "풀림" : "잠김")
                      )
                  )
              )
          );
        const cloned = pli.clone();
        cloned.find("a").click(() => navigate("my_prod_item", { prodSeq: element.prodSeq }));

        totArea.append(cloned);

        if (element.reqType === "B" && element.tempYn === "N") {
          buyArea.append(pli);
        } else if (element.reqType === "S" && element.tempYn === "N") {
          selArea.append(pli);
        } else if (element.tempYn === "Y") {
          keepArea.append(pli);
        }
      });
    });
  }

  function getProduct(typ) {
    $("#selArea").removeClass("on");
    $("#buyArea").removeClass("on");
    $("#totArea").removeClass("on");
    $("#keepArea").removeClass("on");
    $("#totBtn").removeClass("on");
    $("#selBtn").removeClass("on");
    $("#buyBtn").removeClass("on");
    $("#buyBtn").removeClass("on");
    $("#keepBtn").removeClass("on");

    if (typ == "A") {
      $("#totArea").addClass("on");
      $("#totBtn").addClass("on");
    } else if (typ == "S") {
      $("#selArea").addClass("on");
      $("#selBtn").addClass("on");
    } else if (typ == "B") {
      $("#buyArea").addClass("on");
      $("#buyBtn").addClass("on");
    } else {
      $("#keepArea").addClass("on");
      $("#keepBtn").addClass("on");
    }
  }

  $(".bg-dim").on("click", function () {
    $(".wrap, .header-top").removeAttr("style");
    $(".sheet-wrap, .bg-dim, .pop-wrap").removeClass("open");
    $(".btn-reg-prdt").css("display", "none");
  });

  function keep() {
    $(".bg-dim").addClass("open");
    $(".btn-reg-prdt").css("display", "block");
  }

  function goProduct() {
    navigate("product_register_enter");
    $(".bg-dim").removeClass("open");
    $(".btn-reg-prdt").css("display", "none");
  }

  (function () {
    getProdList();
    $("#totBtn").click(() => getProduct("A"));
    $("#selBtn").click(() => getProduct("S"));
    $("#buyBtn").click(() => getProduct("B"));
    $("#keepBtn").click(() => getProduct("K"));

    /* $(".btn-reg").click(()=> keep()); */
    $(".btn-reg").click(goProduct);
    /* dim 처리 버전
      $(".btn-reg").click(keep);
      $(".btn-reg-prdt").click(goProduct); */
  })();

  RELOAD(() => {
    getProdList();
  });
</script>
