<!-- DOM -->
<div class="wrap">
  <app-header></app-header>
  <section class="container">
    <article class="contents">
      <ul class="tab js-tab">
        <li>
          <a class="on" id="totBtn"><span is="c-span" class="text">전체</span></a>
        </li>
        <li>
          <a id="selBtn"><span is="c-span" class="text">판매</span></a>
        </li>
        <li>
          <a id="buyBtn"><span is="c-span" class="text">구매</span></a>
        </li>
      </ul>
      <div class="tab-con-wrap js-tab-con">
        <ul class="list-column js-tab-item on" id="totArea"></ul>
        <ul class="list-column js-tab-item" id="selArea"></ul>
        <ul class="list-column js-tab-item" id="buyArea"></ul>
        <ul class="list-column js-tab-item" id="keepArea"></ul>
      </div>
    </article>
  </section>
  <!--      <div class="fixed-hide-holder on"> -->
  <!--펼침-->

  <div class="bg-dim"></div>
</div>
<!-- DOM-->

<script>
  var pageNo = 1;
  var pageList = 30;

  var totalLst = [];
  var buyLst = [];
  var selLst = [];
  var toggleVal = "totBtn";

  function getProdList() {
    const parameter = GET_PARAMETER() || {};
    const { memSeq, memKind, shopName } = parameter;

    var param = { memSeq, memKind };
    const pageNo = 1;
    const pageSize = 100;

    let now = new Date();
    let nowYear = now.getFullYear();

    $("app-header").attr("title", shopName);

    if (toggleVal == "totBtn") getProduct("A");
    else if (toggleVal == "selBtn") getProduct("S");
    else getProduct("B");

    return api.get(`/dealerstore/products/${pageNo}/${pageSize}`, { memSeq }).then((product) => {
      console.log("타냐");
      const totArea = $("#totArea");
      const selArea = $("#selArea");
      const buyArea = $("#buyArea");

      console.log("데이터");
      console.log(product);

      product.list.forEach((element) => {
        console.log(element.reqType);
        let pli = $("<li>")
          .addClass("list-item")
          .append(
            $("<a>")
              .addClass(element.completeYn === "Y" ? "s-thumb-l disable" : "s-thumb-l")
              .click(() => navigate("prod_item", { prodSeq: element.prodSeq }))
              .append(
                $("<div>")
                  .addClass("thumb-wrap")
                  .append(
                    $("<div>")
                      .addClass("crop")
                      .append(
                        $("<app-img>")
                          .attr("src", element.requestProductAtfilResponse[0].fileUrl)
                          .attr("alt-src", element.requestProductAtfilResponse[0].fileUrl)
                          .attr("default-src", "./images/icon/default-s.png")
                      )
                  )
              )
              .append(
                $("<dl>")
                  .append(
                    $("<dt>").append(
                      $("<span>")
                        .addClass("text")
                        .attr("is", "c-span")
                        .html(element.prodName || "&nbsp;") //공백 퍼플 깨짐 방지
                    )
                  )
                  .append(
                    $("<dd>")
                      .addClass("price")
                      .append(
                        $("<sup>").append(
                          $("<span>")
                            .addClass("text")
                            .attr("is", "c-span")
                            .html(element.reqType === "B" ? "구매희망가" : "판매희망가")
                        )
                      )
                      .append($("<em>").html(element.price))
                      .append($("<span>").addClass("text").attr("is", "c-span").html("원"))
                  )
                  .append(
                    $("<div>")
                      .addClass("labels")
                      .append(
                        $("<span>")
                          .addClass(element.reqType === "B" ? "label purchase" : "label sale")
                          .append(
                            $("<span>")
                              .addClass("text")
                              .attr("is", "c-span")
                              .html(element.reqType === "B" ? "구매" : "판매")
                          )
                      )
                  )
                  .append(
                    $("<dd>")
                      .addClass("time-check")
                      .append(
                        $("<span>")
                          .addClass("text")
                          .attr("is", "c-span")
                          .html(
                            parseInt(element.regDate.substr(0, 4)) === nowYear
                              ? element.regDate.substr(5, 5).replace(/-/gi, ".")
                              : element.regDate.substr(0, 10).replace(/-/gi, ".")
                          )
                      )
                  )
              )
          );
        const cloned = pli.clone();
        cloned.find("a").click(() => navigate("prod_item", { seq: element.prodSeq, memSeq }));

        totArea.append(cloned);

        if (element.reqType === "B" && element.tempYn === "N") {
          buyArea.append(pli);
        } else if (element.reqType === "S" && element.tempYn === "N") {
          selArea.append(pli);
        } else if (element.tempYn === "Y") {
          keepArea.append(pli);
        }
      });
    });
  }

  function getProduct(typ) {
    $("#selArea").removeClass("on");
    $("#buyArea").removeClass("on");
    $("#totArea").removeClass("on");
    $("#totBtn").removeClass("on");
    $("#selBtn").removeClass("on");
    $("#buyBtn").removeClass("on");

    if (typ == "A") {
      $("#totArea").addClass("on");
      $("#totBtn").addClass("on");
    } else if (typ == "S") {
      $("#selArea").addClass("on");
      $("#selBtn").addClass("on");
    } else {
      $("#buyArea").addClass("on");
      $("#buyBtn").addClass("on");
    }
  }

  (function () {
    const parameter = GET_PARAMETER() || {};
    const { memSeq, memKind, shopName } = parameter;
    getProdList();
    $("app-header").attr("title", "상점");
    $("#totBtn").click(() => getProduct("A"));
    $("#selBtn").click(() => getProduct("S"));
    $("#buyBtn").click(() => getProduct("B"));
  })();
</script>
