<!-- DOM -->
<div class="wrap">
  <app-header title="상점"></app-header>
  <section class="container">
    <article class="contents">
      <div class="user category">
        <div class="user-profile">
          <span class="thumb-larger">
            <img alt="" id="fileUrl" src="images/no_profile.png" />
          </span>
          <div class="user-info">
            <span class="label" id="uTypClass"><span class="text" is="c-span" name="uTyp"></span></span>
            <span class="name" is="c-span" id="shopName"></span>
          </div>
        </div>
        <div class="intro">
          <div class="text" id="intro-text"></div>
          <a class="btn-intro" id="btn-intro">열기</a>
        </div>
        <ul class="activity-count" id="delaer-count" style="display: none">
          <li>
            <a>
              <em class="sendCnt">0</em>
              <span is="c-span" class="title text">보낸요청서</span>
            </a>
          </li>
          <li>
            <a class="btn-my-link">
              <em class="reciveCnt">0</em>
              <span is="c-span" class="title text">받은요청서</span>
            </a>
          </li>
          <li>
            <a>
              <em class="delCnt">0</em>
              <span is="c-span" class="title text">전문가요청서</span>
            </a>
          </li>
          <li>
            <a class="btn-my-link" id="moveDealerStore">
              <em class="prodCnt">0</em>
              <span is="c-span" class="title text">내물품</span>
            </a>
          </li>
        </ul>
        <ul class="activity-count" id="user-count" style="display: none">
          <li>
            <a>
              <em class="sellCnt">0</em>
              <span is="c-span" class="title text">판매요청서</span>
            </a>
          </li>
          <li>
            <a class="btn-my-link">
              <em class="buyCnt">0</em>
              <span is="c-span" class="title text">구매요청서</span>
            </a>
          </li>
          <li>
            <a class="btn-my-link" id="moveDealerStore">
              <em class="prodCnt">0</em>
              <span is="c-span" class="title text">내물품</span>
            </a>
          </li>
        </ul>
      </div>
      <ul class="list-column inherit" id="prdLst">
        <li id="empty" class="inherit" style="display: none">
          <div class="empty inherit">
            <img class="ico-warning" src="images/icon/warning.png" />
            <span class="text copy" is="c-span">물품이 아무것도 없어요!</span>
          </div>
        </li>
      </ul>
    </article>
  </section>
</div>
<!-- DOM-->
<script>
  var param = {};
  const parameter = GET_PARAMETER() || {};
  const { memSeq, memKind } = parameter;

  console.log("memSeq :: " + memSeq);
  console.log("memKind :: " + memKind);

  let existStore = false;
  let shopSeq = 0;
  let shopName = "";

  function setMyInfo() {
    return api.get(`/mystore/${memSeq}`).then((storeInfo) => {
      if (storeInfo.error !== undefined && storeInfo.error.code !== "00") {
        return;
      }
      existStore = true;
      shopSeq = storeInfo.seq;
      $("#shopName").text(storeInfo.shopName);
      shopName = storeInfo.shopName;
      $("#btn-intro").off();
      $(".intro").removeClass("on");
      $("#btn-intro").click(() => {
        $(".intro").toggleClass("on");
        console.log("test");
      });
      if (storeInfo.shopDesc === null || storeInfo.shopDesc === "") {
        $("#intro-text")
          .text("내상점 소개글이 없습니다." + "\n" + "내용을 입력해주세요")
          .addClass("dim-txt");
        $("#btn-intro").off();
      } else {
        $("#intro-text").text(storeInfo.shopDesc).removeClass("dim-txt");
      }

      if (memKind === "P") {
        $("[name=uTyp]").html("중고전문가");
        $("#uTypClass").addClass("dealer");
      } else {
        $("[name=uTyp]").html("유저");
        $("#uTypClass").addClass("user");
      }

      if (
        storeInfo.fileUrl !== undefined &&
        storeInfo.fileUrl !== null &&
        storeInfo.fileUrl !== "null" &&
        storeInfo.fileUrl.length > 0
      ) {
        $("#fileUrl").attr("src", storeInfo.fileUrl);
      }

      $("#shopAddr1").val(storeInfo.shopAddr1);
      $("#shopAddr2").val(storeInfo.shopAddr2);
      $("#shopPhone").val(storeInfo.shopPhone);

      if (storeInfo.compRegNum != "") {
        $("#bizTyp").text("결제완료");
      } else {
        $("#bizTyp").text("결제대기");
        $("#bizTyp").removeClass("indicator");
      }
      /*      if (storeInfo.shopDesc === null) {
        $(".empty").show();
      } else {
        $(".copy").show().text(storeInfo.shopDesc);
      }*/
    });
  }

  function setProductLst() {
    const prodUl = $("#prdLst");
    prodUl.html("");
    if (list !== null) {
      list.reload();
    }
  }

  function setMystoreInfo() {
    if (memKind === "P") {
      $("#user-count").hide();
      $("#delaer-count").show();
      $("#business-container").show();
      $("#dealer_package").show();
    } else if (memKind === "G") {
      $("#user-count").show();
      $("#delaer-count").hide();
      $("#business-container").hide();
      $("#dealer_package").hide();
    }

    return api.get(`/mystore/info/${memSeq}`, { memKind }).then((data) => {
      $("#prdTitle").text(`(${data.content.cnt})`);
      data.content.forEach((element) => {
        if (element.type === "보낸요청서") $(".sendCnt").html(element.cnt);
        if (element.type === "받은요청서") $(".reciveCnt").html(element.cnt);
        if (element.type === "딜러요청서") $(".delCnt").html(element.cnt);
        if (element.type === "내물품") $(".prodCnt").html(element.cnt);
        $("#prdTitle").text(element.cnt);
        if (element.type === "판매요청서") $(".sellCnt").html(element.cnt);
        if (element.type === "구매요청서") $(".buyCnt").html(element.cnt);
      });
    });
  }

  let editing = false;
  let fileSeq = 0;
  let zipCode = "";

  function dealerAlert() {
    Alert("내 상점 수정", "내 상점 정보의 수정은 고객센터로 문의 바랍니다.");
  }

  /**
   * List Class 적용
   * 아래 항목은 반드시 선언되어야 한다.
   *
   * li : List Class Instance
   * renderList: List Container Dom 을 반환
   * renderItem: List Item Dom 을 추가
   * onRequest: 데이터를 가져오는 함수
   * getPageCount: 한 번에 가져올 데이터 수
   */
  let list = null;

  function renderList() {
    const container = $("#prdLst");
    return container[0];
  }

  function renderItem(element) {
    const fileUrl =
      element.requestProductAtfilResponse &&
      element.requestProductAtfilResponse[0] &&
      element.requestProductAtfilResponse[0].fileUrl;
    const fileUrlOrg =
      element.requestProductAtfilResponse &&
      element.requestProductAtfilResponse[0] &&
      element.requestProductAtfilResponse[0].fileUrlOrg;
    // 영상 case 때문에 fileUrlOrg 값 사용하면 안됨
    const img = $("<app-img>")
      .attr("src", fileUrl)
      .attr("alt-src", fileUrl)
      .attr("default-src", "./images/icon/default-s.png");

    const prodLi = $("<li>")
      .addClass("list-item")
      .append(
        $("<a>")
          .addClass(element.reqStatus === "Y" ? "s-thumb-l disable" : "s-thumb-l")
          .click(() => navigate("prod_item", { seq: element.prodSeq, memSeq, memKind: element.memKind }))
          .append($("<div>").addClass("thumb-wrap").append($("<div>").addClass("crop").append(img)))
          .append(
            $("<dl>")
              .append($("<dt>").append($("<span>").addClass("text").attr("is", "c-span").html(element.prodName)))
              .append(
                $("<dd>")
                  .addClass("price")
                  .append(
                    $("<sup>").append(
                      $("<span>")
                        .addClass(element.reqType === "B" ? "text purchase" : "text sale")
                        // .addClass("text")
                        .attr("is", "c-span")
                        .html(element.reqType === "B" ? "구매희망가" : "판매희망가")
                    )
                  )
                  .append($("<em>").html(element.price))
                  .append($("<span>").addClass("text").attr("is", "c-span").html("원"))
              )

              //
              .append(
                $("<div>")
                  .addClass("labels")
                  .append(
                    $("<span>")
                      .addClass(element.reqType === "B" ? "label purchase" : "label sale")
                      .append($("<span>").addClass("text").attr("is", "c-span").html(element.reqTypeName))
                  )
                  .append(
                    element.asYn === "Y"
                      ? $("<span>")
                          .addClass("label as")
                          .append($("<span>").addClass("text").attr("is", "c-span").html("A/S가능"))
                      : ""
                  )
              )

              //
              .append(
                $("<dd>")
                  .addClass("time-check")
                  .append(
                    $("<span>")
                      .addClass("text")
                      .attr("is", "c-span")
                      .html(element.regDate.substr(0, 10).replace(/-/gi, "."))
                  )
              )
          )
      );

    const prodUl = $("#prdLst");
    prodUl.append(prodLi);
    $(".crop img").on("load", (e) => {
      if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
        $(e.target).addClass("landscape");
      }
    });
  }

  function onRequest(page, pageCount) {
    return new Promise((resolve, reject) => {
      api
        .get(`/dealerstore/products/${page}/${pageCount}`, { memSeq })
        .then((res) => {
          if (res.list.length <= 0) {
            $("#empty").show();
          }
          console.log(res);
          resolve(res);
        })
        .catch((e) => {
          reject(e);
        });
    });
  }

  function getPageCount() {
    return 50;
  }

  /**
   * 페이지가 처음 화면에 표시 될 때, 실행되는 함수
   * 초기 화면 생성 및 [이벤트 바인딩]을 수행한다.
   */
  (function () {
    // event bind
    setMyInfo();
    setMystoreInfo();
    /*    $(".js-tab a").on("click", function (e) {
      e.preventDefault();
      $(this).closest(".js-tab").find("a").removeClass("on");
      $(this).addClass("on");
      let index = $(this).closest(".js-tab").find("a").index(this);
      $(this).closest(".js-tab").next().find(".js-tab-item").removeClass("on");
      $(this).closest(".js-tab").next().find(".js-tab-item").eq(index).addClass("on");
    });*/
    const { memSeq } = GET_PARAMETER() || {};
    $("#moveDealerStore").click(() => {
      navigate("nextProdList", { memSeq, shopName });
    });
  })();

  /**
   * PAGE CYCLE FUNCTION
   * 자신이 호출한 페이지가 사라져, 다시 화면에 표시 될 때 실행
   */
  RELOAD((_parameter = {}) => {
    if (_parameter.address !== undefined) {
      readAddress(_parameter.address);
    } else {
      setMyInfo();
      setMystoreInfo();
      setProductLst();
    }
  });
</script>
<!-- SCRIPT -->
