<div class="wrap gray">
  <app-header title="공지사항"></app-header>
  <section class="container">
    <article class="contents">
      <ul class="list-flex js-accordion">
        <li class="list-item">
          <a class="btn-accordion">
            <span is="c-span" class="text">공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 </span>
            <div class="util-down">
              <img class="down" src="../common/images/icon/down.png" />
              <span class="time-check" is="c-span">1시간전</span>
            </div>
          </a>
          <div class="body-copy js-acc-con">
            <p><span is="c-span" class="text">내용이들어갑니다 내용이들어 업데이트 안내</span></p>
            <p>
              <span is="c-span" class="text"
                >내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다
                내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트
                안내</span
              >
            </p>
            <a class="btn-down">
              <span class="label-file pdf"><span is="c-span" class="text">pdf</span></span>
              <span class="file-name text" is="c-span">업데이트안내사항.pdf</span>
            </a>
          </div>
        </li>
        <li class="list-item">
          <a class="btn-accordion">
            <span is="c-span" class="text">공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 </span>
            <div class="util-down">
              <img class="down" src="../common/images/icon/down.png" />
              <span class="time-check" is="c-span">1시간전</span>
            </div>
          </a>
          <div class="body-copy js-acc-con">
            <p><span is="c-span" class="text">내용이들어갑니다 내용이들어 업데이트 안내</span></p>
            <p>
              <span is="c-span" class="text"
                >내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다
                내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트
                안내</span
              >
            </p>
            <a class="btn-down">
              <span class="label pdf"><span is="c-span" class="text">pdf</span></span>
              <span class="file-name text" is="c-span">업데이트안내사항.pdf</span>
            </a>
          </div>
        </li>
        <li class="list-item">
          <a class="btn-accordion">
            <span is="c-span" class="text">공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 </span>
            <div class="util-down">
              <img class="down" src="../common/images/icon/down.png" />
              <span class="time-check" is="c-span">1시간전</span>
            </div>
          </a>
          <div class="body-copy js-acc-con">
            <p><span is="c-span" class="text">내용이들어갑니다 내용이들어 업데이트 안내</span></p>
            <p>
              <span is="c-span" class="text"
                >내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다
                내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트
                안내</span
              >
            </p>
            <a class="btn-down">
              <span class="label pdf"><span is="c-span" class="text">pdf</span></span>
              <span class="file-name text" is="c-span">업데이트안내사항.pdf</span>
            </a>
          </div>
        </li>
        <li class="list-item">
          <a class="btn-accordion">
            <span is="c-span" class="text">공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 공지 제목 </span>
            <div class="util-down">
              <img class="down" src="../common/images/icon/down.png" />
              <span class="time-check" is="c-span">1시간전</span>
            </div>
          </a>
          <div class="body-copy js-acc-con">
            <p><span is="c-span" class="text">내용이들어갑니다 내용이들어 업데이트 안내</span></p>
            <p>
              <span is="c-span" class="text"
                >내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다
                내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트 안내내용이들어갑니다 내용이들어 업데이트
                안내</span
              >
            </p>
            <a class="btn-down">
              <span class="label pdf"><span is="c-span" class="text">pdf</span></span>
              <span class="file-name text" is="c-span">업데이트안내사항.pdf</span>
            </a>
          </div>
        </li>
      </ul>
    </article>
  </section>
</div>
