<div class="wrap gray">
  <app-header title="운영정책"></app-header>
  <section class="container">
    <article id="contents" class="contents">
      <!-- 관리자 등록 컨텐츠 시작 영역 -->
    </article>
  </section>
</div>

<script>
  function selectOppolicy() {
    api.get(`info/terms`, { termsKind: "O" }).then((response) => {
      $("#contents").html($("#contents").html(response.content[0].content).text());
    });
  }

  (function () {
    selectOppolicy();
  })();
</script>
<!-- SCRIPT -->
