<div class="wrap gray">
  <app-header title="약관내용"></app-header>
  <section class="container">
    <article class="contents">
      <ul class="tab js-tab">
        <li>
          <a class="on" id="policy"><span is="c-span" class="text">이용약관</span></a>
        </li>
        <li>
          <a id="privacy"><span is="c-span" class="text">개인정보취급처리방침</span></a>
        </li>
      </ul>
      <div id="policyContents" class="tab-gap js-tab-con on">
        <!-- 관리자 등록 컨텐츠 시작 영역 -->
        <!--        <ul class="list-larger js-tab-item on">-->
        <!--          <li class="list-item">-->
        <!--            <h3>여러분을 환영합니다.</h3>-->
        <!--            <p>-->
        <!--              네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과-->
        <!--              관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하-->
        <!--              ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한-->
        <!--              정보를 포함하고 있습니다.-->
        <!--            </p>-->

        <!--            <p>-->
        <!--              네이버 서비스를 이용하시거나 네이버 서비스 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을-->
        <!--              확인하거나 동의하게 되므로, 잠시 시간을 내시어 주의 깊게 살펴봐 주시기 바랍니다-->
        <!--            </p>-->
        <!--          </li>-->
        <!--          <li class="list-item">-->
        <!--            <h3>여러분을 환영합니다.</h3>-->
        <!--            <p>-->
        <!--              네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과-->
        <!--              관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하-->
        <!--              ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한-->
        <!--              정보를 포함하고 있습니다.-->
        <!--            </p>-->

        <!--            <p>-->
        <!--              네이버 서비스를 이용하시거나 네이버 서비스 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을-->
        <!--              확인하거나 동의하게 되므로, 잠시 시간을 내시어 주의 깊게 살펴봐 주시기 바랍니다-->
        <!--            </p>-->
        <!--          </li>-->
        <!--          <li class="list-item">-->
        <!--            <h3>여러분을 환영합니다.</h3>-->
        <!--            <p>-->
        <!--              네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과-->
        <!--              관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하-->
        <!--              ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한-->
        <!--              정보를 포함하고 있습니다.-->
        <!--            </p>-->

        <!--            <p>-->
        <!--              네이버 서비스를 이용하시거나 네이버 서비스 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을-->
        <!--              확인하거나 동의하게 되므로, 잠시 시간을 내시어 주의 깊게 살펴봐 주시기 바랍니다-->
        <!--            </p>-->
        <!--          </li>-->
        <!--          <li class="list-item">-->
        <!--            <h3>여러분을 환영합니다.</h3>-->
        <!--            <p>-->
        <!--              네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과-->
        <!--              관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하-->
        <!--              ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한-->
        <!--              정보를 포함하고 있습니다.-->
        <!--            </p>-->

        <!--            <p>-->
        <!--              네이버 서비스를 이용하시거나 네이버 서비스 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을-->
        <!--              확인하거나 동의하게 되므로, 잠시 시간을 내시어 주의 깊게 살펴봐 주시기 바랍니다-->
        <!--            </p>-->
        <!--          </li>-->
        <!--        </ul>-->
        <!--        <ul class="list-larger js-tab-item ">-->
        <!--          <li class="list-item">-->
        <!--            <h3>다양한 네이버 서비스를 즐겨보세요.</h3>-->
        <!--            <p>-->
        <!--              네이버는 www.naver.com을 비롯한 네이버 도메인의 웹사이트 및 응용프로그램(어플리케이션, 앱)을 통해 정보-->
        <!--              검색, 다른 이용자와의 커뮤니케이션, 콘텐츠 제공, 상품 쇼핑 등 여러분의 생활에 편리함을 더할 수 있는 다양한-->
        <!--              서비스를 제공하고 있습니다. 여러분은 PC, 휴대폰 등 인터넷 이용이 가능한 각종 단말기를 통해 각양각색의-->
        <!--              네이버 서비스를 자유롭게 이용하실 수 있으며, 개별 서비스들의 구체적인 내용은 각 서비스 상의 안내,-->
        <!--              공지사항, 네이버 웹고객센터(이하‘고객센터’) 도움말 등에서 쉽게 확인하실 수 있습니다.-->
        <!--            </p>-->
        <!--          </li>-->
        <!--          <li class="list-item">-->
        <!--            <h3>다양한 네이버 서비스를 즐겨보세요.</h3>-->
        <!--            <p>-->
        <!--              네이버는 www.naver.com을 비롯한 네이버 도메인의 웹사이트 및 응용프로그램(어플리케이션, 앱)을 통해 정보-->
        <!--              검색, 다른 이용자와의 커뮤니케이션, 콘텐츠 제공, 상품 쇼핑 등 여러분의 생활에 편리함을 더할 수 있는 다양한-->
        <!--              서비스를 제공하고 있습니다. 여러분은 PC, 휴대폰 등 인터넷 이용이 가능한 각종 단말기를 통해 각양각색의-->
        <!--              네이버 서비스를 자유롭게 이용하실 수 있으며, 개별 서비스들의 구체적인 내용은 각 서비스 상의 안내,-->
        <!--              공지사항, 네이버 웹고객센터(이하‘고객센터’) 도움말 등에서 쉽게 확인하실 수 있습니다.-->
        <!--            </p>-->
        <!--          </li>-->
        <!--          <li class="list-item">-->
        <!--            <h3>다양한 네이버 서비스를 즐겨보세요.</h3>-->
        <!--            <p>-->
        <!--              네이버는 www.naver.com을 비롯한 네이버 도메인의 웹사이트 및 응용프로그램(어플리케이션, 앱)을 통해 정보-->
        <!--              검색, 다른 이용자와의 커뮤니케이션, 콘텐츠 제공, 상품 쇼핑 등 여러분의 생활에 편리함을 더할 수 있는 다양한-->
        <!--              서비스를 제공하고 있습니다. 여러분은 PC, 휴대폰 등 인터넷 이용이 가능한 각종 단말기를 통해 각양각색의-->
        <!--              네이버 서비스를 자유롭게 이용하실 수 있으며, 개별 서비스들의 구체적인 내용은 각 서비스 상의 안내,-->
        <!--              공지사항, 네이버 웹고객센터(이하‘고객센터’) 도움말 등에서 쉽게 확인하실 수 있습니다.-->
        <!--            </p>-->
        <!--          </li>-->
        <!--          <li class="list-item">-->
        <!--            <h3>다양한 네이버 서비스를 즐겨보세요.</h3>-->
        <!--            <p>-->
        <!--              네이버는 www.naver.com을 비롯한 네이버 도메인의 웹사이트 및 응용프로그램(어플리케이션, 앱)을 통해 정보-->
        <!--              검색, 다른 이용자와의 커뮤니케이션, 콘텐츠 제공, 상품 쇼핑 등 여러분의 생활에 편리함을 더할 수 있는 다양한-->
        <!--              서비스를 제공하고 있습니다. 여러분은 PC, 휴대폰 등 인터넷 이용이 가능한 각종 단말기를 통해 각양각색의-->
        <!--              네이버 서비스를 자유롭게 이용하실 수 있으며, 개별 서비스들의 구체적인 내용은 각 서비스 상의 안내,-->
        <!--              공지사항, 네이버 웹고객센터(이하‘고객센터’) 도움말 등에서 쉽게 확인하실 수 있습니다.-->
        <!--            </p>-->
        <!--          </li>-->
        <!--          <li class="list-item">-->
        <!--            <h3>다양한 네이버 서비스를 즐겨보세요.</h3>-->
        <!--            <p>-->
        <!--              네이버는 www.naver.com을 비롯한 네이버 도메인의 웹사이트 및 응용프로그램(어플리케이션, 앱)을 통해 정보-->
        <!--              검색, 다른 이용자와의 커뮤니케이션, 콘텐츠 제공, 상품 쇼핑 등 여러분의 생활에 편리함을 더할 수 있는 다양한-->
        <!--              서비스를 제공하고 있습니다. 여러분은 PC, 휴대폰 등 인터넷 이용이 가능한 각종 단말기를 통해 각양각색의-->
        <!--              네이버 서비스를 자유롭게 이용하실 수 있으며, 개별 서비스들의 구체적인 내용은 각 서비스 상의 안내,-->
        <!--              공지사항, 네이버 웹고객센터(이하‘고객센터’) 도움말 등에서 쉽게 확인하실 수 있습니다.-->
        <!--            </p>-->
        <!--          </li>-->
        <!--        </ul>-->
      </div>
      <div id="privacyContents" class="tab-gap js-tab-con">
        <!-- 관리자 등록 컨텐츠 시작 영역 -->
      </div>
    </article>
  </section>
</div>
<!-- SCRIPT -->

<script>
  function selectPolicy() {
    api.get(`info/terms`, { termsKind: "S" }).then((response) => {
      $("#policyContents").html($("#policyContents").html(response.content[0].content).text());
    });
  }

  function selectPrivate() {
    api.get(`info/terms`, { termsKind: "P" }).then((response) => {
      $("#privacyContents").html($("#privacyContents").html(response.content[0].content).text());
    });
  }

  function setPrivacy() {
    $("#policy").attr("class", "");
    $("#privacy").attr("class", "on");

    $("#privacyContents").show();
    $("#policyContents").hide();
  }

  function setPolicy() {
    $("#policy").attr("class", "on");
    $("#privacy").attr("class", "");

    $("#policyContents").show();
    $("#privacyContents").hide();
  }

  (function () {
    $("#policy").click(setPolicy);
    $("#privacy").click(setPrivacy);
    $("#privacyContents").hide();
    selectPolicy();
    selectPrivate();
  })();
</script>
<!-- SCRIPT -->
