<div class="wrap">
  <app-header title="물품등록"></app-header>
  <section class="container">
    <article class="contents">
      <div class="deal-product-container">
        <h2><span class="text" is="c-span">물품 등록 목적을 선택해주세요</span></h2>
        <div class="deal-btn-wrap">
          <a class="btn-deal sale" id="request_sell"><span class="btn-title text" is="s-span">판매등록</span></a>
          <a class="btn-deal purchase" id="request_buy"><span class="btn-title text" is="s-span">구매등록</span></a>
        </div>
      </div>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<script>
  $("#request_sell").click(() => navigate("product_regist", { tradeType: "S" }));
  $("#request_buy").click(() => navigate("product_regist", { tradeType: "B" }));
</script>
