<div class="wrap gray">
  <app-header></app-header>
  <section class="container">
    <article class="contents">
      <div class="slide-wide">
        <ul class="swiper-wrapper" id="requestProductAtfilResponse"></ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="bar2">
        <span class="prdt-name" id="prodName"></span>
        <div class="inner">
          <span class="time-check"><span is="c-span" class="text" id="regDate">2020.01.19</span></span>
          <span class="price">
            <sup id="reqTypeContainer"><span is="c-span" class="text" id="reqType"></span></sup>
            <em id="price"></em>
            <span is="c-span" class="text">원</span>
          </span>
        </div>
      </div>
      <div class="prdt-info">
        <p id="comments"></p>
      </div>
      <div class="user">
        <div class="user-profile">
          <span class="thumb-medium edit">
            <img src="images/no_profile.png" alt="" id="profileImage" />
          </span>
          <div class="user-info">
            <span class="label" id="memKind"><span class="text" is="c-span" id="memKindName"></span></span>
            <span class="name" is="c-span" id="memName"></span>
          </div>
        </div>
      </div>
      <ul class="list-small-input">
        <li class="list-item">
          <div class="item-text pin">
            <input type="text" class="shape-1" disabled id="address" />
          </div>
        </li>
        <!-- <li class="list-item">
          <div class="item-text">
            <input type="text" class="shape-1" disabled id="shopAddr2" />
          </div>
        </li> -->
      </ul>
      <ul class="list-small-incomplete">
        <li class="list-item">
          <a class="item-text">
            <span is="c-span" class="text" id="prdTitle">상점 물품</span>
            <span is="c-span" class="text more" id="moreView">더보기</span>
          </a>
          <div class="slide-medium swiper-container-initialized swiper-container-horizontal">
            <ul class="list-column" id="prdLst"></ul>
          </div>
        </li>
      </ul>
    </article>
  </section>
  <div class="bar-bottom-fixed">
    <a id="tel" class="btn-phone"><span is="c-span" class="text">전화걸기</span></a>
    <a class="btn-fit-medium" id="chat"><span is="c-span" class="text" id="tryChat">채팅하기</span></a>
  </div>
  <div class="bg-dim"></div>
</div>

<script>
  let parameter = GET_PARAMETER() || {};
  let memSeq = parameter.memSeq;
  let memKind = parameter.memKind;
  let completedYn;

  console.log("memSeq :: " + memSeq);
  console.log("memKind :: " + memKind);

  function renderFile(file) {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");

    const { fileUrl } = file.file;
    const { mainYn } = file;
    console.warn("file", file);

    const li = $("<li>").addClass("swiper-slide");
    let a = $("<a>").addClass(`thumb ${completedYn === "Y" && "disable"}`);
    const img = $("<app-img>").attr("src", fileUrl).attr("alt-src", fileUrl);
    if (fileUrl) {
      if (
        fileUrl.includes(".mp4") ||
        fileUrl.includes(".avi") ||
        fileUrl.includes(".mpeg") ||
        fileUrl.includes(".mpg") ||
        fileUrl.includes(".mkv")
      ) {
        // TODO : 퍼블 필요 ( height 값 고정 임시처리 )
        const video = $('<video controls style="width:100%; height:312px;"><source src="" type="video/mp4" /></video>');
        video.find("source").attr("src", fileUrl);
        a = $("<a>").addClass(`thumb ${completedYn === "Y" && "disable"}`);
        a.css("transform", "translate(0,0)");
        a.append(video);
      } else {
        img.attr("src", fileUrl);
        img.attr("alt-src", fileUrl);
        img.attr("default-src", "./images/icon/default-s.png");
        a.append(img);
      }
    }
    li.append(a);
    if (mainYn == "Y") {
      requestProductAtfilResponse.prepend(li);
    } else {
      requestProductAtfilResponse.append(li);
    }
  }

  let roomSeq;
  let sendMemSeq;
  let recvMemSeq;
  let prodSeq;
  function renderRequest(request) {
    console.log("request", request);
    $("app-header").attr("title", request.shopInfo.shopName);
    // $("#comments").html(request.prodDesc);
    $("#comments").html(request.prodDesc && request.prodDesc.replace(/\n/gim, "<br/>"));

    // 거래상태에 따른 처리
    reqStatus = request.reqStatus;
    completedYn = request.completeYn;
    if (reqStatus === "Y") {
      $("#action").removeClass("primary").addClass("disable");
    }

    Array.from(request.attachFileList).forEach(renderFile);

    const reqType = request.reqType;
    if (reqType === "S") {
      $("#reqTypeContainer").addClass("sale");
      $("#reqType").text("판매희망가");
    } else if (reqType === "B") {
      $("#reqTypeContainer").addClass("purchase");
      $("#reqType").text("구매희망가");
    }

    if (request.member.memKind === "P") {
      $("#memKind").addClass("dealer");
      $("#memKindName").text("중고전문가");
    } else if (request.member.memKind === "G") {
      $("#memKind").addClass("user");
      $("#memKindName").text("유저");
    }

    $("#prodName").text(request.prodName);
    $("#price").text(formatNumber(request.price));
    $("#regDate").text(request.regDateR.substr(0, 10).replace(/-/gi, "."));
    $("#memName").text(request.shopInfo.shopName);
    $("#memHp").val(request.shopInfo.shopPhone);
    if (request.shopInfo.file !== null) {
      $("#profileImage").attr("src", request.shopInfo.file.fileUrl);
    }
    $("#shopAddr1").val(request.shopAddr1);
    $("#shopAddr2").val(request.shopAddr2);
    $("#address").val(request.address);
    $("#tel").attr("href", `tel:${request.memHp}`);

    roomSeq = request.roomSeq;
    sendMemSeq = window.memSeq;
    recvMemSeq = request.memSeq;
    prodSeq = request.seq;
  }

  function getRequest() {
    const parameter = GET_PARAMETER() || {};
    const { seq } = parameter;
    console.log("getRequest 함수에서의 seq :: ", seq);
    return api.get(`products/${seq}`).then(renderRequest);
  }

  function setProductLst() {
    var param = GET_PARAMETER() || {};
    const { memSeq } = GET_PARAMETER() || {};
    // param.memSeq = window.member.seq;
    // param.memKind = window.member.memKind;
    return api.get(`/dealerstore/products/1/30`, { memSeq }).then((productInfo) => {
      $("#prdTitle").append(`(${productInfo.total})`);
      $("#myProd").html(productInfo.total);

      const prodUl = $("#prdLst");
      prodUl.html("");

      productInfo.list.forEach((element) => {
        const fileUrl =
          element.requestProductAtfilResponse &&
          element.requestProductAtfilResponse[0] &&
          element.requestProductAtfilResponse[0].fileUrl;
        const fileUrlOrg =
          element.requestProductAtfilResponse &&
          element.requestProductAtfilResponse[0] &&
          element.requestProductAtfilResponse[0].fileUrlOrg;
        const img = $("<app-img>")
          .attr("src", fileUrl)
          .attr("alt-src", fileUrlOrg)
          .attr("default-src", "./images/icon/default-s.png");

        console.info("상품 ", element);
        const prodLi = $("<li>")
          .addClass("list-item")
          .append(
            $("<a>")
              .addClass(element.completeYn === "Y" ? "s-thumb-l disable" : "s-thumb-l")
              .click(() =>
                navigateAndReplace("prod_item", { seq: element.prodSeq, memSeq: element.memSeq, memKind: element.memKind })
              )
              .append($("<div>").addClass("thumb-wrap").append($("<div>").addClass("crop").append(img)))
              .append(
                $("<dl>")
                  .append(
                    $("<dt>").append(
                      $("<span>")
                        .addClass("text")
                        .attr("is", "c-span")
                        .html(element.prodName || "&nbsp;") //공백 퍼플 깨짐 방지
                    )
                  )
                  .append(
                    $("<dd>")
                      .addClass("price")
                      .append(
                        $("<sup>").append(
                          $("<span>")
                            .addClass(element.reqType === "B" ? "text purchase" : "text sale")
                            // .addClass("text")
                            .attr("is", "c-span")
                            .html(element.reqType === "B" ? "구매희망가" : "판매희망가")
                        )
                      )
                      .append($("<em>").html(element.price))
                      .append($("<span>").addClass("text").attr("is", "c-span").html("원"))
                  )

                  //
                  .append(
                    $("<div>")
                      .addClass("labels")
                      .append(
                        $("<span>")
                          .addClass(element.reqType === "B" ? "label purchase" : "label sale")
                          .append(
                            $("<span>")
                              .addClass("text")
                              .attr("is", "c-span")
                              .html(element.reqType === "B" ? "구매" : "판매")
                          )
                      )
                      .append(
                        element.asYn === "Y"
                          ? $("<span>")
                              .addClass("label as")
                              .append($("<span>").addClass("text").attr("is", "c-span").html("A/S가능"))
                          : ""
                      )
                  )

                  //
                  .append(
                    $("<dd>")
                      .addClass("time-check")
                      .append($("<span>").addClass("text").attr("is", "c-span").html(element.regDateT))
                  )
              )
          );
        prodUl.append(prodLi);
      });
    });
  }

  function tryChat() {
    const chatParameter = { prodSeq, sendMemSeq: window.member.seq, recvMemSeq: recvMemSeq, roomSeq };
    navigate("chat_product_item", chatParameter);
  }

  let sortType = "resSeq";
  (function () {
    const parameter = GET_PARAMETER() || {};
    const { showExtra = true } = parameter;

    getRequest();
    // 채팅에서 물품 조회 시 동적 화면 구성. 하단 물품목록, 전화걸기, 채팅 감춤
    if (showExtra) {
      setProductLst();
      $("#tryChat").click(tryChat);
      // $("#chat").click(tryChat);
      $("#moreView").click((e) => {
        let param = GET_PARAMETER() || {};
        let memSeq = param.memSeq;
        let memKind = param.memKind;
        console.log("더보기 클릭 : ", memSeq);
        const parameter = { viewType: "all" };
        navigate("nextStore", { memSeq, memKind });
      });
    } else {
      $(".list-small-incomplete").hide();
      $(".bar-bottom-fixed").hide();
    }
  })();
</script>
