<div class="wrap gray">
  <app-header title="요청답변"></app-header>
  <section class="container">
    <article class="contents">
      <ul class="list-large-request select">
        <li class="list-item">
          <a class="btn-link" id="request">
            <span class="thumb-smallest-rect">
              <!--              <img id="requestProductAtfilResponse" alt="" />-->
            </span>
            <div class="user-info">
              <div class="labels">
                <span class="label" id="reqType"><span class="text" is="c-span" id="reqTypeText"></span></span>
              </div>
              <span class="prdt-name" is="c-span" id="prodName"></span>
              <span class="time-check send" is="c-span" id="regDate"></span>
            </div>
          </a>
        </li>
      </ul>
      <div class="bar1">
        <h2 class="type1"><span is="c-span" class="text">요청답변목록</span> <em id="listCount"></em></h2>
        <a class="btn-sort" id="sort"><span is="c-span" class="text" id="sort-label">최신순</span></a>
      </div>
      <!-- <ul class="sheet-wrap">
                <li>
                    <a class="btn-sheet active"><span is="c-span" class="text">최신순</span></a>
                </li>
                <li>
                    <a class="btn-sheet"><span is="c-span" class="text">낮은 가격순</span></a>
                </li>
                <li>
                    <a class="btn-sheet"><span is="c-span" class="text">높은 가격순</span></a>
                </li>
                <li>
                    <a class="btn-sheet cancel"><span is="c-span" class="text">취소</span></a>
                </li>
            </ul> -->
      <ul class="list-large-card" id="container"></ul>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<app-bottom-sheet></app-bottom-sheet>
<script>
  function getRequest() {
    const parameter = GET_PARAMETER() || {};
    console.log(parameter);
    const { reqSeq } = parameter;
    return api.get(`request/${reqSeq}`).then(renderRequest);
  }

  function renderRequest(request) {
    const {
      seq,
      requestProductAtfilResponse,
      memKind,
      memKindName,
      memName,
      memAddr,
      regDate,
      regDateStr,
      prodName,
      price,
      prodDesc,
      reqType,
    } = request;

    const thumbContainer = $(".thumb-smallest-rect");
    const thumb = $("<app-img>");
    console.log("reAtfil", requestProductAtfilResponse);
    if (Array.from(requestProductAtfilResponse).length > 0) {
      thumb.attr("src", requestProductAtfilResponse[0].fileUrl);
      thumb.attr("alt-src", requestProductAtfilResponse[0].fileUrl);
    }
    thumb.attr("default-src", "./images/icon/default-s.png");
    thumbContainer.append(thumb);

    // Array.from(requestProductAtfilResponse).forEach(renderFile);
    if (memKind === "P") {
      $("#memKind").addClass("dealer");
    } else if (memKind === "G") {
      $("#memKind").addClass("user");
    }
    if (reqType === "S") {
      $("#reqTypeContainer").addClass("sale");
      $("#reqType").addClass("sale").text("판매");
    } else if (reqType === "B") {
      $("#reqTypeContainer").addClass("purchase");
      $("#reqType").addClass("sale").text("구매");
    }
    $("#memKindName").text(memKindName);
    $("#memName").text(memName);
    $("#memAddr").text(memAddr);
    $("#regDate").text(regDateStr || regDate);
    $("#prodName").text(prodName);
    $("#price").text(formatNumber(price));
    $("#prodDesc").text(prodDesc);

    $("#request").click(() => navigate("request_send_item", { reqSeq: seq }));
  }

  function renderItem(item) {
    let reqTypeClass, _reqTypeText, reqTypePrice;
    if (item.reqType === "S") {
      reqTypeClass = "sale";
      _reqTypeText = "판매";
      reqTypePrice = "판매가";
    } else if (item.regType === "B") {
      reqTypeClass = "purchase";
      _reqTypeText = "구매";
      reqTypePrice = "구매가";
    }

    const li = $("<li>").addClass("list-item");
    const a = $("<a>")
      .addClass("btn-link")
      .click(() => navigate("request_send_response_item", { reqSeq: item.reqSeq, resSeq: item.resSeq }));
    const avatar_span = $("<span>").addClass("thumb-medium");
    const avatar = $("<img>").attr("src", item.profileImage || "images/temp/chair-1840011_1920.jpg");
    const user_info_div = $("<div>").addClass("user-info");
    const labels_div = $("<div>").addClass("labels");
    const memKind = $("<span>").addClass("label").addClass("dealer");
    const memKindName = $("<span>").addClass("text").text("중고전문가");
    const memName = $("<span>").addClass("name").text(item.memName);
    const comments = $("<span>").addClass("copy").text(item.comments);
    const price_span = $("<span>").addClass("price");
    const price_label = $("<span>").addClass("text").text(reqTypePrice);
    const price = $("<em>").text(formatNumber(item.price));
    const won_label = $("<span>").addClass("text").text("원");
    const time = $("<span>")
      .addClass("time-check")
      .text(item.regDateStr || item.regDate);

    li.append(a);

    a.append(avatar_span);
    a.append(user_info_div);
    a.append(time);

    avatar_span.append(avatar);

    user_info_div.append(labels_div);

    labels_div.append(memKind);
    memKind.append(memKindName);
    user_info_div.append(memName);
    user_info_div.append(comments);
    user_info_div.append(price_span);
    price_span.append($("<sup>").append(price_label));
    price_span.append(price);
    price_span.append(won_label);

    const container = $("#container");
    container.append(li);
  }

  function renderList(response) {
    console.log("response", response);
    console.log("sortType", sortType);
    $("#listCount").text(`(${response.total})`);
    const container = $("#container");
    container.html("");
    let list = Array.from(response.list);
    switch (sortType) {
      case "resSeq":
        list = list.sort((a, b) => b.resSeq - a.resSeq);
        break;
      case "low_price":
        list = list.sort((a, b) => a.price - b.price);
        break;
      case "high_price":
        list = list.sort((a, b) => b.price - a.price);
        break;
    }
    Array.from(list).forEach(renderItem);
  }

  function getResponse() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq } = parameter;
    const page = 1;
    const pageCount = 100;
    return api.get(`request/response/${page}/${pageCount}`, { reqSeq }).then(renderList);
  }
  let sortType = "resSeq";
  (function () {
    getRequest();
    getResponse();
    $("#sort").click(() => {
      $("app-bottom-sheet")[0].open(
        [
          { value: "resSeq", text: "최신순" },
          { value: "low_price", text: "낮은 가격순" },
          { value: "high_price", text: "높은 가격순" },
        ],
        sortType
      );
    });
    $("app-bottom-sheet").on("select", (e) => {
      sortType = e.detail.data.value;
      $("#sort-label").text(e.detail.data.text);
      getResponse();
    });
  })();
</script>
