<div class="wrap">
  <app-header title="보낸 요청서"></app-header>
  <section class="container">
    <article class="contents">
      <ul class="tab js-tab">
        <li>
          <a id="tab_all" class="on"><span is="c-span" class="text">전체</span></a>
        </li>
        <li>
          <a id="tab_sell"><span is="c-span" class="text">판매</span></a>
        </li>
        <li>
          <a id="tab_buy"><span is="c-span" class="text">구매</span></a>
        </li>
      </ul>
      <div class="tab-con-wrap js-tab-con" id="item_container">
        <ul class="list-large-request js-tab-item on" id="item_list"></ul>
      </div>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>

<script>
  let type = "A";
  function changeTab(_type) {
    type = _type;
    $("#tab_all").removeClass("on");
    $("#tab_buy").removeClass("on");
    $("#tab_sell").removeClass("on");
    switch (type) {
      case "B":
        $("#tab_buy").addClass("on");
        break;
      case "S":
        $("#tab_sell").addClass("on");
        break;
      default:
        $("#tab_all").addClass("on");
        break;
    }
    const itemList = $("#item_list");
    itemList.html("");
    if (list !== null) {
      list.reload();
    }
  }

  /**
   * List Class 적용
   * 아래 항목은 반드시 선언되어야 한다.
   *
   * li : List Class Instance
   * renderList: List Container Dom 을 반환
   * renderItem: List Item Dom 을 추가
   * onRequest: 데이터를 가져오는 함수
   * getPageCount: 한 번에 가져올 데이터 수
   */
  let list = null;

  function renderList() {
    const itemList = $("#item_list");
    return itemList[0];
  }

  function renderItem(item) {
    const { parentTypeGmidas } = item;
    const isGmidas = parentTypeGmidas !== null;

    const li = $("<li>").addClass("list-item").attr("reqType", item.reqType);
    const a = $("<a>")
      .addClass("btn-link")
      .click(function () {
        // 지마이다스 요청서 예외처리
        if (isGmidas) {
          navigate("request_send_response_list_g", { reqSeq: item.reqSeq });
        } else {
          navigate("request_send_response_list", { reqSeq: item.reqSeq });
        }
        // new 삭제
        $(this).find(".n-badge").remove();
      });
    const thumbContainer = $("<span>").addClass("thumb-smaller-rect");
    const thumb = $("<app-img>");
    if (Array.isArray(item.requestProductAtfilResponse) && item.requestProductAtfilResponse[0] !== undefined) {
      thumb.attr("src", item.requestProductAtfilResponse[0].fileUrl);
      thumb.attr("alt-src", item.requestProductAtfilResponse[0].fileUrlOrg);
    }
    thumb.attr("default-src", "./images/icon/default-s.png");
    thumbContainer.append(thumb);
    const userContainer = $("<div>").addClass("user-info");
    const userLabels = $("<div>").addClass("labels");

    // 지마이다스 요청서 예외처리
    if (isGmidas) {
      userLabels.append($("<span>").addClass("label complete").append($("<span>").addClass("text").text("지마이다스")));
    } else {
      if (item.reqType === "B" && type === "A") {
        userLabels.append($("<span>").addClass("label purchase").append($("<span>").addClass("text").text("구매")));
      } else if (item.reqType === "S" && type === "A") {
        userLabels.append($("<span>").addClass("label sale").append($("<span>").addClass("text").text("판매")));
      }
      if (item.memKind === "G") {
        userLabels.append($("<span>").addClass("label user").append($("<span>").addClass("text").text("유저")));
      } else if (item.memKind === "P") {
        userLabels.append($("<span>").addClass("label dealer").append($("<span>").addClass("text").text("중고전문가")));
      }
    }

    const prodName = $("<span>").addClass("prdt-name").text(item.prodName);
    const timeCheck = $("<span>").addClass("time-check send").text(item.regDateStr);
    userContainer.append(userLabels).append(prodName).append(timeCheck);
    const answerContainer = $("<div>").addClass("answer");
    if (item.isNew === "Y") {
      answerContainer.append($("<img>").addClass("n-badge").attr("src", "images/icon/n-badge.png"));
    } else {
      answerContainer.append($("<div>").addClass("n-badge"));
    }
    answerContainer.append($("<span>").addClass("answer-count").text(`${item.resCnt}개 답변`));
    a.append(thumbContainer).append(userContainer).append(answerContainer);
    li.append(a);
    const itemList = $("#item_list");
    itemList.append(li);
  }

  function onRequest(page, pageCount) {
    return api.get(`request/send/${page}/${pageCount}`, { memSeq: window.member.seq, memKind: "A", reqType: type });
  }

  function getPageCount() {
    return 50;
  }

  /**
   * 페이지가 처음 화면에 표시 될 때, 실행되는 함수
   * 초기 화면 생성 및 [이벤트 바인딩]을 수행한다.
   */
  (function () {
    const parameter = GET_PARAMETER() || {};

    switch (parameter.type) {
      case "B":
        changeTab("B");
        break;
      case "S":
        changeTab("S");
        break;
      default:
        break;
    }

    $("#tab_all").click(() => changeTab("A"));
    $("#tab_buy").click(() => changeTab("B"));
    $("#tab_sell").click(() => changeTab("S"));
  })();
</script>
