<!-- DOM -->
<div class="wrap">
  <app-header title="긴급구매요청"></app-header>
  <section class="container">
    <article class="contents">
      <div class="bar7">
        <img src="images/icon/emergency-s-w.png" class="emergency-s-w" /><span is="c-span" class="text"
          >중고전문가에게 전달할 긴급 구매요청란입니다.</span
        >
      </div>
      <div class="form-wide-none">
        <h2>제품이미지 추가</h2>
        <div class="slide-small">
          <ul class="swiper-wrapper" id="imageContainer">
            <li class="swiper-slide" id="imageInput">
              <a id="addPicture">
                <label class="btn-thumb-add emergency"> </label>
              </a>
              <span class="count"><span is="c-span" id="attachFilesCount">0/4</span></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-wide-wrap">
        <h2>물품명<em>*</em></h2>
        <input id="productName" type="search" class="shape-2" placeholder="물품명을 입력해주세요" maxlength="100" />
      </div>
      <div class="form-wide-wrap">
        <h2>카테고리<em>*</em></h2>
        <a class="shape-2 already"><span is="c-span" class="text" id="category"></span></a>
      </div>
      <div class="form-wide-wrap">
        <h2>가격</h2>
        <input type="number" class="shape-3" placeholder="10,000" id="price" maxlength="11" />
        <!-- value="222,222 원" -->
      </div>
      <div class="form-wide-wrap">
        <h2>지역</h2>
        <a class="shape-2 already" onclick="navigate('address')"
          ><span is="c-span" class="text" id="address"></span>
          <!-- (07982) 서울특별시 송파구 잠실동 잠실 000000000000000000000000 -->
        </a>
      </div>
      <div class="form-wide-wrap">
        <h2>내용</h2>
        <textarea
          id="productDesc"
          class="shape-4 js-auto"
          placeholder="빠르고 안전한 중고거래 부탁드립니다!"
          maxlength="300"
        ></textarea>
      </div>
    </article>
  </section>
  <a class="btn-fixed emergency" id="register"><span is="c-span" class="text">요청하기</span></a>
  <!--option-->
  <!--<a  class="btn-fixed disable"><span is="c-span" class="text">요청하기</span></a>-->
  <div class="bg-dim"></div>
</div>
<!-- DOM-->

<!-- SCRIPT -->
<script>
  let attachFiles = [];
  function uploadImage({ detail: { file, fileName } }) {
    const formData = new FormData();
    formData.append("file", file, fileName);
    api.postForm("base/uploadS3/product", formData).then((attachFile) => {
      pushAttachFiles(attachFile);
      appendPreivewImage(attachFile);
    });
  }

  function pushAttachFiles(attachFile) {
    attachFiles.push(attachFile);
    countPreviewImage();
  }

  function appendPreivewImage(attachFile) {
    const imageInput = $("#imageInput");
    const li = $("<li>").addClass("swiper-slide");
    const div = $("<div>").addClass("s-thumb-s");
    const img = $("<img>")
      .addClass("thumb")
      .attr("src", attachFile.fileUrl)
      .on("load", (e) => {
        if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
          $(e.target).addClass("landscape");
        }
      });
    const a = $("<a>")
      .addClass("btn-thumb-close")
      .html("삭제")
      .click(() => deletePreiviewImage(attachFile, li));

    div.append(img).append(a);
    li.append(div);
    imageInput.before(li);
  }

  function deletePreiviewImage(attachFile, li) {
    attachFiles = attachFiles.filter((c) => c.seq !== attachFile.seq);
    li.remove();
    countPreviewImage();
  }

  function countPreviewImage() {
    $("#attachFilesCount").html(`${attachFiles.length}/4`);
  }

  let price = 10000;
  function formatPrice() {
    let value = parseInt($("#price").val());
    if (isNaN(value) || value === 0) {
      $("#price").val("");
      price = 10000;
    } else {
      $("#price")
        .attr("type", "text")
        .val(`${formatNumber(value)} 원`);
      price = value;
    }
  }

  function parsePrice() {
    let value = $("#price").val();
    value = value.replace(/,/gi, "").replace(/ /gi, "").replace("원", "");
    if (isNaN(parseInt(value))) {
      $("#price").val("");
    } else {
      $("#price").val(value);
    }
    $("#price").attr("type", "number").select();
  }

  function validateRegister() {
    const register = $("#register");
    if ($("#productName").val().trim().length === 0) {
      register.addClass("disable");
      register.removeClass("emergency");
      return;
    }
    register.removeClass("disable");
    register.addClass("emergency");
  }

  let validCateYn;
  function tryRegister() {
    api
      .post("request", {
        address,
        addressDiv1,
        addressDiv2,
        addressDiv3,
        asYn: "Y",
        attachFiles: attachFiles.map((c) => ({ fileSeq: c.seq })),
        cateSeq1dp,
        cateSeq2dp: -1,
        cateSeq3dp: -1,
        deliveryPriceYn: "Y",
        isNew: "Y",
        keyWords: "",
        memSeq: window.member.seq,
        price,
        prodDesc:
          $("#productDesc").val().length === 0 ? "빠르고 안전한 중고거래 부탁드립니다!" : $("#productDesc").val(),
        prodName: $("#productName").val(),
        prodStatus: "S",
        reqType: "B",
        validCateYn,
        dealerYn: "Y",
      })
      .then((response) => {
        if (validCateYn === "Y") {
          Alert("긴급구매요청 완료", `${root.puserCnt || 0}명의 중고 전문가에게 메세지가 전달되었습니다!`, {
            color: "emergency",
          }).then(() => navigateToBack("root"));
        } else {
          Alert(
            "관리자 등록완료",
            "해당 키워드가 없어 관리자에게 전송되었습니다.\n해당 카테고리 처리 후 연락드리겠습니다.\n문의사항은 아래 고객센터로 문의바랍니다.\n\n*고객센터 1811-8681",
            { color: "emergency", pre: true }
          ).then(() => navigateToBack("root"));
        }
      })
      .catch(() => {
        Alert("긴급판매요청 등록 오류", "긴급판매요청 등록 중 오류가 발생 하였습니다. 관리자에게 문의 부탁드립니다.");
      });
  }

  function lengthInUtf8Bytes(str) {
    // Matches only the 10.. bytes that are non-initial characters in a multi-byte sequence.
    var m = encodeURIComponent(str).match(/%[89ABab]/g);
    return str.length + (m ? m.length : 0);
  }

  let cateSeq1dp;
  function readCategory(category) {
    if (category !== undefined) {
      cateSeq1dp = category.cateSeq1dp;
      $("#category").text(category.title);
    }
  }

  let address;
  let addressDiv1;
  let addressDiv2;
  let addressDiv3;
  function readAddress(_address) {
    if (_address !== undefined) {
      $("#address").text(_address.address);
      address = _address.address;
      addressDiv1 = _address.addressDiv1;
      addressDiv2 = _address.addressDiv2;
      addressDiv3 = _address.addressDiv3;
    }
  }

  function renderParameter() {
    const parameter = GET_PARAMETER() || {};

    if (parameter.productName !== undefined) {
      $("#productName").val(parameter.productName);
    }
    if (parameter.validCateYn !== undefined) {
      validCateYn = parameter.validCateYn;
    }
    if (parameter.category !== undefined) {
      readCategory(parameter.category);
    } else {
      cateSeq1dp =
        window.member &&
        window.member.shopInfoResponse &&
        window.member.shopInfoResponse.shopCategoryResponse &&
        Array.from(window.member.shopInfoResponse.shopCategoryResponse)[0] &&
        Array.from(window.member.shopInfoResponse.shopCategoryResponse)[0].cateSeq;
      if (cateSeq1dp !== undefined) {
        $("#category").text(Array.from(window.member.shopInfoResponse.shopCategoryResponse)[0].cateName);
      }
    }
    if (parameter.address !== undefined) {
      readAddress(parameter.address);
    } else {
      if (member.shopInfoResponse && member.shopInfoResponse.shopAddr1) {
        const keyword = member.shopInfoResponse.shopAddr1;
        let data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
          "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
        )}&keyword=${encodeURI(keyword)}`;

        jQuery.ajax({
          url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
          type: "post",
          data: data,
          dataType: "jsonp",
          crossDomain: true,
          success: function (response) {
            if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
              const item = response.results.juso[0];
              const address = {
                address: `(${item.zipNo}) ${item.jibunAddr}`,
                addressDiv1: item.siNm,
                addressDiv2: item.sggNm,
                addressDiv3: item.emdNm,
                zipNo: item.zipNo,
              };
              readAddress(address);
            }
          },
        });
      } else if (member.memAddr) {
        let keyword = member.memAddr;
        let data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
          "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
        )}&keyword=${encodeURI(keyword)}`;

        jQuery.ajax({
          url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
          type: "post",
          data: data,
          dataType: "jsonp",
          crossDomain: true,
          success: function (response) {
            if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
              const item = response.results.juso[0];
              const address = {
                address: `(${item.zipNo}) ${item.jibunAddr}`,
                addressDiv1: item.siNm,
                addressDiv2: item.sggNm,
                addressDiv3: item.emdNm,
                zipNo: item.zipNo,
              };
              readAddress(address);
            } else {
              keyword = "서울특별시 송파구 올림픽로 300";
              data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
                "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
              )}&keyword=${encodeURI(keyword)}`;

              jQuery.ajax({
                url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
                type: "post",
                data: data,
                dataType: "jsonp",
                crossDomain: true,
                success: function (response) {
                  if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
                    const item = response.results.juso[0];
                    const address = {
                      address: `(${item.zipNo}) ${item.jibunAddr}`,
                      addressDiv1: item.siNm,
                      addressDiv2: item.sggNm,
                      addressDiv3: item.emdNm,
                      zipNo: item.zipNo,
                    };
                    readAddress(address);
                  }
                },
              });
            }
          },
        });
      } else {
        const keyword = "서울특별시 송파구 올림픽로 300";
        let data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
          "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
        )}&keyword=${encodeURI(keyword)}`;

        jQuery.ajax({
          url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
          type: "post",
          data: data,
          dataType: "jsonp",
          crossDomain: true,
          success: function (response) {
            if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
              const item = response.results.juso[0];
              const address = {
                address: `(${item.zipNo}) ${item.jibunAddr}`,
                addressDiv1: item.siNm,
                addressDiv2: item.sggNm,
                addressDiv3: item.emdNm,
                zipNo: item.zipNo,
              };
              readAddress(address);
            }
          },
        });
      }
    }
  }

  function getPicture() {
    if (attachFiles.length > 3) {
      return;
    }

    if (typeof window.picture === "function") {
      window.picture();
    }
  }

  /**
   * 카테고리가, 적용된 카테고리 인지 여부 반환
   */
  function filterCategory({ cateSeq1dp }) {
    const filterReference = Array.from(
      (window.member && window.member.shopInfoResponse && window.member.shopInfoResponse.shopCategoryResponse) || []
    );
    return filterReference.some(({ cateSeq }) => cateSeq === cateSeq1dp);
  }

  function popupCategories(e) {
    if (e.target.value.length === 0) {
      return;
    }
    const search = e.target.value;
    api.get("base/category", { parentSeq: search }).then(function (response) {
      if (response.size === 0) {
        validCateYn = "N";
        $("#productName").val(search);
      } else {
        validCateYn = "Y";
        const filtered = Array.from(response.content)
          .filter(filterCategory)
          .reduce((p, c) => {
            if (!p.some((d) => d.cateSeq1dp === c.cateSeq1dp)) {
              p.push(c);
            }
            return p;
          }, []);
        if (filtered.length === 0) {
          $("#productName").val("");
          Alert("카테고리 선택", "긴급요청은 적용하신 카테고리에 한해서 신청 할 수 있습니다.", { color: "emergency" });
        } else if (filtered.length === 1) {
          readCategory({ ...filtered[0], title: filtered[0].cateSeq1dpName });
        } else {
          Alert("카테고리 선택", "적용하신 카테고리 중에 한 가지를\n선택해주세요.", {
            color: "emergency",
            categories: filtered,
          }).then(({ category }) => readCategory(category));
        }
      }
      validateRegister();
    });
  }

  // boot
  (function () {
    $("#productName").on("search", function () {
      $(this).blur();
    });
    $("#productName").on("blur", popupCategories);
    $("#productName").keyup(function () {
      const register = $("#register");
      register.addClass("disable");
      register.removeClass("emergency");
    });

    $("#addPicture").click(getPicture);
    $("#price").focus(parsePrice);
    $("#price").blur(formatPrice);
    $("#navigateToCategory").click(popupCategories);
    $("#register").click(tryRegister);
    window.addEventListener("picture", uploadImage);

    renderParameter();
    validateRegister();
  })();

  RELOAD((_parameter = {}) => {
    readCategory(_parameter.category);
    readAddress(_parameter.address);
    if (_parameter.productName !== undefined) {
      $("#productName").val(_parameter.productName);
    }
    if (_parameter.validCateYn !== undefined) {
      validCateYn = _parameter.validCateYn;
    }
  });

  UNLOAD(() => {
    window.removeEventListener("picture", uploadImage);
  });
</script>

<!-- SCRIPT -->
