<!-- DOM -->
<div class="wrap">
  <app-header title="판매요청"></app-header>
  <section class="container">
    <article class="contents">
      <div class="form-wide-none">
        <h2>제품이미지 추가</h2>
        <div class="slide-small">
          <ul class="swiper-wrapper" id="imageContainer">
            <li class="swiper-slide" id="imageInput">
              <a id="addPicture">
                <label class="btn-thumb-add sale"> </label>
              </a>
              <span class="count"><span is="c-span" id="attachFilesCount">0/4</span></span>
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="form-wide-wrap">
        <h2>희망 가격<em>*</em></h2>
        <input type="number" class="shape-3" placeholder="가격을 입력해 주세요" id="price" maxlength="11" />
      </div> -->
      <div class="form-wide-wrap">
        <h2>상세 요청</h2>
        <textarea
          id="productDesc"
          class="shape-4 js-auto"
          placeholder="원하시는 내용을 입력해주세요(300자)"
          maxlength="300"
        ></textarea>
      </div>

      <div class="form-wide-wrap" style="padding: 14px 14px 18px; border-top: solid 1px #cecece">
        <h2>물품명<em>*</em></h2>
        <input
          id="productName"
          type="text"
          class="shape-2"
          style="background-color: #f5f6f8"
          placeholder="물품명을 입력해주세요"
          maxlength="100"
        />
      </div>
      <div class="form-wide-wrap">
        <h2>카테고리<em>*</em></h2>
        <a id="navigateToCategory" class="shape-2" style="background-color: #f5f6f8"
          ><span is="c-span" class="text" id="category"></span
        ></a>
      </div>

      <div class="form-wide-wrap">
        <h2>지역<em>*</em></h2>
        <a class="shape-2" onclick="navigate('address')" style="background-color: #f5f6f8"
          ><span is="c-span" class="text" id="address"></span>
          <!-- (07982) 서울특별시 송파구 잠실동 잠실 000000000000000000000000 -->
        </a>
      </div>
    </article>
  </section>
  <a class="btn-fixed sale" id="register"><span is="c-span" class="text">요청하기</span></a>
  <!--option-->
  <!--<a  class="btn-fixed disable"><span is="c-span" class="text">요청하기</span></a>-->
  <div class="bg-dim"></div>
</div>
<!-- DOM-->

<!-- SCRIPT -->
<script>
  let attachFiles = [];
  function uploadImage({ detail: { file, fileName } }) {
    const formData = new FormData();
    formData.append("file", file, fileName);
    api.postForm("base/uploadS3/product", formData).then((attachFile) => {
      pushAttachFiles(attachFile);
      appendPreivewImage(attachFile);
    });
  }

  function pushAttachFiles(attachFile) {
    attachFiles.push(attachFile);
    countPreviewImage();
  }

  function appendPreivewImage(attachFile) {
    const imageInput = $("#imageInput");
    const li = $("<li>").addClass("swiper-slide");
    const div = $("<div>").addClass("s-thumb-s");

    const img = $("<app-img>");
    img.attr("src", attachFile.fileUrl);
    img.attr("alt-src", attachFile.fileUrl);
    const a = $("<a>")
      .addClass("btn-thumb-close")
      .html("삭제")
      .click(() => deletePreiviewImage(attachFile, li));

    div.append(img).append(a);
    li.append(div);
    imageInput.before(li);
  }

  function deletePreiviewImage(attachFile, li) {
    attachFiles = attachFiles.filter((c) => c.seq !== attachFile.seq);
    li.remove();
    countPreviewImage();
  }

  function countPreviewImage() {
    $("#attachFilesCount").html(`${attachFiles.length}/4`);
    validateRegister();
  }

  function trimProductName(e) {
    let value = e.target.value;
    while (true) {
      const count = lengthInUtf8Bytes(value);
      if (count < 250) {
        break;
      }
      value = value.substr(0, value.length - 1);
    }
    if (value !== e.target.value) {
      $(e.target).val(value);
    }
    validateRegister();
  }

  let price = 0;
  function formatPrice() {
    let value = parseInt($("#price").val());
    if (isNaN(value) || value === 0) {
      $("#price").val("");
      price = 0;
    } else {
      $("#price")
        .attr("type", "text")
        .val(`${formatNumber(value)} 원`);
      price = value;
    }
  }

  function parsePrice() {
    let value = $("#price").val();
    value = value.replace(/,/gi, "").replace(/ /gi, "").replace("원", "");
    if (isNaN(parseInt(value))) {
      $("#price").val("");
    } else {
      $("#price").val(value);
    }
    $("#price").attr("type", "number").select();
  }

  // function countProductDesc(e) {
  //     let value = e.target.value;
  // }

  // function trimProductDesc() {}

  function validateRegister() {
    const register = $("#register");
    /*  if ($("#productName").val().trim().length === 0) {
      register.addClass("disable");
      register.removeClass("sale");
      return;
    }
    if ($("#category").text().trim().length === 0) {
      register.addClass("disable");
      register.removeClass("sale");
      return;
    } */
    /*
    if ($("#price").val().trim().length === 0) {
      register.addClass("disable");
      register.removeClass("sale");
      return;
    }
    if ($("#address").text().trim().length === 0) {
      register.addClass("disable");
      register.removeClass("sale");
      return;
    }*/
    register.removeClass("disable");
    register.addClass("sale");
  }

  function tryRegister() {
    Alert("요청하기", "입력하신 내용으로 요청하시겠습니까?").then((e) => {
      console.log(e);
      // 닫기 버튼을 누르면 cause === 'done' 그 외 cause === 'close'
      const cause = e.cause;
      if (cause !== "done") {
        return;
      }
      api
        .post("request", {
          address,
          addressDiv1,
          addressDiv2,
          addressDiv3,
          asYn: "Y",
          attachFiles: attachFiles.map((c) => ({ fileSeq: c.seq })),
          cateSeq1dp,
          cateSeq2dp,
          cateSeq3dp,
          deliveryPriceYn: "Y",
          isNew: "Y",
          keyWords: "",
          memSeq: window.member.seq,
          price,
          prodDesc: $("#productDesc").val(),
          prodName: $("#productName").val(),
          prodStatus: "S",
          reqType: "S",
          tempYn: "N",
          tradeType: "S",
        })
        .then((response) => {
          Alert("판매요청 완료", `${root.puserCnt || 0}명의 중고 전문가에게 메세지가 전달되었습니다!`).then(
            navigateToBack
          );
        })
        .catch(() => {
          Alert("판매요청 등록 오류", "판매요청 등록 중 오류가 발생 하였습니다. 관리자에게 문의 부탁드립니다.");
        });
    });
  }

  function lengthInUtf8Bytes(str) {
    // Matches only the 10.. bytes that are non-initial characters in a multi-byte sequence.
    var m = encodeURIComponent(str).match(/%[89ABab]/g);
    return str.length + (m ? m.length : 0);
  }

  let cateSeq1dp;
  let cateSeq2dp;
  let cateSeq3dp;
  let address;
  let addressDiv1;
  let addressDiv2;
  let addressDiv3;

  function readCategory(category) {
    if (category !== undefined) {
      cateSeq1dp = category.cateSeq1dp;
      cateSeq2dp = category.cateSeq2dp;
      cateSeq3dp = category.cateSeq3dp;
      $("#category").text(category.title);
    }
  }

  function readAddress(_address) {
    if (_address !== undefined) {
      $("#address").text(_address.address);
      address = _address.address;
      addressDiv1 = _address.addressDiv1;
      addressDiv2 = _address.addressDiv2;
      addressDiv3 = _address.addressDiv3;
    }
  }

  function renderParameter() {
    const parameter = GET_PARAMETER() || {};

    if (parameter.prodName !== undefined) {
      $("#productName").val(parameter.prodName);
    }
    if (parameter.category !== undefined) {
      readCategory(parameter.category);
    } else {
      const elem = $("#navigateToCategory").css("background-color", "#FFFFFF").parent();
      elem.insertBefore($("#price").parent());
    }
    if (parameter.address !== undefined) {
      readAddress(parameter.address);
    } else {
      if (member.shopInfoResponse && member.shopInfoResponse.shopAddr1) {
        const keyword = member.shopInfoResponse.shopAddr1;
        let data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
          "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
        )}&keyword=${encodeURI(keyword)}`;

        jQuery.ajax({
          url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
          type: "post",
          data: data,
          dataType: "jsonp",
          crossDomain: true,
          success: function (response) {
            if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
              const item = response.results.juso[0];
              const address = {
                address: `(${item.zipNo}) ${item.jibunAddr}`,
                addressDiv1: item.siNm,
                addressDiv2: item.sggNm,
                addressDiv3: item.emdNm,
                zipNo: item.zipNo,
              };
              readAddress(address);
            }
          },
        });
      } else if (member.memAddr) {
        let keyword = member.memAddr;
        let data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
          "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
        )}&keyword=${encodeURI(keyword)}`;

        jQuery.ajax({
          url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
          type: "post",
          data: data,
          dataType: "jsonp",
          crossDomain: true,
          success: function (response) {
            if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
              const item = response.results.juso[0];
              const address = {
                address: `(${item.zipNo}) ${item.jibunAddr}`,
                addressDiv1: item.siNm,
                addressDiv2: item.sggNm,
                addressDiv3: item.emdNm,
                zipNo: item.zipNo,
              };
              readAddress(address);
            } else {
              keyword = "서울특별시 송파구 올림픽로 300";
              data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
                "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
              )}&keyword=${encodeURI(keyword)}`;

              jQuery.ajax({
                url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
                type: "post",
                data: data,
                dataType: "jsonp",
                crossDomain: true,
                success: function (response) {
                  if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
                    const item = response.results.juso[0];
                    const address = {
                      address: `(${item.zipNo}) ${item.jibunAddr}`,
                      addressDiv1: item.siNm,
                      addressDiv2: item.sggNm,
                      addressDiv3: item.emdNm,
                      zipNo: item.zipNo,
                    };
                    readAddress(address);
                  }
                },
              });
            }
          },
        });
      } else {
        const keyword = "서울특별시 송파구 올림픽로 300";
        let data = `currentPage=1&countPerPage=100&resultType=json&confmKey=${encodeURI(
          "U01TX0FVVEgyMDE5MTEyODE0NTUwMjEwOTI0NTg="
        )}&keyword=${encodeURI(keyword)}`;

        jQuery.ajax({
          url: "http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do", //인터넷망
          type: "post",
          data: data,
          dataType: "jsonp",
          crossDomain: true,
          success: function (response) {
            if (Array.isArray(response.results.juso) && response.results.juso.length > 0) {
              const item = response.results.juso[0];
              const address = {
                address: `(${item.zipNo}) ${item.jibunAddr}`,
                addressDiv1: item.siNm,
                addressDiv2: item.sggNm,
                addressDiv3: item.emdNm,
                zipNo: item.zipNo,
              };
              readAddress(address);
            }
          },
        });
      }
    }
  }

  function getPicture() {
    if (attachFiles.length > 3) {
      return;
    }

    if (typeof window.picture === "function") {
      window.picture();
    }
  }

  // boot
  (function () {
    $("#addPicture").click(getPicture);
    $("#productName").change(trimProductName);
    $("#productName").keyup(validateRegister);
    /* $("#price").focus(parsePrice);
    $("#price").blur(formatPrice);
    $("#price").change(validateRegister);
    $("#price").keyup(validateRegister); */
    $("#navigateToCategory").click(() => {
      navigate("category_search", { reference: "request_sell" });
    });
    $("#register").click(tryRegister);
    window.addEventListener("picture", uploadImage);

    renderParameter();

    const parameter = GET_PARAMETER() || {};
    const { productName, category } = parameter;
    if (productName !== undefined) {
      $("#productName").val(productName);
    }
    if (category !== undefined) {
      readCategory(category);
    }
  })();

  RELOAD((_parameter = {}) => {
    readCategory(_parameter.category);
    readAddress(_parameter.address);
    if (_parameter.prodName !== undefined && $("#productName").val().length === 0) {
      $("#productName").val(_parameter.prodName);
    }
    validateRegister();
  });

  UNLOAD(() => {
    window.removeEventListener("picture", uploadImage);
  });
</script>

<!-- SCRIPT -->
