<div class="wrap">
  <app-header title="중고전문가긴급요청"></app-header>
  <section class="container">
    <article class="contents">
      <div class="comment-warp">
        <span class="text" is="c-span">긴급요청은 적용하신 카테고리에 한해서 신청할 수 있습니다.</span>
      </div>
      <div class="deal-emergency-container">
        <img src="images/icon/emergency.png" class="ico-emergency" />
        <h2><span class="text" is="c-span">긴급요청 사항을 선택해주세요</span></h2>
        <div class="deal-btn-wrap">
          <a class="btn-deal sale disable" id="request_sell"
            ><span class="btn-title text" is="s-span">긴급판매요청</span></a
          >
          <a class="btn-deal purchase" id="request_buy"><span class="btn-title text" is="s-span">긴급구매요청</span></a>
        </div>
      </div>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>

<script>
  let needSellAlert = true;

  function getRequestMy() {
    return api.get(`request/my/${window.member.seq}`).then(renderRequestSell);
  }

  function renderRequestSell({ sellCount }) {
    if (sellCount === 0) {
      needSellAlert = false;
      $("#request_sell").removeClass("disable");
    }
  }

  function parseParameter() {
    let nextParameter = GET_PARAMETER() || {};
    return nextParameter;
  }

  function onClickRequestSell() {
    if (needSellAlert) {
      Alert(
        "긴급판매요청",
        "긴급판매는 사업자 전문거래이므로 소비자가격으로 판매가 불가능하며 1일 1회만 요청이 가능합니다.",
        { color: "emergency" }
      );
    } else {
      if (window.localStorage.getItem("emergency-sell-alert-dismiss") === "dismiss") {
        navigate("request_emergency_sell", parseParameter());
      } else {
        Alert(
          "긴급판매요청",
          "긴급판매는 사업자 전문거래이므로 소비자가격으로 판매가 불가능하며 1일 1회만 요청이 가능합니다.",
          { color: "emergency", checkbox: "다시보지 않기" }
        ).then(({ checkbox }) => {
          if (checkbox === true) {
            window.localStorage.setItem("emergency-sell-alert-dismiss", "dismiss");
          }
          navigate("request_emergency_sell", parseParameter());
        });
      }
    }
  }

  function onClickRequestBuy() {
    navigate("request_emergency_buy", parseParameter());
  }

  /**
   * 페이지가 처음 화면에 표시 될 때, 실행되는 함수
   * 초기 화면 생성 및 [이벤트 바인딩]을 수행한다.
   */
  (function () {
    getRequestMy();

    $("#request_sell").click(onClickRequestSell);
    $("#request_buy").click(onClickRequestBuy);
  })();
</script>
