<div class="wrap gray" id="scroller">
  <app-header></app-header>
  <section class="container">
    <article class="contents">
      <div class="slide-wide">
        <ul class="swiper-wrapper" id="requestProductAtfilResponse"></ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="user-profile">
        <span class="thumb-medium"><img id="profileImage" src="images/no_profile.png" alt="" /></span>
        <div class="user-info">
          <span class="label" id="memKind"><span class="text" is="c-span" id="memKindName"></span></span>
          <span class="name" is="c-span" id="memName"></span>
        </div>
        <div class="address-time-wrap">
          <span is="c-span" class="text address" id="memAddr"></span>
          <span class="time-check text" is="c-span" id="regDate"></span>
        </div>
      </div>
      <div class="bar3">
        <span class="prdt-name" id="prodName"> </span>
        <sup id="reqTypeContainer"><span is="c-span" class="text" id="reqType"></span></sup>
        <!--        <span class="price">-->
        <!--          <em id="price"></em>-->
        <!--          <span is="c-span" class="text">원</span>-->
        <!--        </span>-->
      </div>
      <div class="prdt-info mgbt20">
        <p id="prodDesc" style="white-space: pre-line; word-break: break-word"></p>
      </div>
    </article>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </section>
  <div class="bg-dim"></div>
</div>
<script>
  function renderFile(file) {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const { fileUrl } = file;
    const li = $("<li>").addClass("swiper-slide");
    let a = $("<a>").addClass("thumb").attr("data-fancybox", "").attr("data-src", fileUrl);
    // const img = $("<img>").attr("src", fileUrl);
    /*
    <video muted loop webkit-playsinline playsinline id="video"><source src="" type="video/mp4" /></video>
     */
    const img = $("<app-img>");
    if (fileUrl) {
      if (
        fileUrl.includes(".mp4") ||
        fileUrl.includes(".avi") ||
        fileUrl.includes(".mpeg") ||
        fileUrl.includes(".mpg") ||
        fileUrl.includes(".mkv")
      ) {
        // TODO : 퍼블 필요 ( height 값 고정 임시처리 )
        const video = $('<video controls style="width:100%; height:312px;"><source src="" type="video/mp4" /></video>');
        video.find("source").attr("src", fileUrl);
        a = $("<a>").addClass("thumb");
        a.css("transform", "translate(0,0)");
        a.append(video);
      } else {
        img.attr("src", fileUrl);
        img.attr("alt-src", fileUrl);
        img.attr("default-src", "./images/icon/default-s.png");
        a.append(img);
      }
    }

    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  function renderDefaultImage() {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const li = $("<li>").addClass("swiper-slide");
    const a = $("<a>").addClass("thumb");
    const img = $("<img>")
      .attr("src", "./images/icon/default-l.png")
      .on("load", (e) => {
        if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
          $(e.target).addClass("landscape");
        }
      });
    a.append(img);
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  let reqTypeClass;
  function render(request) {
    const {
      requestProductAtfilResponse,
      memKind,
      memKindName,
      memAddr,
      regDate,
      regDateStr,
      prodName,
      price,
      prodDesc,
      reqType,
      profileImage,
    } = request;
    if (Array.from(requestProductAtfilResponse).length === 0) {
      renderDefaultImage();
    } else {
      // 기존 로직
      Array.from(requestProductAtfilResponse).forEach(renderFile);
    }
    if (memKind === "P") {
      $("#memKind").addClass("dealer");
      $("#memKindName").text("중고전문가");
    } else if (memKind === "G") {
      $("#memKind").addClass("user");
      $("#memKindName").text("유저");
    }
    // if (reqType === "S") {
    //   $("#reqTypeContainer").addClass("sale");
    //   $("#reqType").text("판매희망가");
    //   $("app-header").attr("title", "판매 요청서");
    //   reqTypeClass = "sale";
    // } else if (reqType === "B") {
    //   $("#reqTypeContainer").addClass("purchase");
    //   $("#reqType").text("구매희망가");
    //   $("app-header").attr("title", "구매 요청서");
    //   reqTypeClass = "purchase";
    // }

    if (request.memSeq === window.member.seq) {
      if (window.member.memKind === "P" && window.member.shopInfoResponse) {
        $("#memName").text(window.member.shopInfoResponse.shopName);
      } else {
        $("#memName").text(request.memName);
      }
    } else {
      $("#memName").text(request.memName);
    }
    $("#memAddr").text(memAddr);
    $("#regDate").text(regDateStr || regDate);
    $("#prodName").text(prodName);
    // $("#price").text(formatNumber(price));
    $("#prodDesc").text(prodDesc);

    if (profileImage !== null) {
      $("#profileImage").attr("src", profileImage);
    }

    window.initFancyBox($);
  }
  function getRequest() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq } = parameter;
    return api.get(`request/${reqSeq}`).then(render);
  }

  (function () {
    getRequest();
  })();
</script>
