<div class="wrap gray">
  <app-header title="요청답변"></app-header>
  <section class="container">
    <article class="contents">
      <ul class="list-large-request select">
        <li class="list-item">
          <a class="btn-link" id="request">
            <span class="thumb-smallest-rect">
              <img id="requestProductAtfilResponse" alt="" />
            </span>
            <div class="user-info">
              <div class="labels">
                <span class="label" id="reqType"><span class="text" is="c-span" id="reqTypeText"></span></span>
              </div>
              <span class="prdt-name" is="c-span" id="prodName"></span>
              <span class="time-check send" is="c-span" id="regDate"></span>
            </div>
            <div class="collection-day">
              <div class="copy">희망수거일</div>
              <div class="day" id="pickup">7월 8일 수요일</div>
            </div>
          </a>
        </li>
      </ul>
      <div class="bar1">
        <h2 class="type1"><span is="c-span" class="text">요청답변목록</span> <em id="listCount"></em></h2>
        <a class="btn-sort" id="sort"><span is="c-span" class="text" id="sort-label">높은 가격순</span></a>
      </div>
      <!-- <ul class="sheet-wrap">
                <li>
                    <a class="btn-sheet active"><span is="c-span" class="text">최신순</span></a>
                </li>
                <li>
                    <a class="btn-sheet"><span is="c-span" class="text">낮은 가격순</span></a>
                </li>
                <li>
                    <a class="btn-sheet"><span is="c-span" class="text">높은 가격순</span></a>
                </li>
                <li>
                    <a class="btn-sheet cancel"><span is="c-span" class="text">취소</span></a>
                </li>
            </ul> -->
      <ul class="list-large-card" id="container"></ul>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<app-bottom-sheet></app-bottom-sheet>
<script>
  let hasSelectedResponse = false; // 선택값 존재 여부
  function getRequest() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq } = parameter;
    return api.get(`extend/request/${reqSeq}`).then(renderRequest);
  }
  /*  function tryChat() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq, resSeq } = parameter;
    const chatParameter = { reqSeq, resSeq, sendMemSeq: window.member.seq, recvMemSeq: sendMemSeq, roomSeq };
    navigate("chat_item", chatParameter);
  }*/
  function renderRequest(request) {
    const {
      seq,
      requestProductAtfilResponse,
      memKind,
      memKindName,
      memName,
      memAddr,
      regDate,
      regDateStr,
      prodName,
      price,
      prodDesc,
      reqType,
      pickupDate,
    } = request;

    if (Array.from(requestProductAtfilResponse).length > 0) {
      $("#requestProductAtfilResponse").attr("src", requestProductAtfilResponse[0].fileUrl);
    } else {
      $("#requestProductAtfilResponse").attr("src", "./images/icon/default-s.png");
    }

    // Array.from(requestProductAtfilResponse).forEach(renderFile);
    if (memKind === "P") {
      $("#memKind").addClass("dealer");
    } else if (memKind === "G") {
      $("#memKind").addClass("user");
    }
    if (reqType === "S") {
      $("#reqTypeContainer").addClass("sale");
      $("#reqType").addClass("sale").text("판매");
    } else if (reqType === "B") {
      $("#reqTypeContainer").addClass("purchase");
      $("#reqType").addClass("sale").text("구매");
    }
    $("#memKindName").text(memKindName);
    $("#memName").text(memName);
    $("#memAddr").text(memAddr);
    $("#regDate").text(regDateStr || regDate);
    $("#prodName").text(prodName);
    $("#price").text(formatNumber(price));
    $("#prodDesc").text(prodDesc);
    $("#pickup").text(pickupDate);

    $("#request").click(() => navigate("request_send_item", { reqSeq: seq }));
  }

  function selectResponse(item, select_button) {
    api
      .put(`extend/request/response/status/${item.resSeq}?resStatus=S&reqSeq=${item.reqSeq}&`)
      .then((response) => {
        Alert("판매확정", "선택하신 중고전문가에게 판매 확정 알림이 전송되었습니다.").then((e) => {
          console.log(e);

          hasSelectedResponse = true;
          // 닫기 버튼을 누르면 cause === 'done' 그 외 cause === 'close'
          const cause = e.cause;
          if (cause !== "done") {
            getRequest();
            getResponse();
            return;
          }
          navigate("chat_item", {
            ...item,
            recvMemSeq: item.memSeq,
            sendMemSeq: window.member.seq,
            resSeq: item.resSeq,
          });
        });
      })
      .catch((error) => {
        console.error("error >> ", error);
        if (error.message && error.message !== "") {
          Alert("정보", error.message);
        }
      });
  }

  function tryChat(item) {
    navigate("chat_item", { ...item, recvMemSeq: item.memSeq, sendMemSeq: window.member.seq, resSeq: item.resSeq });
  }

  function renderItem(item) {
    let reqTypeClass, _reqTypeText, reqTypePrice;
    if (item.reqType === "S") {
      reqTypeClass = "sale";
      _reqTypeText = "판매";
      reqTypePrice = "판매가";
    } else if (item.regType === "B") {
      reqTypeClass = "purchase";
      _reqTypeText = "구매";
      reqTypePrice = "구매가";
    }

    const li = $("<li>").addClass("list-item");
    const a = $("<a>")
      .addClass("btn-link")
      .click(() => navigate("request_send_response_item_g", { reqSeq: item.reqSeq, resSeq: item.resSeq }));
    const avatar_span = $("<span>").addClass("thumb-medium");
    const avatar = $("<img>")
      .attr("src", item.profileImage || "./images/icon/default-s.png")
      .on("error", function () {
        $(this).attr("src", "./images/icon/default-s.png");
      });
    const user_info_div = $("<div>").addClass("user-info");
    const labels_div = $("<div>").addClass("labels");
    const memKind = $("<span>").addClass("label").addClass("dealer");
    const memKindName = $("<span>").addClass("text").text("중고전문가");
    const memName = $("<span>").addClass("name").text(item.memName);
    const comments = $("<span>").addClass("copy").text(item.comments);
    const price_span = $("<span>").addClass("price");
    const price_label = $("<span>").addClass("text").text("구매포인트");
    const price = $("<em>").text(formatNumber(item.buyPoint));
    const won_label = $("<span>").addClass("text").text("P");
    const time = $("<span>")
      .addClass("time-check")
      .text(item.regDateStr || item.regDate);

    let select_button;
    if (item.resStatus === "S") {
      hasSelectedResponse = true;
      select_button = $("<a>").addClass("btn-select-g").text("채팅").click(tryChat.bind(this, item));
    } else {
      select_button = $("<a>")
        .attr("disabled", "disabled")
        .addClass("btn-select-g")
        .text("선택")
        .click(selectResponse.bind(this, item));
    }

    li.append(a);

    a.append(avatar_span);
    a.append(user_info_div);
    a.append(time);
    li.append(select_button);

    avatar_span.append(avatar);

    user_info_div.append(labels_div);

    labels_div.append(memKind);
    memKind.append(memKindName);
    user_info_div.append(memName);
    user_info_div.append(comments);
    user_info_div.append(price_span);
    price_span.append($("<sup>").append(price_label));
    price_span.append(price);
    price_span.append(won_label);

    const container = $("#container");
    container.append(li);
  }

  function renderList(response) {
    $("#listCount").text(`(${response.total})`);
    const container = $("#container");
    container.html("");
    let list = Array.from(response.list);
    switch (sortType) {
      case "resSeq":
        list = list.sort((a, b) => b.resSeq - a.resSeq);
        break;
      case "low_price":
        list = list.sort((a, b) => a.buyPoint - b.buyPoint);
        break;
      case "high_price":
        list = list.sort((a, b) => b.buyPoint - a.buyPoint);
        break;
    }
    Array.from(list).forEach(renderItem);

    if (hasSelectedResponse) {
      $("#container").find("a[disabled=disabled]").addClass("disable").unbind("click");
    }
  }

  function getResponse() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq } = parameter;
    const page = 1;
    const pageCount = 100;
    return api.get(`extend/request/response/${page}/${pageCount}`, { reqSeq }).then(renderList);
  }
  let sortType = "resSeq";
  (function () {
    getRequest();
    getResponse();
    $("#sort").click(() => {
      $("app-bottom-sheet")[0].open(
        [
          { value: "high_price", text: "높은 가격순" },
          { value: "low_price", text: "낮은 가격순" },
          { value: "resSeq", text: "최신순" },
        ],
        sortType
      );
    });
    $("app-bottom-sheet").on("select", (e) => {
      sortType = e.detail.data.value;
      $("#sort-label").text(e.detail.data.text);
      getResponse();
    });
  })();

  RELOAD(function () {
    getRequest();
    getResponse();
  });
</script>
