<div class="wrap gray" id="scroller">
  <app-header title="받은 요청서"></app-header>
  <section class="container">
    <article class="contents">
      <div class="slide-wide">
        <ul class="swiper-wrapper" id="requestProductAtfilResponse"></ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="user-profile">
        <span class="thumb-medium"><img id="profileImage" src="images/no_profile.png" alt="" /></span>
        <div class="user-info">
          <span class="label" id="memKind"><span class="text" is="c-span" id="memKindName"></span></span>
          <span class="name" is="c-span" id="memName"></span>
        </div>
        <div class="address-time-wrap">
          <span is="c-span" class="text address" id="memAddr">주소</span>
          <span class="time-check text" is="c-span" id="regDate"></span>
        </div>
      </div>
      <div class="bar3">
        <span class="prdt-name" id="prodName"> </span>
        <div class="price-group">
          <sup id="reqTypeContainer"><span is="c-span" class="text" id="reqType"></span></sup>
          <span class="price">
            <em id="price"></em>
          </span>
        </div>
      </div>
      <div class="prdt-info mgbt20" id="prodDescContainer" style="display: none;">
        <p id="prodDesc" style="white-space: pre-line; word-break: break-word;"></p>
      </div>
      <section class="reply g" style="display: none;" id="replyContainer">
        <!--        <h1><img src="images/icon/check-answer-l.png" />답변완료</h1>-->
        <h1>답변하기</h1>

        <div class="inner-wrap">
          <div class="form-wide-wrap">
            <h2>구매포인트<em class="required">*</em></h2>
            <input
              type="number"
              class="shape-3"
              placeholder="포인트를 입력해 주세요"
              id="response_price"
              maxlength="11"
            />
            <div class="current-point" id="currentPoint">
              현재 보유 포인트 : 780,000P
            </div>
          </div>

          <div class="form-wide-wrap">
            <h2>내용</h2>
            <textarea
              class="shape-4 js-auto"
              placeholder="원하시는 내용을 입력해주세요(300자)"
              id="comments"
              maxlength="300"
            ></textarea>
          </div>
        </div>
      </section>
    </article>
    <div id="nextBtn" class="swiper-button-next"></div>
    <div id="prevBtn" class="swiper-button-prev"></div>
  </section>
  <!-- style="display: none;" -->
  <a id="action" class="btn-fixed" style="display: none;"><span is="c-span" class="text"></span></a>
  <a id="response" class="btn-fixed disable" style="display: none;"><span is="c-span" class="text"></span></a>
  <a id="chat" class="sale btn-fixed" style="display: none;"><span is="c-span" class="text">채팅</span></a>
  <!--disable-->
  <!--<a  class="btn-fixed disable"><span is="c-span" class="text">답변완료</span></a>-->
  <div class="bg-dim"></div>
</div>
<script>
  let requestItem, responseItem;

  function renderFile(file) {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const { fileUrl } = file;
    const li = $("<li>").addClass("swiper-slide");
    const a = $("<a>").addClass("thumb");
    const img = $("<img>")
      .attr("src", fileUrl)
      .on("load", (e) => {
        if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
          $(e.target).addClass("landscape");
        }
      });
    a.append(img);
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  function renderDefaultImage() {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const li = $("<li>").addClass("swiper-slide");
    const a = $("<a>").addClass("thumb");
    const img = $("<img>")
      .attr("src", "./images/icon/default-l.png")
      .on("load", (e) => {
        if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
          $(e.target).addClass("landscape");
        }
      });
    a.append(img);
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  let reqTypeClass;
  function render(request) {
    requestItem = request;
    const {
      requestProductAtfilResponse,
      memKind,
      memKindName,
      memName,
      addressDiv1,
      addressDiv2,
      addressDiv3,
      regDate,
      regDateStr,
      prodName,
      price,
      prodDesc,
      pickupDate,
      reqType,
      profileImage,
      prevReqSeq,
      nextReqSeq,
      prevParentType,
      nextParentType,
    } = request;
    if (Array.from(requestProductAtfilResponse).length === 0) {
      renderDefaultImage();
    } else {
      // 기존 로직
      Array.from(requestProductAtfilResponse).forEach(renderFile);
    }
    if (memKind === "P") {
      $("#memKind").addClass("dealer");
    } else if (memKind === "G") {
      $("#memKind").addClass("user");
    }
    $("#reqTypeContainer").addClass("sale");
    $("#reqType").text("희망수거일");
    reqTypeClass = "sale";
    $("#memKindName").text(memKindName);
    $("#memName").text(memName);
    $("#memAddr").text(addressDiv1 + " " + addressDiv2 + " " + addressDiv3);
    $("#regDate").text(regDateStr || regDate);
    $("#prodName").text(prodName);
    $("#price").text(pickupDate);
    $("#prodDesc").text(prodDesc);
    if ($("#prodDesc").text() !== "") {
      $("#prodDescContainer").show();
    }

    if (profileImage !== null) {
      $("#profileImage").attr("src", profileImage);
    }

    // prev & next event
    if (prevReqSeq) {
      $("#prevBtn")
        .show()
        .unbind("click")
        .click(function (e) {
          let page = "request_recieve_item_prev";
          if (prevParentType === "GMIDAS") {
            page += "_g";
          }
          console.warn("prev page >> ", page);
          navigateAndReplace(page, { reqSeq: prevReqSeq });
        });
    } else {
      $("#prevBtn").hide();
    }

    if (nextReqSeq) {
      $("#nextBtn")
        .show()
        .unbind("click")
        .click(function (e) {
          let page = "request_recieve_item_next";
          if (nextParentType === "GMIDAS") {
            page += "_g";
          }
          console.warn("next page >> ", page);
          navigateAndReplace(page, { reqSeq: nextReqSeq });
        });
    } else {
      $("#nextBtn").hide();
    }
  }
  function getRequest() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq } = parameter;
    return api.get(`extend/request/${reqSeq}`).then(render);
  }

  function renderStatus(requestStatus) {
    const { size } = requestStatus;
    const data = requestStatus.content[0];
    console.warn(requestStatus);
    const canReply = size === 0;
    if (!canReply) {
      $("#replyContainer").show();
      $("#replyContainer")
        .find("h1")
        .text("답변완료")
        .prepend($("<img>").attr("src", "images/icon/check-answer-l.png"));
    } else {
      $("#replyContainer").show();
      $("#response").show();
    }

    $("#response").find(".text").text("구매정보전송");

    if (data) {
      // 응답정보 조회 추가
      api.get(`extend/request/response/${data.resSeq}`, { reqSeq: data.reqSeq }).then((item) => {
        $("#response_price").val(item.buyPoint).trigger("change").trigger("blur").attr("disabled", "disabled");
        $("#comments").val(item.comments).trigger("change").attr("disabled", "disabled");
        // 선택 된 답변의 경우 채팅버튼 활성화 (황세준 임의 추가)
        if (item.resStatus === "S") {
          $("#chat")
            .click(function (e) {
              navigate("chat_item", {
                ...item,
                recvMemSeq: requestItem.memSeq,
                sendMemSeq: window.member.seq,
                resSeq: item.resSeq,
              });
            })
            .show();
        }
      });
    }
  }
  function getRequestStatus() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq } = parameter;
    return api.get("request/status", { reqSeq, sendMemSeq: window.member.seq }).then(renderStatus);
  }

  let attachFiles = [];
  function uploadImage({ detail: { file, fileName } }) {
    const formData = new FormData();
    formData.append("file", file, fileName);
    api.postForm("base/uploadS3/product", formData).then((attachFile) => {
      // $("#file").val("");
      pushAttachFiles(attachFile);
      appendPreivewImage(attachFile);
    });
  }

  function pushAttachFiles(attachFile) {
    attachFiles.push(attachFile);
    countPreviewImage();
  }

  function appendPreivewImage(attachFile) {
    const imageInput = $("#imageInput");
    const li = $("<li>").addClass("swiper-slide");
    const div = $("<div>").addClass("s-thumb-s");
    const img = $("<img>")
      .addClass("thumb")
      .attr("src", attachFile.fileUrl)
      .on("load", (e) => {
        if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
          $(e.target).addClass("landscape");
        }
      });
    const a = $("<a>")
      .addClass("btn-thumb-close")
      .html("삭제")
      .click(() => deletePreiviewImage(attachFile, li));

    div.append(img).append(a);
    li.append(div);
    imageInput.before(li);
  }

  function deletePreiviewImage(attachFile, li) {
    attachFiles = attachFiles.filter((c) => c.seq !== attachFile.seq);
    li.remove();
    countPreviewImage();
  }

  function countPreviewImage() {
    $("#attachFilesCount").html(`${attachFiles.length}/4`);
    validateResponseRegister();
  }

  let price = 0;
  function formatPrice() {
    let value = parseInt($("#response_price").val());
    if (isNaN(value) || value === 0) {
      $("#response_price").val("");
      price = 0;
    } else {
      $("#response_price")
        .attr("type", "text")
        .val(`${formatNumber(value)} P`);
      price = value;
    }
  }

  function parsePrice() {
    let value = $("#response_price").val();
    value = value.replace(/,/gi, "").replace(/ /gi, "").replace("원", "");
    if (isNaN(parseInt(value))) {
      $("#response_price").val("");
    } else {
      $("#response_price").val(value);
    }
    $("#response_price").attr("type", "number").select();
  }

  function validateResponseRegister() {
    const response = $("#response");
    /*    if (attachFiles.length === 0) {
      response.addClass("disable");
      response.removeClass(reqTypeClass);
      return;
    }*/
    if ($("#response_price").val().trim().length === 0) {
      response.addClass("disable");
      response.removeClass(reqTypeClass);
      return;
    }
    /*
    if ($("#comments").val().trim().length === 0) {
      response.addClass("disable");
      response.removeClass(reqTypeClass);
      return;
    }
    */
    response.removeClass("disable");
    response.addClass(reqTypeClass);
  }

  let ingResponse = false;
  function tryResponse() {
    if (ingResponse) {
      return;
    }
    ingResponse = true;
    $("#response").prop("disabled", true);
    const parameter = GET_PARAMETER() || {};
    const { reqSeq } = parameter;

    const url = "extend/request/response";
    const body = {
      attachFiles: attachFiles.map((c) => ({ fileSeq: c.seq })),
      reqSeq,
      buyPoint: price,
      comments: $("#comments").val(),
      memSeq: window.member.seq,
    };

    api
      .post(url, body)
      .then((response) => {
        Alert("전송완료", "요청서에 대한 답변을 전송 완료하였습니다.").then(navigateToBack);
      })
      .catch(() => {
        Alert("전송 오류", "답변을 전송 하는 중 오류가 발생 하였습니다. 관리자에게 문의 부탁드립니다.");
        $("#response").prop("disabled", false);
        let ingResponse = true;
      });
  }

  function getPicture() {
    if (attachFiles.length > 3) {
      return;
    }

    if (typeof window.picture === "function") {
      window.picture();
    }
  }

  function getProfile() {
    return api.get(`mypage/profile/${window.member.seq}`).then((response) => {
      window.member = { ...response };
      $("#currentPoint").text(`내포인트 ${formatNumber(response.point)}`);
    });
  }

  (function () {
    getRequest().then(getProfile).then(getRequestStatus);
    $("#addPicture").click(getPicture);
    $("#response_price").focus(parsePrice);
    $("#response_price").blur(formatPrice);
    $("#response_price").change(validateResponseRegister);
    $("#response_price").keyup(validateResponseRegister);
    $("#comments").keyup(validateResponseRegister);
    $("#response").click(tryResponse);
    window.addEventListener("picture", uploadImage);
  })();

  UNLOAD(() => {
    window.removeEventListener("picture", uploadImage);
  });
</script>
