<div class="wrap gray">
  <app-header></app-header>
  <section class="container">
    <article class="contents">
      <div class="slide-wide">
        <ul class="swiper-wrapper" id="requestProductAtfilResponse"></ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="bar2">
        <div class="prdt-name" id="prodName">삼성 듀엘 김치 냉장고</div>
        <div class="num-set">
          <span class="time-check"><span is="c-span" class="text" id="regDate"></span></span>
          <span class="price">
            <sup><span is="c-span" class="text sale">구매포인트</span></sup>
            <em id="price"></em>
            <span is="c-span" class="text">P</span>
          </span>
        </div>
      </div>
      <div class="prdt-info">
        <p id="comments" style="white-space: pre-line; word-break: break-word"></p>
      </div>
      <div class="user">
        <div class="user-profile">
          <span class="thumb-medium edit">
            <img id="profileImage" src="images/no_profile.png" alt="" />
          </span>
          <div class="user-info">
            <span class="label dealer"><span class="text" is="c-span">중고전문가</span></span>
            <span class="name" is="c-span" id="memName"></span>
          </div>
        </div>
      </div>
      <ul class="list-small-input">
        <li class="list-item">
          <div class="item-text pin">
            <input type="text" class="shape-1" disabled id="shopAddr1" />
          </div>
        </li>
        <!-- <li class="list-item">
          <div class="item-text">
            <input type="text" class="shape-1" disabled id="shopAddr2" />
          </div>
        </li> -->
      </ul>
    </article>
  </section>
  <a class="btn-fixed primary" id="register"><span is="c-span" class="text">선택</span></a>
  <div class="bg-dim"></div>
</div>

<script>
  function renderFile(file) {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const { fileUrl } = file;
    const li = $("<li>").addClass("swiper-slide");
    const a = $("<a>").addClass("thumb");
    const img = $("<img>").attr("src", fileUrl);
    a.append(img);
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  let roomSeq;
  let sendMemSeq;
  function renderResponse(response) {
    console.log("response", response);
    $("app-header").attr("title", response.memName);
    $("#comments").text(response.comments);
    // 답변 이미지 없는 경우 오류 임시처리 - 황세준
    // TODO : 이미지 없을 경우 기본 영역 및 기본이미지 표시

    if (response.hasOwnProperty("requestProductAtfilResponse") && response.requestProductAtfilResponse) {
      Array.from(response.requestProductAtfilResponse).forEach(renderFile);
    }

    const reqType = response.reqType;
    $("#prodName").text(response.prodName);
    $("#price").text(formatNumber(response.buyPoint));
    $("#regDate").text(response.regDateStr || response.regDate);
    $("#memName").text(response.memName);
    $("#memHp").val(response.memHp);
    $("#shopAddr1").val(response.shopAddr1);
    $("#shopAddr2").val(response.shopAddr2);
    $("#tel").attr("href", `tel:${response.memHp}`);

    if (response.profileImage !== null) {
      $("#profileImage").attr("src", response.profileImage);
    }

    roomSeq = response.roomSeq;
    sendMemSeq = response.sendMemSeq;

    // 선택한 답변인 경우
    if (response.resStatus === "S") {
      $("#register").unbind("click").click(tryChat.bind(null, response)).find("span").text("채팅");
    }
    // 이미 다른 답변이 선택 된 경우
    else if (response.isSelected === "Y") {
      $("#register").unbind("click").removeClass("primary").addClass("disable").find("span").text("다른 답변 선택");
    }
    // 미선택인 경우
    else {
      $("#register")
        .unbind("click")
        .click(function () {
          api
            .put(`extend/request/response/status/${response.resSeq}?resStatus=S&reqSeq=${response.reqSeq}&`)
            .then(() => {
              Alert("판매확정", "선택하신 중고전문가에게 판매 확정 알림이 전송되었습니다.").then((e) => {
                console.log(e);

                hasSelectedResponse = true;
                // 닫기 버튼을 누르면 cause === 'done' 그 외 cause === 'close'
                const cause = e.cause;
                if (cause !== "done") {
                  getResponse();
                  return;
                }
                navigate("chat_item", {
                  ...response,
                  recvMemSeq: response.memSeq,
                  sendMemSeq: window.member.seq,
                  resSeq: response.resSeq,
                });
              });
            })
            .catch((error) => {
              console.error("error >> ", error);
              if (error.message && error.message !== "") {
                Alert("정보", error.message);
              }
            });
        });
    }
  }

  function getResponse() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq, resSeq } = parameter;
    return api.get(`extend/request/response/${resSeq}`, { reqSeq }).then(renderResponse);
  }

  function tryChat(item) {
    const chatParameter = {
      reqSeq: item.reqSeq,
      resSeq: item.resSeq,
      sendMemSeq: window.member.seq,
      recvMemSeq: item.memSeq,
    };
    navigate("chat_item", chatParameter);
  }

  let sortType = "resSeq";
  (function () {
    getResponse();
    $("#chat").click(tryChat);
  })();
</script>
