<!-- 슬라이드 방향 때문에 request_recieve_item.html 과 완전히 동일한 파일 이원화 (ㅈㅅ) -->
<!-- TODO : 파일 삭제 (슬라이드 방향 지정 할 수 있도록 변경 필요) -->
<div class="wrap gray" id="scroller">
  <app-header title="받은 요청서"></app-header>
  <section class="container">
    <article class="contents">
      <div class="slide-wide">
        <ul class="swiper-wrapper" id="requestProductAtfilResponse"></ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="user-profile">
        <span class="thumb-medium"><img id="profileImage" src="images/no_profile.png" alt="" /></span>
        <div class="user-info">
          <span class="label" id="memKind"><span class="text" is="c-span" id="memKindName"></span></span>
          <span class="name" is="c-span" id="memName"></span>
        </div>
        <div class="address-time-wrap">
          <span is="c-span" class="text address" id="memAddr">주소</span>
          <span class="time-check text" is="c-span" id="regDate"></span>
        </div>
      </div>
      <div class="bar3">
        <span class="prdt-name" id="prodName"> </span>
        <!-- <div class="price-group">
          <sup id="reqTypeContainer"><span is="c-span" class="text" id="reqType"></span></sup>
          <span class="price">
            <em id="price"></em>
            <span is="c-span" class="text">원</span>
          </span>
        </div> -->
      </div>
      <div class="prdt-info mgbt20" id="prodDescContainer" style="display: none">
        <p id="prodDesc" style="white-space: pre-line; word-break: break-word"></p>
      </div>
      <section class="reply" style="display: none" id="replyContainer">
        <h1>답변하기</h1>

        <div class="inner-wrap">
          <div class="form-wide-none">
            <h2>제품이미지 추가</h2>
            <div class="slide-small">
              <ul class="swiper-wrapper" id="imageContainer">
                <li class="swiper-slide" id="imageInput">
                  <a id="addPicture">
                    <label class="btn-thumb-add sale"> </label>
                  </a>
                  <span class="count"><span is="c-span" id="attachFilesCount">0/4</span></span>
                </li>
              </ul>
            </div>
          </div>

          <div class="form-wide-wrap">
            <h2>가격<em class="required">*</em></h2>
            <input
              type="number"
              class="shape-3"
              placeholder="가격을 입력해 주세요"
              id="response_price"
              maxlength="11"
            />
          </div>

          <div class="form-wide-wrap">
            <h2>내용</h2>
            <textarea
              class="shape-4 js-auto"
              placeholder="원하시는 내용을 입력해주세요(300자)"
              id="comments"
              maxlength="300"
            ></textarea>
          </div>
        </div>
      </section>
    </article>
    <div id="nextBtn" class="swiper-button-next"></div>
    <div id="prevBtn" class="swiper-button-prev"></div>
  </section>
  <!-- style="display: none;" -->
  <a id="action" class="btn-fixed" style="display: none"><span is="c-span" class="text"></span></a>
  <a id="response" class="btn-fixed disable" style="display: none"><span is="c-span" class="text"></span></a>
  <!--disable-->
  <!--<a  class="btn-fixed disable"><span is="c-span" class="text">답변완료</span></a>-->
  <div class="bg-dim"></div>
</div>
<script>
  function renderFile(file) {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");

    const { fileUrl } = file;
    const li = $("<li>").addClass("swiper-slide");
    let a = $("<a>").addClass("thumb").attr("data-fancybox", "").attr("data-src", fileUrl);
    const img = $("<app-img>");
    if (fileUrl) {
      if (
        fileUrl.includes(".mp4") ||
        fileUrl.includes(".avi") ||
        fileUrl.includes(".mpeg") ||
        fileUrl.includes(".mpg") ||
        fileUrl.includes(".mkv")
      ) {
        // TODO : 퍼블 필요 ( height 값 고정 임시처리 )
        const video = $('<video controls style="width:100%; height:312px;"><source src="" type="video/mp4" /></video>');
        video.find("source").attr("src", fileUrl);
        a = $("<a>").addClass("thumb");
        a.css("transform", "translate(0,0)");
        a.append(video);
      } else {
        img.attr("src", fileUrl);
        img.attr("alt-src", fileUrl);
        img.attr("default-src", "./images/icon/default-s.png");
        a.append(img);
      }
    }
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  function renderDefaultImage() {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const li = $("<li>").addClass("swiper-slide");
    const a = $("<a>").addClass("thumb");
    const img = $("<img>")
      .attr("src", "./images/icon/default-l.png")
      .on("load", (e) => {
        if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
          $(e.target).addClass("landscape");
        }
      });
    a.append(img);
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  let reqTypeClass;
  function render(request) {
    const {
      requestProductAtfilResponse,
      memKind,
      memKindName,
      memName,
      addressDiv1,
      addressDiv2,
      addressDiv3,
      regDate,
      regDateStr,
      prodName,
      price,
      prodDesc,
      reqType,
      profileImage,
      prevReqSeq,
      nextReqSeq,
      prevParentType,
      nextParentType,
    } = request;
    if (Array.from(requestProductAtfilResponse).length === 0) {
      renderDefaultImage();
    } else {
      // 기존 로직
      $("#requestProductAtfilResponse").empty();
      Array.from(requestProductAtfilResponse).forEach(renderFile);
    }
    if (memKind === "P") {
      $("#memKind").addClass("dealer");
    } else if (memKind === "G") {
      $("#memKind").addClass("user");
    }
    if (reqType === "S") {
      $("#reqTypeContainer").addClass("sale");
      /* $("#reqType").text("판매가"); */
      reqTypeClass = "sale";
    } else if (reqType === "B") {
      $("#reqTypeContainer").addClass("purchase");
      /* $("#reqType").text("구매가"); */
      reqTypeClass = "purchase";
    }
    $("#memKindName").text(memKindName);
    $("#memName").text(memName);
    $("#memAddr").text(addressDiv1 + " " + addressDiv2 + " " + addressDiv3);
    $("#regDate").text(regDateStr || regDate);
    $("#prodName").text(prodName);
    $("#price").text(formatNumber(price));
    $("#prodDesc").text(prodDesc);
    if ($("#prodDesc").text() !== "") {
      $("#prodDescContainer").show();
    }

    if (profileImage !== null) {
      $("#profileImage").attr("src", profileImage);
    }

    // prev & next event
    if (prevReqSeq) {
      $("#prevBtn")
        .show()
        .unbind("click")
        .click(function (e) {
          let page = "request_recieve_item_prev";
          if (prevParentType === "GMIDAS") {
            page += "_g";
          }
          console.warn("prev page >> ", page);
          navigateAndReplace(page, { reqSeq: prevReqSeq });
        });
    } else {
      $("#prevBtn").hide();
    }

    if (nextReqSeq) {
      $("#nextBtn")
        .show()
        .unbind("click")
        .click(function (e) {
          let page = "request_recieve_item_next";
          if (nextParentType === "GMIDAS") {
            page += "_g";
          }
          console.warn("next page >> ", page);
          navigateAndReplace(page, { reqSeq: nextReqSeq });
        });
    } else {
      $("#nextBtn").hide();
    }

    window.initFancyBox($);
  }
  function getRequest(reloadReqSeq) {
    const parameter = GET_PARAMETER() || {};
    let { reqSeq } = parameter;
    if (reloadReqSeq) {
      reqSeq = reloadReqSeq;
    }
    return api.get(`request/${reqSeq}`).then(render);
  }

  function renderStatus(requestStatus) {
    const { size } = requestStatus;
    const data = requestStatus.content[0];
    const canReply = size === 0;
    if (!canReply) {
      $("#replyContainer").show();
      $("#replyContainer").find("h1").text("답변완료").prepend($("<img>").attr("src", "images/icon/check-active.png"));
      $("#replyContainer").find(".form-wide-none > h2").remove();
      $("#action").addClass("disable").find(".text").text("답변완료");
      $("#action").show();
      $("#imageInput").hide();
    } else {
      $("#replyContainer").show();
      $("#response").show();
      $("#action").hide();
    }

    if (reqTypeClass === "sale") {
      $("#response").find(".text").text("판매정보전송");
    } else {
      $("#response").find(".text").text("구매정보전송");
    }

    if (data) {
      // 응답정보 조회 추가
      api.get(`request/response/${data.resSeq}`, { reqSeq: data.reqSeq }).then((item) => {
        console.warn("@@@@@@@@@@@@@@@", item);
        const { price, comments, requestProductAtfilResponse } = item;
        $("#response_price").val(price).trigger("change").trigger("blur").attr("disabled", "disabled");
        $("#comments").val(comments).trigger("change").attr("disabled", "disabled");

        if (Array.from(requestProductAtfilResponse).length === 0) {
          renderDefaultImage();
        } else {
          // 기존 로직
          // $("#requestProductAtfilResponse").empty();
          Array.from(requestProductAtfilResponse).forEach((attachFile) => {
            pushAttachFiles(attachFile);
            appendPreivewImage(attachFile, false);
          });
        }
      });
    }
  }
  function getRequestStatus(reloadReqSeq) {
    console.warn("reloadReqSeq", reloadReqSeq);
    const parameter = GET_PARAMETER() || {};
    let { reqSeq } = parameter;
    if (reloadReqSeq) {
      reqSeq = reloadReqSeq;
    }
    return api.get("request/status", { reqSeq, sendMemSeq: window.member.seq }).then(renderStatus);
  }

  let attachFiles = [];
  function uploadImage({ detail: { file, fileName } }) {
    const formData = new FormData();
    formData.append("file", file, fileName);
    api.postForm("base/uploadS3/product", formData).then((attachFile) => {
      // $("#file").val("");
      pushAttachFiles(attachFile);
      appendPreivewImage(attachFile, true);
    });
  }

  function pushAttachFiles(attachFile) {
    attachFiles.push(attachFile);
    countPreviewImage();
  }

  function appendPreivewImage(attachFile, showDeleteButton) {
    const imageInput = $("#imageInput");
    const li = $("<li>").addClass("swiper-slide");
    const div = $("<div>").addClass("s-thumb-s");
    const img = $("<app-img>");
    img.attr("src", attachFile.fileUrl);
    img.attr("alt-src", attachFile.fileUrl);
    const a = $("<a>")
      .addClass("btn-thumb-close")
      .html("삭제")
      .click(() => deletePreiviewImage(attachFile, li));

    div.append(img);
    if (showDeleteButton) {
      div.append(a);
    }
    li.append(div);
    imageInput.before(li);
  }

  function deletePreiviewImage(attachFile, li) {
    attachFiles = attachFiles.filter((c) => c.seq !== attachFile.seq);
    li.remove();
    countPreviewImage();
  }

  function countPreviewImage() {
    $("#attachFilesCount").html(`${attachFiles.length}/4`);
    validateResponseRegister();
  }

  let price = 0;
  function formatPrice() {
    let value = parseInt($("#response_price").val());
    if (isNaN(value) || value === 0) {
      $("#response_price").val("");
      price = 0;
    } else {
      $("#response_price")
        .attr("type", "text")
        .val(`${formatNumber(value)} 원`);
      price = value;
    }
  }

  function parsePrice() {
    let value = $("#response_price").val();
    value = value.replace(/,/gi, "").replace(/ /gi, "").replace("원", "");
    if (isNaN(parseInt(value))) {
      $("#response_price").val("");
    } else {
      $("#response_price").val(value);
    }
    $("#response_price").attr("type", "number").select();
  }

  function validateResponseRegister() {
    const response = $("#response");
    /*    if (attachFiles.length === 0) {
      response.addClass("disable");
      response.removeClass(reqTypeClass);
      return;
    }*/
    if ($("#response_price").val().trim().length === 0) {
      response.addClass("disable");
      response.removeClass(reqTypeClass);
      return;
    }
    /*
    if ($("#comments").val().trim().length === 0) {
      response.addClass("disable");
      response.removeClass(reqTypeClass);
      return;
    }
    */
    response.removeClass("disable");
    response.addClass(reqTypeClass);
  }

  let ingResponse = false;
  function tryResponse() {
    if (ingResponse) {
      return;
    }
    ingResponse = true;
    $("#response").prop("disabled", true);
    const parameter = GET_PARAMETER() || {};
    const { reqSeq } = parameter;

    const url = "request/response";
    const body = {
      attachFiles: attachFiles.map((c) => ({ fileSeq: c.seq })),
      reqSeq,
      price,
      comments: $("#comments").val(),
      memSeq: window.member.seq,
    };

    api
      .post(url, body)
      .then((response) => {
        Alert("전송완료", "요청서에 대한 답변을 전송 완료하였습니다.").then(navigateToBack);
      })
      .catch(() => {
        Alert("전송 오류", "답변을 전송 하는 중 오류가 발생 하였습니다. 관리자에게 문의 부탁드립니다.");
        $("#response").prop("disabled", false);
        ingResponse = false;
      });
  }

  function getPicture() {
    if (attachFiles.length > 3) {
      return;
    }

    if (typeof window.picture === "function") {
      window.picture();
    }
  }

  (function () {
    getRequest().then(getRequestStatus);
    $("#addPicture").click(getPicture);
    $("#response_price").focus(parsePrice);
    $("#response_price").blur(formatPrice);
    $("#response_price").change(validateResponseRegister);
    $("#response_price").keyup(validateResponseRegister);
    $("#comments").keyup(validateResponseRegister);
    $("#response").click(tryResponse);
    window.addEventListener("picture", uploadImage);
  })();

  UNLOAD(() => {
    window.removeEventListener("picture", uploadImage);
  });
</script>
<style>
  #replyContainer > h1 > img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
</style>
