<div class="wrap gray">
  <app-header></app-header>
  <section class="container">
    <article class="contents">
      <div class="slide-wide">
        <ul class="swiper-wrapper" id="requestProductAtfilResponse"></ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="prdt-info">
        <p id="comments" style="white-space: pre-line; word-break: break-word"></p>
      </div>
      <div class="bar2">
        <span class="price">
          <sup id="reqTypeContainer"><span is="c-span" class="text" id="reqType"></span></sup>
          <em id="price"></em>
          <span is="c-span" class="text">원</span>
        </span>
        <span class="time-check"><span is="c-span" class="text" id="regDate"></span></span>
      </div>
      <div class="user">
        <div class="user-profile">
          <span class="thumb-medium edit">
            <img id="profileImage" src="images/no_profile.png" alt="" />
          </span>
          <div class="user-info">
            <span class="label dealer"><span class="text" is="c-span">중고전문가</span></span>
            <span class="name" is="c-span" id="memName"></span>
          </div>
        </div>
      </div>
      <ul class="list-small-input">
        <li class="list-item">
          <div class="item-text pin">
            <input type="text" class="shape-1" disabled id="shopAddr1" />
          </div>
        </li>
        <!-- <li class="list-item">
          <div class="item-text">
            <input type="text" class="shape-1" disabled id="shopAddr2" />
          </div>
        </li> -->
      </ul>
      <ul class="list-small-input">
        <li class="list-item">
          <div>
            <span class="item-text phone">
              <input type="text" class="shape-1" disabled="" id="memHp" />
            </span>
          </div>
        </li>
      </ul>
    </article>
  </section>
  <div class="bar-bottom-fixed">
    <a id="tel" class="btn-phone"><span is="c-span" class="text">전화걸기</span></a>
    <a class="btn-fit-medium" id="chat"><span is="c-span" class="text">채팅하기</span></a>
  </div>
  <div class="bg-dim"></div>
</div>

<script>
  function renderFile(file) {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const { fileUrl } = file;
    const li = $("<li>").addClass("swiper-slide");
    let a = $("<a>").addClass("thumb").attr("data-fancybox", "").attr("data-src", fileUrl);
    const img = $("<app-img>");
    if (fileUrl) {
      if (
        fileUrl.includes(".mp4") ||
        fileUrl.includes(".avi") ||
        fileUrl.includes(".mpeg") ||
        fileUrl.includes(".mpg") ||
        fileUrl.includes(".mkv")
      ) {
        // TODO : 퍼블 필요 ( height 값 고정 임시처리 )
        const video = $('<video controls style="width:100%; height:312px;"><source src="" type="video/mp4" /></video>');
        video.find("source").attr("src", fileUrl);
        a = $("<a>").addClass("thumb");
        a.css("transform", "translate(0,0)");
        a.append(video);
      } else {
        img.attr("src", fileUrl);
        img.attr("alt-src", fileUrl);
        img.attr("default-src", "./images/icon/default-s.png");
        a.append(img);
      }
    }

    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  function renderDefaultImage() {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const li = $("<li>").addClass("swiper-slide");
    const a = $("<a>").addClass("thumb");
    const img = $("<img>")
      .attr("src", "./images/icon/default-l.png")
      .on("load", (e) => {
        if ($(e.target)[0].naturalHeight < $(e.target)[0].naturalWidth) {
          $(e.target).addClass("landscape");
        }
      });
    a.append(img);
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  let roomSeq;
  let sendMemSeq;
  function renderResponse(response) {
    console.log("response", response);
    $("app-header").attr("title", response.memName);
    $("#comments").text(response.comments);
    const requestProductAtfilResponse = response.requestProductAtfilResponse || [];
    if (Array.from(requestProductAtfilResponse).length === 0) {
      renderDefaultImage();
    } else {
      // 기존 로직
      Array.from(requestProductAtfilResponse).forEach(renderFile);
    }

    const reqType = response.reqType;
    if (reqType === "S") {
      $("#reqTypeContainer").addClass("sale");
      $("#reqType").text("판매희망가");
    } else if (reqType === "B") {
      $("#reqTypeContainer").addClass("purchase");
      $("#reqType").text("구매희망가");
    }

    $("#price").text(formatNumber(response.price));
    $("#regDate").text(response.regDate.substr(0, 10).replace(/-/gi, "."));
    $("#memName").text(response.memName);
    $("#memHp").val(response.memHp);
    $("#shopAddr1").val(response.shopAddr1);
    $("#shopAddr2").val(response.shopAddr2);
    $("#tel").attr("href", `tel:${response.memHp}`);

    if (response.profileImage !== null) {
      $("#profileImage").attr("src", response.profileImage);
    }

    roomSeq = response.roomSeq;
    sendMemSeq = response.sendMemSeq;

    window.initFancyBox($);
  }

  function getResponse() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq, resSeq } = parameter;
    return api.get(`request/response/${resSeq}`, { reqSeq }).then(renderResponse);
  }

  function tryChat() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq, resSeq } = parameter;
    const chatParameter = { reqSeq, resSeq, sendMemSeq: window.member.seq, recvMemSeq: sendMemSeq, roomSeq };
    navigate("chat_item", chatParameter);
  }

  let sortType = "resSeq";
  (function () {
    getResponse();
    $("#chat").click(tryChat);
  })();
</script>
