<div class="wrap gray">
  <app-header></app-header>
  <section class="container">
    <article class="contents">
      <div class="slide-wide">
        <ul class="swiper-wrapper" id="requestProductAtfilResponse"></ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="prdt-info">
        <p id="comments"></p>
      </div>
      <div class="bar2">
        <span class="price">
          <sup id="reqTypeContainer"><span is="c-span" class="text" id="reqType"></span></sup>
          <em id="price"></em>
          <span is="c-span" class="text">원</span>
        </span>
        <span class="time-check"><span is="c-span" class="text" id="regDate"></span></span>
      </div>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>

<script>
  function renderFile(file) {
    const requestProductAtfilResponse = $("#requestProductAtfilResponse");
    const { fileUrl } = file;
    const li = $("<li>").addClass("swiper-slide");
    let a = $("<a>").addClass("thumb");
    const img = $("<app-img>");

    if (fileUrl) {
      if (
        fileUrl.includes(".mp4") ||
        fileUrl.includes(".avi") ||
        fileUrl.includes(".mpeg") ||
        fileUrl.includes(".mpg") ||
        fileUrl.includes(".mkv")
      ) {
        // TODO : 퍼블 필요 ( height 값 고정 임시처리 )
        const video = $('<video controls style="width:100%; height:312px;"><source src="" type="video/mp4" /></video>');
        video.find("source").attr("src", fileUrl);
        a = $("<a>").addClass("thumb");
        a.css("transform", "translate(0,0)");
        a.append(video);
      } else {
        img.attr("src", fileUrl);
        img.attr("alt-src", fileUrl);
        img.attr("default-src", "./images/icon/default-s.png");
        a.append(img);
      }
    }
    li.append(a);
    requestProductAtfilResponse.append(li);
  }

  let roomSeq;
  let sendMemSeq;
  function renderResponse(response) {
    console.log("response", response);
    $("app-header").attr("title", response.memName);
    $("#comments").text(response.comments);
    // 답변 이미지 없는 경우 오류 임시처리 - 황세준
    // TODO : 이미지 없을 경우 기본 영역 및 기본이미지 표시
    if (response.hasOwnProperty("requestProductAtfilResponse") && response.requestProductAtfilResponse) {
      Array.from(response.requestProductAtfilResponse).forEach(renderFile);
    }

    const reqType = response.reqType;
    if (reqType === "S") {
      $("#reqTypeContainer").addClass("sale");
      $("#reqType").text("판매희망가");
    } else if (reqType === "B") {
      $("#reqTypeContainer").addClass("purchase");
      $("#reqType").text("구매희망가");
    }

    $("#price").text(formatNumber(response.price));
    $("#regDate").text(response.regDate.substr(0, 10).replace(/-/gi, "."));
    $("#memName").text(response.memName);
    $("#memHp").val(response.memHp);
    $("#shopAddr1").val(response.shopAddr1);
    $("#shopAddr2").val(response.shopAddr2);
    $("#tel").attr("href", `tel:${response.memHp}`);

    roomSeq = response.roomSeq;
    sendMemSeq = response.sendMemSeq;
  }

  function getResponse() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq, resSeq } = parameter;
    return api.get(`request/response/${resSeq}`, { reqSeq }).then(renderResponse);
  }

  function tryChat() {
    const parameter = GET_PARAMETER() || {};
    const { reqSeq, resSeq } = parameter;
    const chatParameter = { reqSeq, resSeq, sendMemSeq: window.member.seq, recvMemSeq: sendMemSeq, roomSeq };
    navigate("chat_item", chatParameter);
  }

  let sortType = "resSeq";
  (function () {
    getResponse();
    $("#chat").click(tryChat);
  })();
</script>
