<!-- DOM -->
<div class="wrap keyboard" id="root">
  <app-header root></app-header>

  <section class="container">
    <article class="contents">
      <div class="main-top-wrap main-user">
        <video muted loop webkit-playsinline playsinline id="video">
          <source id="mainVideo" src="movie/KakaoTalk_Video_2020-03-16-10-59-55.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="main-top-wrap main-dealer" style="display: none">
        <div class="alarm-head-wrap">
          <span is="c-span" class="text title">요청서알림</span>
          <a class="btn-all-request" onclick="navigate('request_recieve_list')"
            ><span is="c-span" class="text">전체 요청서 보기 &gt;</span></a
          >
        </div>
        <ul class="list-alarm" id="reqLst">
          <li class="list-item">
            <!-- <a onclick="navigate('request_recieve_list', {type:'S'})" class="item-text">-->
            <a class="item-text sale">
              <!-- <a class="item-text sale new"> -->
              <span class="main-label sale"><span class="text" is="c-span">판매</span></span>
              <span is="c-span" class="text prdt-name" id="sale_text"></span>
              <img src="./images/icon/n-badge.png" class="n-badge" />
              <img src="./images/icon/arr-small-r.png" class="arr-small-r" />
            </a>
          </li>
          <li class="list-item">
            <!-- <a onclick="navigate('request_recieve_list', {type:'B'})" class="item-text">-->
            <a class="item-text purchase">
              <span class="main-label purchase"><span class="text" is="c-span">구매</span></span>
              <span is="c-span" class="text prdt-name" id="purchase_text"></span>
              <img src="./images/icon/n-badge.png" class="n-badge" />
              <img src="./images/icon/arr-small-r.png" class="arr-small-r" />
            </a>
          </li>
          <li class="list-item">
            <!-- <a onclick="navigate('request_recieve_list', {type:'DEALER'})" class="item-text">-->
            <a class="item-text dealer">
              <span class="main-label emergency"><span class="text" is="c-span">긴급</span></span>
              <span is="c-span" class="text prdt-name" id="dealer_text"></span>
              <img src="./images/icon/n-badge.png" class="n-badge" />
              <img src="./images/icon/arr-small-r.png" class="arr-small-r" />
            </a>
          </li>
        </ul>
      </div>
      <div class="main-top-wrap main-empty" style="display: none" id="dealer-empty">
        <img src="images/main-empty-back.png" />
        <div class="empty-main">
          <img class="ico-warning-main" src="images/icon/warning-main.png" />
          <span class="text copy" is="c-span">사업자 미승인으로 받은요청서를 볼 수 없습니다.</span>
          <a class="btn-category">고객센터에 연락하기 &gt;</a>
        </div>
      </div>
      <!--      <div class="bar6"><em id="pUsrCnt_banner"></em>명의 <strong>중고전문점</strong>이 해결해드립니다.</div>-->
      <div id="emergency" class="bar6">
        <a class="btn-emergency" id="requestEmergency"
          ><img src="images/icon/emergency-s-w.png" class="ico-emergency" /><span is="c-span" class="text"
            >중고전문가에게 긴급요청하기</span
          ></a
        >
      </div>
      <div class="bar4" id="search-bar">
        <input class="btn-main-search" id="category_search" type="search" placeholder="무엇이 필요하신가요?" />
        <!--                <a class="btn-search-speak"><span is="c-span">말하기</span></a>-->
        <!--        <input type="file" accept="audio/*;capture=microphone" class="btn-search-speak" />-->
        <button id="speech" class="btn-search-speak"></button>
        <!-- <a class="btn-main-search" id="search_navigator"><span is="c-span" class="text">무엇이 필요하신가요?</span></a> -->
      </div>
      <div class="deal-main-container">
        <!-- TODO : css 처리 -->
        <div class="deal-btn-wrap" style="margin-top: 10px">
          <a class="btn-deal sale" id="request_sell"><span class="btn-title text" is="s-span">팔고싶어요</span></a>
          <a class="btn-deal purchase" id="request_buy"><span class="btn-title text" is="s-span">사고싶어요</span></a>
          <a class="btn-deal donate" id="request_donate"> <span class="btn-title text" is="s-span">기부할래요</span></a>
        </div>
      </div>
      <div class="bottom-util-wrap">
        <a onclick="navigate('myInfo')" class="btn-my-info"><span is="c-span" class="text">&lt; 내정보</span></a>
        <a onclick="navigate('myStore')" class="btn-my-product"><span is="c-span" class="text">내물품 &gt;</span></a>
      </div>
      <div class="btn-wrap-product-all">
        <a class="btn-rect-small-bold" onclick="navigate('allProdList')"
          ><span is="c-span" class="text">전체물품 둘러보기 &gt;</span></a
        >
      </div>
      <ul class="user-count">
        <li>
          <a class="btn-my-link">
            <span is="c-span" class="title text">중고전문가</span>
            <em id="pUsrCnt">0</em>
          </a>
        </li>
        <li>
          <a class="btn-my-link">
            <span is="c-span" class="title text">누적물품수</span>
            <em id="totProdCnt">0</em>
          </a>
        </li>
        <li>
          <a class="btn-my-link">
            <span is="c-span" class="title text">회원수</span>
            <em id="donateCnt">0</em>
          </a>
        </li>
      </ul>
    </article>
  </section>
</div>
<div class="bg-dim"></div>
<!-- DOM-->

<style>
  .keyboard.on {
    transform: translateY(-150px);
    transition: transform 0.5s;
    height: initial;
    overflow-y: visible;
    overflow: initial;
  }
  .keyboard {
    transform: translateY(0);
    transition: transform 0.5s;
  }
</style>

<!-- SCRIPT -->

<script>
  var param = {};
  param.memSeq = window.member.seq;
  let rollingId = null;
  let requestList = [];

  function getProductLst() {
    param.memSeq = window.member.seq;
    if (window.member.memKind === "P") {
      $(".main-top-wrap.main-user").hide();
      $(".main-top-wrap.main-dealer").show();

      return api.get("/screen/main/request", param).then((data) => {
        if (rollingId !== null) {
          clearInterval(rollingId);
        }
        requestList = data.content;
        rollingRequestBoard();
      });
    } else {
      $("#emergency").hide();
      $(".main-top-wrap.main-dealer").hide();
      $(".main-top-wrap.main-user").show();
      setTimeout(() => {
        $("#video")[0].play();
      }, 200);
    }
  }

  function selectProduct(id) {
    navigate("request_sell", id);
  }

  function getRequestCount() {
    $("#sale_text").text("");
    $("#purchase_text").text("");
    $("#dealer_text").text("");

    return api.get("/screen/main", param).then((data) => {
      window.root = data;
      $("#pUsrCnt").html(formatNumber(parseInt(data.puserCnt)));
      $("#pUsrCnt_banner").html(formatNumber(parseInt(data.puserCnt)));
      $("#totProdCnt").html(formatNumber(parseInt(data.productCnt)));
      $("#donateCnt").html(formatNumber(parseInt(data.totUserCnt)));
      $("#mainVideo").attr("src", data.videoUrl);
      $("app-header")[0].updateRoot();
    });
  }

  function rollingRequestBoard() {
    let startNum = 0;
    $("#sale_text").removeClass("animation");
    $("#purchase_text").removeClass("animation");
    $("#dealer_text").removeClass("animation");
    const saleList = requestList.filter((c) => c.memKind === "G" && c.reqType == "S");
    const purchaseList = requestList.filter((c) => c.memKind === "G" && c.reqType == "B");
    const dealerList = requestList.filter((c) => c.memKind === "P");

    const sale = saleList[startNum % saleList.length];
    const purchase = purchaseList[startNum % purchaseList.length];
    const dealer = dealerList[startNum % dealerList.length];

    setTimeout(() => {
      if (sale !== undefined) {
        $("#sale_text").text(sale.prodName).addClass("animation");
        $("#sale_text")
          .parent()
          .removeClass(sale.isNew === "N" ? "new" : "")
          .addClass(sale.isNew === "Y" ? "new" : "")
          .unbind("click")
          .click(function (e) {
            if (sale.parentType === "GMIDAS") {
              navigate("request_recieve_item_g", { reqSeq: sale.reqSeq });
            } else {
              navigate("request_recieve_item", { reqSeq: sale.reqSeq });
            }
          });
      } else {
        $("#sale_text").text("");
        $("#sale_text").parent().removeClass("new").unbind("click");
      }
      if (purchase !== undefined) {
        $("#purchase_text").text(purchase.prodName).addClass("animation");
        $("#purchase_text")
          .parent()
          .removeClass(purchase.isNew === "N" ? "new" : "")
          .addClass(purchase.isNew === "Y" ? "new" : "")
          .unbind("click")
          .click(function (e) {
            if (purchase.parentType === "GMIDAS") {
              navigate("request_recieve_item_g", { reqSeq: purchase.reqSeq });
            } else {
              navigate("request_recieve_item", { reqSeq: purchase.reqSeq });
            }
          });
      } else {
        $("#purchase_text").text("");
        $("#purchase_text").parent().removeClass("new").unbind("click");
      }
      if (dealer !== undefined) {
        $("#dealer_text").text(dealer.prodName).addClass("animation");
        $("#dealer_text")
          .parent()
          .removeClass(dealer.isNew === "N" ? "new" : "")
          .addClass(dealer.isNew === "Y" ? "new" : "")
          .unbind("click")
          .click(function (e) {
            if (dealer.parentType === "GMIDAS") {
              navigate("request_recieve_item_g", { reqSeq: dealer.reqSeq });
            } else {
              navigate("request_recieve_item", { reqSeq: dealer.reqSeq });
            }
          });
      } else {
        $("#dealer_text").text("");
        $("#dealer_text").parent().removeClass("new").unbind("click");
      }
    }, 0);

    startNum++;

    rollingId = setInterval(function () {
      $("#sale_text").removeClass("animation");
      $("#purchase_text").removeClass("animation");
      $("#dealer_text").removeClass("animation");
      const saleList = requestList.filter((c) => c.memKind === "G" && c.reqType == "S");
      const purchaseList = requestList.filter((c) => c.memKind === "G" && c.reqType == "B");
      const dealerList = requestList.filter((c) => c.memKind === "P");

      const sale = saleList[startNum % saleList.length];
      const purchase = purchaseList[startNum % purchaseList.length];
      const dealer = dealerList[startNum % dealerList.length];

      setTimeout(() => {
        if (sale !== undefined) {
          $("#sale_text").text(sale.prodName).addClass("animation");
          $("#sale_text")
            .parent()
            .removeClass(sale.isNew === "N" ? "new" : "")
            .addClass(sale.isNew === "Y" ? "new" : "")
            .unbind("click")
            .click(function (e) {
              if (sale.parentType === "GMIDAS") {
                navigate("request_recieve_item_g", { reqSeq: sale.reqSeq });
              } else {
                navigate("request_recieve_item", { reqSeq: sale.reqSeq });
              }
            });
        } else {
          $("#sale_text").text("");
          $("#sale_text").parent().removeClass("new").unbind("click");
        }
        if (purchase !== undefined) {
          $("#purchase_text").text(purchase.prodName).addClass("animation");
          $("#purchase_text")
            .parent()
            .removeClass(purchase.isNew === "N" ? "new" : "")
            .addClass(purchase.isNew === "Y" ? "new" : "")
            .unbind("click")
            .click(function (e) {
              if (purchase.parentType === "GMIDAS") {
                navigate("request_recieve_item_g", { reqSeq: purchase.reqSeq });
              } else {
                navigate("request_recieve_item", { reqSeq: purchase.reqSeq });
              }
            });
        } else {
          $("#purchase_text").text("");
          $("#purchase_text").parent().removeClass("new").unbind("click");
        }
        if (dealer !== undefined) {
          $("#dealer_text").text(dealer.prodName).addClass("animation");
          $("#dealer_text")
            .parent()
            .removeClass(dealer.isNew === "N" ? "new" : "")
            .addClass(dealer.isNew === "Y" ? "new" : "")
            .unbind("click")
            .click(function (e) {
              if (dealer.parentType === "GMIDAS") {
                navigate("request_recieve_item_g", { reqSeq: dealer.reqSeq });
              } else {
                navigate("request_recieve_item", { reqSeq: dealer.reqSeq });
              }
            });
        } else {
          $("#dealer_text").text("");
          $("#dealer_text").parent().removeClass("new").unbind("click");
        }
      }, 0);

      startNum++;
    }, 3000);
  }

  let category = null;
  let categorySearchList = [];
  let productName = null;

  function tryCategorySearch() {
    console.warn("tryCategorySearch : ");
    if ($("#category_search").val().length > 0) {
      productName = $("#category_search").val();
      $("#category_search").blur();
      return api.get("base/category", { parentSeq: productName }).then(setCategory);
    }
  }

  function setCategory(response) {
    return new Promise((resolve) => {
      console.warn("setCategory");
      if (response.size === 0) {
        category = null;
      } else {
        const categoryList = Array.from(response.content);
        categorySearchList = categoryList;
        category = categoryList[0];
        category = { ...category, title: category.cateFullName };
      }
      resolve();
    });
  }

  function navigateToRequest(_page) {
    console.warn("navigateToRequest : ", _page);
    if ($("#category_search").val().length > 0) {
      if (productName !== null) {
        const _parameter = { productName };
        if (category !== null) {
          _parameter.category = category;
        }
        if (categorySearchList && categorySearchList.length > 0) {
          _parameter.categorySearchList = categorySearchList;
        }
        console.warn("navigateToRequest 11 : ", _page);
        navigate(_page, _parameter);
      } else {
        console.warn("navigateToRequest 22 : ", _page);
        tryCategorySearch().then(() => {
          const _parameter = { productName };
          if (category !== null) {
            _parameter.category = category;
          }
          if (categorySearchList && categorySearchList.length > 0) {
            _parameter.categorySearchList = categorySearchList;
          }
          navigate(_page, _parameter);
        });
      }
    } else {
      console.warn("navigateToRequest 33 : ", _page);
      navigate(_page);
    }
  }

  function navigateToSell() {
    console.warn("navigateToSell");
    $("#request_buy").removeClass("on");
    $("#request_sell").addClass("on");

    if ($("#category_search").val().length < 2) {
      $("#category_search").focus();
      return;
    }
    setTimeout(() => {
      $("#request_sell").removeClass("on");
    }, 1000);
    if (window.ENV.launch === "gmidas") {
      navigateToRequest("request_sell_g");
    } else {
      navigateToRequest("request_sell");
    }
  }

  function navigateToBuy() {
    console.warn("navigateToBuy");
    $("#request_sell").removeClass("on");
    $("#request_buy").addClass("on");

    if ($("#category_search").val().length < 2) {
      $("#category_search").focus();
      return;
    }

    setTimeout(() => {
      $("#request_buy").removeClass("on");
    }, 1000);
    navigateToRequest("request_buy");
  }

  function filterCategory({ cateSeq1dp }) {
    const filterReference = Array.from(
      (window.member && window.member.shopInfoResponse && window.member.shopInfoResponse.shopCategoryResponse) || []
    );
    return filterReference.some(({ cateSeq }) => cateSeq === cateSeq1dp);
  }

  function navigateToEmergency() {
    const _page = "request_emergency_enter";
    if ($("#category_search").val().length > 0) {
      const search = $("#category_search").val();
      api.get("base/category", { parentSeq: search }).then(function (response) {
        if (response.size === 0) {
          navigate("request_emergency_enter", { productName: search, validCateYn: "N" });
        } else {
          validCateYn = "Y";
          const filtered = Array.from(response.content)
            .filter(filterCategory)
            .reduce((p, c) => {
              if (!p.some((d) => d.cateSeq1dp === c.cateSeq1dp)) {
                p.push(c);
              }
              return p;
            }, []);
          if (filtered.length === 0) {
            $("#productName").val("");
            Alert("카테고리 선택", "긴급요청은 적용하신 카테고리에 한해서 신청 할 수 있습니다.", {
              color: "emergency",
            });
          } else if (filtered.length === 1) {
            navigate("request_emergency_enter", {
              productName: search,
              validCateYn: "Y",
              category: { ...filtered[0], title: filtered[0].cateSeq1dpName },
            });
          } else {
            Alert("카테고리 선택", "적용하신 카테고리 중에 한 가지를\n선택해주세요.", {
              color: "emergency",
              categories: filtered,
            }).then(({ category }) => {
              navigate("request_emergency_enter", { productName: search, validCateYn: "Y", category });
            });
          }
        }
      });
    } else {
      navigate(_page);
    }
  }

  function speech() {
    speechRec()
      .then(function (result) {
        if (result && Array.isArray(result)) {
          console.info("speechRecognition : ", result);
          $("#category_search").val(result[0]);
          tryCategorySearch().then(() => {
            // 카테고리 조회 후 바로 이동 처리
            if ($("#request_sell").hasClass("on")) {
              navigateToSell();
            } else if ($("#request_buy").hasClass("on")) {
              navigateToBuy();
            }
          });
        } else {
          console.error("SpeechRecognition ResultData Error.");
          Alert("정보", "음성 데이터가 없습니다");
        }
      })
      .catch(function (e) {
        if (e === "0") {
          console.info("SpeechRecognition canceled");
        } else {
          Alert("정보", "음성인식을 지원하지 않는 기기입니다. \r\n관리자에게 문의 하십시요.");
          console.error("ERROR : ", e);
        }
      })
      .finally(function () {
        if (window.speechRecognition && typeof window.speechRecognition.stopListening === "function") {
          console.log("window.speechRecognition.stopListening");
          window.speechRecognition.stopListening();
        }
      });
  }

  let preHeight = null;

  function onWindowResize() {
    if (IS_FOREGROUND() === false) {
      return;
    }
    if (window.innerHeight > preHeight) {
      $("#root").removeClass("on");
    }
    if (window.innerHeight < preHeight) {
      $("#root").addClass("on");
    }
    preHeight = window.innerHeight;
  }

  function addOnWindowResize() {
    window.addEventListener("resize", onWindowResize);
  }

  function doNotShowAgain(noticeSeq) {
    localStorage.setItem(`notice_reject_${noticeSeq}`, "Y");
  }

  function getNoticeList() {
    return api.get("/info/notice?endDate=2020-12-12&startDate=2020-01-01").then((res) => {
      const { content } = res;

      content.forEach((notice, i) => {
        console.warn("notice > ", notice);

        // 다시보지 않기 확인
        const dontShow = localStorage.getItem(`notice_reject_${notice.seq}`);
        if (dontShow && dontShow === "Y") {
          return;
        }
        const html = $("<div/>").html(notice.content).text();
        const htmlDialog = new HtmlDialog(notice.title, html, "", {
          closeBtn: true,
          onCheck: () => {
            doNotShowAgain(notice.seq);
          },
        });
        htmlDialog.onClick = function (event) {
          if (event === "background") {
            return false;
          }
        };
        htmlDialog.show();
      });
    });
  }

  (function () {
    getProductLst();
    getRequestCount();
    getNoticeList();
    $("#category_search").focus(() => $("#root").addClass("on"));
    $("#category_search").blur(() => $("#root").removeClass("on"));
    $("#category_search").on("search", () => {
      console.warn("search >>");
      tryCategorySearch().then(() => {
        // 팔고싶어요, 사고싶어요 클릭 한 이후에 검색어 입력 시 바로 이동 처리
        if ($("#request_sell").hasClass("on")) {
          navigateToSell();
        } else if ($("#request_buy").hasClass("on")) {
          navigateToBuy();
        }
      });
    });
    $("#request_sell").click(navigateToSell);
    $("#request_buy").click(navigateToBuy);
    $("#requestEmergency").click(navigateToEmergency);
    $("#speech").click(speech);

    preHeight = window.innerHeight;
    addOnWindowResize();

    if (window.ENV && window.ENV.KNOX_YN == "Y") {
      $("#request_donate>span").text("렌탈할래요");
    } else {
      $("#request_donate>span").text("기부할래요");
    }
    // CDN쪽 함수보도록 변경
    $("#request_donate").click(function () {
      if (window.JgwUtil) {
        window.JgwUtil.returnBox337();
      } else {
        returnBox337();
      }
    });
  })();

  RELOAD(function () {
    getProductLst();
    getRequestCount();
    $("#category_search").val("").blur();
    productName = null;
    category = null;
  });
</script>

<!-- SCRIPT -->
