<!-- DOM -->
<div class="wrap gray">
  <app-header title="설정"></app-header>
  <section class="container">
    <article class="contents">
      <ul class="list-small">
        <li class="list-item">
          <span class="item-text"><span is="c-span" class="text">푸시알림 전체설정</span></span>
          <label for="sld1" class="switch">
            <input type="checkbox" name="pushAll" id="sld1" value="Y" />
            <span class="slider round"></span>
          </label>
        </li>
        <li class="list-item">
          <span class="item-text"><span is="c-span" class="text">구매요청</span></span>
          <label for="sld2" class="switch">
            <input type="checkbox" id="sld2" name="buyReq" value="Y" />
            <span class="slider round"></span>
          </label>
        </li>
        <li class="list-item">
          <span class="item-text"><span is="c-span" class="text">판매요청</span></span>
          <label for="sld3" class="switch">
            <input type="checkbox" id="sld3" name="sellReq" value="Y" />
            <span class="slider round"></span>
          </label>
        </li>
        <li class="list-item">
          <span class="item-text"><span is="c-span" class="text">공지사항</span></span>
          <label for="sld4" class="switch">
            <input type="checkbox" id="sld4" name="notice" value="Y" />
            <span class="slider round"></span>
          </label>
        </li>
        <li class="list-item">
          <span class="item-text"><span is="c-span" class="text">채팅대화</span></span>
          <label for="sld5" class="switch">
            <input type="checkbox" id="sld5" name="chat" value="Y" />
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
      <ul class="list-small">
        <li class="list-item">
          <span class="item-text"><span is="c-span" class="text">내 상점 공개</span></span>
          <label for="sld6" class="switch">
            <input type="checkbox" id="sld6" name="storeOpen" value="Y" />
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
      <ul class="list-small">
        <li class="list-item">
          <span class="item-text"><span is="c-span" class="text">채팅공개</span></span>
          <label for="sld7" class="switch">
            <input type="checkbox" id="sld7" name="chatOpen" value="Y" />
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
      <ul class="list-small mgbt16">
        <li class="list-item">
          <span class="item-text"><span class="text" is="c-span">버전</span></span>
          <span class="version"><span class="text">N.N.N</span></span>
        </li>
      </ul>
      <div class="btn-wrap-logout">
        <a class="btn-rect-medium" onclick="returnBox337();"
          ><span is="c-span" class="text">BOX337로 돌아가기</span></a
        >
      </div>
    </article>
  </section>
  <div class="bg-dim"></div>
</div>
<!-- DOM-->

<!-- SCRIPT -->

<script>
  let checkboxCount = 0;
  function selectSetting() {
    return api.get(`mypage/device/setting/${window.member.seq}`).then((setting) => {
      // check 기준이 반대로 동작함
      // TODO : 정상 확인 필요.
      if (setting != undefined) {
        $("[name=buyReq]").prop("checked", setting.notiBuyYn !== "Y");
        $("[name=sellReq]").prop("checked", setting.notiSellYn !== "Y");
        $("[name=notice]").prop("checked", setting.notiNoticeYn !== "Y");
        $("[name=chat]").prop("checked", setting.notiChatYn !== "Y");
      }

      // 전체 여부 판단
      // 전체설정 체크박스 제외한 선택 카운트 - 선택값이 not:checked 임에 주의
      // TODO : 선택값 checked 되도록 확인
      const checkedCount = $("[type='checkbox']:not(:eq(0)):not(:checked)").length;
      $("[name=pushAll]").prop("checked", checkedCount < checkboxCount);
    });
  }

  function setPushAll() {
    const check = $("[name=pushAll]").is(":checked");
    $(":checkbox").prop("checked", check);

    updateSetting();
  }

  function updateSetting() {
    // check 값이 반대로 동작함.
    // TODO : 정상 동작 확인 필요.
    api
      .put(`mypage/device/setting`, {
        memSeq: window.member.seq,
        notiBuyYn: $("[name=buyReq]").is(":checked") ? "N" : "Y",
        notiSellYn: $("[name=sellReq]").is(":checked") ? "N" : "Y",
        notiNoticeYn: $("[name=notice]").is(":checked") ? "N" : "Y",
        notiChatYn: $("[name=chat]").is(":checked") ? "N" : "Y",
        storeOpen: $("[name=storeOpen]").is(":checked") ? "N" : "Y",
        chatOpen: $("[name=chatOpen]").is(":checked") ? "N" : "Y",
      })
      .then(() => selectSetting());
  }

  (function () {
    checkboxCount = $("[type='checkbox']:not(:eq(0))").length;
    $("[name=pushAll]").click(setPushAll);
    $("[name=buyReq]").click(updateSetting);
    $("[name=sellReq]").click(updateSetting);
    $("[name=notice]").click(updateSetting);
    $("[name=chat]").click(updateSetting);
    $("[name=storeOpen]").click(updateSetting);
    $("[name=chatOpen]").click(updateSetting);
    selectSetting();
    $(".version").text(window.ENV && window.ENV.VERSION);
  })();
</script>
<!-- SCRIPT -->
