<div class="wrap">
  <section class="container">
    <article class="contents">
      <!--      <span style="position: absolute; left: 30px; top: 50px; color: white; font-size: 12px; line-height: 1.5"-->
      <!--        >테스트 버전입니다<br />-->
      <!--        *테스트는 지정 아이디로만 작동이 가능합니다.</span-->
      <!--      >-->
      <img src="images/splash.gif" />
    </article>
  </section>
</div>
<script>
  function changeUser() {
    api
      .put(`mypage/profile/${window.member.seq}`, { memKind: "G", proRequestYn: "N", memAuthYn: "Y" })
      .then(function () {
        api.get(`mypage/profile/${window.member.seq}`).then((response) => {
          window.member = { ...response };
          navigate("root");
        });
      });
  }

  function tryNavigate() {
    api.get(`mypage/profile/${window.member.seq}`).then((response) => {
      window.member = { ...response };
      if (window.member.memKind === "G") {
        navigate("root");
      } else if (window.member.memKind === "P") {
        if (window.member.shopInfoResponse === null) {
          navigate("tutorial");
        } else {
          if (
            Array.isArray(window.member.shopInfoResponse.shopCategoryResponse) &&
            window.member.shopInfoResponse.shopCategoryResponse.length > 0
          ) {
            navigate("root");
          } else {
            navigate("dealer_package");
          }
        }
      } else {
        const launch = localStorage.getItem('launch')
        if(launch === 'gmidas'){
          changeUser();
        } else {
          navigate("tutorial");
        }
      }
      // // push data로 deep link 처리
      // if (pushData && pushData.url) {
      //   navigate(pushData.url, { ...pushData.param });
      // }
    });
  }
  (function () {
    setTimeout(() => {
      tryNavigate();
    }, 2000);
  })();
</script>
