<div class="wrap blue">
  <section class="container">
    <article class="contents">
      <div class="init-btn-wrap">
        <h1><span is="c-span" class="text">중고왕 이용 목적을 선택해주세요</span></h1>
        <div class="btn-init-wrap">
          <a class="btn-init user" id="changeUser"><span is="c-span" class="text">일반유저</span></a>
          <a class="btn-init dealer" id="changeDealer"><span is="c-span" class="text">중고전문가</span></a>
        </div>
      </div>
    </article>
  </section>
</div>
<script>
  function changeUser() {
    api
      .put(`mypage/profile/${window.member.seq}`, { memKind: "G", proRequestYn: "N", memAuthYn: "Y" })
      .then(function () {
        api.get(`mypage/profile/${window.member.seq}`).then((response) => {
          window.member = { ...response };
          navigate("root");
        });
      });
  }
  function changeDealer() {
    const param = {
      memKind: "P",
      memAuthYn: "Y",
      proRequestYn: "Y",
      proRequestDate: new Date().toISOString().split("T")[0],
      proOkDate: new Date().toISOString().split("T")[0],
    };
    api.put(`mypage/profile/${window.member.seq}`, param).then(function () {
      api.get(`mypage/profile/${window.member.seq}`).then((response) => {
        window.member = { ...response };
        navigate("dealer_basic");
      });
    });
  }
  (function () {
    $("#changeUser").click(changeUser);
    $("#changeDealer").click(changeDealer);
  })();
</script>
