<div class="wrap">
  <!--
      <header>
  
      </header>
   -->
  <nav class="gnb">
    <div class="user">
      <div class="user-profile">
        <span class="thumb-medium"><img src="../common/images/temp/chair-1840011_1920.jpg" alt="" /></span>
        <div class="user-info">
          <span class="label dealer"><span class="text" is="c-span">딜러</span></span>
          <span class="name" is="c-span">중고왕 김태복 딜러</span>
        </div>
        <a class="btn-close-large"><span is="c-span">닫기</span></a>
      </div>
      <ul class="activity-count">
        <li>
          <a class="btn-my-link">
            <em>21</em>
            <span is="c-span" class="title text">판매요청서</span>
          </a>
        </li>
        <li>
          <a class="btn-my-link">
            <em>21<img class="n-badge" src="../common/images/icon/n-badge.png" /></em>
            <span is="c-span" class="title text">구매요청서</span>
          </a>
        </li>
        <li>
          <a class="btn-my-link">
            <em>21<img class="n-badge" src="../common/images/icon/n-badge.png" /></em>
            <span is="c-span" class="title text">내 물품</span>
          </a>
        </li>
      </ul>
      <div class="btn-wrap-mystore">
        <a class="btn-rect-small"><span is="c-span" class="text">내 상점 가기 &gt;</span></a>
      </div>
    </div>
    <div class="home-menu">
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text list toggle on">
            <span is="c-span" class="text">전체물품 둘러보기</span>
          </a>
          <ul class="list-small-2th">
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">판매상품</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">구매요청서</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text writerequest toggle on">
            <span is="c-span" class="text">요청하기</span>
          </a>
          <ul class="list-small-2th">
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">판매하기</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">구매하기</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">거부하기</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text requestpaper toggle on">
            <span is="c-span" class="text">요청서보기</span>
          </a>
          <ul class="list-small-2th">
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">판매요청서</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">구매요청서</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text chat only-1st">
            <span is="c-span" class="text">채팅<img class="n-badge" src="../common/images/icon/n-badge.png" /></span>
          </a>
        </li>
      </ul>
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text settings only-1st">
            <span is="c-span" class="text">설정</span>
          </a>
        </li>
      </ul>
      <ul class="list-small-1th">
        <li class="list-item">
          <a class="item-text help toggle on">
            <span is="c-span" class="text">고객센터</span>
          </a>
          <ul class="list-small-2th">
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">공지사항</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">자주하는 질문</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">운영정책</span>
              </a>
            </li>
            <li class="list-item">
              <a class="item-text">
                <span is="c-span" class="text">약관내용</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="banner">
      <a>
        <img src="../common/images/temp/black-friday-1898114_1920.jpg" />
      </a>
    </div>
  </nav>

  <!--
      <section class="container">
          <article class="contents">
  
          </article>
      </section>
  -->

  <div class="bg-dim"></div>
</div>

<script>
  {
    seq: 7;
    prodSeq: 19;
    reqType: "B";
    reqTypeName: "구매";
    address: "(10270) 경기도 고양시 덕양구 고양동 721 고양 e PLAZA";
    addressDiv1: "경기도";
    addressDiv2: "고양시 덕양구";
    addressDiv3: "고양동";
    memSeq: null;
    memKind: "P";
    memKindName: "딜러";
    memEmail: "odinblue@naver.com";
    memNickname: "솜베게";
    memName: "솜베게";
    memAddr: null;
    memAddrDetail: null;
    cate1dpName: "특수류";
    cate2dpName: "서적/음반";
    cate3dpName: "교육도서";
    cateSeq1dp: "5";
    cateSeq2dp: "35";
    cateSeq3dp: "3500001";
    prodName: "고래사자";
    prodDesc: "고양고양이";
    price: "555555";
    keyWords: "";
    resCnt: "0";
    isNew: "Y";
    requestProductAtfilResponse;
  }
</script>
