<div class="wrap">
  <section class="container">
    <article class="contents">
      <div class="slide-splash">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="splash-top">
              <a class="btn-text white start"><span is="c-span" class="text">건너뛰기</span></a>
              <a class="btn-text white js-next"><span is="c-span" class="text">다음</span></a>
            </div>
            <img src="images/tut/1.png" />
          </li>
          <li class="swiper-slide">
            <div class="splash-top">
              <a class="btn-text white start"><span is="c-span" class="text">건너뛰기</span></a>
              <a class="btn-text white js-next"><span is="c-span" class="text">다음</span></a>
            </div>
            <img src="images/tut/2.png" />
          </li>
          <li class="swiper-slide">
            <div class="splash-top">
              <a class="btn-text white start"><span is="c-span" class="text">건너뛰기</span></a>
              <a class="btn-text white js-next"><span is="c-span" class="text">다음</span></a>
            </div>
            <img src="images/tut/3.png" />
          </li>
          <li class="swiper-slide">
            <div class="splash-top-start">
              <a class="btn-fit-start start"><span is="c-span" class="text">중고왕 시작하기</span></a>
            </div>
            <img src="images/tut/4.png" />
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </article>
  </section>
</div>
<script>
  (function () {
    $(".start").click(() => navigate("start"));
    let swiperSplash = new Swiper($(".slide-splash"), {
      pagination: {
        el: $(".swiper-pagination"),
      },
      navigation: {
        nextEl: $(".js-next"),
      },
    });
  })();
</script>
