@charset "utf-8";
/* *********************************************
* Project ===== base

/* --------------------------------------------
 * default
/* ------------------------------------------ */
*{-webkit-text-size-adjust:none;/*letter-spacing:-0.05em*/;word-break:keep-all;}

html{padding:0; margin:0; height:100%;}
body{font-family: "NotoSans-Medium", sans-serif;color: #262626}
html,body{height:100%;-webkit-text-size-adjust:none;-webkit-appearance:none;}
html,body,div,span,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,h1,h2,h3,h4,h5,h6,
header,footer,section,article,aside,nav,hgroup,details,figure,figcaption {font-size:inherit;margin:0;padding:0;list-style:none;line-height:1em;box-sizing:border-box;/*vertical-align:middle*/}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}

/* --------------------------------------------
 * link
/* ------------------------------------------ */
a {text-decoration:none;color:inherit;}

/* --------------------------------------------
 * etc
/* ------------------------------------------ */
address,em,dfn {font-style:normal;}
strong {font-weight:bold;}
hr {display:none;}
img {border:0;vertical-align:middle;}
mark {background:none;}
img{width: $full-width; object-fit: cover; height: inherit}

/* --------------------------------------------
 * table
/* ------------------------------------------ */
table {width:100%;border-spacing:0;table-layout:fixed;border-collapse:collapse;empty-cells:show;}/*border-collapse:separate;*/
tbody, tfoot, thead, tr, th, td {word-break:break-all;}
caption {visibility:hidden;width:0;height:0;font-size:0;line-height:0;position:static;left:0;top:-999999px;}


/* --------------------------------------------
 * fieldset
/* ------------------------------------------ */
fieldset {border:none;}
legend {visibility:hidden;width:0;height:0;font-size:0;line-height:0;position:absolute;left:0;top:-999999px;}


/* --------------------------------------------
 * form
/* ------------------------------------------ */
button,
input{cursor:pointer;width:auto;overflow:visible;vertical-align:middle;-webkit-appearance:none;box-sizing:border-box;font-size: 1em;font-family: "NotoSans-Medium", sans-serif;color: $main-text}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime"] {}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

button::-moz-focus-inner {padding:0;border:0;cursor:pointer;}
select {-webkit-appearance:none;vertical-align:middle;height:35px;padding-left:5px;width:100%; color: #666;}
textarea {resize:none;width:100%;padding:15px;border:1px solid #d3d4d6;display:block;box-sizing:border-box;-webkit-appearance: none;-webkit-border-radius: 0; font-family: "NotoSans-Medium", sans-serif}
input,button,select {vertical-align:middle;border:0;}
label {cursor:pointer;}
