@import "../abstracts/mixins";

$black:(black, Black);
$bold:(bold, Bold);
$medium:(medium, Medium);
$regular:(regular, Regular);
$light:(light, Light);
$demilight:(demilight, DemiLight);
$thin:(thin, Thin);

@each $lower, $capital in $black, $bold, $medium, $regular, $light, $demilight, $thin{
  @font-face {
    font-family: "NotoSans-#{$capital}";
    src: url($font-path + $capital +".woff2") format('woff2'), url($font-path + $capital +".woff") format("woff") ;
    font-weight: normal;
    font-style: normal;
  }
  .font-#{$lower}{
    @include font("NotoSans-#{$capital}");
  }
}


.type1{
  em{
    color: $primary;
  }
}

.time-check {
  font-size: 12px;
  color: $gray5;
}