<div class="footer-menu">
  <ul>
    <li class="myroom"><a href="myroom01.html">내방</a></li>
    <li class="apply"><a href="#">물품신청</a></li>
    <li class="logo"><a href="./main.html">Box337</a></li>
    <li class="story"><a href="story01.html">Box 소식</a></li>
    <li class="event"><a href="event01.html">Event</a></li>
  </ul>
</div>
<!-- 로딩 팝업 -->
<div class="dim-layer" id="layerIdloading">
  <div class="loading-layer">
    <img src="../images/common/loading.gif" alt="로딩 이미지" class="w100p" />
  </div>
</div>
<!-- // 로딩 팝업 -->
