@import "variables";
@mixin hide-text($d:inline-block) {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: $d;
}

@mixin btn-bg($url, $w: $icon-width-medium, $h: $icon-height-medium,$flag:hide) {
    @if ($flag==hide) {
        @include hide-text;
    }
    background: url($url) no-repeat;
    width: $w;
    height: $h;
    background-size: $w $h;
}

@mixin flex-set($h: $height-header, $jc:space-between, $ps:relative,$fd:row,$ai:center) {
    @if ($ps!=relative) {
        position: $ps;
    }
    height: $h;
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin position-center($l:50%,$t:50%,$tr:translate(-50%, -50%)) {
    position: absolute;
    left: $l;
    top: $t;
    transform: $tr;
}

@mixin thumb($w) {
    width: $w * 2;
    height: $w * 2;
    display: inline-block;
    img {
        border-radius: $w;
    }
}

@mixin thumb-rect($w, $r) {
    width: $w;
    height: $w;
    display: inline-block;
    img {
        border-radius: $r;
    }
}

@mixin font($f:$font-medium, $s:16px, $lh:2, $c:$main-text) {
    font-family: $f, sans-serif;
    font-size: $s;
    line-height: $lh;
    color: $c
}

@mixin border-bottom($w:1px, $c: $gray3) {
    border-bottom: solid $w $c;
}

@mixin border-top($w:1px, $c: $gray3) {
    border-top: solid $w $c;
}

@mixin margin-inline($ml:$margin-inline-small) {
    display: flex;
    & > *:not(:first-child) {
        margin-left: $ml;
    }
}

@mixin font1 {
    font-size: 11px;
    color: $color-default;
}

@mixin font2 {
    font-size: 14px;
    line-height: 1.43;
}

@mixin btn-wide($bg:$gray4,$h:48px, $c:$color-default, $r:4px ) {
    background-color: $bg;
    @include flex-set($h, $jc: center);
    .text {
        font-size: 14px;
        color: $c;
    }
    border-radius: $r;
}

@mixin btn-fit($bg:$primary,$h:34px, $c:$color-default, $r:4px,$pd:0 12px, $fs:14px ) {
    background-color: $bg;
    @include flex-set($h, $jc: center);
    padding: $pd;
    .text {
        font-size: $fs;
        color: $c;
    }
    border-radius: $r;
}

@mixin after-arrow($u,$r:9px) {
    content: "";
    position: absolute;
    right: $r;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    background-image: url($u);
    background-size: 100%;
    z-index: 1;
}

@mixin input-text($w:100%,$h:46px,$pd:8px 14px,$r:4px,$c:$primary) {
    width: $w;
    height: $h;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: $pd;
    border-radius: $r;
    @if ($c==none) {
        border: none;
    } @else {
        border: solid 1px $c;
    }
}

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin position-right($r:0, $t:50%, $flag:true) {
    position: absolute;
    right: $r;
    top: $t;
    @if ($flag==true) {
        transform: translateY(-50%);
    }
}

//font-set
@mixin sub-text {
    color: $sub-text;
    font-size: 14px;
}

@mixin sub-text-act {
    color: $primary;
    font-size: 14px;
}
@mixin ellipsis2($h:2.92){
    overflow: hidden;
    text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    height: $h;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
