.ios .text {
  margin-bottom: -0.1em;
}

.android .text {
  margin-bottom: -0.1em;
}

.pdt10 {
  padding-top: 10px
}

.pdt14 {
  padding-top: 14px
}

.mgt10 {
  margin-top: 10px
}

.mgr4 {
  margin-right: 4px;
}

.mgl6 {
  margin-left: 6px;
}

.mgl10 {
  margin-left: 10px;
}
.mgt30{
  margin-top: 30px;
}
.mgbt8 {
  margin-bottom: 8px;
}

.mgbt16 {
  margin-bottom: 16px;
}

.mgbt20 {
  margin-bottom: 20px;
}

.mgbt30 {
  margin-bottom: 30px;
}
.mgl14{
margin-left: 14px !important;
}
.pdbt0 {
  padding-bottom: 0 !important;
}

.pr {
  position: relative;
}

.required {
  color: #ff4b4b;
}

.sub-text {
  font-size: 12px;
  color: $gray5;
}

.back-none{
  background: none !important;
}

.inherit{
  height: inherit;
}