//layout
$full-width: 100%;
$full-height: 100%;
$frame-large: 14px;
$frame-medium: 12px;
$frame-small: 8px;
$side-menu-width: calc(100% - 80px);
$side-menu-close: calc((100% - 80px) * -1);
//icon size
$icon-width-medium: 28px;
$icon-height-medium: 28px;
$icon-width-small: 22px;
$icon-height-small: 22px;
//circle radius
$radius-larger: 40px;
$radius-large: 30px;
$radius-medium: 25px;
$radius-small: 20px;
$radius-smaller: 18px;
$radius-smallest: 15px;
//rect radius
$rect-radius-small: 6px;
$rect-radius-smaller: 4px;
$rect-radius-smallest: 3px;
//thumb width
$thumb-width-larger: $full-width;
$thumb-width-large: 200px;
$thumb-width-medium: 154px;
$thumb-width-small: 100px;
$thumb-width-smaller: 76px;
$thumb-width-smallest: 64px;
//color
$emergency: #e48d37;
$color-main: #346FDD;
$color-default: #fff;
$dim: rgba(0, 0, 0, 0.5);
$gray1: #f5f6f8;
$gray2: #f3f2f2;
$gray3: #e6e6e6;
$gray4: #cecece;
$gray5: #b2b2b2;
$sub-text: #898989;
$gray7: #484848;
$place-holder: #9f9f9f;
$main-text: #262626;
$dealer: $emergency;
$sdealer: linear-gradient(290deg, #dca561 0%, #edd452 100%);
$user: #90a1a8;
$purchase: #10ccc5;
$sale: #3ca4f0;
//$as: linear-gradient(111deg, #ef9c17, #db3f19 96%);
$as: #f5993d;
$complete: #d04444;
$primary: #415ec4;
//margin
$margin-inline-small: 4px;
//font
$font-black: "NotoSans-Black";
$font-bold: "NotoSans-Bold";
$font-medium: "NotoSans-Medium";
$font-regular: "NotoSans-Regular";
$font-light: "NotoSans-Light";
$font-demilight: "NotoSans-DemiLight";
$font-thin: "NotoSans-Thin";
$font-large: 33px;
$font-medium: 23px;
$font-small: 20px;
$font-smaller: 18px;
$font-smallest: 10px;
//path
$font-path: "../font/NotoSansKR-";
$arr-small-r: "../images/icon/arr-small-r.png";
$arr-small-u: "../images/icon/arr-small-u.png";
$arr-small-d: "../images/icon/arr-small-d.png";
$arr-small-dblue: "../images/icon/arr-small-dblue.png";
$arr-small-ublue: "../images/icon/arr-small-ublue.png";
$arr-small-rblack: "../images/icon/arr-small-rblack.png";
$list: "../images/icon/list.png";
$chat: "../images/icon/chat.png";
$help: "../images/icon/help.png";
$requestpaper: "../images/icon/requestpaper.png";
$settings: "../images/icon/settings.png";
$writerequest: "../images/icon/writerequest.png";
$btn-up-small: "../images/icon/camera-upload.png";
$pencil: "../images/icon/pencil.png";
$pin: "../images/icon/pin.png";
$pin-gray: "../images/icon/pin-gray.png";
$phone: "../images/icon/phone.png";
$img-sell-lg: "../images/icon/img-sell-lg.png";
$img-buy-lg: "../images/icon/img-buy-lg.png";
$img-sell-o: "../images/icon/img-sell-o.png";
$img-buy-o: "../images/icon/img-buy-o.png";
$camera-b-r: "../images/icon/camera-b-r.png";
$camera-g-r: "../images/icon/camera-g-r.png";
$camera-p-r: "../images/icon/camera-p-r.png";
$camera-o-r: "../images/icon/camera-o-r.png";
$img-sell-g: "../images/icon/img-sell-g.png";
$phone-lg: "../images/icon/phone-lg.png";
$search-primary: "../images/icon/search-primary.png";
$donate: "../images/icon/img-donate-md.png";
$dim-large: "../images/icon/dim-large.png";
$dim-medium: "../images/icon/dim-medium.png";
$dim-small: "../images/icon/dim-small.png";
$img-buy-wh: "../images/icon/img-buy-wh.png";
$img-donate-wh: "../images/icon/img-donate-wh.png";
$img-donate-buy: "../images/icon/img-donate-buy.png";
$main-empty-back: "../images/main-empty-back.png";
$main-user-back: "../images/main-user-back.png";
$check-active: "../images/icon/check-active.png";
$check-answer: "../images/icon/check-answer.png";
$check-answer-l: "../images/icon/check-answe-l.png";
$refresh: "../images/icon/refresh.png";
$ico-plus: "../images/icon/ico-plus.png";
$ico-send: "../images/icon/ico-send.png";
$more-lg-wh: "../images/icon/more-lg-wh.png";
$phone-lg-wh: "../images/icon/phone-lg-wh.png";
$checked-wh: "../images/icon/checked-wh.png";
$trash: "../images/icon/trash.png";
$ico-user: "../images/icon/user.png";
$ico-dealer: "../images/icon/dealer.png";
$ico-user-active: "../images/icon/user-active.png";
$ico-dealer-active: "../images/icon/dealer-active.png";
$search-close-primary: "../images/icon/search-close-primary.png";
$active-top: "../images/icon/active-top.png";
$img-buy: "../images/icon/img-buy.png";
$emergency-s-w: "../images/icon/emergency-s-w.png";
$img-mike: "../images/icon/img-mike.png";
$img-sell-wh: "../images/icon/img-sell-wh.png";
$btn-store-wh: "../images/icon/btn-store-wh.png";
$calendar: "../images/icon/calendar.png";
$arr-u-black: "../images/icon/arr-u-black.png";
$arr-d-black: "../images/icon/arr-d-black.png";
$product-filter: "../images/icon/product-filter.png";
$product-select-all: "../images/icon/product-select-all.png";
$lock: "../images/icon/lock.png";
$unlock: "../images/icon/unlock.png";
$img-buy-green: "../images/icon/img-buy-green.png";
$img-sell-sky: "../images/icon/img-sell-sky.png";
$circle-close: "../images/icon/circle-close.png";


//category path
$blue-1: "../images/icon/1-blue.png";
$gray-1: "../images/icon/1-gray.png";
$wh-1: "../images/icon/1-wh.png";
$blue-10: "../images/icon/10-blue.png";
$gray-10: "../images/icon/10-gray.png";
$wh-10: "../images/icon/10-wh.png";
$blue-11: "../images/icon/11-blue.png";
$gray-11: "../images/icon/11-gray.png";
$wh-11: "../images/icon/11-wh.png";
$blue-12: "../images/icon/12-blue.png";
$gray-12: "../images/icon/12-gray.png";
$wh-12: "../images/icon/12-wh.png";
$blue-13: "../images/icon/13-blue.png";
$gray-13: "../images/icon/13-gray.png";
$wh-13: "../images/icon/13-wh.png";
$blue-14: "../images/icon/14-blue.png";
$gray-14: "../images/icon/14-gray.png";
$wh-14: "../images/icon/14-wh.png";
$blue-15: "../images/icon/15-blue.png";
$gray-15: "../images/icon/15-gray.png";
$wh-15: "../images/icon/15-wh.png";
$blue-16: "../images/icon/16-blue.png";
$gray-16: "../images/icon/16-gray.png";
$wh-16: "../images/icon/16-wh.png";
$blue-17: "../images/icon/17-blue.png";
$gray-17: "../images/icon/17-gray.png";
$wh-17: "../images/icon/17-wh.png";
$blue-18: "../images/icon/18-blue.png";
$gray-18: "../images/icon/18-gray.png";
$wh-18: "../images/icon/18-wh.png";
$blue-19: "../images/icon/19-blue.png";
$gray-19: "../images/icon/19-gray.png";
$wh-19: "../images/icon/19-wh.png";
$blue-2: "../images/icon/2-blue.png";
$gray-2: "../images/icon/2-gray.png";
$wh-2: "../images/icon/2-wh.png";
$blue-20: "../images/icon/20-blue.png";
$gray-20: "../images/icon/20-gray.png";
$wh-20: "../images/icon/20-wh.png";
$blue-21: "../images/icon/21-blue.png";
$gray-21: "../images/icon/21-gray.png";
$wh-21: "../images/icon/21-wh.png";
$blue-22: "../images/icon/22-blue.png";
$gray-22: "../images/icon/22-gray.png";
$wh-22: "../images/icon/22-wh.png";
$blue-23: "../images/icon/23-blue.png";
$gray-23: "../images/icon/23-gray.png";
$wh-23: "../images/icon/23-wh.png";
$blue-24: "../images/icon/24-blue.png";
$gray-24: "../images/icon/24-gray.png";
$wh-24: "../images/icon/24-wh.png";
$blue-25: "../images/icon/25-blue.png";
$gray-25: "../images/icon/25-gray.png";
$wh-25: "../images/icon/25-wh.png";
$blue-26: "../images/icon/26-blue.png";
$gray-26: "../images/icon/26-gray.png";
$wh-26: "../images/icon/26-wh.png";
$blue-27: "../images/icon/27-blue.png";
$gray-27: "../images/icon/27-gray.png";
$wh-27: "../images/icon/27-wh.png";
$blue-28: "../images/icon/28-blue.png";
$gray-28: "../images/icon/28-gray.png";
$wh-28: "../images/icon/28-wh.png";
$blue-29: "../images/icon/29-blue.png";
$gray-29: "../images/icon/29-gray.png";
$wh-29: "../images/icon/29-wh.png";
$blue-3: "../images/icon/3-blue.png";
$gray-3: "../images/icon/3-gray.png";
$wh-3: "../images/icon/3-wh.png";
$blue-30: "../images/icon/30-blue.png";
$gray-30: "../images/icon/30-gray.png";
$wh-30: "../images/icon/30-wh.png";
$blue-31: "../images/icon/31-blue.png";
$gray-31: "../images/icon/31-gray.png";
$wh-31: "../images/icon/31-wh.png";
$blue-32: "../images/icon/32-blue.png";
$gray-32: "../images/icon/32-gray.png";
$wh-32: "../images/icon/32-wh.png";
$blue-4: "../images/icon/4-blue.png";
$gray-4: "../images/icon/4-gray.png";
$wh-4: "../images/icon/4-wh.png";
$blue-5: "../images/icon/5-blue.png";
$gray-5: "../images/icon/5-gray.png";
$wh-5: "../images/icon/5-wh.png";
$blue-6: "../images/icon/6-blue.png";
$gray-6: "../images/icon/6-gray.png";
$wh-6: "../images/icon/6-wh.png";
$blue-7: "../images/icon/7-blue.png";
$gray-7: "../images/icon/7-gray.png";
$wh-7: "../images/icon/7-wh.png";
$blue-8: "../images/icon/8-blue.png";
$gray-8: "../images/icon/8-gray.png";
$wh-8: "../images/icon/8-wh.png";
$blue-9: "../images/icon/9-blue.png";
$gray-9: "../images/icon/9-gray.png";
$wh-9: "../images/icon/9-wh.png";

//height
$height-header: 54px;
$height-tab: 40px;
//map
$larger: (larger, $radius-larger);
$large: (large, $radius-large);
$medium: (medium, $radius-medium);
$small: (small, $radius-small);
$smaller: (smaller, $radius-smaller);
$smallest: (smallest, $radius-smallest);

$r-large: (large, $thumb-width-large, $rect-radius-smaller);
$r-medium: (medium, $thumb-width-medium, $rect-radius-smaller);
$r-small: (small, $thumb-width-small, $rect-radius-smaller);
$r-smaller: (smaller, $thumb-width-smaller, $rect-radius-smaller);
$r-smallest: (smallest, $thumb-width-smallest, $rect-radius-smallest);

