.tip {
    margin-bottom: 22px;
    dt {
        font-size: 14px;
        font-family: "NotoSans-Black", sans-serif;
        margin-bottom: 20px;
    }
    dd {
        font-size: 12px;
    }
}

footer.kakao {
    flex: none;
    margin-top: auto;
    @include flex-set($jc: center, $h: 80px);
    background-color: #f0f0f0;
    width: 100%;
    .copy {
        font-size: 10px;
        color: #535353;
        .kakao-logo {
            margin-top: -3px;
        }
    }
}
