.util-chat {
    @include position-right();
    @include flex-set();
}

.dialog-container {
    flex: 1;
    overflow-y: auto;
    padding: 25px $frame-large;
}


.dialog {
    display: flex;
    .time-check {
        font-size: 9px
    }
    &.chat{
        .inner{
            white-space: pre-line;
            word-break: break-all;
        }
    }
    .inner {
        line-height: 1.54;
        max-width: 230px;
        border-radius: 4px;
        padding: 10px;
        font-size: 15px;

    }
    &.l {
        display: flex;
        margin-bottom: 17px;
        .name {
            font-size: 13px;
            margin-bottom: 8px;
        }
        &.product {
            margin-bottom: 8px;
            .inner {
                width: 236px;
                padding: 10px 10px 0;
                text-align: left;
            }
            .body {
                padding-bottom: 10px;
                @include border-bottom;
                display: flex;
                flex-direction: row-reverse;
                .name {
                    line-height: 1.46;
                    font-size: 16px;
                }
            }
        }
        .inner {
            background-color: $color-default;
        }
        .thumb-smaller-rect{
            margin-right: 10px;
        }
        .chat-group {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 8px;
        }
        .time-check {
            align-self: flex-end;
        }
    }
    &.r {
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: row-reverse;
        margin-bottom: 17px;
        &.product {
            margin-bottom: 8px;
            .inner {
                width: 236px;
                padding: 10px 10px 0;
                text-align: left;
            }
            .body {
                padding-bottom: 10px;
                @include border-bottom;
                display: flex;
            }
        }
        .inner {
            background-color: #fffa7e;
            margin-left: 8px;
            //text-align: right;
        }
        .thumb-smaller-rect{
            margin-left: 10px;
        }
    }
}

.chat-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .name {
        line-height: 1.46;
        font-size: 16px;
    }
    .price {
        font-size: 15px;
        font-family: "NotoSans-Bold", sans-serif;
    }
}
