.main-top-wrap {
    background-color: $gray3;
    padding: 0 $frame-large $frame-large;
    &.main-empty {
        position: relative;
        padding: 0;
    }
    &.main-user {
        position: relative;
        padding: 0;
        &:after{

        }
    }
}

.alarm-head-wrap {
    @include flex-set($h: auto);
    padding: 8px 0;
    .btn-all-request {
        font-size: 13px;
        margin-left: auto;
    }
}



.btn-main-search {
    flex: 1;
    font-size: 18px;
    color: $primary;
    border: solid 2px $primary;
    display: flex;
    align-items: center;
    padding: 0 $frame-large;
    height: 60px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    margin: 0;
    overflow: hidden;
    &::placeholder{
        color: $primary;
    }
}

.deal-main-container {
    margin-bottom: 15px;
    position: relative;
    background: linear-gradient(180deg, #f5f6f8 0%, #f5f6f8 50%, $color-default 50%, $color-default 100%);
    .btn-deal:not(:last-of-type) {
        margin-right: 4px;
    }
    & + .user-count{
        width: 100%;
        align-self: center;
    }
    h2 {
        font-size: 14px;
        color: $sub-text;
        text-align: center;
        padding: 14px 0 28px 0;
    }
    .deal-btn-wrap {
        padding: 0 $frame-large;
        display: flex;
        justify-content: center;
        height: 130px;
        .btn-deal {
            width: 33.33333%;
            height: 130px;
            background-position: 50% 56px;
            background-size: 50px;
            background-color: $color-default;
            &.on {
                background-repeat: no-repeat, no-repeat;
                background-position: 50% 56px, center;
                background-size: 50px, 100%;
                position: relative;
                border: 0;
                .btn-title {
                    color: $color-default;
                }
                &.sale {
                    background-image: url($img-donate-buy), linear-gradient(147deg, #7390f5 -1%, #213681);
                }
                &.purchase {
                    background-image: url($img-buy-wh), linear-gradient(147deg, #7390f5 -1%, #213681);
                }
                &.donate {
                    background-image: url($img-donate-wh), linear-gradient(147deg, #7390f5 -1%, #213681);
                }
            }
        }
    }
}

.user-count {
    @include flex-set(80px);
    flex: none;
    padding: 13px 14px;
    li {
        background-color: $color-default;
        flex: 1;
        &:first-child {
            border-top-left-radius: $rect-radius-small;
            border-bottom-left-radius: $rect-radius-small;
        }
        &:last-child {
            border-top-right-radius: $rect-radius-small;
            border-bottom-right-radius: $rect-radius-small;
        }
        &:not(:last-of-type) a:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 30px;
            background-color: $gray1;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background-color: $gray4;
        }
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 54px;
        justify-content: center;
        position: relative;
        em {
            position: relative;
            margin-top: 4px;
            font-size: 17px;
            line-height: 30px;
        }
        .title {
            font-size: 13px;
        }
    }
}

.pr {
    .n-badge {
        position: absolute;
        right: -7px;
        top: -6px;
    }
}

.empty-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    padding: 14px;
    width: 100%;
    @include flex-set($h: 188px, $jc: center, $fd: column, $ai: center);
    .copy {
        font-size: 12px;
        color: $color-default;
        margin-bottom: 12px;
    }
    .btn-category {
        @include btn-fit($bg: $gray2, $h: 36px, $r: 2px, $pd: 0 26px);
        font-size: 12px;
    }
    .ico-warning-main {
        margin-bottom: 12px;
    }
}
.auction-main {
    position: relative;
    width: 100%;
    height: auto !important;
    padding: 0;
    @include flex-set($h: 188px, $jc: center, $fd: column, $ai: center);
    &:after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        z-index: 1;
        position: absolute ;
        left: 0;
        top:0
    }

    .auction-contents{
        position: absolute;
        width: 100%;
        z-index: 2;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .time{
            font-size: 15px;
            color: $color-default;
            display: block;
            margin-bottom: 7px;
        }
        .title{
            font-size: 15px;
            color: $color-default;
            display: block;
            margin-bottom: 15px;
        }
        .prdt-name{
            font-size: 20px;
            color: $color-default;
            display: block;
            margin-bottom: 10px;
        }
        .time-check{
            font-size: 18px;
            color: #f34a4a;
            display: block;
            border-radius: 5px;
            border:solid 1px #f34a4a;
            width: fit-content;
            margin: 0 auto 15px;
            padding: 2px 10px;
        }
        .copy {
            font-size: 14px;
            color: $color-default;
        }
    }
}
.ico-warning-main {
    width: 60px;
    height: 60px;
}
video{
    width: 100%;
}
.bottom-util-wrap{
    flex: none;
    @include flex-set($h:50px);
    .btn-my-info,
    .btn-my-product{
        font-size: 15px;
        background-color: $gray1;
        @include flex-set($h:50px, $jc:center);
        flex: 1;
        text-align: center;
    }
    .btn-my-info{
        border-right:solid 1px $gray4;
    }
}
.arr-small-r{
    position: absolute;right: 4px;
    width:18px ;
    height: auto;
}
