.comment-warp {
  display: block;
  padding: 30px $frame-large;
  background-color: $gray1;
  line-height: 1.5;
  //height: 100px;
  flex: none;

  .title {
    line-height: 24px;
  }

  .copy {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    color: $sub-text;
  }
}

.register-form-wrap {
  padding: 24px $frame-large 46px;

  h2 {
    font-size: 14px;
    background-color: $gray2;
    color: $sub-text;
    padding: 0 $frame-large;
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 12px;

    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }
}

.form-thin-wrap {
  padding-bottom: 6px;
  display: flex;
}

.ico-category {
  width: 32px;
  height: 32px;

  & + .text {
    margin-right: auto;
  }
}

.init-btn-wrap {
  margin: auto;
  background-color: $gray1;
  width: calc(100% - 28px);
  height: 317px;
  border-radius: 6px;
  padding: 30px 20px 50px;
  text-align: center;

  h1 {
    font-size: 18px;
    position: relative;
    margin-bottom: 50px;
    line-height: 2;

    &:after {
      position: absolute;
      left: 50%;
      bottom: -12px;
      transform: translateX(-50%);
      content: "";
      display: block;
      background-color: $primary;
      width: 40px;
      height: 2px;
    }
  }
}

.btn-init-wrap {
  display: flex;
  justify-content: space-between;

  .btn-init {
    position: relative;
    padding-top: 111px;
    width: 140px;
    height: 160px;
    box-shadow: 0 0 10px 0 rgba(124, 124, 124, 0.16);
    border-radius: 10px;
    color: $sub-text;

    &.user {
      background: $color-default url($ico-user) no-repeat 50% 20px  / 80px;

      &.on {
        background-image: url($ico-user-active);
      }
    }

    &.dealer {
      background: $color-default url($ico-dealer) no-repeat 50% 20px  / 80px;

      &.on {
        background-image: url($ico-dealer-active);
      }
    }

    &.on {
      border: solid $primary 2px;

      &:after {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background: url($active-top) no-repeat center/ 100%;
        @include position-center($t: -16px, $tr: translateX(-50%))
      }
    }
  }
}

.map-wrap {
  margin-top: 30px;
  padding: 447px $frame-large 50px;
  position: relative;

  &.sub {
    padding: 240px $frame-large 50px;
  }
}

.map-center {
  width: 322px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  .map {
    display: none;
    width: 214px;
    height: 391px;
    position: absolute;
    left: 59px;
    top: 35px;

    &.on, &.back {
      display: block;
    }
  }

  .sub-map {
    display: none;
    width: 332px;
    height: 240px;
    position: absolute;
    left: 0;
    top: 0;

    &.on, &.back {
      display: block;
    }
  }
}

.local-info {
  border-radius: 2px;
  padding: $frame-large;
  background-color: $gray2;

  li {
    &:not(:last-of-type) {
      padding-bottom: $frame-large;
      margin-bottom: $frame-large;
      @include border-bottom($c: $gray4)
    }
  }

  .local-detail, .name-set {
    margin-bottom: 8px;
  }

  .price {
    font-size: 13px;
    font-family: "NotoSans-Regular", sans-serif;
    text-align: right;

    em {
      font-size: 14px;
      font-family: "NotoSans-Bold", sans-serif;
    }
  }

  .local-detail {
    font-size: 13px;
    color: $gray5;
    line-height: 1.5;
  }

  .name-set {
    @include flex-set($h: auto);

    .name {
      font-size: 13px;

      &:not(:last-of-type) {
        margin-right: 8px;
      }
    }

    .btn-thumb-close {
      margin-left: auto;
    }
  }
}

.local-info-sub {
  border-radius: 2px;
  padding: $frame-large;
  background-color: $color-default;
  border: solid 1px $gray4;
  $seoul: (#007ecd, seoul);
  $busan: (#f18653, busan);
  $daegu: (#00934b, daegu);
  $gwangju: (#ed75ac, gwangju);
  $incheon: (#00a2ec, incheon);
  $daejeon: (#fba913, daejeon);
  $ulsan: (#bdbc45, ulsan);
  $gyeonggi-do: (#61b1d8, gyeonggi-do);
  $gangwon-do: (#0098b7, gangwon-do);
  $chungcheongbuk-do: (#fdb5af, chungcheongbuk-do);
  $chungcheongnam-do: (#f48323, chungcheongnam-do);
  $jeollabuk-do: (#aa67a7, jeollabuk-do);
  $jeollanam-do: (#e44269, jeollanam-do);
  $gyeongsangbuk-do: (#95b23c, gyeongsangbuk-do);
  $gyeongsangnam-do: (#fdba37, gyeongsangnam-do);
  $jeju-do: (#df54cc, jeju-do);
  $all-do: ($primary, all-do);
  $all-gangwon: (#0098b7, all-gangwon);
  $gangwon-a: (#69cbbc, gangwon-a);
  $gangwon-b: (#69B8CB, gangwon-b);
  $all-chungbuk: (#F6B1AB, all-chungbuk);
  $chungbuk-a: (#F6ABB1, chungbuk-a);
  $chungbuk-b: (#F6ABD1, chungbuk-b);
  $all-chungnam: (#F48323, all-chungnam);
  $chungnam-a: (#E59E61, chungnam-a);
  $chungnam-b: (#E68A6F, chungnam-b);
  $all-gyeongbuk: (#B9CB67, all-gyeongbuk);
  $gyeongbuk-a: (#A5CB67, gyeongbuk-a);
  $gyeongbuk-b: (#9BB775, gyeongbuk-b);
  $all-gyeongnam: (#FDBA37, all-gyeongnam);
  $gyeongnam-a: (#F2CD69, gyeongnam-a);
  $gyeongnam-b: (#E8E371, gyeongnam-b);
  $gyeongnam-c: (#EAA66C, gyeongnam-c);
  $all-jeonbuk: (#AA67A7, all-jeonbuk);
  $chungbuk-a: (#8F7CAC, chungbuk-a);
  $chungbuk-b: (#B187C3, chungbuk-b);
  $all-jeonnam: (#E44269, all-jeonnam);
  $jeonnam-a: (#DD779A, jeonnam-a);
  $jeonnam-b: (#DD7777, jeonnam-b);
  $all-busan: (#F18653, all-busan);
  $busan-a: (#D98869, busan-a);
  $busan-b: (#B26D57, busan-b);
  $busan-c: (#BA855E, busan-c);
  $all-incheon: (#00A2EC, all-incheon);
  $incheon-a: (#65ABD0, incheon-a);
  $incheon-b: (#567F90, incheon-b);
  $all-daejeon: (#FBA913, all-daejeon);
  $daejeon-a: (#DDA94A, daejeon-a);
  $daejeon-b: (#BC8439, daejeon-b);
  $all-ulsan: (#C1BF45, all-ulsan);
  $ulsan-a: (#C1BF45, ulsan-a);
  $ulsan-b: (#989155, ulsan-b);
  $all-gyeonggi: (#61b1d8, all-gyeonggi);
  $gyeonggi-a: (#B7C584, gyeonggi-a);
  $gyeonggi-b: (#98A46A, gyeonggi-b);
  $gyeonggi-c: (#A99BC7, gyeonggi-c);
  $gyeonggi-d: (#8679A0, gyeonggi-d);
  $gyeonggi-e: (#CB8C8B, gyeonggi-e);
  $gyeonggi-f: (#AC7170, gyeonggi-f);
  $gyeonggi-g: (#84ABD6, gyeonggi-g);
  $gyeonggi-h: (#6086B1, gyeonggi-h);
  $gyeonggi-i: (#E6A779, gyeonggi-i);
  $gyeonggi-j: (#C39575, gyeonggi-j);
  $all-daegu: (#00934b, daegu);
  $daegu-a: (#67C396, daegu-a);
  $daegu-b: (#63B96A, daegu-b);
  $all-gwangju: (#EC74AB, all-gwangju);
  $gwangju-a: (#D386A9, gwangju-a);
  $gwangju-b: (#C77DC2, gwangju-b);
  $all-seoul: (#007ecd, all-seoul);
  $seoul-a: (#F4C57A, seoul-a);
  $seoul-b: (#EDB163, seoul-b);
  $seoul-c: (#F492A1, seoul-c);
  $seoul-d: (#E1788A, seoul-d);
  $seoul-e: (#7DCBEA, seoul-e);
  $seoul-f: (#65B6D7, seoul-f);
  $seoul-g: (#6EE080, seoul-g);
  $seoul-h: (#72B565, seoul-h);
  @each $color, $do, $left, $top in $seoul, $busan, $daegu, $gwangju, $incheon, $daejeon, $ulsan, $gyeonggi-do, $gangwon-do, $chungcheongbuk-do, $chungcheongnam-do, $jeollabuk-do, $jeollanam-do, $gyeongsangbuk-do, $gyeongsangnam-do, $jeju-do, $all-do, $all-gangwon, $gangwon-a, $gangwon-b, $all-chungbuk, $chungbuk-a, $chungbuk-b, $all-chungnam, $chungnam-a, $chungnam-b, $all-gyeongbuk, $gyeongbuk-a, $gyeongbuk-b, $all-gyeongnam, $gyeongnam-a, $gyeongnam-b, $gyeongnam-c, $all-jeonbuk, $chungbuk-a, $chungbuk-b, $all-jeonnam, $jeonnam-a, $jeonnam-b, $all-busan, $busan-a, $busan-b, $busan-c, $all-incheon, $incheon-a, $incheon-b, $all-daejeon, $daejeon-a, $daejeon-b, $all-ulsan, $ulsan-a, $ulsan-b, $all-gyeonggi, $gyeonggi-a, $gyeonggi-b, $gyeonggi-c, $gyeonggi-d, $gyeonggi-e, $gyeonggi-f, $gyeonggi-g, $gyeonggi-h, $gyeonggi-i, $gyeonggi-j, $all-daegu, $daegu-a, $daegu-b, $all-gwangju, $gwangju-a, $gwangju-b, $all-seoul, $seoul-a, $seoul-b, $seoul-c, $seoul-d, $seoul-e, $seoul-f, $seoul-g, $seoul-h {
    .name-set .name.#{$do} {
      color: $color;
    }
  }

  li {
    &:not(:last-of-type) {
      padding-bottom: $frame-large;
      margin-bottom: $frame-large;
    }
  }

  .local-detail, .name-set {
    margin-bottom: 8px;
  }

  .price {
    font-size: 13px;
    font-family: "NotoSans-Regular", sans-serif;
    text-align: right;

    em {
      font-size: 14px;
      font-family: "NotoSans-Bold", sans-serif;
    }
  }

  .local-detail {
    font-size: 13px;
    color: $gray5;
    line-height: 1.5;
  }

  .name-set {
    @include flex-set($h: auto);

    .name {
      font-size: 13px;
      color: $gray5;

      &:not(:last-of-type) {
        margin-right: 8px;
      }
    }

    .btn-thumb-close {
      margin-left: auto;
    }
  }
}

.sum-info {
  border-radius: 2px;
  background-color: $gray2;
  @include flex-set($h: 60px);
  padding: $frame-large;

  .copy {
    font-size: 14px;
  }

  .price {
    font-size: 14px;
    color: #ff4b4b;
    font-family: "NotoSans-Bold", sans-serif;
  }
}
