.search-request {
    position: relative;
    flex-grow: 1;
    margin: 0 7px;
    .btn-search-cprimary {
        @include position-right($r: 10px);
    }
}

.deal-container {
    @include flex-set($h: inherit, $jc: center, $fd: column);
    .btn-deal:last-of-type {
        margin-left: 16px;
    }
    h2 {
        font-size: 20px;
        color: $main-text;
        text-align: center;
        margin-bottom: 60px;
    }
    .deal-btn-wrap {
        display: flex;
    }
}

.empty {
    padding: 14px;
    background-color: #fff;
    @include flex-set($h: inherit, $jc: center, $fd: column, $ai: center);
    .copy {
        font-size: 15px;
        color: $sub-text;
        margin-bottom: 12px;
    }
    .empty-copy {
        font-size: 15px;
        color: $sub-text;
        margin-bottom: 12px;
    }
    .btn-category {
        @include btn-fit($bg: $gray2, $h: 36px, $r: 2px);
        font-size: 12px;
    }
    .store-con & .btn-category {
        @include btn-fit($bg: $gray2, $h: 36px, $r: 2px, $pd:0 24px);
        font-size: 12px;
    }
    .ico-warning {
        margin-bottom: 20px;
    }



}


.ico-warning {
    width: 60px;
    height: 60px;
}

.form-wide-wrap {
    padding: 0 14px 18px;
    h2 {
        font-size: 14px;
        margin-bottom: 10px;
        em {
            color: #ff4b4b;
        }
    }
    &:last-of-type {
        margin-bottom: 26px;
    }
}

.form-wide-none {
    padding-top: 14px;
    h2 {
        font-size: 14px;
        margin-bottom: 10px;
        padding-left: 14px;
        em {
            color: #ff4b4b;
        }
    }
}

.prdt-info {
    padding: 0 $frame-large;
    background-color: $color-default;
    p {
        @include font2;
        padding: $frame-large 0;
    }
}

.address-time-wrap {
    @include flex-set($fd: column, $jc: flex-start, $ai: flex-end);
    position: absolute;
    right: 14px;
    top: 14px;
    font-size: 12px;
    color: $gray5;
    .address {
        margin-bottom: 10px;
    }
    .time-check {
        font-size: 12px;
        color: $gray5;
    }
}
.deal-emergency-container {
    text-align: center;
    position: relative;
    padding: 40px 37px;
    .ico-emergency{
        width: 61px;
        margin-bottom: 15px;
    }
    .btn-deal:not(:last-of-type) {
        margin-right: 22px;
    }
    & + .user-count{
        width: 100%;
        align-self: center;
    }
    h2 {
        font-size: 18px;
        position: relative;
        margin-bottom: 50px;
        line-height: 2;
        color: $emergency;
        &:after {
            position: absolute;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
            content: "";
            display: block;
            background-color: $emergency;
            width: 40px;
            height: 2px;
        }
    }
    .deal-btn-wrap {
        display: flex;
        justify-content: center;
        height: 158px;
        .btn-deal {
            width: 50%;
            height: 158px;
            background-position: 50% 56px;
            background-size: 61px;
            background-color: $color-default;
            &.on {
                background-repeat: no-repeat, no-repeat;
                background-position: 50% 56px, center;
                background-size: 50px, 100%;
                position: relative;
                border: 0;
                .btn-title {
                    color: $color-default;
                }
                &.sale {
                    background-image: url($img-donate-buy), linear-gradient(147deg, #7390f5 -1%, #213681);
                }
                &.purchase {
                    background-image: url($img-buy-wh), linear-gradient(147deg, #7390f5 -1%, #213681);
                }
            }
        }
    }
}



.deal-product-container {
    text-align: center;
    position: relative;
    padding: 40px 37px;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    .ico-emergency{
        width: 61px;
        margin-bottom: 15px;
    }
    .btn-deal:not(:last-of-type) {
        margin-right: 22px;
    }
    h2 {
        font-size: 18px;
        position: relative;
        margin-bottom: 50px;
        line-height: 2;
        &:after {
            position: absolute;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
            content: "";
            display: block;
            background-color: $primary;
            width: 40px;
            height: 2px;
        }
    }
    .deal-btn-wrap {
        display: flex;
        justify-content: center;
        height: 158px;
        .btn-deal {
            width: 50%;
            height: 158px;
            background-position: 50% 56px;
            background-size: 61px;
            background-color: $color-default;
            .btn-title {
                font-size: 19px;
            }
            &.sale {
                background-image: url($img-sell-sky);
                border-color: $sale;
                .btn-title{
                    color: $sale;
                }
            }
            &.purchase {
                background-image: url($img-buy-green);
                border-color: $purchase;
                .btn-title{
                    color: $purchase;
                }
            }
            &.on {
                background-repeat: no-repeat, no-repeat;
                background-position: 50% 56px, center;
                background-size: 50px, 100%;
                position: relative;
                border: 0;
                .btn-title {
                    color: $color-default;
                }
                &.sale {
                    background-image: url($img-donate-buy), linear-gradient(147deg, #7390f5 -1%, #213681);
                }
                &.purchase {
                    background-image: url($img-buy-wh), linear-gradient(147deg, #7390f5 -1%, #213681);
                }
            }
        }
    }
}