.header-top {
  position: relative;
  padding: $frame-small;
  background-color: $color-default;
  @include flex-set;
  @include border-bottom();

  h1 {
    @include position-center;
    display: flex;
    font-size: 16px;
  }

  & .btn-close-large {
    margin-left: auto;
  }
}

.shortcuts {
  @include flex-set;
}

.splash-top {
  position: absolute;
  z-index: 2;
  padding: $frame-small;
  width: 100%;
  @include flex-set;
}

.splash-top-start {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 100%;
  @include flex-set($jc: center, $h: 75px);
}
