html, body {
  overflow: hidden;
}

.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-default;
  overflow: hidden;
  overflow-y: auto;

  &.gray {
    background-color: $gray1;
  }

  &.blue {
    background-color: $primary;
  }
}


/*scroll fixed*/
.scroll-fixed {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%
}

.container {
  //padding-top: $height-header;
  flex: 1;
  overflow-y: auto;
  height: inherit;
}

.contents {
  height: inherit;
  display: flex;
  flex-direction: column;

  .slide-nest & {
    flex-direction: unset;
  }

  > .btn-list-more {
    margin: 0 14px 40px;
    flex: none;
  }
}

.slide-nest {
  overflow: hidden;
  overflow-y: auto;
}

.tab-con-wrap {
  //padding-top: $height-tab
  flex: 1;
  overflow-y: auto;

  > .btn-list-more {
    margin: 30px 14px 40px;
  }
}

.labels {
  @include margin-inline()
}

.frame-large {
  padding: 0 $frame-large;
}

.frame-large-all {
  padding: 20px $frame-large;
}

.reply {
  position: relative;
  @include border-top($c: $primary, $w: 2px);
  padding: 0 $frame-large 46px;

  h1 {
    padding: 34px 0 18px;
    text-align: center;
    color: $primary;
    font-size: 18px;
  }


    &.g {
        border-color: #d04444;

      h1 {
        color: #d04444;
        img {
          width: 17px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 10px solid #d04444;
            z-index: 100;
        }

        .inner-wrap {
            border: solid 2px $gray5;
            padding-top: 14px;
            .current-point{
                font-size: 14px;
                color: $sub-text;
                text-align: right;
                margin-top: 10px;
            }
        }
    }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid $primary;
    z-index: 100;
  }

  .inner-wrap {
    position: relative;
    background-color: $color-default;
    border: solid 2px $primary;
    border-radius: 8px;

    .form-wide-wrap:last-of-type {
      margin-bottom: 0;
    }
  }
}

.category-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  li {
    //flex-basis: 33.33%;
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
  }
}
.auction-btn-wrap{
  @include flex-set($h:auto,$jc:center);
  background-color: $gray1;
  padding: 10px 0;
  & > *:not(:last-of-type){
    margin-right: 10px;
  }
}