.gnb {
    position: relative;
}

.user {
    background-color: $gray1;
    .btn-close-large {
        position: absolute;
        right: 8px;
        top: 13px;
        display: flex;
        align-items: center;
    }
}

.activity-count {
    @include flex-set(80px);
    padding: 13px 14px;
    li {
        background-color: $color-default;
        flex: 1;
        &:first-child {
            border-top-left-radius: $rect-radius-small;
            border-bottom-left-radius: $rect-radius-small;
        }
        &:last-child {
            border-top-right-radius: $rect-radius-small;
            border-bottom-right-radius: $rect-radius-small;
        }
        &:not(:last-of-type) a:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 30px;
            background-color: $gray1;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background-color: $gray4;
        }
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 54px;
        justify-content: center;
        position: relative;
        em {
            color: $primary;
            position: relative;
            margin-bottom: 8px;
            .n-badge {
                position: absolute;
                right: -26px;
                top: -9px;
            }
        }
        .title {
            font-size: 11px;
        }
    }
}

.banner {
    padding: $frame-large;
}