.bar1 {
    background-color: $color-default;
    @include flex-set($h: 64px, $ai: flex-end);
    padding: 0 $frame-large 11px;
    flex: none;
}

.bar5 {
    @include flex-set($h: 35px, $ai: flex-end, $jc: flex-end);
    padding: 16px $frame-large 0;
    flex: none;
}

.bar2 {
    background-color: $color-default;
    @include border-bottom;
    padding: $frame-large;
    flex: none;

    .prdt-name {
        font-size: 18px;
        padding: 8px 0;
    }

    .inner {
        @include flex-set($h: 50px, $ai: flex-end);
    }

    .num-set {
        @include flex-set($h: auto);
    }

    .price {
        font-size: 14px;

        sup {
            font-size: 14px;
            color: $primary;
        }

        em {
            font-size: 25px;
            font-family: "NotoSans-Bold", sans-serif;
            line-height: 1.45;
        }
    }
}

.bar3 {
    @include border-bottom();
    background-color: $color-default;
    @include flex-set($h: 106px, $ai: center, $fd: column);
    padding: 20px $frame-large $frame-large;
    flex: none;
    .price-group{
        align-self: flex-end;
    }
    .prdt-name {
        font-size: 18px;
        margin-bottom: 10px;
        align-self: flex-start;
    }

    sup {
        font-size: 12px;

        &.sale {
            color: $sale;
        }

        &.purchase {
            color: $purchase;
        }
    }

    .price {
        font-size: 14px;

        em {
            font-size: 25px;
            font-family: "NotoSans-Bold", sans-serif;
            line-height: 1.45;
        }
    }
}

.bar4 {
    position: relative;
    padding: $frame-large;
    background-color: $gray3;
    display: flex;
    flex: none;
    background-color: $gray1;
    &.bidding{
        padding-top: 0;
        .btn-main-search{
            height: 46px;
        }
        .btn-search-speak{
            height: 46px;
            background-image: none;
            text-indent: unset;
            color: $color-default;
        }
    }
}

.bar6 {
    position: relative;
    padding: $frame-large;
    background-color: $gray1;
    line-height: 1.5;
    .copy{
        font-size: 14px;
        color: $sub-text;
        margin-bottom: 10px;
    }
    em {
        color: $primary;
        font-family: "NotoSans-Bold", sans-serif;
    }

    strong {
        color: $main-text;
        font-family: "NotoSans-Bold", sans-serif;
    }

}
.bar7{
    background-color: $emergency;
    padding: 12px $frame-large;
    color: $color-default;
    .emergency-s-w{
        width: 22px;
        margin-right: 5px;
        margin-top:-4px ;
    }
    >*{
        vertical-align: middle;
    }
}
.bar8{
    @include flex-set($h:66px);
    padding: 0 14px;
    background-color: $gray2;
    flex:none;
    & > *:not(:last-child){
        margin-right: 14px;
    }
    .btn-fit-line{
        flex: 1;

    }
}
.bar-bottom-fixed {
    flex: none;
    background-color: $color-default;
    @include flex-set($h: 60px);
    padding: 0 $frame-large;

    .price {
        font-size: 14px;

        sup {
            font-size: 14px;
            color: $primary;
        }

        em {
            font-size: 25px;
            font-family: "NotoSans-Bold", sans-serif;
            line-height: 1.45;
        }
    }
}

.bar-chat-fixed {
    @include border-top;
    background-color: $color-default;
    @include flex-set($h: auto, $ai: flex-end);

    .btn-send {
        margin: 0 14px 14px 18px;
    }
}
