.logo {
  @include btn-bg("../images/logo.png", 87px, 37px)
}

.kakao-logo {
  width: 36px;
  height: 15px;
}

.btn-alarm, .btn-chatting {
  position: relative;
}

.btn-deal {
  border: solid 2px $primary;
  border-radius: 4px;
  width: 140px;
  height: 180px;
  display: inline-flex;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);

  .deal-emergency-container & {
    border: solid 2px $emergency;
    border-radius: 4px;
    width: 140px;
    height: 180px;
    display: inline-flex;
    justify-content: center;

    &.sale {
      background: url($img-sell-o) no-repeat 50% 60px / 61px;

      &.disable {
        background: url($img-sell-g) no-repeat 50% 60px / 61px;
        border: solid 2px $gray5;

        .btn-title {
          color: $gray5;
        }
      }

    }

    &.purchase {
      background: url($img-buy-o) no-repeat 50% 60px / 61px;
    }

  }

  &.sale {
    background: url($img-sell-lg) no-repeat 50% 60px / 80px;
  }

  &.purchase {
    background: url($img-buy-lg) no-repeat 50% 60px / 80px;
  }

  &.donate {
    background: url($donate) no-repeat 50% 60px / 80px;
  }

  .btn-title {
    text-align: center;
    font-size: 16px;
    color: $primary;
    margin-top: 24px;

    .deal-emergency-container & {
      font-size: 19px;
      color: $emergency;
      margin-top: 26px;
    }
  }
}

.btn-search-cprimary {
  @include btn-bg("../images/icon/search-cprimary.png", 18px, 18px);
}

.btn-plus {
  @include btn-bg($ico-plus, 48px, 48px);
  background-position: 50% -4px;
  flex: none;
}

.btn-trash {
  @include btn-bg($trash, 32px, 32px);
}

.btn-write {
  @include btn-bg($pencil, 16px, 16px);
  flex: none;
}

.btn-send {
  @include btn-bg($ico-send, 22px, 22px);
  flex: none;
}

.btn-more-wh {
  @include btn-bg($more-lg-wh, 28px, 28px);
}

.btn-phone-wh {
  @include btn-bg($phone-lg-wh, 36px, 36px);
}

.btn-store-wh {
  @include btn-bg($btn-store-wh, 36px, 36px);
}

.btn-phone {
  @include flex-set();
  background: url($phone-lg) no-repeat left / 32px;
  width: 86px;
  height: 32px;
  @include sub-text-act;
  padding-left: 34px;
  margin-right: 24px;
}

.btn-thumb-close {
  @include btn-bg("../images/icon/close-md.png", 18px, 18px);
}

@each $path in menu, estimate, chatting, alarm, config, close-large, prev-large, more, more-dark, kakao-search, config-wh {
  .btn-#{$path} {
    @include btn-bg("../images/icon/#{$path}.png")
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 26px;
  -webkit-tap-highlight-color: transparent;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #ccc;

      &:before {
        transform: translate(-100%, -50%);
      }
    }

    &:disabled + .slider {
      background-color: #f5f5f5;

      &:before {
        background-color: $color-default;
      }
    }
  }

  .slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #3555d9;
    border-radius: 13px;
    transition: .4s;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      right: 5%;
      top: 50%;
      width: 23px;
      height: 23px;
      background-color: $color-default;
      border-radius: 50%;
      transition: .4s;
      transform: translate(2%, -50%);
    }
  }
}

.btn-wrap-logout {
  padding: 0 $frame-large
}

.btn-wrap-mystore {
  padding: 5px $frame-large 25px
}

.btn-rect-medium {
  @include btn-wide;
}

.btn-fit-small {
  @include btn-fit();
}

.btn-fit-medium {
  @include btn-fit($h: 40px, $r: 20px);
  flex-grow: 1;
}

.btn-list-more {
  @include btn-fit($h: 40px, $r: 2px, $bg: $color-default, $c: $primary);
  border: solid 1px $primary;
  flex-grow: 1;
}

.btn-fit-large {
  @include btn-fit($h: 46px, $r: 2px);
  flex-grow: 1;

  &.disable {
    background-color: $gray4;
    pointer-events: none;
  }
}

.btn-fit-start {
  @include btn-fit($h: 36px, $r: 18px, $pd: 0 20px);
}

.fit-indicator {
  @include btn-fit($bg: transparent, $h: 46px, $pd: 0 0 0 24px, $c: $primary);
  background: url($check-active) no-repeat left center / 19px;
  flex-grow: 1;

  &.disable {
    background-color: $gray4;
    pointer-events: none;
  }
}

.btn-fit-back {
  @include btn-fit($h: 46px, $pd: 0 15px 0 35px, $c: $primary, $r: 2px);
  border: solid 1px $primary;
  width: fit-content;

  &.refresh {
    background: url($refresh) no-repeat 10px center / 25px;
  }
}

.btn-rect-small {
  @include btn-wide($bg: $color-default, $h: 40px, $c: #215bd9);
  border: solid 1px #215bd9;
}

.btn-down {
  @include flex-set(38px);
  background-color: $gray3;
  padding: 0 11px;
  margin-top: 20px;

  .file-name {
    margin-right: auto;
    margin-left: 7px;
  }
}

.btn-text {
  @include flex-set($icon-height-medium);
  padding: 0 8px;
  outline: none;

  &.cancel {
    color: $gray5;
  }

  &.ok {
    color: $primary;
  }

  &.white {
    color: $color-default;
    font-size: 14px;
  }
}

.btn-up-small {
  @include btn-bg($btn-up-small, 30px, 30px);
}

.btn-add-image {
  &.sale {
  }

  &.purchase {
  }
}

.btn-fixed {
  width: 100%;
  color: $color-default;
  z-index: 2;
  @include flex-set($jc: center);

  &.disable {
    font-size: 18px;
    background-color: $gray4;
    pointer-events: none;
  }

  &.emergency {
    background-color: $emergency;
  }

  &.purchase {
    background-color: $purchase;
  }

  &.sale {
    background-color: $sale;
  }

  &.primary {
    background-color: $primary;
  }

  &.register {
    background-image: linear-gradient(102deg, #3ca4f0, #10ccc5 100%);
  }
}

.btn-sort {
  @include flex-set($h: 18px);
  font-size: 12px;
  color: $sub-text;
  position: relative;
  padding-right: 18px;

  &:after {
    @include after-arrow($arr-small-d, $r: 0)
  }
}

.btn-chat-detail {
  @include flex-set($h: 40px, $jc: center);
  font-size: 14px;
  color: $primary;
}

.btn-search-del {
  display: none;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: $color-default url($search-close-primary) no-repeat center / 22px;
  @include hide-text($d: none);

  &.on {
    display: block;
  }
}

.btn-search-speak {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: inline-block;
  width: 80px;
  height: 60px;
  background: $primary url($img-mike) no-repeat 50% 50% / 24px;
  @include hide-text()
}

.btn-emergency {
  @include btn-fit($h: auto, $pd: 13px 14px, $fs: 16px, $bg: $emergency);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  width: fit-content;
  background-image: linear-gradient(to bottom, #f5993d, #e6892c);

  .ico-emergency {
    width: 26px;
    margin-top: -4px;
    margin-right: 5px;
  }
}
.btn-auction {
  @include btn-fit($h: auto, $pd: 13px 14px, $fs: 16px, $bg: $emergency);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  width: fit-content;
  background-color: #c76dcc;

  .label-pin-w {
    width: 26px;
    margin-top: -4px;
    margin-right: 5px;
  }
}
.swiper-button-next, .swiper-button-prev {
  width: 36px !important;
  height: 36px !important;
  color: $color-default !important;
  font-size: 14px !important;
  background-color: rgba(206, 206, 206, 0.7);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 36px;
  outline: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 13px !important;
  text-transform: none !important;
}

.btn-select-g {
  color: $color-default;
  padding: 8px 15px;
  background-color: $primary;
  border-radius: 2px;

  &.disable {
    background-color: $gray5;
  }
}

.btn-intro {
  width: 30px;
  height: 30px;
  background: url($arr-d-black) no-repeat center/18px;
  @include hide-text();
  @include position-right($r: 10px, $t: 20px)
}

.btn-empty {
  height: 40px;
  padding: 12px;
  color: $color-default;
  text-align: center;
  border-radius: 6px;

  &.sale {
    background-color: $sale;

  }

  &.purchase {
    background-color: $purchase;
  }
}

.btn-prdt-all {
  width: 40px;
  height: 40px;
  background: $color-default url($product-select-all) no-repeat center / 16px;
  @include hide-text();
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: -6px 0 6px 0 rgba(255, 255, 255, 0.8);
}

.btn-prdt-filter {
  width: 40px;
  height: 40px;
  background: $color-default url($product-filter) no-repeat center / 16px;
  @include hide-text();
  display: inline-block;
}

.btn-lock {
  @include btn-bg($url: $lock, $w: 36px, $h: 36px);
}

.btn-unlock {
  @include btn-bg($url: $unlock, $w: 36px, $h: 36px)
}


.btn-reg, .btn-reg-pic, .btn-reg-prdt {
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn-reg {
  bottom: 50px;

  img {
    width: 90px;
  }
}

.btn-reg-pic {
  bottom: 124px;

  img {
    width: 141px;
  }
}

.btn-reg-prdt {
  bottom: 50px;

  img {
    width: 141px;
  }
}

.fixed-hide-holder {
  height: 0;
  position: relative;
  z-index: 10000000;

  .btn-reg-prdt, .btn-reg-pic {
    display: none;
  }

  &.on {
    .btn-reg {
      display: none !important;
    }

    .btn-reg-prdt, .btn-reg-pic {
      display: block !important;
    }
  }
}

.keep-register {
  display: flex;

  a:nth-child(1) {
    width: 120px;
  }

  a:nth-child(2) {
    flex: 1;
  }
}

.btn-text-link {
  margin-top: 17px;
  display: block;
  font-size: 14px;
  color: $gray5;
  text-align: center;
  width: 100%;
}

.btn-fit-line {
  height: 40px;
  text-align: center;
  padding: 11px 14px;
  display: block;
  border: solid 2px $primary;
  font-size: 14px;
  color: $primary;
  white-space: nowrap;
  border-radius: 4px;
  background-color: $color-default;
}

.btn-circle-close {
  width: 38px;
  height: 66px;
  background: url($circle-close) no-repeat center/(183px/3);
  display: block;
  @include hide-text;
}