/* checkbox */
.chk-box {
  @include flex-set($ai: center, $h: auto, $jc: flex-start);
  overflow: hidden;

  input {
    display: block;
    position: relative;
    width: 19px;
    height: 19px;
    padding: 0;
    margin: 0;
    border: none;
    -webkit-appearance: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      background-color: $color-default;
      border: 1px solid #ccc;
      border-radius: 12px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 4px;
      width: 3px;
      height: 6px;
      border: solid #ccc;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:checked:before {
      border: 1px solid $primary;
    }

    &:checked:after {
      border-color: $primary;
    }

    &:disabled:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      background-color: #f5f5f5;
      border: 1px solid #f5f5f5;
      border-radius: 12px;
    }

    &:disabled:after {
      content: '';
      position: absolute;
      left: 6px;
      top: 3px;
      width: 4px;
      height: 7px;
      border: solid $color-default;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  .form-txt {
    display: block;
    padding: 0 0 0 6px;
    line-height: 23px;
    font-size: 14px;
    color: #505050;

    .date {
      font-size: 15px;
    }
  }
}

.category-check {
  border: solid 1px $primary;
  border-radius: 20px;
  padding: 0 23px;
  height: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;

  &.checked {
    background-repeat: no-repeat, no-repeat;
    background-position: 10px 50%, center;
    background-size: 14px 10px, 100%;
    background-image: url($checked-wh), linear-gradient(140deg, #6781e6 9%, $primary 93%);
    border: none;
    padding: 0 16px 0 32px;
  }

  input {
    //display: inline-block;
    //width: 20px;
    //height: 20px;
    //padding: 0;
    //margin: 0;
    //border: solid 1px $sub-text;
    //-webkit-appearance: none;
    //background-color: $color-default;
    //border-radius: 20px;
    //outline: none;
    display: none;

    & + .form-txt {
      display: block;
      color: $primary;
      font-size: 14px;
      font-family: 'NotoSans-Regular', sans-serif;
      letter-spacing: -0.05em;
      white-space: nowrap;
    }

    &:checked {
      + .form-txt {
        color: $color-default;
      }
    }

    &:checked {

    }
  }
}

.map-check {
  background-color: $color-default;
  border: solid 2px $gray5;
  border-radius: 20px;
  padding: 0 23px;
  width: 90px;
  height: 36px;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 0 6px 0 rgba(118, 118, 118, 0.16);

  $seoul: (#007ecd, seoul, 108px, 97px);
  $busan: (#f18653, busan, 221px, 313px);
  $daegu: (#00934b, daegu, 215px, 220px);
  $gwangju: (#ed75ac, gwangju, 14px, 295px);
  $incheon: (#00a2ec, incheon, 8px, 71px);
  $daejeon: (#fba913, daejeon, 116px, 193px);
  $ulsan: (#bdbc45, ulsan, 234px, 266px);
  $gyeonggi-do: (#61b1d8, gyeonggi-do, 108px, 47px);
  $gangwon-do: (#0098b7, gangwon-do, 208px, 71px);
  $chungcheongbuk-do: (#fdb5af, chungcheongbuk-do, 128px, 144px);
  $chungcheongnam-do: (#f48323, chungcheongnam-do, 21px, 168px);
  $jeollabuk-do: (#aa67a7, jeollabuk-do, 83px, 237px);
  $jeollanam-do: (#e44269, jeollanam-do, 85px, 340px);
  $gyeongsangbuk-do: (#95b23c, gyeongsangbuk-do, 234px, 157px);
  $gyeongsangnam-do: (#fdba37, gyeongsangnam-do, 129px, 289px);
  $jeju-do: (#df54cc, jeju-do, 218px, 372px);
  $all-do: ($primary, all-do, 0, 0);
  $all-gangwon: (#0098b7, all-gangwon, 0, 0);
  $gangwon-a: (#69cbbc, gangwon-a, 106px, 48px);
  $gangwon-b: (#69b8cb, gangwon-b, 139px, 159px);
  $all-chungbuk: (#F6B1AB, all-chungbuk, 0, 0);
  $chungbuk-a: (#F6ABB1, chungbuk-a, 137px, 53px);
  $chungbuk-b: (#F6ABD1, chungbuk-b, 37px, 115px);
  $all-chungnam: (#F48323, all-chungnam, 0, 0);
  $chungnam-a: (#E59E61, chungnam-a, 106px, 46px);
  $chungnam-b: (#E68A6F, chungnam-b, 139px, 159px);
  $all-gyeongbuk: (#B9CB67, all-gyeongbuk, 0, 0);
  $gyeongbuk-a: (#A5CB67, gyeongbuk-a, 42px, 66px);
  $gyeongbuk-b: (#9BB775, gyeongbuk-b, 190px, 125px);
  $all-gyeongnam: (#FDBA37, all-gyeongnam, 0, 0);
  $gyeongnam-a: (#F2CD69, gyeongnam-a, 200px, 61px);
  $gyeongnam-b: (#E8E371, gyeongnam-b, 174px, 130px);
  $gyeongnam-c: (#EAA66C, gyeongnam-c, 31px, 105px);
  $all-jeonbuk: (#AA67A7, all-jeonbuk, 0, 0);
  $jeonbuk-a: (#8F7CAC, jeonbuk-a, 37px, 94px);
  $jeonbuk-b: (#B187C3, jeonbuk-b, 199px, 107px);
  $all-jeonnam: (#E44269, all-jeonnam, 0, 0);
  $jeonnam-a: (#DD779A, jeonnam-a, 37px, 94px);
  $jeonnam-b: (#DD7777, jeonnam-b, 199px, 107px);
  $all-busan: (#F18653, all-busan, 0px, 0px);
  $busan-a: (#D98869, busan-a, 205px, 29px);
  $busan-b: (#B26D57, busan-b, 29px, 98px);
  $busan-c: (#BA855E, busan-c, 150px, 163px);
  $all-incheon: (#00A2EC, all-incheon, 0, 0);
  $incheon-a: (#65ABD0, incheon-a, 49px, 71px);
  $incheon-b: (#567F90, incheon-b, 212px, 144px);
  $all-daejeon: (#FBA913, all-daejeon, 0, 0);
  $daejeon-a: (#DDA94A, daejeon-a, 151px, 27px);
  $daejeon-b: (#BC8439, daejeon-b, 82px, 155px);
  $all-ulsan: (#C1BF45, all-ulsan, 0, 0);
  $ulsan-a: (#C1BF45, ulsan-a, 48px, 78px);
  $ulsan-b: (#989155, ulsan-b, 196px, 111px);
  $all-gyeonggi: (#61b1d8, all-gyeonggi, 0, 0);
  $gyeonggi-a: (#B7C584, gyeonggi-a, 100px, 18px);
  $gyeonggi-b: (#98A46A, gyeonggi-b, 31px, 60px);
  $gyeonggi-c: (#A99BC7, gyeonggi-c, 202px, 52px);
  $gyeonggi-d: (#8679A0, gyeonggi-d, 150px, 98px);
  $gyeonggi-e: (#CB8C8B, gyeonggi-e, 227px, 140px);
  $gyeonggi-f: (#AC7170, gyeonggi-f, 179px, 192px);
  $gyeonggi-g: (#84ABD6, gyeonggi-g, 39px, 190px);
  $gyeonggi-h: (#6086B1, gyeonggi-h, 129px, 150px);
  $gyeonggi-i: (#E6A779, gyeonggi-i, 8px, 145px);
  $gyeonggi-j: (#C39575, gyeonggi-j, 52px, 103px);
  $all-daegu: (#00934b, all-daegu, 0, 0);
  $daegu-a: (#67C396, daegu-a, 151px, 17px);
  $daegu-b: (#63B96A, daegu-b, 132px, 131px);
  $all-gwangju: (#EC74AB, all-gwangju, 0, 0);
  $gwangju-a: (#D386A9, gwangju-a, 37px, 94px);
  $gwangju-b: (#C77DC2, gwangju-b, 199px, 107px);
  $all-seoul: (#007ecd, all-seoul, 0, 0);
  $seoul-a: (#F4C57A, seoul-a, 159px, 15px);
  $seoul-b: (#EDB163, seoul-b, 204px, 59px);
  $seoul-c: (#F492A1, seoul-c, 80px, 59px);
  $seoul-d: (#E1788A, seoul-d, 154px, 103px);
  $seoul-e: (#7DCBEA, seoul-e, 11px, 103px);
  $seoul-f: (#65B6D7, seoul-f, 28px, 149px);
  $seoul-g: (#6EE080, seoul-g, 126px, 172px);
  $seoul-h: (#72B565, seoul-h, 230px, 147px);
  @each $color, $do, $left, $top in $seoul, $busan, $daegu, $gwangju, $incheon, $daejeon, $ulsan, $gyeonggi-do, $gangwon-do, $chungcheongbuk-do, $chungcheongnam-do, $jeollabuk-do, $jeollanam-do, $gyeongsangbuk-do, $gyeongsangnam-do, $jeju-do, $all-do, $all-gangwon, $gangwon-a, $gangwon-b, $all-chungbuk, $chungbuk-a, $chungbuk-b, $all-chungnam, $chungnam-a, $chungnam-b, $all-gyeongbuk, $gyeongbuk-a, $gyeongbuk-b, $all-gyeongnam, $gyeongnam-a, $gyeongnam-b, $gyeongnam-c, $all-jeonbuk, $jeonbuk-a, $jeonbuk-b, $all-jeonnam, $jeonnam-a, $jeonnam-b, $all-busan, $busan-a, $busan-b, $busan-c, $all-incheon, $incheon-a, $incheon-b, $all-daejeon, $daejeon-a, $daejeon-b, $all-ulsan, $ulsan-a, $ulsan-b, $all-gyeonggi, $gyeonggi-a, $gyeonggi-b, $gyeonggi-c, $gyeonggi-d, $gyeonggi-e, $gyeonggi-f, $gyeonggi-g, $gyeonggi-h, $gyeonggi-i, $gyeonggi-j, $all-daegu, $daegu-a, $daegu-b, $all-gwangju, $gwangju-a, $gwangju-b, $all-seoul, $seoul-a, $seoul-b, $seoul-c, $seoul-d, $seoul-e, $seoul-f, $seoul-g, $seoul-h {
    &.#{$do} {
      left: $left;
      top: $top;
    }
    &.checked.#{$do} {
      border-color: $color;
      color: $color;

      .form-txt {
        color: $color;
      }

    }
  }

  .form-txt {
    display: block;
    color: $gray5;
    font-size: 14px;
    font-family: 'NotoSans-Regular', sans-serif;
    letter-spacing: -0.05em;
    white-space: nowrap;
  }
}

//.category-check {
//    width: 100px;
//    height: 100px;
//    overflow: hidden;
//    position: relative;
//    display: inline-block;
//    -webkit-tap-highlight-color: transparent;
//    input {
//        display: block;
//        width: 100px;
//        height: 100px;
//        padding: 0;
//        margin: 0;
//        border: solid 1px $sub-text;
//        -webkit-appearance: none;
//        background-color: $color-default;
//        border-radius: 50px;
//        outline: none;
//        background-repeat: no-repeat;
//        background-position: 50% 30%;
//        background-size: 32px;
//
//        & + .form-txt {
//            display: block;
//            @include position-center($t:70%);
//            color: $sub-text;
//            font-size: 14px;
//            font-family: 'NotoSans-Regular', sans-serif;
//            letter-spacing: -0.05em;
//            white-space: nowrap;
//        }
//        &:checked {
//            + .form-txt {
//                color: $color-default;
//            }
//        }
//        $total: 33;
//        @for $i from 1 to $total {
//            &.gray-#{$i} {
//                background-image: url("../images/icon/#{$i}-gray.png");
//                &:checked{
//                    background-repeat: no-repeat, no-repeat;
//                    background-position: 50% 30%, center;
//                    background-size: 32px, 100%;
//                    background-image: url("../images/icon/#{$i}-wh.png"), linear-gradient(140deg, #6781e6 9%, $primary 93%);
//                    border:none;
//                }
//            }
//        }
//    }
//}

.shape-1 {
  @include input-text($h: 34px, $c: $gray4, $r: 2px);
  background-color: $color-default;
  font-size: 14px;

  &:focus {
    border-color: $primary;
  }
}

.shape-1:disabled {
  background-color: transparent;
  opacity: 1;
  -webkit-text-fill-color: inherit;

  .user.category .user-profile & {
    -webkit-text-fill-color: #fff;
  }

  @include input-text($h: 34px, $pd: 0, $c: none);
  font-size: 14px;
}

.shape-2 {
  @include input-text($h: 46px, $r: 2px, $c: $gray4);

  &.disable {
    background-color: $gray1;
  }
}

a.shape-2 {
  display: block;
  @include input-text($h: 46px, $r: 2px, $c: $gray4);
  display: flex;
  align-items: center;
  position: relative;

  &.arr:after {
    @include after-arrow($arr-small-r);
  }

  &.already {
    background: $gray1 url($arr-small-r) no-repeat right 9px top 50% / 18px;
    color: $gray5;
  }

  .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
  }
}

.shape-3 {
  @include input-text($h: 46px, $r: 2px, $c: $gray4);
  text-align: right;

  &.datepicker {
    padding: 8px 8px 8px 36px;
    background: url($calendar) no-repeat 10px 50% / 18px;
    text-align: left;
  }

  &::placeholder {
    text-align: left;
  }
}

.shape-4 {
  width: 100%;
  min-height: 100px;
  padding: 8px 14px;
  border-radius: 2px;
  border: solid 1px $gray4;
  font-size: 14px;
}

.shape-5 {
  @include input-text($h: 46px, $r: 2px, $c: $gray4);
  background-color: $color-default;

  &:focus {
    border-color: $primary;
  }

  &:disabled {
    background-color: $gray1;
  }
}

.shape-6 {
  font-size: 14px;
  border-radius: 17px;
  border: solid 1px $gray4;
  background-color: $gray1;
  padding: 7px 14px;
  flex-grow: 1;
  margin: 8px 0 7px;
  height: 34px;
  max-height: 75px;

}

.shape-7 {
  border: solid 1px $gray5;
  width: 20px;
  height: 20px;
  -webkit-appearance: checkbox;
}

.read-only {
  @include flex-set(34px);
  border-radius: 4px;
  font-size: 14px;
  min-width: 0;

  .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.edit {
    padding: 0px 10px;
    border: solid 1px $gray4;
  }
}

.search-address {
  margin-top: 26px;
  position: relative;
  margin-bottom: 16px;

  input {
    @include input-text($c: $main-text, $r: 2px);
    font-size: 16px;
    color: $main-text;
    padding-right: 40px;
  }

  .btn-kakao-search {
    @include position-right($r: 10px);
  }
  
}

