@mixin label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-default;
    font-size: $font-smallest;
    $dealer: (dealer, $dealer);
    $user: (user, $user);
    $sdealer: (sdealer, $sdealer);
    $purchase: (purchase, $purchase);
    $sale: (sale, $sale);
    $complete: (complete, $complete);
    $as: (as, $as);
    @each $type, $color in $dealer, $user, $sdealer, $purchase, $sale, $complete, $as {
        &.#{$type} {
            background: $color;
        }
    }
}

.label {
    @include label;
    height: 18px;
    padding: 0 6px;
    border-radius: $rect-radius-small;
    width: fit-content;
}

.label-line {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 18px;
    padding: 0 6px;
    border-radius: 6px;
    width: fit-content;
    background-color: $color-default;
}

.label-line.sale {
    border:solid 1px $sale;
    color:$sale;
}
.label-line.purchase {
    border:solid 1px $purchase;
    color:$purchase;
}

.label-v {
    @include label;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 6px 0;
    border-bottom-left-radius: $rect-radius-small;
    border-bottom-right-radius: $rect-radius-small;
    width: 18px;
    .android & {
        letter-spacing: -0.2em;
        .text{
            margin-top: -0.2em;
        }
    }
}

.n-badge {
    width: 28px;
    height: auto;
}

.down {
    width: 16px;
}

.label-file {
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: $color-default;
    font-size: $font-smallest;
    border-radius: $rect-radius-small;
    flex: none;
    $pdf: (pdf, #ef1414);
    $exl: (exl, #ef1414);
    @each $type, $color in $pdf, $exl {
        &.#{$type} {
            background: $color;
        }
    }
}
