.list-larger {
  padding: 30px $frame-large 0;

  h3 {
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    color: $sub-text;

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  li {
    padding-bottom: 20px;
    @include border-bottom();

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 100px;
    }
  }
}

.list-large {
  & .label {
    margin-bottom: -5px;
  }

  & .list-item {
    position: relative;
    @include border-bottom();
  }

  & .btn-link {
    @include flex-set(100px);
    padding: 0 $frame-large;
  }

  & .thumb-large {
    margin-right: 12px;
  }

  & .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    min-width: 0;
    padding: 17px 0;
    margin-right: auto;

    .name {
      color: #262626;
    }

    & .body-copy {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $sub-text;
      font-size: 13px;
    }
  }

  & .util-more {
    position: absolute;
    right: 3px;
    top: 9px;
    display: flex;
    align-items: center;

    .time-check {
      font-size: 12px;
      color: $gray5;
    }
  }
}

.list-column {
  position: relative;
  padding: 14px 0;

  .btn-lock, .btn-unlock {
    position: absolute;
    right: 20px;
    top: 24px;
    z-index: 1;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .list-item {
    float: left;
    width: 50%;
    position: relative;

    &:nth-child(odd) .s-thumb-l {
      padding: 16px $frame-medium 16px $frame-large;
    }

    &:nth-child(even) .s-thumb-l {
      padding: 16px $frame-large 16px $frame-medium;
    }
  }

  .time-check {
    font-size: 10px;
    color: $gray5;
  }

  .label-v {
    position: absolute;
    right: 14px;
    top: 0;
    z-index: 1;
  }

  dl {
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
  }

  dt {
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  .price {
    font-size: 13px;
    color: #484848;
    margin-bottom: 4px;

    sup {
      font-size: 10px;
      color: $primary;
    }

    .purchase {
      color: $purchase;
    }

    .sale {
      color: $sale;
    }

    em {
      font-size: 16px;
      font-family: "NotoSans-Bold", sans-serif;
    }
  }

  .labels {
    margin-bottom: 12px;
  }

  .store-empty {
    padding: 0 $frame-large;

    .top {
      margin-bottom: 36px;
      color: $primary;

      h2 {
        font-size: 15px;
        text-align: center;
        margin-bottom: 10px;
      }

      .copy {
        display: block;
        font-size: 14px;
        color: $sub-text;
        text-align: center;
      }
    }

    .sub-copy {
      display: block;
      font-size: 14px;
      color: $main-text;
      text-align: center;
      width: 100%;
      line-height: 1.47;
      margin-bottom: 26px;
    }

    img {
      margin-bottom: 20px;
    }

    .empty-btn-wrap {
      display: flex;
      margin-bottom: 60px;

      .btn-empty {
        flex: 1;

        &:not(:last-of-type) {
          margin-right: 14px;
        }
      }
    }
  }
}


.list-store {
  position: relative;
  padding: 14px 0;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .list-item {
    float: left;
    width: 50%;

    &:nth-child(odd) .s-thumb-l {
      padding: 16px $frame-medium 16px $frame-large;
    }

    &:nth-child(even) .s-thumb-l {
      padding: 16px $frame-large 16px $frame-medium;
    }
  }

  .time-check {
    font-size: 10px;
    color: $gray5;
  }

  .label-v {
    position: absolute;
    right: 14px;
    top: 0;
    z-index: 1;
  }

  dl {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  dt {
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 9px;
  }

  .price {
    font-size: 13px;
    color: #484848;
    margin-bottom: 12px;

    sup {
      font-size: 10px;
      color: $primary;
    }

    em {
      font-size: 16px;
      font-family: "NotoSans-Bold", sans-serif;
    }
  }
}

.list-large-request {
  & .label {
    margin-bottom: -5px;
  }

  & .list-item {
    position: relative;
    @include border-bottom();
    background: url($arr-small-r) no-repeat right 9px top 50% / 18px;

    &.complete {
      background: #F3F2F2 url($arr-small-r) no-repeat right 9px top 50% / 18px;
    }

    &.new {
      background: #F5F7FC url($arr-small-r) no-repeat right 9px top 50% / 18px;
    }
  }

  &.select {
    .btn-link {
      height: 100px;
      padding: 6px 14px;

      .collection-day {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
        margin-top: 27px;

        .copy {
          color: #3ca4f0;
          font-size: 12px;
          margin-bottom: 8px;
        }
      }
    }
  }

  & .btn-link {
    @include flex-set(110px);
    padding: 0 $frame-large;
    position: relative;

    .time-check {
      @include position-right($r: 14px, $t: 14px, $flag: false);

      &.send {
        position: unset;
        right: unset;
        top: unset;
      }
    }

    .answer-complete {
      @include position-right($r: 14px, $t: auto, $flag: false);
      background: url($check-answer) no-repeat left 50% / 8px 6px;
      padding: 4px 0 4px 14px;
      bottom: 14px;
      color: #d04444;
      font-size: 12px;
    }
  }

  & .thumb-smaller-rect {
    position: relative;
    margin-right: 12px;
    border-radius: 4px;
    overflow: hidden;
    display: block;

    &.disable:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5) url($dim-small) no-repeat center / 50px;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  & .thumb-smallest-rect {
    position: relative;
    margin-right: 12px;
    border-radius: 3px;
    overflow: hidden;
    display: block;
  }

  & .user-info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    min-width: 0;
    padding: 12px 0;
    margin-right: auto;


    .labels {
      margin-bottom: 8px;
    }

    .address {
      font-size: 12px;
      color: $gray5;
      background: url($pin-gray) no-repeat left 50% / 10px 15px;
      padding: 4px 0 4px 14px;
    }

    .price {
      font-size: 14px;

      em {
        font-size: 16px;
      }
    }

    .prdt-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #262626;
    }
  }

  & .answer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 12px;
  }

  & .answer-count {
    position: absolute;
    right: $frame-large;
    bottom: 12px;
    font-size: 12px;
    color: $gray5;
  }
}

.list-large-store {

  & .btn-link {
    @include flex-set($h: 100px);
    border-radius: 4px;
    background-color: #fff;
    margin-top: 10px;

  }

  & .thumb-small-rect {
    position: relative;
    margin-right: 12px;
    border-radius: 4px;
    overflow: hidden;
    display: block;

    &.disable:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5) url($dim-medium) no-repeat center / 80px;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }

    .label-v {
      position: absolute;
      left: 10px;
      top: 0
    }
  }

  & dl {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    min-width: 0;
    padding: 13px 0;
    margin-right: $frame-large;
    flex: 1;

    .prdt-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #262626;
    }

    dt {
      font-size: 15px;
      line-height: 1.2;
    }

    .price {
      @include flex-set($ai: flex-end);

      sup {
        font-size: 11px;
        color: $primary;
      }
    }
  }
}

.list-large-card {
  padding: 20px 0 60px;
  position: relative;

  & .label {
    margin-bottom: -2px;
  }

  & .list-item {
    position: relative;
    padding: 0 $frame-large;

    &:not(:last-of-type) {
      padding: 0 $frame-large 16px;
    }

    &:last-child .btn-select-g {
      bottom: 14px;
    }
  }

  & .btn-link {
    @include flex-set(auto, $ai: flex-start);
    padding: $frame-large;
    background: url($arr-small-r) no-repeat right 9px top 50% / 18px $color-default;
    box-shadow: 0 0 6px 0 rgba(178, 178, 178, 0.16);
  }

  & .time-check {
    font-size: 12px;
    color: $gray5;
    @include position-right($r: 24px, $t: 14px, $flag: false)
  }

  & .btn-select-g {
    position: absolute;
    right: 27px;
    bottom: 28px;
  }

  & .thumb-medium {
    margin-right: 12px;
  }

  & .user-info {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-right: auto;

    .name {
      @include ellipsis;
      padding: 4px 0;
      line-height: 1.5;
    }

    .copy {
      @include ellipsis;
      font-size: 14px;
      line-height: 1.5;
    }

    .price {
      color: #484848;

      sup {
        font-size: 12px;
        color: $primary;
      }

      em {
        font-size: 20px;
        font-family: "NotoSans-Bold", sans-serif;
        line-height: 1.45;
      }
    }
  }

  & .answer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 17px;
  }

  & .answer-count {
    position: absolute;
    right: $frame-large;
    bottom: 12px;
    font-size: 12px;
    color: $gray5;
  }
}

.list-card-round {
  padding: 20px 0 30px;

  .thumb-smaller-rect {
    margin-right: 12px;
  }

  & .label {
    margin-bottom: -2px;
  }

  & .list-item {
    position: relative;
    padding: 0 $frame-large;

    &:not(:last-of-type) {
      padding: 0 $frame-large 16px;
    }
  }

  & .btn-link {
    @include flex-set(117px, $ai: center);
    padding: $frame-large 40px $frame-large $frame-large;
    background: url($arr-small-r) no-repeat right 9px top 50% / 18px $color-default;
    box-shadow: 0 0 6px 0 rgba(178, 178, 178, 0.16);
    border-radius: 6px;
  }

  & .time-check {
    position: absolute;
    right: 28px;
    top: 14px;
    display: flex;
    font-size: 12px;
    color: $gray5;
  }

  & .thumb-medium {
    margin-right: 12px;
  }

  & .user-info {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-right: auto;
    justify-content: space-between;
    align-self: stretch;

    .name {
      @include ellipsis;
      line-height: 1.83;
      font-size: 12px;
    }

    .middle-ellipsis {
      display: flex;
      font-size: 14px;
      line-height: 1.57;
    }

    .copy {
      @include ellipsis;
      font-family: "NotoSans-Bold", sans-serif;
      min-width: 0;
    }

    .prefix {
      margin-left: auto;
      flex: none;
    }

    .message {
      font-size: 14px;
      line-height: 1.57;
    }
  }

  & .answer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 17px;
  }

  & .answer-count {
    position: absolute;
    right: $frame-large;
    bottom: 12px;
    font-size: 12px;
    color: $gray5;
  }
}

.list-small {
  &:not(:last-of-type) {
    @include border-bottom($w: 10px, $c: $gray1);
  }

  .list-item {
    @include flex-set(50px);
    padding: 0 $frame-large;
    background-color: $color-default;

    &.gray {
      background-color: $gray1;
    }

    &.sub {
      padding: 0 $frame-large 0 24px;
    }
  }

  & .list-item:not(:last-child) {
    @include border-bottom($c: $gray1);
  }

  .list-item > *:last-child {
    margin-left: auto;
  }

  & .version {
    font-size: 14px;
    color: $sub-text
  }

  & .item-text {
    display: flex;
  }
}

.list-small-1th {
  @include border-bottom($w: 10px, $c: $gray1);

  & > .list-item {
    &:not(:last-child) {
      @include border-bottom($c: $gray1);
    }

    & > .item-text {
      @include flex-set(50px);
      padding-left: 38px;
      position: relative;

      & > .text {
        position: relative;

        .n-badge {
          position: absolute;
          right: -26px;
          top: -9px;
        }
      }

      &.list {
        background: url($list) no-repeat 12px 50% / 18px;
      }

      &.chat {
        background: url($chat) no-repeat 12px 50% / 18px;
      }

      &.help {
        background: url($help) no-repeat 12px 50% / 18px;
      }

      &.requestpaper {
        background: url($requestpaper) no-repeat 12px 50% / 18px;
      }

      &.settings {
        background: url($settings) no-repeat 12px 50% / 18px;
      }

      &.writerequest {
        background: url($writerequest) no-repeat 12px 50% / 18px;
      }

      &:after {
        @include after-arrow($arr-small-dblue)
      }

      &.only-1st:after {
        @include after-arrow($arr-small-r)
      }

      &.on:after {
        background-image: url($arr-small-ublue);
      }

      & + .list-small-2th {
        max-height: 0;
        transition: .5s;
        overflow: hidden;
      }

      &.on + .list-small-2th {
        max-height: 300px;
      }
    }
  }
}

.list-small-input {
  @include border-bottom($w: 10px, $c: $gray1);

  & .list-item {
    &:not(:last-child) {
      @include border-bottom($c: $gray1);
    }

    & .item-text {
      background-color: $color-default;
      @include flex-set(50px);
      @include margin-inline();
      padding: 0 $frame-large 0 38px;
      position: relative;

      & .text {
        position: relative;

        .n-badge {
          position: absolute;
          right: -26px;
          top: -9px;
        }
      }

      &.pin {
        background: $color-default url($pin) no-repeat 12px 50% / 18px;
      }

      &.phone {
        background: $color-default url($phone) no-repeat 12px 50% / 18px;
      }

      & + .list-small-2th {
        max-height: 0;
        transition: .5s;
        overflow: hidden;
      }

      &.on + .list-small-2th {
        max-height: 300px;
      }
    }
  }
}

.list-small-incomplete {
  background-color: $color-default;
  @include border-top($w: 10px, $c: $gray1);

  & .list-item {
    &:not(:last-of-type) {
      @include border-bottom();
    }

    & .item-text {
      @include flex-set(50px);
      display: flex;
      padding: 0 30px 0 14px;
      position: relative;
      font-size: 14px;

      &:after {
        @include after-arrow($arr-small-r)
      }
    }

    & .indicator {
      font-size: 14px;
      color: #ff4b4b;
    }

    & .more {
      font-size: 14px;
      color: $gray5;
    }
  }
}

.list-small-category {
  & .list-item {
    &:not(:last-of-type) {
      @include border-bottom($w: 1px, $c: $gray1);
    }

    & .item-text {
      @include flex-set(50px);
      display: flex;
      padding: 0 30px 0 14px;
      position: relative;
      background-color: $color-default;

      &:after {
        @include after-arrow($arr-small-r)
      }
    }
  }
}

.list-small-drop {
  & .list-item {
    &:not(:last-of-type) {
      @include border-bottom($w: 1px, $c: $gray1);
    }

    & .item-text {
      @include flex-set(50px);
      display: flex;
      padding: 0 30px 0 14px;
      position: relative;
      background-color: $color-default;

      &:after {
        @include after-arrow($arr-small-d)
      }
    }
  }
}

.list-small-complete {
  @include border-top($w: 10px, $c: $gray1);

  & .list-item {
    background-color: $color-default;

    &:not(:last-of-type) {
      @include border-bottom();
    }

    & .item-text {
      font-size: 14px;
      @include flex-set(50px);
      display: flex;
      padding: 0 $frame-large 0 $frame-large;
      position: relative;
    }

    & .indicator {
      color: $gray5;
    }

    & .more {
      font-size: 14px;
      color: $gray5;
    }
  }
}

.list-small-2th {
  & > .list-item {
    & > .item-text {
      @include border-top();
      @include flex-set(50px);
      display: flex;
      padding-left: 38px;
      display: flex;
      position: relative;

      &:after {
        @include after-arrow($arr-small-r)
      }
    }
  }
}

.list-flex {
  .btn-accordion {
    padding: 30px 66px 30px 14px;
    display: flex;
    min-height: 100px;
    position: relative;
    align-items: center;
    margin-right: auto;

    &:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background-image: url($arr-small-d);
      background-size: 100%;
      position: absolute;
      z-index: 1;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.on:after {
      background-image: url($arr-small-u);
    }

    .text {
      line-height: 22px;
    }

    .util-down {
      position: absolute;
      right: 14px;
      top: 6px;
      font-size: 11px;
      line-height: 17px;
      color: $gray5;
    }

    & + .js-acc-con {
      overflow: hidden;
      max-height: 0;
      padding: 0 $frame-large;
      transition: .5s;
    }

    &.on + .js-acc-con {
      max-height: 500px;
      padding: 20px $frame-large;
    }
  }

  p {
    font-size: 12px;
    line-height: 18px;
    color: $sub-text;

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  li {
    position: relative;
    @include border-bottom();

    &:last-child {
      margin-bottom: 100px;
    }
  }

  .body-copy {
    background-color: $gray1;
    padding: 20px 14px;
    color: #262626;
    font-size: 12px;
    line-height: 22px;
  }
}

.slide-wide {
  flex: none;
  position: relative;
  overflow: hidden;

  .swiper-pagination-bullet {
    background-color: $gray5;
    opacity: 1;
    width: 6px;
    height: 6px;

    &.swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }
}

.slide-splash {
  flex: 1;
  position: relative;
  overflow: hidden;

  .swiper-pagination {
    buttom: 16px;
  }

  .swiper-pagination-bullet {
    background-color: $gray5;
    opacity: 1;
    width: 6px;
    height: 6px;

    &.swiper-pagination-bullet-active {
      background-color: $color-default;
    }
  }

  img {
    object-position: top;
  }
}

.slide-medium {
  position: relative;
  padding: 14px 0;
  overflow: hidden;

  .swiper-slide {
    width: 150px;
  }

  .time-check {
    font-size: 10px;
    color: $gray5;
  }

  .label-v {
    position: absolute;
    right: 14px;
    top: 0;
    z-index: 1;
  }

  dl {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  dt {
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 9px;
  }

  .price {
    font-size: 13px;
    color: #484848;
    margin-bottom: 12px;

    sup {
      font-size: 10px;
      color: $primary;
    }

    em {
      font-size: 16px;
      font-family: "NotoSans-Bold", sans-serif;
    }
  }
}

.slide-small {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;

  .swiper-slide {
    width: 100px;

    &:first-child .s-thumb-s {
      border-radius: 4px;
    }
  }

  .count {
    display: inline-block;
    width: 100%;
    font-size: 10px;
    color: $gray5;
    text-align: right;
  }
}

.list-small-address {
  li {
    margin-bottom: 20px
  }

  .ex-title {
    font-size: 11px;
    margin-bottom: 8px;
  }

  .ex-copy {
    font-size: 11px;
    color: $primary;
  }
}

.list-smaller {
  & .list-item {
    @include border-bottom($c: $gray1);
  }

  & .item-text {
    @include flex-set(40px);
    @include sub-text;
    padding: 0 $frame-large 0 38px;

    em {
      @include sub-text-act;
    }
  }
}

.list-alarm {
  .n-badge {
    display: none
  }
;

  .new {
    padding: 0 10px 0 0 !important;

    &:after {
      display: none !important;
    }

    .n-badge {
      display: inline-block;
      //margin-left: auto;
      position: absolute;
      right: 19px;
    }
  }

  & .list-item {
    .main-label {
      height: 46px;
      padding: 17px 2px 17px 30px;
      width: 60px;
      font-size: 13px;
      color: $color-default;
      display: inline-block;
      border-radius: 4px;
      flex: none;

      &.sale {
        background: $sale url($img-sell-wh) 2px 50% / 28px no-repeat;
      }

      &.purchase {
        background: $purchase url($img-buy) 2px 50% / 28px no-repeat;
      }

      &.emergency {
        background: $emergency url($emergency-s-w) 5px 45% / 22px 19px no-repeat;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
  }

  & .item-text {
    @include flex-set($h: 46px, $ai: center, $jc: flex-start);
    background-color: rgba(256, 256, 256, 0.8);
    padding: 0 34px 0 0;
    border-radius: 3px;
    overflow: hidden;
    position: relative;

    &.sale {
      border: solid 1px $sale;
    }

    &.purchase {
      border: solid 1px $purchase;
    }

    &.dealer {
      border: solid 1px $dealer;
    }

    /*
    &:after {
      @include after-arrow($arr-small-rblack);
    }
    */

    .prdt-name {
      padding-left: 10px;
      @include ellipsis;
      transform: translateY(-175%);
      opacity: 0;
    }

    .animation {
      animation: roll-in 3s cubic-bezier(.215, .61, .355, 1) forwards;
    }
  }
}

@keyframes roll-in {
  0% {
    transform: translateY(-175%);
    opacity: 0;
  }
  30% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.list-address-container {
  box-shadow: 0 2px 6px 0 rgba(170, 170, 170, 0.16);
  margin-bottom: 30px;

  .paging {
    font-size: 14px;
    text-align: center;
    height: 40px;
    color: #9f9f9f;
    padding: 14px;

    em {
      color: #575757;
    }
  }
}

.list-address-detail {
  li {
    padding: 20px 26px;
    height: 100px;
    @include border-bottom($c: #dddddd)
  }

  .address-line {
    @include flex-set($jc: flex-start, $h: 22px);

    & span:first-child {
      margin-right: 10px;
    }
  }

  .num {
    color: #ed4343;
  }

  .sub-num {
    font-size: 13px;
    color: #9f9f9f;
  }

  .copy {
    @include ellipsis;
    color: #535353;
    font-size: 12px;
  }

  .label-load-name {
    font-size: 9px;
    color: $primary;
    width: 43px;
    height: 16px;
    border: solid 1px $primary;
    text-align: center;
    padding: 3px;
    flex: none;
  }
}

.list-small-check {
  padding-left: 14px;

  .list-item {
    @include flex-set();
    height: 35px;
  }
}
