.bg-dim {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $dim;
}

.bg-dim.open {
  display: block;
  animation: dim-on 0.5s;
}

@keyframes dim-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pop-wrap {
  display: none;
  padding: $frame-large;
  background-color: $color-default;
  border-radius: 4px;
  @include position-center;
  z-index: 100;
  width: 300px;
  flex-direction: column;
  max-height: 400px;

  &.open {
    display: flex;
  }

  .pop-head {
    height: 40px;
    flex: none;
    display: flex;

    .btn-close-large {
      margin-left: auto;
    }
  }

  .pop-body {
    overflow-y: auto;

    &.alarm {
      display: flex;

      h2 {
        font-size: 16px;
        color: $main-text;
        line-height: 24px;
        margin-bottom: 2px;
        text-align: left;
      }

      .pop-info {
        p {
          font-size: 12px;
          text-align: left;
        }
      }

      img {
        width: 61px;
        height: 58px;
        flex: none;
        margin-right: 7px;
      }
    }

    .warning-black {
      margin-bottom: 15px;
    }

    &.default {
      text-align: center;
      h2 {
        color: $main-text;
      }
    }

    h2 {
      font-size: 20px;
      color: $primary;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      font-size: 14px;
      line-height: 1.57;
      text-align: center;
    }

    .category-set{
      padding: 0 10px;
      li {
        margin-bottom: 0;
        margin-top: 20px;
      }
    }
  }

  .pop-btn-wrap {
    //height: 70px;
    padding: 30px 11px 14px;

    & + label{
      padding-top: 10px;
    }

    .btn-pop-confirm {
      @include btn-fit($h: 40px);
      &.emergency{
        background-color: $emergency;
      }
      &.disable{
        background-color: $gray4;
      }
    }
  }
}

.sheet-wrap {
  //padding: 0 $frame-large;
  background-color: $color-default;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(100%);
  transition: 0.45s cubic-bezier(0.32, 1, 0.23, 1) 0.1s;
  &.picture{
    padding: 0 14px;
  }

  .sheet-header {
    @include flex-set;
  }

  .sheet-icon-wrap {
    height: 120px;
    display: flex;

    a {
      text-align: center;
      font-size: 12px;
      color: $sub-text;
      margin: 0 15px;
      display: block;
      height: 70px;
    }

    img {
      width: 44px;
      height: 44px;
      display: block;
      margin-bottom: 10px;
    }
  }

  li:not(:last-of-type) {
    @include border-bottom();
  }

  &.open {
    transform: translateY(0);
  }

  .btn-sheet {
    @include flex-set($jc: center);
    height: 50px;
    font-size: 13px;
    color: $sub-text;
    background-color: $color-default;

    &.active {
      color: $primary;
    }

    &.cancel {
      background-color: $gray4;
      color: $color-default;
    }
  }
}

.warning-black {
  width: 60px;
  object-fit: unset;
}
