.user-profile {
  flex: none;
  position: relative;
  @include flex-set(80px);
  padding: 0 $frame-large;
  background-color: $gray1;

  &.chat {
    background-color: $primary;

    .name {
      color: $color-default;
    }
  }


  .thumb-medium {
    margin-right: 12px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    min-width: 0;
    margin-right: auto;


    .user.category & {
      .label, .shape-1, .my-category {
        flex: none;
      }
    }

    .my-category {
      font-size: 12px;
      color: $sub-text;
      display: flex;

      li:not(:first-of-type) {
        margin-left: 13px;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: 100%;
          background-color: $gray5;
          left: -7px;
          top: 0;
        }
      }

    }
  }
}

.user.category {
  .user-profile {
    position: relative;
    background-color: $gray1;
    padding-top: 20px;
    @include flex-set($h: 110px, $ai: center);

    .thumb-larger {
      margin-bottom: 10px
    }

    .btn-config-wh {
      position: absolute;
      right: 14px;
      top: 40px
    }
  }

  .intro {
    position: relative;
    padding: $frame-large;

    .text {
      @include ellipsis2();
      font-size: 13px;
      line-height: 1.46;
      padding-right: 28px;
      white-space: pre-wrap;
      word-break: break-all;
      &.dim-txt{
        color: $gray5;
      }
    }

    &.on {
      .text {
        text-overflow: unset;
        height: auto;
        display: block;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;

      }
      .btn-intro{
        background-image: url($arr-u-black);
      }
    }
  }

  .user-info {
    @include flex-set($fd: column, $ai: flex-start, $jc: flex-start);
    margin-left: 17px;
  }

  .name {
    font-size: 18px;
    margin-top: 10px;
  }

  .activity-count {
    background-color: $gray1;
  }
}

.thumb-larger {
  .btn-up-small {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-position: right bottom;
  }

  position: relative;

  &.edit .btn-up-small {
    display: block;
  }
}

.user.information {
  .user-profile {
    position: relative;
    background-color: $color-default;
    padding-top: 0px;
    @include flex-set($h: 112px, $jc: center, $ai: center);

    .thumb-larger {
      margin-right: 10px
    }

    .btn-config-wh {
      position: absolute;
      right: 14px;
      top: 40px
    }
  }

  .user-info {
    @include flex-set($fd: column, $jc: center);
    padding-right: $frame-large;
    height: 5.72em;

    .copy {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-height: 1.43;
      white-space: pre-line;
      word-break: break-all;
    }

  }


  .activity-count {
    background-color: $primary;
  }
}

.thumb-larger {
  .btn-up-small {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-position: right bottom;
  }

  position: relative;

  &.edit .btn-up-small {
    display: block;
  }
}
