.tab {
  width: 100%;
  top: $height-header;
  display: flex;
  z-index: 2;
  background-color: $color-default;
  justify-content: space-between;
  @include border-bottom();

  li {
    flex: 1;
    text-align: center;
  }

  a {
    display: inline-block;
    width: 100%;
    height: $height-tab;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: $sub-text;
    position: relative;

    &.on {
      color: #3555d9;
    }

    &.on:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 2px;
      background-color: #3555d9;
    }
  }
}

.tab-store {
  width: 100%;
  display: flex;
  z-index: 2;
  background-color: $color-default;
  justify-content: space-between;
  @include border-bottom();

  li {
    flex: 1;
    text-align: center;
  }

  a {
    display: inline-block;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $gray5;
    position: relative;

    &.on {
      color: $main-text;

      em {
        color: $primary
      }
    }
  }

}

.tab-con-wrap {
  &.gray {
    background-color: $gray1;
  }

  .store-con {
    padding: $frame-large $frame-large 40px;

    &.intro {
      height: 100%;
    }

    .copy {
      height: inherit;
      background-color: $color-default;
      padding: $frame-large;
      white-space: pre-wrap;
      word-break: break-all;
      font-size: 14px;
      line-height: 1.43;
    }
  }
}

.js-tab-con {
  .js-tab-item {
    overflow: hidden;
    display: none;

    &.on {
      display: block;
    }
  }

}

.prdt-sel-wrap {
  position: relative;
  @include border-bottom();

  .category-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color-default;
    z-index: 10;

    .title-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      @include border-bottom();
      padding: 0 8px 0 $frame-large;

      .btn-close-large {
        background-size: 24px;
        background-position: center;

      }

      .copy {
        font-size: 14px;
        color: $sub-text;
      }
    }

    .category-set {
      padding: 20px $frame-large;
    }
  }
}

.product-select {
  overflow-x: scroll;
  background-color: $color-default;

  display: flex;
  margin-right: 40px;
  overflow-y: hidden;

  .btn-prdt-sel {
    display: inline-block;
    width: 100%;
    height: $height-tab;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $sub-text;
    position: relative;
    padding: 0 12px;

    &.on {
      color: #3555d9;
    }

    &.on:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #3555d9;
    }
  }
}

.product-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include border-bottom();
  position: relative;

  .filter-wrap {
    @include border-top();
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    padding: 30px $frame-large 0;
    z-index: 10;
    background-color: $color-default;
    .distribution{
      h2{
        font-size: 13px;
        color: $gray7;
        margin-bottom: $frame-large;
      }
      margin-bottom: 26px;
    }
    .category-set {
      .category-check{
        padding: 0 $frame-large;
        &.checked {
          padding: 0 16px 0 32px;
        }
      }
    }
  }


  .copy {
    font-size: 12px;
    color: $gray5;
  }
}
