@import "../abstracts/variables";

@each $selector, $size in $larger, $large, $medium, $small, $smaller, $smallest {
    .thumb-#{$selector} {
        @include thumb($size);
        flex-shrink: 0;
    }
}

@each $selector, $size, $radius in $r-large, $r-medium, $r-small, $r-smaller, $r-smallest {
    .thumb-#{$selector}-rect {
        @include thumb-rect($size, $radius);
        flex: none;
    }
}

.s-thumb-m {
    position: relative;
    display: block;
    width: 100%;
    .thumb-wrap {
        display: block;
        border-radius: 4px;
        margin-bottom: 12px;
        position: relative;
        overflow: hidden;
        img {
            width: 150px;
            height: 150px;
        }
    }
}

.s-thumb-m.disable {
    .thumb-wrap:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.5) url($dim-medium) no-repeat center / 90px;
        width: 100%;
        height: 100%;
    }
}

.s-thumb-s {
    position: relative;
    display: block;
    width: 100%;
    .btn-thumb-close {
        @include position-right($r: 4px, $t: 4px, $flag: false)
    }
    .thumb {
        border-radius: 4px;
        margin-bottom: 4px;
        width: 100px;
        height: 100px;
    }
}

.s-thumb-l {
    display: block;
    //margin: 0 -1px -1px 0;
    //border-right: 1px $gray2 solid;
    //border-bottom: 1px $gray2 solid;
    .thumb-wrap {
        display: block;
        border-radius: 4px;
        margin-bottom: 12px;
        position: relative;
        overflow: hidden;
        padding-top: 100%;
    }
    .crop {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        img {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
            &.landscape {
                width: auto;
                height: 100%;
            }
        }
    }
}

.s-thumb-l.disable {
    .thumb-wrap:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5) url($dim-medium) no-repeat center / 90px;
        width: 100%;
        height: 100%;
    }
}

.slide-wide {
    .swiper-slide {
        padding-top: 83.33333333%;
        overflow: hidden;
    }
    .thumb {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        img {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
            &.landscape {
                width: auto;
                height: 100%;
            }
        }
    }
    .thumb.disable {
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            background: rgba(0, 0, 0, 0.5) url($dim-large) no-repeat center / 194px;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

.btn-thumb-add {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    @include hide-text;
    border-radius: 4px;
    margin-bottom: 4px;
    &.sale {
        background: url($camera-b-r) no-repeat center / 44px;
        border: solid 1px $sale;
    }
    &.purchase {
        background: url($camera-g-r) no-repeat center / 44px;
        border: solid 1px $purchase;
    }
    &.primary {
        background: url($camera-p-r) no-repeat center / 44px;
        border: solid 1px $primary;
    }
    &.emergency {
        background: url($camera-o-r) no-repeat center / 44px;
        border: solid 1px $emergency;
    }
}

