<header class="header-top">
  <!-- <h1><a class="logo"><span is="c-span">중고왕</span></a></h1>
    <div class="shortcuts">
        <a class="btn-alarm"><span is="c-span">알람</span></a>
        <a class="btn-chatting"><span is="c-span">채팅</span></a>
    </div>
    <a class="btn-menu"><span is="c-span">메뉴</span></a> -->
  <h1><span is="c-span" id="title"></span></h1>
  <div class="shortcuts">
    <a id="back" class="btn-prev-large hidden"><span is="c-span">뒤로가기</span></a>
    <span class="pr hidden" id="alarm"
      ><a class="btn-alarm"><span is="c-span">알람</span></a>
      <img class="n-badge" src="images/icon/n-badge.png" id="alarmCnt" style="display: none;" />
    </span>
    <span class="pr hidden" id="chat"
      ><a class="btn-chatting"><span is="c-span">채팅</span></a>
      <img class="n-badge" src="images/icon/n-badge.png" id="chatCnt" style="display: none;" />
    </span>
    <a id="leftText" class="btn-text ok hidden"><span is="c-span" class="text" id="leftTextTitle"></span></a>
    <a id="leftCancel" class="btn-text cancel hidden"><span is="c-span" class="text" id="leftCancelTitle"></span></a>
  </div>
  <div>
    <a id="close" class="btn-close-large hidden"><span is="c-span">닫기</span></a>
    <a id="menu" class="btn-menu hidden"><span is="c-span">메뉴</span></a>
    <a id="trash" class="btn-trash hidden"><span is="c-span">지우기</span></a>
    <a id="rightText" class="btn-text ok hidden"><span is="c-span" class="text" id="rightTextTitle"></span></a>
  </div>
  <div class="search-request hidden" id="search_container">
    <input type="search" class="shape-1" id="search_input" placeholder="무엇이 필요하신가요?" />
    <a id="search_clear" class="btn-search-cprimary">지우기</a>
  </div>
</header>
<style>
  .hidden {
    display: none;
  }
</style>
