page-container,
app-page {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

app-page {
  background-color: transparent;
}

app-page.close {
  display: none;
}

app-alert.open,
app-loading.open,
app-picture.open {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

app-alert,
app-loading,
app-picture {
  display: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}