html {
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
  height: 100vh;
}

body {
  overflow: hidden;
  position: relative;
}

.container {
  padding-bottom: 200px;
}

.nav-layer {
  padding-top: env(safe-area-inset-top);
}

.nav-menu .nav-body {
  height: calc(100vh - 228px - env(safe-area-inset-top));
  position: relative;
  overflow: auto;
}

.wrap {
  min-height: calc(100% - 51px);
}

.youtuber_detail iframe {
  margin-left: -20px;
  width: 100vw;
}

#mainItems2 iframe {
  margin: 0;
  width: 100vw;
}

.other-login2 li a {
  height: 40px;
  line-height: 40px;
}

.apple-login {
  border: none!important;
}

#appleid-signin {
  height: 40px;
  line-height: 40px;
  pointer-events: none;
}

.other-login2 li a:before {
  top: 11px;
}

/* footer .footer-menu {
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bott: env(safe-area-inset-bottom);
} */
